[2020-02-28 18:43] chkngit opened #1103 "report unit test cli command"
To help debug failed unit tests, it would be good to have the entire encoder cli command reported along with each test. People can take the command and run it in a standalone environment

[2020-02-29 14:37] utack opened #1107 "Segfault at speed 2 or lower"
I currently am getting a segfault at speed lower than 2

Compiling on Arch Linux with default options

Trying to encode  with

from 3 tested sources
Results in one frame and a crash

gdb backtrace tells this:

#1  0x00007ffff7357410 in md_encode_block () from /home/jakob/Downloads/SVT-AV1/Bin/Release/libSvtAv1Enc.so.0
#2  0x00007ffff73594b8 in mode_decision_sb () from /home/jakob/Downloads/SVT-AV1

[2020-03-01 15:17] utack commented on #1107
It may have been from improperly deleted first pass stat files, can't reproduce it any more

[2020-03-01 15:17] #1107 closed

[2020-03-03 12:25] rubenmt94 opened #1114 "Only Intra Coding"
Hi, I have a question about coding with only intra frames, in other words, that the coding is only intra. I am using a series of commands, but I am not sure if they are the correct ones. The commands are:

_SvtAV1EncApp.exe -i RaceHorses.yuv -w 2560 -h 1600 -fps 30 **-intra-period -1** -use-q-file 1 -qp-file qp37.txt -enc-mode 5 -stat-report 1 -stat-file stat/RaceHorses_37.txt -b RaceHorses_37.y4m

[2020-03-03 15:11] ePirat opened #1115 "macOS build failure"
Git master (a56b273b864b504d571a4808697e83a5b7ec7b27) does not build for me on macOS using Xcode 11.3.1 (Apple clang version 11.0.0 (clang-1100.0.33.17)):

[code]

<details>
  <summary>Full log</summary>

[code]

</details>

[2020-03-03 15:12] ePirat commented on #1115
Workaround:

[code]

[2020-03-05 08:16] tszumski commented on #733
Hi, I prepared new log for command line below (HEAD is: a56b273 Bug fixes in decoder related to segment id, delta lf, film grain, etc)
[code]
[valgrind-master.log](https://github.com/OpenVisualCloud/SVT-AV1/files/4291703/valgrind-master.log)

I am working on:
[code]

[2020-03-05 23:03] kylophone commented on #1115
Did https://github.com/OpenVisualCloud/SVT-AV1/commit/72e74aff21d2353b1e12b3f2d79a71b3846032cf address this?

[2020-03-05 23:54] ultrawide commented on #1098
Yeah, works with me :)

[2020-03-06 20:56] hassount commented on #873
Hi Guys,

can we add treating warnings as errors into the github actions scripts ?

[2020-03-07 02:13] hassount opened #1127 "Issues for 31B"
We have ran some tests using "-hierarchical-levels 5" and we have noticed two things :
- Significant increase in memory.
- Deadlock after encoding the first frame of any clip.

_Originally posted by @OmranAbdelkafi in https://github.com/OpenVisualCloud/SVT-AV1/pull/1072#issuecomment-595886310_

[2020-03-07 16:45] luigi311 commented on #873
@hassount so on compilers like gcc you want to enable --Wall and --Werror?

[2020-03-07 16:50] 1480c1 commented on #873
It would be `-Wall` and `-Werror` but I think there was one warning we did not treat as an error

[2020-03-09 16:51] ultrawide commented on #1098
@luigi311 I'm going to start making a fix for this issue. Let me know if you've started.

[2020-03-09 20:41] hassount commented on #873
@luigi311
basically, similar to what travis is doing:
https://github.com/OpenVisualCloud/SVT-AV1/blob/7f825cb0b097d01e5d65edf76c55d6621608a3f8/.travis.yml#L50

[2020-03-09 22:16] luigi311 commented on #1098
@ultrawide You can go ahead and get started on it.

[2020-03-09 22:21] luigi311 commented on #873
@hassount
Do you also want to use ```-Wall```? It does not look like it is being used in the travis build. By default unless it changed recently you do not get all warnings unless you use the ```-Wall``` flag

[2020-03-10 10:25] tszumski commented on #733
Hi, When PR #1131 is applied, then list of valgrind errors is reduce to:
[code]

[2020-03-10 21:25] ultrawide commented on #873
@ePirat Can you confirm above? Thanks!

[2020-03-11 16:53] #1098 closed

[2020-03-12 16:47] hassount opened #1134 "[SVT_AV1] Open Dev Meeting March18-2020"
Hello All

The third Open Dev Team is scheduled for March 18th 2020, @ 8:30 - 9:30 am PDT

Created a new issue to track the discussion items for this meeting, please let us know your thoughts / suggestions for topics on the Agenda.

Using the same dialup info from last time:
Join Hangouts Meet
meet.google.com/rty-mkxi-wvi

Meeting ID
https://meet.google.com/rty-mkxi-wvi?hs=122

Phone Numbers
(‪US‬

[2020-03-12 16:48] hassount commented on #1030
Closing this for #1134

[2020-03-12 16:48] #1030 closed

[2020-03-12 18:01] hassount commented on #1114
@rubenmt94
sorry for the late reply on this, it should be -intra-period 0. please let me know if that does not work

[2020-03-12 18:02] #1013 closed

[2020-03-12 18:03] hassount commented on #1115
closing, please reopen if needed

[2020-03-12 18:03] #1115 closed

[2020-03-12 18:03] hassount commented on #1103
@Cidana-Developers
is this something easy to do ?

[2020-03-13 00:00] adaria commented on #237
Sample.cfg drifted away from config parameters format again

[2020-03-13 04:36] zpdongtencent opened #1136 "encoding error causing by extra large encode size under small qp"
encoding error for certain yuv using small qp, this issue can be reproduced 100% with certain yuv file.
my command line and error log is like following.
![image](https://user-images.githubusercontent.com/59633475/76589805-37598e00-6526-11ea-890f-9a654c1eff2a.png)

[2020-03-13 04:36] zpdongtencent commented on #1136
it can be reproduced by all preset modes.

[2020-03-13 06:17] ePirat commented on #1115
Yes, can confirm this is fixed! Thanks.

[2020-03-13 14:51] spartazhc opened #1137 "Why pred-struct 0 and 1 are not allowed now?"
Notice that pred-struct [0,1] are disabled for a long time. (It seems #207 is v0.8.2 milestone)
[code]
In #968 and #973 mentioned  manual prediction structure configure, and encoder's features are not ready for hierarchical_levels 0/1/2.

So my questions are:

1.  Why pred-struct 0 and 1 are not allowed now?
2.  Can pred-struct-file option replace the pred-struct?
3.  What else can I do to achieve

[2020-03-13 19:55] 1480c1 commented on #1134
Topic suggestion: current status on av2 selection?

[2020-03-15 21:23] EwoutH opened #1142 "enc-mode 0 regression"
I noticed quite a large coding efficiency regression between a56b273 and f9fe700. Is this expected?

[See AWCY](https://beta.arewecompressedyet.com/?job=SVT-AV1-enc-mode-0%402020-02-28T19%3A52%3A34.452Z&job=SVT-AV1-enc-mode-0%402020-03-14) for a detailed comparison.

<img width="480" alt="Screenshot_7" src="https://user-images.githubusercontent.com/15776622/76710891-5e24e980-670b-11ea-81ce-bb96e16

[2020-03-17 06:35] hassount commented on #1142
@EwoutH
thank you for reporting the issue, this loss is coming from a QP scaling change that does not work with the default 1-pass mode currently as it is tuned for the constant QP offsets mode which will be the default mode with #1133 with -lad 0 until the CRF mode is fixed for 1-pass (it will work with 2-pass only for now).

[2020-03-18 16:13] hassount commented on #1136
seems like we're going beyond PCM

[2020-03-18 16:14] hassount commented on #1136
@OmranAbdelkafi can you please help reproduce this?

[2020-03-18 16:46] EwoutH commented on #1134
Couldn't join unfortunately. Are there notes or a recording somewhere?

[2020-03-18 16:49] 1480c1 commented on #1134
I believe @andrey-norkin will upload the recordings when he can

[2020-03-19 22:09] hassount commented on #929
@mtangtencent can you please check if #1145 addressed your test case?

[2020-03-20 02:01] MinhaoTang commented on #929
@hassount It fixed the r2r when overlay is enabled. But it reports "bug, too many frames in undisplayed queue" when I used "./SvtAv1EncApp.exe -i BasketballDrill_832x480_50.yuv -w 832 -h 480 -b test.ivf -enc-mode 8 -n 200 -rc 0 -q 24 -intra-period 31 -fps-num 50 -fps-denom 1 -enable-overlays 1"

[2020-03-20 02:07] mtangtencent commented on #929
@hassount It fixed the r2r when overlay is enabled. But it reports "bug, too many frames in undisplayed queue" when I used "./SvtAv1EncApp.exe -i BasketballDrill_832x480_50.yuv -w 832 -h 480 -b test.ivf -enc-mode 8 -n 200 -rc 0 -q 24 -intra-period 31 -fps-num 50 -fps-denom 1 -enable-overlays 1"

[2020-03-20 02:38] kelvinhu325 commented on #929
Hi @mtangtencent , is this "bug, too many frames in undisplayed queue" also reported without thi fixing change?

[2020-03-20 02:57] mtangtencent commented on #929
@kelvinhu325 Actually I cannot verify it. I was using master at a29d766d, which encounters segfault when I used ./SvtAv1EncApp.exe -i BasketballDrill_832x480_50.yuv -w 832 -h 480 -b test.ivf -enc-mode 8 -n 200 -rc 0 -q 24 -intra-period 31 -fps-num 50 -fps-denom 1 -enable-overlays 1

[2020-03-20 07:43] kelvinhu325 commented on #929
Hi @mtangtencent , I tried to run it on Linux at  a29d766, it does not get segfault, could you try it on Linux too? if it also gets error, it's not r2r issue, maybe we can debug it further in a new bug, supposed my change does not cause this undisplayed queue issue because I did not add any displayed queue change.

[2020-03-20 16:04] EwoutH commented on #1134
@andrey-norkin Would love to get up to speed this weekend!

[2020-03-20 20:22] hassount commented on #929
"bug, too many frames in undisplayed queue"

@xuguangxin
Are you familiar with the error above ?

[2020-03-20 21:39] hassount commented on #510
@mafonsoN
can you validate that this issue is now resolved ?

[2020-03-20 21:40] #959 closed

[2020-03-20 23:33] hassount commented on #1137
@spartazhc
this is a WIP and is tracked as part of #1047 once the PRs are in, you would be able to reduce the latency by reducing the prediction structures needed.

[2020-03-23 04:34] xuguangxin commented on #929
We use a queue to hold all undisplayed frames. When we got a show existing frame, we will pick one frame from the queue for output, the frame will have the lowest pts.

The queue size is REF_FRAMES. It should enough for our case. Unless we hold too many undisplayed frames and we do not have show existing frame.

[2020-03-23 07:17] xuguangxin commented on #929
@hassount & @kelvinhu325 even I double the size of undisplayed queue, it still gets the same error. I need more time to check the overlay display mechanism.

[2020-03-23 09:09] xuguangxin commented on #929
the "bug, too many frames in undisplayed queue" issue will be fixed by https://github.com/OpenVisualCloud/SVT-AV1/pull/1151.
I believe the issue is introduced by https://github.com/OpenVisualCloud/SVT-AV1/commit/dd72a78720964c9d7e3bb6b2254bf6069b640c01. @Cidana-Developers , could you check why it's not caught by the unit test?

thanks

[2020-03-26 21:58] adaria commented on #237
addressed by #1135

[2020-03-26 21:58] #237 closed

[2020-03-26 23:25] #929 closed

[2020-03-27 15:46] hassount commented on #258
@GuCaixuan
Several R2R bug fixes have been merged to master, can you please check if this is addressed?

[2020-03-27 15:49] hassount commented on #687
@adaria is this issue still valid ? can we update it based on whatever options we know we have integrated ?

[2020-03-27 15:51] hassount commented on #790
@mtangtencent
this should be now be addressed by #1143 and #1144

[2020-03-27 15:57] hassount commented on #965
@Cidana-Developers has this issue been resolved ?

[2020-03-27 16:00] hassount commented on #4
@EwoutH do we still need this issue open ?

[2020-03-27 16:04] hassount commented on #140
can we close this issue keeping all options ?

[2020-03-27 16:06] hassount commented on #262
ok closing this issue

[2020-03-27 16:06] #262 closed

[2020-03-27 16:07] hassount commented on #268
closing this

[2020-03-27 16:07] #268 closed

[2020-03-27 16:10] hassount commented on #656
closing as this is not reproducible.

[2020-03-27 16:10] #656 closed

[2020-03-27 16:17] hassount commented on #1079
@xuguangxin can you please check if the issue has been resolved in the current master ?

[2020-03-27 16:55] EwoutH commented on #4
Nope

[2020-03-27 16:55] #4 closed

[2020-03-27 17:12] adaria commented on #687
I ticked off the implemented options. The issue is valid but the list does need to be updated to prioritize which tools we want to expose on command line next. I'd need help with that. Thank you!

[2020-03-27 22:05] mafonsoN commented on #510
@hassount the original command line works fine now. No artifacts.

[2020-03-28 23:39] OmranAbdelkafi opened #1158 "Random bitstream corruption"
## Preset affected
 all presets from M0 to M8
## Occurrence
 Very random
##  Sequence used
3 runs over a set of 150 sequences were performed and each time the issue would happen randomly in a different number of clips
## Command line Sample
 SvtAv1EncApp -enc-mode 8 -q 32  -n 65  -intra-period 72 -lad 0 -lp 1  -i DaylightRoad2_1280x720_60fps_8bit_65f.y4m  -b Release_M8_DaylightRoad2_1280x720_60fps

[2020-03-29 01:06] silverbacknet commented on #1158
Can you also paste in the output of a failed run? Most importantly, the asm level lines. Does a debug build have the same behavior or output anything else? Does --asm 0 change it? (Unfortunately that doesn't entirely disable assembly, just selects simpler SSE.) Unless you stripped out asm in your testing already. Or --lp 1 to disable multithreading?

[2020-03-29 11:38] JouMxyzptlk opened #1159 "Crash with -enc-mode 1 at ~ 450 frames"
OS: Win10 x64. CPU: Ryzen 3900x. RAM 64 GB ECC. More hardware details if you follow the second link.
Source video: https://joumxyzptlk.de/tmp/svt-av1-0.8.1-bug/svt-0.8.1-input-video.7z
Fail result (with a bit more log): https://joumxyzptlk.de/tmp/svt-av1-0.8.1-bug/svt-0.8.1-encoding-fail.zip
For comparison: -enc-mode 2 and q40: https://joumxyzptlk.de/tmp/svt-av1-0.8.1-bug/svt-0.8.1-encoding-works.

[2020-03-29 11:41] JouMxyzptlk commented on #1159
PS: Thank you for that encoder.
If only it would use Intel Ivy-Bridge Level SSE4.2+AVX. It switches to "asm level c" only and is unbearable slow there ;)

[2020-03-29 12:21] ePirat commented on #1103
Which tests specifically do you mean?

[2020-03-29 12:27] ePirat commented on #1103
For the SvtAv1E2ETests you should be able to just run the binary with a filter for the name of the failing test

[2020-03-29 12:32] ePirat opened #1160 "Github CI: Build/Test with sanitizers enabled"
We should have a CI job that builds with address, memory and possibly thread sanitizer enabled and runs some tests with the results.

I am not sure which tests would be best for this, I guess to begin with it would be enough to just encode a few frames, 8bit and possibly 10bit content (if that uses different codepaths, which is probably does?).

[2020-03-29 12:34] ePirat opened #1161 "Github CI: Static analyzer build"
Make a build with a static analyzer and upload the results somewhere. Possible choices would be the clang static analyzer or cppcheck (never used that one before though).

[2020-03-29 17:39] hassount commented on #1103
yes, but it does not allow us to debug further, we would like to be able to reproduce the problem using an the encoder binary / command line.

[2020-03-29 17:40] #510 closed

[2020-03-29 17:49] ePirat commented on #1103
Hm maybe I misunderstand something but why can't you just attach the debugger when running the test, to debug it?

[2020-03-29 17:53] hassount commented on #1103
because it's yet another layer of SW on top. if the Test project is calling the encoder then it's best / much easier to debug the encoder on its own when we get the command line being called

[2020-03-29 20:37] ePirat opened #1164 "hme_mv_center_check: Values written but never read"
In hme_mv_center_check, one assignments to `search_center_x` is useless it is never read again:

https://github.com/OpenVisualCloud/SVT-AV1/blob/70b717c2336c8d6e69b5cf7df7d35725fc43ecbd/Source/Lib/Encoder/Codec/EbMotionEstimation.c#L9278-L9281

[2020-03-29 20:50] ePirat commented on #1164
Same for search_center_y a bit below:

https://github.com/OpenVisualCloud/SVT-AV1/blob/70b717c2336c8d6e69b5cf7df7d35725fc43ecbd/Source/Lib/Encoder/Codec/EbMotionEstimation.c#L9287-L9292

[2020-03-29 20:52] ePirat commented on #1164
Same for the initialization of both with the functions arguments:

https://github.com/OpenVisualCloud/SVT-AV1/blob/70b717c2336c8d6e69b5cf7df7d35725fc43ecbd/Source/Lib/Encoder/Codec/EbMotionEstimation.c#L9244-L9245

Both search_center_x and search_center_y are overwritten before ever read with the assigned values.

[2020-03-29 21:04] ePirat opened #1165 "quarter_pel_search_sb: useless assignments"
In quarter_pel_search_sb, buf1 and buf2 are assigned to itself which seem useless?

https://github.com/OpenVisualCloud/SVT-AV1/blob/70b717c2336c8d6e69b5cf7df7d35725fc43ecbd/Source/Lib/Encoder/Codec/EbMotionEstimation.c#L6596-L6611

[2020-03-30 03:56] praneet195 opened #1167 "Will a CRF mode be added in the new future?"
Hi,

Great work on the best AV1 encoder out there. I just wanted to know if a CRF mode will be added and if so by when can we expect it. Again, thank you for your work.

[2020-03-30 11:49] ePirat opened #1170 "fastfeat: Memory leak on realloc"
In the third-party fastfeat library there is a lack for realloc validation, so it will dereference a null pointer in case of allocation failure, causing a crash or other UB.
Additionally it would leak the old memory in error case.

https://github.com/OpenVisualCloud/SVT-AV1/blob/70b717c2336c8d6e69b5cf7df7d35725fc43ecbd/third_party/fastfeat/fast_9.c#L5898

[2020-03-30 16:56] #140 closed

[2020-03-30 17:49] hassount commented on #1161
@ePirat
thank you for logging this, can we use the cppcheck tool ?

[2020-03-30 18:10] ePirat commented on #1161
We can, although it seems clang static analyzer produces a lot more reports, so we might want to use that. But for a first step we can probably use cppcheck and have it run directly in the CI given the low number of reports it produces.

For clang static analyzer a more complex tooling would be needed.

[2020-03-30 18:29] hassount commented on #1167
@praneet195
Thank you for the feedback, right now we're targeting Q3'20 time frame

[2020-03-30 19:06] ePirat opened #1172 "Crash on SIGINT"
When terminating an encode with Ctrl-C (SIGINT) in a debug build with address sanitizer it crashes:

[code]

[2020-03-31 07:06] xuguangxin commented on #1079
sure, I will try it later.

[2020-03-31 11:11] xuguangxin commented on #1079
@hassount no lucky. I can still reproduce the issue. md5 mismatch every time for cqp mode.
I have sent the source yuv to @OmranAbdelkafi , if you need I can send to you again.

thanks

[2020-03-31 18:55] ttrigui commented on #1158
Can you please share the command you used to test -asm 0?

[2020-03-31 19:23] EricLamVCD opened #1174 "Crash in 4k Resolution"
## Preset
 8
## Occurrence
 Reproducible
##  Sequence used
Netflix_ToddlerFountain_4096x2160_60fps_10bit_420_60f
Campfire_3840x2160_30fps_10bit_bt709_420_videoRange_60f
ParkRunning3_3840x2160_50fps_10bit_420_60f
## Command line Sample
SvtAv1EncApp -enc-mode 8 -w 3840 -h 2160 -bit-depth 10 -fps-num 30000 -fps-denom 1000 -q 20  -n  60.0  -intra-period  63 -lad 0 -lp 1  -i  Campfire_3840x2160_30fps_1

[2020-03-31 20:35] mazharaIntel commented on #1159
The issue has been reproduced with the clip and command line provided. It has been to global_motion. Disabling compute_global_motion in M1 causes no error.

[2020-03-31 20:48] JouMxyzptlk commented on #1159
Thank you for confirming. Does this mean: Will be fixed with next version?

[2020-03-31 21:30] mazharaIntel commented on #1159
@JouMxyzptlk Still debugging to figure out a fix for this.

[2020-04-01 03:26] starxiang commented on #1134
Could I get the recordings somewhere? when is the next meeting?

[2020-04-01 03:28] Cidana-Developers commented on #965
this test was removed in PR #1080

[2020-04-01 15:16] hassount commented on #1134
@andrey-norkin can you please upload the recording?

[2020-04-01 15:30] hassount commented on #1134
Next meeting will be April 15th, will open another issue once the recordings are uploaded to this one

[2020-04-01 18:17] andrey-norkin commented on #1134
You can find the recordings of the March 18, 2020 call here:
https://drive.google.com/a/netflix.com/file/d/1VGmdJFToxmSUFV7CiXNB46QOKm6dgLWb/view?usp=sharing

[2020-04-01 19:23] 1480c1 commented on #98
http://compression.ru/video/codec_comparison/hevc_2019/#hq_report

Seems that SVT-AV1 was only beat by aom for average bitrate at same quality

[2020-04-01 19:25] 1480c1 commented on #1134
Will future recordings be put in the same folder? If so, I will just bookmark it

https://drive.google.com/drive/folders/1im-WhlKz47zru-DczoVl6v_8ThX2nN08

[2020-04-01 20:04] EwoutH commented on #1134
@andrey-norkin Thanks a lot! Any chance you (or anyone else) can generate a transcript?

[2020-04-01 21:05] stax76 commented on #945
Do you receive progress in RipBot264? It's the only CLI app where StaxRip don't receive progress and I'm not really willing to debug this because as I said it before I don't believe in this encoder.

[2020-04-01 22:19] stax76 commented on #945
The problem in staxrip is that svtav1 progress update is done without writing line breaks, staxrip depends on the [Process.OutputDataReceived](https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.process.outputdatareceived?view=netframework-4.8) event which is only fired when a line break is written.

I would like to request that for every progress update a line break is written.

[2020-04-01 22:39] stax76 opened #1178 "Console progress update that include line breaks"
I would like to request that for every progress update on the console a line break is written because Windows applications written in C# or VB.NET typically use the [Process.OutputDataReceived](https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.process.outputdatareceived?view=netframework-4.8) event which is only fired when a line break is written, almost all console applications that

[2020-04-03 05:11] palexander-14 opened #1179 "Forcing an IDR"
Hi, is there a way to make a certain input frame to become an IDR-frame regardless of scene change detection and GOP configuration? This is helpful when it needs to start new video segment for HLS or DASH.

[2020-04-03 20:41] hassount commented on #1174
can we validate that #1177 addressed this?

[2020-04-03 21:02] mazharaIntel commented on #1159
The buffer size of ref_pic->buffer_y is less than the memory accessed during a read operation. The next thing to look into is the offset set during the read operation.

[2020-04-04 00:28] stax76 commented on #945
Problem is at least for staxrip solved now.

[2020-04-04 00:28] stax76 commented on #1178
Problem is at least for staxrip solved now.

[2020-04-04 00:28] #1178 closed

[2020-04-05 15:44] praneet195 commented on #1114
Hi,

When I run this in the current build, I get the following error,
LAD=0 is not supported.

[2020-04-05 15:50] praneet195 opened #1181 "Error: LAD=0 is not supported for --key-int 0"
Hi,
I'm trying to encode a video sequence in all-intra mode. This is the command i've used.

 ~/ffmpeg_sources/ffmpeg/ffmpeg -y -r 30 -i V000.seq -an -f rawvideo -pix_fmt yuv420p - | ~/SVT-AV1/Bin/Release/SvtAv1EncApp -i stdin -rc 2 --fps 30 --tbr 5000  -intra-period 0 -w 640 -h 480 -b V000.ivf

However, I get the following error while encoding:
Error: LAD=0 is not supported

Can you please tell m

[2020-04-05 20:23] hassount commented on #1181
-rc non zero options require a look ahead setting, also rate control is currently not supported with the intra only use case.

[2020-04-05 20:29] hassount commented on #1179
this is supported by the library but not in the commandline application. When the application sends a picture to the library, it can mandate that the picture is an IDR:

https://github.com/OpenVisualCloud/SVT-AV1/blob/882e97f69ab3dadebb03bd7d4f5f49196a690b6a/Source/App/EncApp/EbAppProcessCmd.c#L948

setting it to EB_AV1_KEY_PICTURE will force an IDR.

[2020-04-05 22:38] praneet195 commented on #1181
Thank you for your reply.
 I used --rc 1, --lad 1 and --intra-period 0 and this worked. I've managed to get a fixed bit rate setting and on analyzing I also see that all frames are key-frames. Is this setting fine or am I doing something wrong?

[2020-04-05 23:55] hassount commented on #1181
the question is more, what do you intent to do ? are you looking for an all intra case ? if so, then that is the closest possible cmd yes.

[2020-04-05 23:56] praneet195 commented on #1181
I wasn't clear. My fault. Yes I was looking for an all-intra case with a fixed bit-rate condition.
Thank you for the reply

[2020-04-06 06:54] palexander-14 commented on #1179
Great, thanks @hassount !
It was helpful. But the following question has been raised.
I noticed that this "forced IDR" doesn't affect appearance of next IDR or CRA frame.
For example, for intra_period_length = 50 I will have 0th and 50th frames are coded as IDR. But if I force 48th frame to be an IDR 50th frame is still coded as IDR.
Is there something to avoid such behavior?

Thanks.

[2020-04-06 17:02] hassount commented on #1179
I see, this capability is not currently supported.

[2020-04-06 17:03] hassount commented on #1181
@praneet195 ok then for all Intra coding what you have should be ok, though as I said, the encoder has not been optimized for this use case

[2020-04-06 18:13] palexander-14 commented on #1179
Ok. Thank you very much.

[2020-04-06 18:13] #1179 closed

[2020-04-06 21:32] mazharaIntel commented on #1172
Attempted to reproduce the issue in windows and linux using debug and release mode for the svt-av1 encoder. The issue could not be reproduced.

[2020-04-06 23:34] ePirat commented on #1172
Did you build with Address sanitizer? Additionally, cancel the encoder before it actually encoded any frames.
I can try again to reproduce tomorrow, please let me know what additional info you need that I should provide you when I manage to reproduce.

[2020-04-06 23:55] ePirat commented on #1161
I've done some research and it seems for now we should use cppcheck, I will make a PR that adds this to the CI setup. Eventually we can set up a codechecker instance to do checks with clang static analyzer.

Something else we can do it set up lgtm.com but that would be something one of the repository admins needs to do. (It should be easy enough, I've already done a test run with this repo, but to

[2020-04-07 01:08] EposVox opened #1182 "Corrupt/Messed Up Encodings and Incorrect Frame Counts"
Forgive me for what is probably a newbie request, but I'm having some issues making the encoder/decoder build work.
I'm using the latest Windows build from releases.
My output ends up looking very corrupt [like this](https://i.imgur.com/wVltztF.jpg), and significantly longer than the source clip (source is 42 seconds, result is 6 minutes 51 seconds).
I'm starting with a ProRes source, extracting t

[2020-04-07 03:23] EposVox commented on #1182
disregard, some issue with my YUV exports. fixed.

[2020-04-07 03:23] #1182 closed

[2020-04-07 07:54] tszumski commented on #733
For:
[code]
There are also this errors:
[code]

For:
[code]
There are also this errors:
[code]

[2020-04-07 20:03] mazharaIntel commented on #1172
I have not tried address sanitizer yet. Working on it. Were you able to reproduce the issue?

[2020-04-08 00:24] ultrawide opened #1184 "Incorrect mapping between token INTRA_ANGLE_DELTA_NEW_TOKEN and set_cdef_mode"
Incorrect reference to function for token INTRA_ANGLE_DELTA_NEW_TOKEN in EbAppConfig.c

https://github.com/OpenVisualCloud/SVT-AV1/blob/9fd85743c69b6762bb9dc570fbc9f93d6b7cf247/Source/App/EncApp/EbAppConfig.c#L1182-L1185

[2020-04-08 04:07] nathanielcwm opened #1185 "Errors when attempting to use FFmpeg patch."
[code]
There are no errors when using the patch from the stable release.

I was attempting to patch it like this:
`git apply --index 0001-Add-ability-for-ffmpeg-to-run-svt-av1.patch`

[2020-04-08 13:55] DmitryMaksakov commented on #35
I have the same issue on MacOS

[2020-04-08 17:40] hassount commented on #1185
according to the ci everything is working properly:
https://github.com/OpenVisualCloud/SVT-AV1/runs/571141721

are you trying to apply it on the master of ffmpeg maybe ?

[2020-04-08 17:41] nathanielcwm commented on #1185
Yes

[2020-04-08 17:44] hassount commented on #1185
then you would need to checkout the 4.2 release for the patch to work as explained in the README file:
https://github.com/OpenVisualCloud/SVT-AV1/blob/master/ffmpeg_plugin/README.md

[2020-04-08 21:14] ttrigui commented on #1159
@magwyz the crash is caused by GM mvs going out of boundaries.
The Gm Mvs are used to fill in mvp table. Can you please make sure that the MV derivation is properly done?
    const int xc = (mat[2] - (1 << WARPEDMODEL_PREC_BITS)) * x + mat[3] * y + mat[0];
    const int yc = mat[4] * x + (mat[5] - (1 << WARPEDMODEL_PREC_BITS)) * y + mat[1];
If you want to reproduce this issue you can use work_on_I

[2020-04-09 03:03] nathanielcwm commented on #1185
So only the stable version of FFmpeg is supported?

[2020-04-11 03:21] mazharaIntel commented on #1172
Tried to reproduce with address sanitizer as well. Still could not reproduce it for debug and release build.

[2020-04-11 03:46] ePirat commented on #1172
You have to cancel it while it between the allocation stats output and it actually finishing encoding the first frame. I did manage to reproduce it again today when I tested.

[2020-04-11 03:48] ePirat commented on #1165
@hassount Any info on this? I can make a PR to remove this but maybe it's there for a reason (future work in some branch or so) I am not aware of?

[2020-04-11 16:24] JouMxyzptlk commented on #815
Aw, just stumbled across this when trying it on my last timelapse video...
Question on this though: With 4K up to 17 GB RAM is eaten by SVT, is 64 GB RAM enough for 8k?
For comparison: 32 GB is enough for 9200x5750 x264 --veryslow. 64 GB is enough for 12800x7200 x264. 192 GB is needed for 15360x8640 or 16384x10240 x264 (examples on my homepage).
 If 64 GB is not enough it is not that urgent any mo

[2020-04-11 16:37] JouMxyzptlk opened #1197 "Ivy-Bridge and Sandy-Bridge AVX1 ASM planned?"
On my ivy-bridge system:
[asm level on system : up to c]
[asm level selected : up to c]
On my Sandy Bridge System (used dual Xeon 192 GB RAM, bought only 'cause of 192 GB RAM):
[asm level on system : up to c]
[asm level selected : up to c]
On my Ryzen 3900x:
[asm level on system : up to avx2]
[asm level selected : up to avx2]

I.e. practically unusable slow on Ivy-Bridge and Sandy-Bridge, except f

[2020-04-11 21:17] mazharaIntel commented on #1172
I have been stopping the encoder with ctrl+c between the allocation stats output and before it finishes the first frame. Is it reproducible for different resolution and clips?

[2020-04-12 01:19] ePirat commented on #1172
A specific clip, I currently do not have any other to test around. I've linked the specific file in a previous issue #959

[2020-04-13 19:17] mafonsoN opened #1198 "Super-res pending items"
Encoder super-res support PRs:
#657
#1152

Pending items:
- [ ] Scaled inter prediction using the 16-bit pipeline
- [ ] Scaling + OBMC
- [ ] 2-pass support/optimization
- [ ] QP modulation adjustments
- [ ] Multithreading support (lp != 1)
- [ ] Optimize the the pixel-based processing
- [ ] Advanced scaling decisions (only fixed, intra/inter and QP based supported)

[2020-04-13 19:55] hassount opened #1199 "[SVT_AV1] Open Dev Meeting April15-2020"
Hello All

The fifth Open Dev Team is scheduled for April 15th 2020, @ 8:30 - 9:30 am PDT

Created a new issue to track the discussion items for this meeting, please let us know your thoughts / suggestions for topics on the Agenda.

Using the same dialup info from last time:
Join Hangouts Meet
meet.google.com/rty-mkxi-wvi

Meeting ID
https://meet.google.com/rty-mkxi-wvi?hs=122

Phone Numbers
(‪US‬

[2020-04-13 19:55] hassount commented on #1134
Next Meeting #1199

[2020-04-13 19:55] #1134 closed

[2020-04-13 20:08] ePirat commented on #1199
For everyone confused about which time it is in their timezone, [check here](https://everytimezone.com/s/4ae7eb3c).

[2020-04-14 14:28] magwyz commented on #1159
@ttrigui I was able to reproduce the issue but not able to fix it. The crash may come from the motion vector prediction (`generate_av1_mvp_table`) but I do not know very well this part.

The bitstream corruption still happens when the injection of global motion candidates is disabled in `EbModeDecision.c`. However, it does not happen in `-enc-mode 5` that also generates and writes the global motio

[2020-04-15 07:34] sandersaares opened #1205 "stdin for input only works if the input is a file, not when streaming from FFmpeg"
On Windows 10, given this input file:
[demo.zip](https://github.com/OpenVisualCloud/SVT-AV1/files/4479702/demo.zip)

Using ffmpeg version git-2020-03-15-c467328 and SVT-AV1 [0.8.1] - 2020-01-28

This sequence of commands works fine:

[code]

This does not work:

[code]

In case 1 I write from FFmpeg to file and then pipe that file to SVT-AV1.

In case 2 I pipe directly from FFmpeg to SVT-AV1, with

[2020-04-15 08:00] ePirat commented on #1205
I recently did this on Linux and it worked fine, so possibly something specific to how Windows handles pipes?

Did you do this in cmd or Powershell?

[2020-04-15 08:01] sandersaares commented on #701
This feature is valuable to me, so I am interested in helping it move forward. Is there anything else that needs doing besides applying the above patch?

[2020-04-15 08:01] sandersaares commented on #1205
This was in regular cmd.exe shell.

[2020-04-15 10:24] palexander-14 opened #1206 "Run-to-run mismatch with --preset 8 and VBR"
The SVT-AV1 encoder (https://github.com/OpenVisualCloud/SVT-AV1/commit/ea6bf44da949f7a98148a5baba431b2765aa622a) produces different output from run to run. The cmd line is:
./SvtAv1EncApp -i input.yuv -w 1280 -h 720 -b output.ivf --preset 8 --rc 1 --tbr 2400

Debug build shows the problem as well.

In CQP mode there is no problem with --preset 8.

[2020-04-15 15:12] hassount commented on #1159
@magwyz thnx for the feedback and good luck with your future work.
@jbkempf  FYI

[2020-04-15 15:15] hassount commented on #1185
yes

[2020-04-15 15:22] jbkempf commented on #1159
Any stacktrace?

[2020-04-15 15:41] #1161 closed

[2020-04-15 16:27] 1480c1 commented on #567
https://pastebin.com/QQQ9CzFe

Latest log from trying to build using https://github.com/OpenVisualCloud/SVT-AV1/issues/567#issuecomment-558662035

[2020-04-15 16:32] hassount commented on #1206
@palexander-14
this is expected as we don't force a certain order of feedback in the encoder when rate control is set.

[2020-04-15 16:38] hassount commented on #1197
@JouMxyzptlk
thank you for the report.
this is not on the road map at this point as we  are looking into Broadwell CPUs and later. I ll open this up for contributions though.

[2020-04-15 16:43] hassount opened #1208 "Add git hash to the build version"
Right now any build would have the same version that is defined statically every tag. to fit better with snap as in #38 we would need to add the git hash to the revision number similar to other encoders such as libaom e.g. g66603e7ee

[2020-04-15 16:44] hassount commented on #1208
@jbkempf @ePirat

[2020-04-15 16:47] ePirat commented on #1208
Where in the code is the version defined currently? Should be easy to add this.

[2020-04-15 16:50] hassount commented on #1208
in multiple locations, check #989 those are all locations we need to change to bump a revision

[2020-04-15 16:51] 1480c1 commented on #1208
https://github.com/OpenVisualCloud/SVT-AV1/blob/59f20e440b3a91526bdc6f456cc67e427e42649b/Source/API/EbSvtAv1.h#L16

https://github.com/OpenVisualCloud/SVT-AV1/blob/5fdf5ef4943d6e7736d051d68baa0f08416b5a50/Source/Lib/Decoder/CMakeLists.txt#L7

https://github.com/OpenVisualCloud/SVT-AV1/blob/2f008174b75333ce29b7a5eabe29f500d979fdac/Source/Lib/Encoder/CMakeLists.txt#L7

Printed out:
https://github.co

[2020-04-15 17:21] ePirat commented on #567
So basically a good way to ensure those conflicts do not happen would be to prefix all functions copied from libaom with something like `svt_aom_` or so. As long as it's done consistently it should be easy to adapt new code copied from aom?

For types or defines it does not matter that much, as long as you ensure none of these end up in the public SVT-AV1 API.

It might be useful to add a script t

[2020-04-15 17:24] ePirat commented on #1208
Will encoder and decoder have the same version?

[2020-04-15 17:27] ePirat commented on #1170
@hassount Any idea what to do about this one?

[2020-04-15 17:35] joelsole commented on #1199
Recording and transcript of today's call:

https://drive.google.com/drive/folders/1rKPAurh6qDetO0LzZ0h-NM-7CDKwp24s?usp=sharing

@andrey-norkin - can you also copy them to the folder with the other recordings?

[2020-04-15 17:46] hassount commented on #1208
yes, they usually go in lock step

[2020-04-15 19:17] hassount commented on #1184
#1186 is merged

[2020-04-15 19:17] #1184 closed

[2020-04-15 21:40] ttrigui commented on #1079
#985 this is the same problem that was observed when over_boundary_block_mode is set to 1 (processing more blocks at the boundaries)

[2020-04-16 01:36] starxiang commented on #1199
The shared recording is locked, I clicked the "request access", would the owner please approve my request to get the recording?

[2020-04-16 06:39] sandersaares commented on #1205
This seems to happen because `read_command_line()` sets `frames_to_be_encoded` in its "verify" logic and does not seem to account for the fact that the input might be a pipe whose length is not known. It calls `compute_frames_to_be_encoded()` which looks at the (partial) input stream, finds that `file_size < frame_size` and therefore concludes there is nothing in the input stream.

It is not clear

[2020-04-16 08:00] sandersaares opened #1213 "Add --version to executables"
Right now the version info dump is only printed once encoding/decoding starts (in `init_svt_av1_encoder_handle()`). I would like to be able to inspect this info using just a `--version` argument.

[2020-04-16 10:15] nshtg commented on #35
This error still occurs on a most recent arch linux installation when trying to install `ffmpeg-full-git`

[2020-04-16 10:17] DmitryMaksakov commented on #35
Hope this will help: https://stackoverflow.com/questions/61119556/error-svtav1enc-not-found-using-pkg-config

[2020-04-16 13:03] jbeich commented on #35
Can you check why ffmpeg cofigure fails? Maybe it's same as #691.

[2020-04-16 13:53] nshtg commented on #35
Build only failed with SVT-AV1 git. Release version worked. Compilation of SVT-AV1 git alone worked.

[2020-04-16 16:36] joelsole commented on #1199
I think it is the meeting's organizer who has the right to change the access.
@andrey-norkin , were you the organizer?

[2020-04-16 16:46] tianjunwork commented on #1213
Hi @sandersaares , you mean add --version to sample app, similar to https://github.com/OpenVisualCloud/SVT-HEVC/pull/388?

[2020-04-16 18:45] sandersaares commented on #1213
Yes, exactly

[2020-04-16 18:45] #1158 closed

[2020-04-16 21:38] joelsole opened #1215 "Decoder mismatch for some streams"
The issue might be related to storing and retrieving an intermediate buffer in the LR stage.

ivf attached.

[DayStreet_12fr_256x256_60fps_10bits_420_eo0_pr3_qp50.ivf.log](https://github.com/OpenVisualCloud/SVT-AV1/files/4489836/DayStreet_12fr_256x256_60fps_10bits_420_eo0_pr3_qp50.ivf.log)

[2020-04-16 22:11] joelsole opened #1216 "Encoder segmentation fault after PR1155"
On mac. Stack trace below. It does NOT happen without option "--pred-struct-file ../../Config/PredStruct_level4.cfg".

run  -i DayStreet_12fr_256x256_60fps_10bits_420.yuv -w 256 -h 256 -q 50 --fps-num 60 --fps-denom 1 -b DayStreet_12fr_256x256_60fps_10bits_420_eo0_pr3_qp50.ivf --keyint 31 --input-depth 10 --pred-struct-file ../../Config/PredStruct_level4.cfg -o recon_DayStreet_12fr_256x256_60fps_1

[2020-04-16 22:16] hassount commented on #1215
@joelsole is this a decoder issue or an encode decode mismatch on the encoder side ?

[2020-04-16 22:33] joelsole commented on #1215
Decoder.
Dav1d and aomdec provide an output matching the reconstruced yuv by the encoder.

[2020-04-17 05:14] hassount commented on #1079
@xuguangxin can you please check if #1217 addresses this ?

[2020-04-17 05:41] xuguangxin commented on #1079
@hassount , I tried 3 times, all md5 are matched.

yes, it's fixed.

[2020-04-17 12:11] nijilk commented on #1215
@joelsole PR https://github.com/OpenVisualCloud/SVT-AV1/pull/1219 will fix this issue

[2020-04-17 14:41] ePirat opened #1221 "Appveyor CI failure"
Currently Appveyor always fails due to:

[code]

One of the SVT-AV1 repo admins probably need to clean up some stuff there.

@hassount

[2020-04-17 15:41] 1480c1 commented on #1221
For appveyor, we can't manually clean up the artifacts, only the appveyor admins can extend the limit. They get auto cleaned after 6 monthes

[2020-04-17 16:15] ePirat opened #1222 "Cppcheck reports not enough"
I've looked into the issue that cppcheck did not report more issues when run in Gitlab CI and tried it again locally.

With `--enable=all` I indeed get a lot more results now, I am currently clueless why not in the CI…

[2020-04-17 16:18] ePirat commented on #1222
I've checked again and it seems to work fine in CI too. The annotations in the overview are limited to very few, which is why in the overview it does not show all. In the full log it shows all.

[2020-04-17 16:39] ttrigui commented on #1216
@joelsole is this issue showing up on MAC only? also is this the only content that triggers it? if so can you please share it?

[2020-04-17 16:44] tianjunwork commented on #1221
SVT-HEVC/VP9 appveyor also shows this error. @1480c1 disabled uploading artifacts temporarily for CI to pass.
@ePirat is that a way to use other CI tools to upload windows build? Or can it only upload for PR that adds a tag?

[2020-04-17 17:00] hassount commented on #1221
I submitted a ticket to Appveyor a couple of days ago, I just got a note that the limit has been increased, let's try again

[2020-04-17 18:00] joelsole commented on #1216
It seems unrelated to the content, as it is segfaulting at the initialization stage:

frame #3: 0x000000010000ac54 SvtAv1EncApp`init_encoder(config=0x000000010c000000, callback_data=0x000000010c000a00, instance_idx=0) at EbAppContext.c:485:20

It also happens on Linux.

[2020-04-17 18:16] ePirat commented on #1221
I am not sure what exactly the uploads are there for? If the intention is to have those for tagged commits? Thats certainly possible.

Not sure if it makes sense to upload each build/PR?

[2020-04-17 21:44] 1480c1 commented on #1221
The main intention is to upload binaries for releases, but I do know that some people on windows rely on those binaries when trying out the latest commit since they do not want to nor know how to compile on windows

[2020-04-17 21:46] 1480c1 commented on #1221
It would be preferable to only upload on the main branch and not on pr's, but according to appveyor, any PR against the master branch is counted as the master branch. So we might need to find a way to skip uploading if it's a PR in the script stage rather than using appveyor's artifacts section

[2020-04-17 23:18] hassount opened #1225 "Decoded Recon mismatch for non multiple of 8 res 10bit video"
I did a couple of fast encodes and compared the SVT-AV1 reconstructed, SVT-AV1 decoded, and libaom decoded yuvs:
 - For 1 frame, the three outputs match
 - For 2 frames, SVT-AV1 recon & decoded match, but not libaom decoded
 - For 12 frames: the three outputs are different.
This happened with the first two sequences picked, so I guess it is not a corner case.

Do you observe the same at your end?

[2020-04-17 23:34] #1079 closed

[2020-04-17 23:35] hassount commented on #1159
seems like this is not reproducible anymore in the current master @JouMxyzptlk can you confirm ?

[2020-04-17 23:45] #1208 closed

[2020-04-18 00:58] JouMxyzptlk commented on #1159
@hassount I don't have the compile environment. My coding-with-compiling days are too far away (pre 2005) to quickly set it up the way needed, I am mostly scripting today. If you have a windows binary to test for me I'll gladly do.

[2020-04-18 01:05] 1480c1 commented on #1159
https://ci.appveyor.com/project/OpenVisualCloud/svt-av1/builds/32264583/job/oq9qj0hpnc5mttei/artifacts

Here's a link to a commit in the master branch that's ready atm.

[2020-04-18 01:37] jbeich opened #1227 "Fails to build from a directory with a long name"
Regressed by 2a3babcdc0d9
[code]

[2020-04-18 01:45] JouMxyzptlk commented on #1159
Sadly no change, still crash around the 450 frames mark with --enc-mode 1, no matter whether q40 or q42.

Q40 test:
`C:\tmp>c:\prog\svt-av1\SvtAv1EncApp.exe -i input.yuv420p -n 5038 -rc 0 -q 40 -lp 24 -enc-mode 1 -tile-rows 1 -tile-columns 2 -lad 80 -b out.ivf`

[code]

[code]
Q42 test:
`C:\tmp>c:\prog\svt-av1\SvtAv1EncApp.exe -i input.yuv420p -n 5038 -rc 0 -q 42 -lp 24 -enc-mode 1 -tile-rows 1 -t

[2020-04-18 01:46] jbeich commented on #1227
Nevermind. I can't reproduce in jail.

[2020-04-18 01:46] #1227 closed

[2020-04-18 02:26] hassount commented on #1159
@JouMxyzptlk thank you for the help
@OmranAbdelkafi can we check this again to make sure we can reproduce the issue on our side ?

[2020-04-18 03:45] #1216 closed

[2020-04-18 10:52] EwoutH opened #1228 "Huge BDR regression on wikipedia_420.y4m"
In a few AWCY runs I notices a huge BDR regression on the _wikipedia_420.y4m_ clip between 7513210 (december 18th) and f9db11cb (today). In some metrics the BDR regression is over 100%, so over double the bits are needed for identical quality.

The test clip can be found on https://people.xiph.org/~tdaede/sets/objective-1-fast/

**Comparisons**

- [EncMode 8](https://beta.arewecompressedyet.com/?j

[2020-04-18 18:35] #1222 closed

[2020-04-19 01:13] ePirat commented on #1227
This was an issue due to incorrect dependency declarations in CMake, causing random failures depending when a specific target would be built. This was fixed with #1229.

[2020-04-19 02:22] jbeich opened #1230 "Fails to build on i386 unless -msse2 is enabled by default"
FreeBSD, NetBSD, OpenBSD and some Linux distributions don't enable SSE2 by default on i386 (aka IA32 or x86). The actual target is usually `-march=i486` or `-march=i686`.
[code]

[2020-04-19 02:58] jbeich opened #1231 "Fails to build on 32-bit x86"
x86_abi_support.asm only defines `ARCH_X86_64` but EbDefinitions.h adds `__i386__` to  `ARCH_X86`. However, assembly isn't built if `uname -m` returns `i386` or `i686`.

From [error log](https://github.com/OpenVisualCloud/SVT-AV1/files/4498256/svt-av1-0.8.1.169.log):
[code]
From [error log](https://github.com/OpenVisualCloud/SVT-AV1/files/4498268/svt-av1-0.8.1.169.log) after applying fe54f0274277:

[2020-04-19 03:13] hassount commented on #1228
@EwoutH
Thnx for the note, this is very likely due to the new command line change for -scm mode as the detection is now disabled by default.
If you add -scm 2 to your cmd, then you should see it back to normal.

[2020-04-19 03:52] 1480c1 commented on #1231
32-bit is not supported by SVT-AV1 and probably shouldn't due to the amount of ram required for just running the encoder

[2020-04-19 11:50] EwoutH commented on #1228
Thanks!

I noticed that the CLI still outputs: `--scm                           Set screen content detection level([0-2], 2: DEFAULT)`

So I submitted #1232 to fix this.

[2020-04-19 11:50] #1228 closed

[2020-04-20 00:09] hassount opened #1233 "Test command line printout typo"
the unit test is printing -colour-space instead of -color-format

https://github.com/OpenVisualCloud/SVT-AV1/blob/9ce7f5e74c6f3021e87dc00cbbfa51f01a23bd5e/test/e2e_test/E2eTestVectors.h#L156

@Cidana-Developers can we map this along with command line options to the correct cli options ?

[2020-04-20 01:11] hassount commented on #258
@GuCaixuan
Several R2R bug fixes have been merged to master, can you please check if this is addressed?

[2020-04-20 01:12] hassount commented on #323
Closing this, please reopen if there's still a r2r

[2020-04-20 01:12] #323 closed

[2020-04-20 01:14] hassount commented on #733
@spawlows @tszumski have all of these been addressed ?

[2020-04-20 01:14] hassount commented on #734
Closing, let's revisit after presets are updated

[2020-04-20 01:14] #734 closed

[2020-04-20 01:18] GuCaixuan commented on #258
@hassount
OK, I will check it.

[2020-04-20 01:20] hassount commented on #790
@mtangtencent I can't reproduce this with the latest master 9ce7f5e
Closing for now, please reopen if you see an issue.

[2020-04-20 01:20] #790 closed

[2020-04-20 01:21] hassount commented on #831
merged in #1191

[2020-04-20 01:21] #831 closed

[2020-04-20 01:30] hassount commented on #952
@zpdongtencent
This is now addressed with the head of master at rev 9ce7f5e74c6f3021e87dc00cbbfa51f01a23bd5e

[2020-04-20 01:30] #952 closed

[2020-04-20 01:31] hassount commented on #985
addressed with #1217

[2020-04-20 01:31] #985 closed

[2020-04-20 01:31] #1215 closed

[2020-04-20 01:32] hassount commented on #441
@OmranAbdelkafi can we close the scene change detection flag for now?

[2020-04-20 01:35] hassount commented on #1165
@hguermaz does removing the above makes sense to you ?

[2020-04-20 01:37] #1103 closed

[2020-04-20 01:38] hassount commented on #1047
will open a new issue to track items for the next tag

[2020-04-20 01:38] #1047 closed

[2020-04-20 01:40] hassount opened #1234 "Next round of PRs before 0.8.4"
@phoenixworthVCD
- [x] Update NSC Preset(s). (#1149)
- [x] Update SC Preset(s). (#1149)
- [x] SC HME Pruning. (#1149 )

@lijing0010
- [ ] MRP indices enhancements.
- [ ] non-5L / LDP stability/fixes.

@fouedb
- [ ]  0B Tuning

[2020-04-20 11:35] sandersaares opened #1235 "Y4M input is expected to be padded to 8 bytes, which does not correspond to Y4M produced by FFmpeg"
FFmpeg quite happily produces 852x480 output for me in Y4M format with no padding. But when I try to encode this via `SvtAv1EncApp.exe` I get data corruption and `Failed to read proper y4m frame delimeter. Read broken.` messages.

Looking at the code, there is a block in EbAppConfig.c (`// Assuming no errors, add padding to width and height`) that expands width & height to the next 8 bytes, giving

[2020-04-20 12:40] sandersaares commented on #1235
Oh, this might be fixed in master already! https://github.com/OpenVisualCloud/SVT-AV1/pull/1191

I will attempt to confirm this.

[2020-04-20 12:48] sandersaares commented on #1235
Confirmed, this is fixed by #1191!

[2020-04-20 12:48] #1235 closed

[2020-04-20 13:17] tszumski commented on #733
Yes, all of these have been addressed

[2020-04-20 14:14] #733 closed

[2020-04-20 14:41] jbeich commented on #1231
Memory usage depends on number of CPUs used e.g., `SvtAv1EncApp` with `--lp 5` seems OK. On x86 32-bit CPUs rarely have more than 4 cores (2 is more common).

[2020-04-20 14:48] jbeich commented on #1231
Note, my "more common" is based on https://data.firefox.com/dashboard/hardware ;)

[2020-04-20 18:16] mazharaIntel commented on #1159
It is reproducible with the latest mater 301d535.

[2020-04-20 21:54] tianjunwork commented on #1230
Hi @jbeich , support to system of IA32 is not on the roadmap of any SVT encoder.

[2020-04-20 23:30] SolarAquarion commented on #35
gcc -D_ISOC99_SOURCE -D_FILE_OFFSET_BITS=64 -D_LARGEFILE_SOURCE -D_POSIX_C_SOURCE=200112 -D_XOPEN_SOURCE=600 -DPIC -I/opt/cuda/include -I/usr/include/tensorflow -std=c11 -fomit-frame-pointer -fPIC -pthread -I/usr/include/p11-kit-1 -I/usr/include/lilv-0 -I/usr/include/serd-0 -I/usr/include/sord-0 -I/usr/include/sratom-0 -I/usr/include/harfbuzz -I/usr/include/glib-2.0 -I/usr/lib/glib-2.0/include -I/

[2020-04-21 01:54] 1480c1 commented on #35
Did you use the patch inside the repository folder on FFmpeg? `eb_init_handle` is not present

[2020-04-21 02:45] tianjunwork commented on #1213
Hi @sandersaares , @ePirat may work on consolidating version in the source code. Your request will be worked on after that. Thanks for the feedback.

[2020-04-21 03:54] 1480c1 commented on #1199
@andrey-norkin, @mafonsoN ping?

@joelsole, could you try putting the recording in the same folder as https://drive.google.com/drive/folders/1im-WhlKz47zru-DczoVl6v_8ThX2nN08 ? That's where the last two have been so far

[2020-04-21 04:12] tianjunwork commented on #1205
Hi @sandersaares , thanks reporting the issue and making a PR. I can reproduce on Windows(not on Ubuntu).

[2020-04-21 04:20] SolarAquarion commented on #35
i fixed it, by updating the patches to latest

On Mon, Apr 20, 2020 at 9:54 PM Christopher Degawa <notifications@github.com>
wrote:

[2020-04-21 04:41] sandersaares opened #1237 "Add --no-progress option to sample apps"
At the moment, the sample apps report the current frame number in their output. In scenarios where the output is piped to a log file, this results in a lot of unnecessary text that makes navigation in the log difficult.

For scenarios where the encoding progress information is not needed, a `--no-progress` switch to disable the output of these numbers would be useful. I request such an enhancement

[2020-04-21 06:23] tianjunwork commented on #1237
Hi @sandersaares , pls refer to this PR https://github.com/OpenVisualCloud/SVT-AV1/pull/809. 2>/dev/null redirect stderr to null.

[2020-04-21 08:36] GuCaixuan commented on #258
@hassount
I checked this issue on Commit ID 3cbd768 and can reproduce it.
Reproduced command line:
SvtAv1EncApp -i Netflix_FoodMarket2_4096x2160_10bit_60Hz_P420.yuv  -b buffered_test_M0_Netflix_FoodMarket2_4096x2160_10bit_60Hz_P420_Q32_-1.bin   -w 4096  -h 2160  --input-depth 10  --fps 60  --keyint 55  -n 20  --preset 0  --compressed-ten-bit-format 0  -q 32  --rc 0  --nb -1

SvtAv1EncApp -i Netfli

[2020-04-21 13:46] #1181 closed

[2020-04-21 13:48] praneet195 opened #1239 "Target Bit Rate"
Hi,
The target bit-rate option does not seem to fix the bit-rate to the required value. For example, I set the --tbr to 500 (kbits/s) but my encoded sequence has a bit-rate of 1Mbits/s Similarly, when I set --tbr to 3000 (kbits/s), my encoded sequence has a bit-rate of 2.2Mbits/s.
 I'm guessing this is the intended behavior as target bit-rate does not mean fixed bit-rate.
 However, is there an opt

[2020-04-21 20:16] hassount commented on #258
@GuCaixuan
thank you for the test.
@OmranAbdelkafi can we add this to the list of items to be checked ?

[2020-04-21 20:16] hassount commented on #1239
@praneet195
can we have the command line ?

[2020-04-21 20:19] praneet195 commented on #1239
This:
~/SVT-AV1/Bin/Release/SvtAv1EncApp -i input.seq --rc 1  --fps 30 --tbr 500 --intra-period 0 -w 640 -h 480 -b out.ivf
I expect a target bit rate of 500kbits/s but I get a target bit rate of about 900 kbits/s
When I use this:
~/SVT-AV1/Bin/Release/SvtAv1EncApp -i input.seq --rc 1  --fps 30 --tbr 3000 --intra-period 0 -w 640 -h 480 -b out.ivf
I expect a target bit rate of 3000kbits/s but I get

[2020-04-21 20:23] hassount commented on #1239
not really the cli is fine, the problem here is that the rate control as I mentioned earlier is not optimized for this use case and so the behavior you are seeing is expected. unfortunately, it is currently not on the roadmap to be addressed.

[2020-04-21 20:25] praneet195 commented on #1239
Alright, thank you for the quick update.

[2020-04-22 06:29] lijing0010 commented on #1160
This is a good idea, and can we always enable the -fsanitize=address -fno-omit-frame-pointer in debug version?

[2020-04-22 06:36] hassount commented on #1159
can we retest this to validate #1242
windows binaries can be found here: https://ci.appveyor.com/project/tianjunwork/svt-av1/builds/32348717/job/psa3ftvfn97vmsc2/artifacts

[2020-04-22 07:53] #219 closed

[2020-04-22 08:36] JouMxyzptlk commented on #1159
That build works, no crash! Thank you!
I hope I have such a nice reproducible example for my next bug report, 'cause I will keep on using/testing SVT-AV1.

[2020-04-22 10:05] RidgeSTD opened #1245 "enable_manual_pred_struct in EbSvtAv1EncConfiguration is not set to False by default"
The doc of EbSvtAv1Enc.h says `EbSvtAv1EncConfiguration::enable_manual_pred_struct` is supposed to be EB_FALSE by default, while in EbEncHandle.c/`eb_svt_enc_int_parameters`, this field is left unset. This caused access on invalid memory on my build.

[2020-04-22 14:39] tianjunwork commented on #1245
Hi @RidgeSTD , thank you posting the issue. Could you share your command line to reproduce your issue?

[2020-04-22 15:48] chkngit commented on #1160
will this be supported for VisualStudio builds as well?

[2020-04-22 16:47] JouMxyzptlk commented on #1159
Question: Is that fix included in the normal 0.8.2 release? As far as I can see: No ?

[2020-04-22 19:43] RidgeSTD commented on #1245
Sure. I tried to test the compiled DLL with simplest code segment:
[code]
This is caused by enable_manual_pred_struct is not set to its default value EB_FALSE. Line 2271 shall not be executed at all.

My setup is Win10 (Build 17763.1158), Intel i7-6700K with 64GB Ram.

[2020-04-22 20:01] RidgeSTD commented on #1245
Actually I realised that EB_FALSE is simply 0. Which is funny that on my computer, `enable_manual_pred_struct` is initialised as 205. Same goes with `enable_adaptive_quantization`, which will lead to `EB_ErrorBadParameter`.

I could not understand that since EbBool is uint8_t, which is supposed to be 0 by default. Looking for the cause.

[2020-04-22 20:24] JouMxyzptlk commented on #1159
Hold it, it is NOT fixed.
Version 0.8.2 (bot official and this build) generate MUCH smaller video files with --qp 42 than ever before. Showing a visible difference to 0.8.1 -q 42 quality. Do compensate that I adjusted --qp to 35, and it crashes again at about the same place.
Command line used (same video as ever):
`SvtAv1EncApp.exe --input input.yuv420p --frames 5038 --rc 0 --qp 35 --lp 24 --prese

[2020-04-22 21:14] tianjunwork commented on #1245
Thanks. I guess you didn't memset eb_enc_parameters_, so the members inside is random value, not 0.
Could you also fix enable_adaptive_quantization in the same PR?

[2020-04-22 21:20] tianjunwork commented on #1245
Actually, I also found some parameters are missing in `eb_svt_enc_init_parameter`, https://github.com/OpenVisualCloud/SVT-AV1/pull/1241. Pls let me know if you find any else. You can comment in that PR. Thx.

[2020-04-22 21:31] ePirat opened #1248 "Build broken with NASM < 2.14"
Due to an interaction of how CMake handles include paths (it always strips the trailing `/`) and a bug in NASM (it does not work with include paths without trailing `/`) building with NASM < 2.14 is currently broken.

It should work with NASM 2.14+ where [this bug](https://bugzilla.nasm.us/show_bug.cgi?id=3392205) should be fixed.

[2020-04-22 21:32] ePirat commented on #1248
This was apparently never caught by CI, as for some reason we always install both NASM and YASM and the CMake build prefers YASM.

[2020-04-22 21:52] tianjunwork commented on #1034
fixed already.

[2020-04-22 21:52] #1034 closed

[2020-04-23 02:37] lijing0010 commented on #1159
@JouMxyzptlk , you mean the "special" version produces much small size compared to v0.8.2 or v0.8.1?
And I'll try to reproduce the qp35 case, thanks for reporting this.

[2020-04-23 06:22] JouMxyzptlk commented on #1159
I just tested (was late yesterday): official 0.8.2 and https://ci.appveyor.com/project/tianjunwork/svt-av1/builds/32348717/job/psa3ftvfn97vmsc2/artifacts both produce a lot smaller versions. It is like qp rating was changed either by ~10 in absolute, of by ~25% in relative - I didn't check the code about that. It seems like Q 33 0.8.2 is equal to Q 42 0.8.1, but I am still testing to find the new

[2020-04-23 06:23] HolyWu opened #1251 "Fail to build with clang-cl"
[code]

[code]

The declarations of `av1_calc_indices_dim1_c` and `av1_calc_indices_dim2_c` are at https://github.com/OpenVisualCloud/SVT-AV1/blob/26938b09c34f973b08801ac66acb08fd006b4b3f/Source/Lib/Encoder/Codec/aom_dsp_rtcd.h#L529...L531, but where are their definitions?

[2020-04-23 06:43] sandersaares commented on #1237
I want the rest of the output, just not the repetitive part (the 1....2.....3.... counter).

[2020-04-23 06:50] silverbacknet commented on #1159
encmode (preset) 1 got a ton of big changes earlier today, and encmode 0 a few; you might've noticed the speed going down too, as it should be more efficient but slower -- but not the same bitrate, as you've noticed. You could try both https://ci.appveyor.com/project/tianjunwork/svt-av1/builds/32364887 and https://ci.appveyor.com/project/tianjunwork/svt-av1/builds/32365012 to confirm the change ha

[2020-04-23 07:04] JouMxyzptlk commented on #1159
Slower: Yes, indeed. About whether it needs less bits for the same quality now: Still testing.

[2020-04-23 07:16] starxiang commented on #1199
Thank you very much for opening access to me @andrey-norkin

[2020-04-23 07:37] JouMxyzptlk commented on #1159
I see: All on https://ci.appveyor.com/project/tianjunwork/svt-av1/history which are based on "master", got builds to download and test.

[2020-04-23 14:23] RidgeSTD opened #1254 "Does warning "Color format EB_YUV400 not supported" means single-channeled video is not supported?"
Hello! I am trying to use SVT-AV1 on my depth-camera video stream, which is a 16-bit grayscale stream. My current try is to set configuration as (partially):

[code]
However the encoder complains the warning "Color format EB_YUV400 not supported, set to EB_YUV420", and later while sending the picture to encoder, `copy_frame_buffer` in EbEncHandle.c will fail since it tries to copy all YUV channels

[2020-04-23 16:34] tianjunwork commented on #1237
Pls refer to #809:
1. SVT_LOG=4 SVT_LOG_FILE=lib.log SVT_APP_LOG_FILE=app.log SvtEncApp -i test.y4m -b test.ivf
2. SVT_LOG=4 SVT_LOG_FILE=lib.log SVT_APP_LOG_FILE=app.log ffmpeg -i test.y4m -c:v libsvt_av1 test.mp4
You will get the rest part in lib.log.

[2020-04-23 17:05] tianjunwork commented on #1254
Hi, for bit depth, you should use encoder_bit_depth, is_16bit_pipeline is to indicate `0: lbd[default], 1: hbd`. Currently only 8bit and 10bit depth is supported.
Yes, svt av1 only supports yuv420 now. @lijing0010 could you comment on the color format support plan? Thank you.

[2020-04-23 17:36] tianjunwork commented on #1251
Hi again @HolyWu, is the step same to replicate the build error as https://github.com/OpenVisualCloud/SVT-HEVC/pull/374?

[2020-04-23 17:43] tianjunwork commented on #1251
Hi @tszumski could you take a look after your current tasks? Thank you.

[2020-04-23 22:20] EwoutH opened #1256 "Participate in the MSU Annual Video Codecs Comparison 2020"
In succession of #68 :)

The [Call for codecs](http://compression.ru/video/codec_comparison/hevc_2020/call_for_codecs.html) for the MSU Annual Video Codecs Comparison is open for 2020!

The Moscow State University makes an excellent video codec comparison each year, and it would be great if SVT-AV1 would be included. Last years comparison can be [seen here](http://compression.ru/video/codec_compar

[2020-04-24 02:14] HolyWu commented on #1251
Yes, but it could be simpler. Just add argument `-T ClangCL` to cmake when generating VS2019 project files and you can directly build it.

[2020-04-24 02:50] LiuAnmin commented on #973
May I have the information regarding the target release date?

Whether non-ref B will be included in this WIP?

[2020-04-24 03:10] #1159 closed

[2020-04-24 04:49] liuanmin2017 commented on #973
May I have the information regarding the target release date?

Whether non-ref B will be included in this WIP?

[2020-04-24 06:15] tszumski commented on #1251
Hi @tianjunwork
Sure, I will work on this

[2020-04-24 16:48] tianjunwork commented on #1251
Hi @HolyWu , could you help to verify PR since clang-cl is not added to ci yet? https://github.com/OpenVisualCloud/SVT-AV1/pull/1259

[2020-04-24 18:22] ttrigui opened #1261 "Adding the ability to switch between c and optimized code for Log2f caused a rate loss"
#1257

[2020-04-24 19:53] #701 closed

[2020-04-24 23:18] JouMxyzptlk opened #1262 "This small video crashes SVT 0.8.3, 0.8.2 and 0.8.1"
This short 8 MB snippet from a DVB-S documentation recording is enough:
https://joumxyzptlk.de/tmp/svt-av1/Die_Planeten_4_Saturn_20200322_2033.SVT-0.8.2_crash_snippet_v2.mkv

Machine: Ryzen 9 3900x / 64 GB ECC RAM (see https://github.com/OpenVisualCloud/SVT-AV1/issues/1159 which was IMHO closed too soon, test if that anime-source video still crashes SVT 0.8.3 too is currently running).

Exact comm

[2020-04-25 01:31] HolyWu commented on #1251
Yes, that PR works well. Thank you.

[2020-04-25 03:20] tianjunwork commented on #1262
Hi @JouMxyzptlk , for a quick check, I tested with your command on Ubuntu. I didn't crash on 0.8.3 and 0.8.2. Will try on server with Windows OS.

[2020-04-25 03:40] tianjunwork commented on #1251
Thanks for checking out.

[2020-04-25 05:49] JouMxyzptlk commented on #1262
Thanks for checking. I forgot to mention: Win10 x64 1909. Good luck reproducing on Windows Server 2019 (=Win10 1809).
Actually it was, originally reproducible crash after 76570 frames, over 25 minutes into the full source video. Which takes QUITE a few hours to reach that point. But I could cut it down to a ~1500 frame snippet and it still crashed, and after a few more tries I ended up with above

[2020-04-25 05:55] tianjunwork commented on #1262
Thank you providing the Win version. And making it easier to crash 😄

[2020-04-25 06:10] silverbacknet commented on #1262
I couldn't reproduce it at all. And then I realized that I'd taken a shortcut by converting to a y4m file before running all tests; as soon as I put it on pipe, as in the original command line, things got very messy in a hurry; not a crash here but "Failed to read proper y4m frame delimeter. Read broken." on about half the frames. Something in the y4m/stdin parsing is broken.

[2020-04-25 09:11] JouMxyzptlk commented on #1262
Could it be ASM dependent? I.e. if not Zen2 based (or other AVX2 CPU) no problem?

[2020-04-25 09:19] JouMxyzptlk commented on #1262
I use a quite recent ffmpeg version (ffmpeg-20200403-52523b6-win64-static).
Bit this is indeed a hint that i should have tested with a naked yuv file too, maybe it is a pipe problem with svt-av1 on Windows.
Though I could convert with rav1e, including a test with a longer 4k movie which took about three weeks and did use pipe. Rav1e is just not yet as good as SVT-AV1, the result looks like a too s

[2020-04-25 10:00] JouMxyzptlk commented on #1262
Update: Not a pipe issue.
This is the yuv4 version of the pipe in the opening comment:
https://joumxyzptlk.de/tmp/svt-av1/SVT-0.8.1-0.8.2-0.8.3-test.yuv4.7z
Crash at nearly exact the same frame as when using the pipe:

C:\tmp>c:\prog\svt-av1\SvtAv1EncApp.exe --input SVT-0.8.1-0.8.2-0.8.3-test.yuv4 --frames 484 --rc 0 --qp 36 --lp 24 --preset 1 --tile-rows 1 --tile-columns 2 --lookahead 80 --output

[2020-04-27 12:46] spawlows commented on #1261
Fix in PR #1266

[2020-04-27 17:21] #1251 closed

[2020-04-27 18:21] tianjunwork commented on #1233
Ping @Cidana-Developers :)

[2020-04-27 18:32] tianjunwork commented on #1248
Thank you for catching this issue. Since 2.14+ is stable release and out there since 2018-12, we can update CMake with requirement of nasm 2.14+ version. It doesn't show lots benefit to support previous versions.

[2020-04-27 19:07] tianjunwork commented on #1160
Hi @chkngit , it should be: https://devblogs.microsoft.com/cppblog/addresssanitizer-asan-for-windows-with-msvc/.
@lijing0010 , not sure if it will slow down debug build a lot. Maybe enable it by parameter?

[2020-04-27 19:46] ePirat commented on #1160
I believe its mostly useful for individual developers, I guess windows does not has very different codepaths compared to linux that would warrant setting up sanitizer CI runs for that too?

[2020-04-27 19:55] 1480c1 commented on #1160
We could add another build type by using `CMAKE_C_FLAGS_<TYPE>` or similar and make it use the debug + sanitizer flags

[2020-04-28 02:42] xudongxu135 opened #1268 "v0.8.2 && v0.8.3 performance drop largely compare with v0.8.0"
I use the cmd below:
ffmpeg -i seq.mp4 -vcodec libsvt_av1 -vsync 0 -vb 2000k -preset 8 -rc 2 -threads 0 ./test.mp4
on my platform(up to avx2, 48 cores), if I use v0.8.0, for 1080P@30 sequences, it can reach to 44fps.
But when I use the newest version, i.e v0.8.2 or v0.8.3, it can only reach to 22fps, nearly 50% performance degradation.
Can anyone tell me why? Thank you very much.

[2020-04-28 03:33] tianjunwork commented on #1268
Hi @OmranAbdelkafi , do you have any information to share about performance difference between the versions?

[2020-04-28 04:40] tianjunwork commented on #1262
Thanks reporting the issue.

[2020-04-28 04:59] xudongxu135 commented on #1268
Are there any tools added to the version of 0.8.2 or 0.8.3?
In v0.8.3, If I want to get an equal encoding speed, compared with v0.8.0, which tools must be closed? How do I tune the parameters?
Thank you very much for your kind help.

[2020-04-28 06:15] silverbacknet commented on #1268
One thing I've noticed in watching the patches come in over the last few months is that there have been many bugfixes that have had a small negative performance impact, typically less than 1% but occasionally 2-3%. Some caused crashes, or had the potential to, others corruption or only reduced encoding quality, although I don't think they come close to a 50% overall degradation added together. But

[2020-04-28 07:19] xudongxu135 commented on #1268
Thank you for your reply @silverbacknet. Since the preset 8 is the default one currently, I think this preset will be used most frequently. Can anyone look into this intricate problem?

[2020-04-28 09:40] OmranAbdelkafi commented on #1268
We will be investigating such matter and will let you know ASAP

[2020-04-29 00:47] lijing0010 commented on #1254
yes, only I420P 8/10bit is supported

[2020-04-29 05:02] mtangtencent opened #1269 "SegFault when enabling option NATIVE"
When I compile the project with cmake option `NATIVE` set to ON, the encoder crashes using the following command line on Linux,
`./SvtAv1EncApp  -i ~/codec_test/videos/480p/BasketballDrill_832x480_50.yuv -w 832 -h 480 -b out.ivf -enc-mode 0 -n 10 -rc 0 -q 30 -irefresh-type 1 -fps-num 60 -fps-denom 1`

The environment was Centos 7.2 and gcc 4.8.5.
The commit number of SVT-AV1 I used is c810eca98c5a

[2020-04-29 08:01] sandersaares commented on #1237
I am probably missing something in the referenced issue but even if this can be accomplished by some combination of logging configuration, "don't write progress % to stderr" is a basic feature of data processing tools that the sample apps should support without having to learn about logging configuration.

For comparison, FFmpeg has `-nostats` which does exactly this.

[2020-04-29 16:04] Selur opened #1271 "Confused about 'Unprocessed tokens'"
calling:
[code]
I get:
[code]
But the help states:
[code]
So why are those setting not processed?

[2020-04-29 16:59] adaria commented on #1271
We missed these when passing to double-dash command line parameters. Will fix it. In the meantime, single dash versions should work.
`-hme-tot-l0-w 256 -hme-tot-l0-h 256 -hme-l0-w 256 -hme-l0-h 256 -hme-l1-w 256 -hme-l1-h 256 -hme-l2-w 256 -hme-l2-h 256`

[2020-04-29 17:11] Selur commented on #1271
You might want to check others too since I also get that message for:
--enable-intra-edge-sk
--enable-prune-ref-rec-partv
--enable-spatial-sse-f
--enable-class-12
--chroma-m

[2020-04-29 18:02] chkngit opened #1272 "Add Documentation for "Non-multiple of 8 support""
support for non-multiple of 8 encode has been added to SVT-AV1.  Yet, some  instability and coding efficiency issues need to be done. Adding proper documentation to such topic will help the team maintain and improve this feature

[2020-04-29 19:02] tianjunwork commented on #1237
Sounds fair. Just to confirm you only request the `progress number` to be controlled not the rest encoding results e.g. `SUMMARY and below`

[2020-04-29 19:20] 1480c1 commented on #1271
@adaria you might also want to check places like https://github.com/OpenVisualCloud/SVT-AV1/blob/ea8f1532e4e085fa766e2e7ee6a43736839408d7/Source/App/EncApp/EbAppMain.c#L420 since they still print out single dash options

[2020-04-29 22:41] #1205 closed

[2020-04-30 00:34] tianjunwork commented on #1269
I guess it is illegal instruction set.
Could you run `gcc -c -Q -march=native --help=target | grep march`. Assume it gives you `-march=XXXX`.
Then replace `native` with `XXXX` in `list(APPEND flags_to_test -march=native)`.
Let me know if it works.

[2020-04-30 00:37] tianjunwork commented on #1269
And gcc is too old. You may consider upgrade.

[2020-04-30 00:41] tianjunwork commented on #1254
Hi @RidgeSTD , if you have no more questions, could you help close the issue? :)

[2020-04-30 02:16] mtangtencent commented on #1269
Hi @tianjunwork, Thanks for the suggestion. It looks fine on ubuntu 18.04 with gcc 7.4.0. But it still fails on centos 7.2 + gcc 4.8.5 even when march is set to xxxx.

[2020-04-30 02:46] tianjunwork commented on #1269
The encoder runs on any 5th Generation Intel Core™ Processors (formerly Broadwell) CPUs (Xeon E5-v4) or newer. Yeah, that's would be better to skip the old OS system.

[2020-04-30 03:13] silverbacknet commented on #1269
It's possible you might have better luck using one of the Devtools-* from CentOS's SCL. They're currently packaging gcc 7.x, 8.x, and 9.x for CentOS 7, although 7.2 is quite a long ways behind itself (currently 7.7 I think?), as well.

The method is simply,
[code]

[2020-04-30 07:31] sandersaares commented on #1237
Exactly, just the counter that keeps incrementing for each frame.

[2020-04-30 08:14] #1254 closed

[2020-04-30 08:52] yermak commented on #1239
I have same issue, as tbr parameter is very confusing.
I tried to use 2pass encoding, here is my command line
SvtAv1EncApp -i  %~n1.y4m -w 3840 -h 2160 -rc 2 -fps-num 24000 -fps-denom 1001 -tbr 8192 -tile-rows 2 -tile-columns 2 -enc-mode 4 -b %~n1.ivf -output-stat-file %~n1.stats
SvtAv1EncApp -i  %~n1.y4m -w 3840 -h 2160 -rc 2 -fps-num 24000 -fps-denom 1001 -tbr 8192 -tile-rows 2 -tile-columns 2 -

[2020-04-30 16:39] 1480c1 commented on #1237
@sandersaares, just making sure, you are looking for a `--no-progress` option and not a `-q` or `--quiet` option right?

[2020-04-30 17:56] 1480c1 commented on #1199
@andrey-norkin or @joelsole, are you guys planning to do a dev meeting for may?

[2020-04-30 19:59] yermak commented on #1239
@hassount, could you please advise what is the right approach to get predictable output file size with SVT.

[2020-05-01 00:12] #1088 closed

[2020-05-01 00:29] tianjunwork commented on #1239
Hi @yermak , please refer to existing #798, fixing rate control is planned.

[2020-05-01 00:31] #1245 closed

[2020-05-01 00:33] tianjunwork commented on #1231
Hi @jbeich , there is no plan on our side to support 32-bit x86. We welcome contribution from community.

[2020-05-01 00:37] #1206 closed

[2020-05-01 00:45] tianjunwork commented on #1029
Thank your for volunteering:)
The images in the docs look fine to me. Could you tell me which one is not accessible?

[2020-05-01 01:00] tianjunwork commented on #943
Using vtune on Xeon 6140, I didn't observe what you see. Laptop is not the primary platform that SVT encoder targets.

[2020-05-01 04:46] DeeDeeG commented on #1029
Hi @tianjunwork,

I was thinking of blind computer users. They often use a screen reader to read aloud what's on the screen. But images generally can't be spoken aloud, unless they have text associated with them.

https://webaim.org/techniques/alttext/

So, on GitHub using MarkDown, this would be an image tag with generic alt text ("math"):

`![math](http://latex.codecogs.com/gif.latex?\alpha)` --

[2020-05-01 05:14] tianjunwork commented on #1029
Hi @DeeDeeG , I see, thank you for explaining how it works. It is very thoughtful! Thank you for the suggestion.
I wonder if you would like to contribute to make the change:)

[2020-05-01 05:33] DeeDeeG commented on #1029
I will have to see when I have some time available, but I would be happy to try then.

[2020-05-01 08:25] sandersaares commented on #1237
Right. I am looking for the analog of FFmpeg `-nostats` or x264 and x265 `--no-progress`.

[2020-05-01 09:03] ttrigui opened #1276 "crash when tile is enbaled and enc_dec segment number is reduced"
-i F:\stream\kirland_640_480_30.yuv -w 352 -h 288 -bit-depth 8 -tile-rows 1 -tile-columns 1 -enc-mode 0 -lp 2 -n 3 -b output.ivf -o recon.yuv
issue triggered with #1275

[2020-05-01 16:08] 1480c1 commented on #1237
So I have made a `--no-progress` option that looks like
[code]

however, due to the current limitations of the args handling, we don't have a switch option so it needs to be enabled by adding something afterward, like `--no-progress 1` or `--no-progress aaaaaaa`

[2020-05-01 17:01] tianjunwork commented on #1237
Thank you @1480c1 , it should be ok for now.

[2020-05-03 05:45] JouMxyzptlk opened #1280 "SVT-AV1 (still) crash at about ~440 to 450 frames."
HI There ! Actually reopening https://github.com/OpenVisualCloud/SVT-AV1/issues/1159 - maybe a another bug, maybe the same bug, I don't know.
Source still the same video: https://joumxyzptlk.de/tmp/svt-av1-0.8.1-bug/svt-0.8.1-input-video.7z
Versions used: All between the ones noted in issue 1159, the last one was this version; https://ci.appveyor.com/project/tianjunwork/svt-av1/builds/32597284/job

[2020-05-04 18:13] #1262 closed

[2020-05-04 21:41] #1237 closed

[2020-05-04 22:38] tianjunwork commented on #1280
Hi @JacksonDagger , Yeah, open another separate issue to discuss the encoding quality is good idea, since this one is for the crash.

[2020-05-05 11:21] spawlows commented on #927
Hi,

I can not reproduce memory leak error with:
"./SvtAv1EncApp -i BQTerrace_1920x1080_60.yuv -w 1920 -h 1080 -b out.ivf -enc-mode 4 -n 50 -rc 0 -q 24 -scm 1"

To reduce ram usage you can set "-lp x", or you can set "-intrabc-mode 0" for "-intra-period 0", but this will disable feature IBC (intra block copy).

@mtangtencent Could you confirm?

[2020-05-06 19:48] jackch1 opened #1284 "Add/clarify documentation for Constant Quantizer Setting"
Hi,
I was wondering if it would be possible to add some clarification to the constant quantizer mode.

I understand this mode supports 2-passes, as explained [here:](https://github.com/OpenVisualCloud/SVT-AV1/issues/730#issuecomment-545104906)
'The 2-pass implementation that is currently in the master is a milestone that is meant to add support of a second pass block level qp modulation / qp scali

[2020-05-07 04:11] tianjunwork commented on #1284
Hi @jackch1 , for `--rc 0` CQP mode, the `-q` value is used as an initial qp level in `adaptive_qindex_calc_two_pass` to adjust qp. `--max-qp` and `--min-qp` can be used to cap the final qp applied.

[2020-05-07 05:40] tianjunwork opened #1285 "Failed to read proper y4m frame delimeter. Read broken."
If `-n` > number of frame in y4m, `Failed to read proper y4m frame delimeter. Read broken.` show up during encoding.
[code]

[2020-05-07 10:12] rubenmt94 commented on #1114
Hello, sorry for the delay in my response, but due to the COVID crisis I have not yet been able to test your suggestion. When the health crisis ends I will prove it.

[2020-05-07 20:56] tianjunwork commented on #1280
Hi @JacksonDagger , hope you finished testing the crash issue. Any update? If it is fixed, could you close this one and open another one to track encoding quality?

[2020-05-07 20:58] #1269 closed

[2020-05-07 20:58] JacksonDagger commented on #1280
@tianjunwork Hi Jun, I left Intel a while ago

[2020-05-07 21:02] tianjunwork commented on #1280
Sorry, @ the wrong people 😓

[2020-05-07 21:03] tianjunwork commented on #1280
Hi @JouMxyzptlk hope you finished testing the crash issue. Any update? If it is fixed, could you close this one and open another one to track encoding quality?

[2020-05-07 21:20] JouMxyzptlk commented on #1280
Up to now no crash. Though: I "only" encoded ~123000 frames so far for six days in one go without crashing. So it is more stable than ever before, at least for me. I hope I'll get around to create an artificial quality-problem sample video over the weekend instead of just suggesting Ojisan to Marshmallow episode 02.

[2020-05-07 21:20] #1280 closed

[2020-05-07 21:42] tianjunwork commented on #1280
Thank you for confirming with such a long encoding:)
Yeah, a sample video would be better to target the quality issue.

[2020-05-08 02:33] mtangtencent commented on #927
The mem leak issue is gone when testing with the latest master.

[2020-05-08 02:33] #927 closed

[2020-05-08 05:57] yangluchina opened #1289 "There is no PSNR results output when completing the SVT AV1 encoding"
when I do the video transcoding in ffmpeg, x.264/x.265 can output the psnr results automatically, but SVT not. Then, I can use the command "ffmpeg -i inputvideo -i mytranscoding_video -lavfi psnr="stats_file=psnr.log" -f null - " to calculate the SVT HEVC psnr result, but there is no method to calculate the psnr of SVT AV1. I think SVT AV1 should integrate the psnr calculation into the ffmpeg as w

[2020-05-08 06:33] yangluchina commented on #1289
the error when using the command "ffmpeg -i inputvideo -i svtav1_video -lavfi psnr="stats_file=psnr.log" -f null - " is :
Decoder (codec av1) not found for input stream #1:0

[2020-05-08 06:48] mtangtencent commented on #943
There is still such issue on my laptop, over 20% of CPU time was used for multi-thread sync function. But as you said, it may be the platform issue.

[2020-05-08 08:02] silverbacknet commented on #1289
Your ffmpeg is way out of date then; update it and you should get PSNR back with the same workflow. SSIM reporting is apparently coming, but I doubt PSNR ever will.

[2020-05-08 08:11] yangluchina commented on #1289
I built the ffmpeg last month from 'git clone https://github.com/FFmpeg/FFmpeg'

[2020-05-08 16:19] 1480c1 commented on #1289
does your FFmpeg have libaom-av1 or libdav1d as an av1 decoder?

[2020-05-08 18:45] tianjunwork commented on #943
If you run svt-av1 encoder on your laptop(I guess it has less than 6 logical processors?), processors are over subscribed. Processing tasks in different kernels can't get done fast enough causing others to wait/sync. Laptop is not the primary platform to run SVT encoder. Probably it won't be fine tuned.

[2020-05-09 01:13] yangluchina commented on #1289
I tried to install the libaom-av1, but it seems that SVT-AV1 has conflict with libaom-av1. Like the issue in "libsvtav1 conflicts with other libraries in ffmpeg. Does not run unless they are disabled. #567", it hasn't resolved.

[2020-05-09 01:37] mrintrepide commented on #999
Confirm fail on Fedora 32 with GCC 10
Clang 10 not affected

[2020-05-09 02:19] 1480c1 commented on #999
Mimimum dockerfile to reproduce
[code]

[2020-05-09 02:46] silverbacknet commented on #1289
You still need at least one AV1 decoder in your ffmpeg build. Yes, SVT and libaom have symbols that conflict (that's going away very soon), until then you need to pick one. Or just build with libdav1d since that's generally the fastest software decoder of all. Or just install a pre-built ffmpeg that includes it.

[2020-05-09 04:13] tianjunwork commented on #1289
Thanks @silverbacknet @1480c1 for helping out.

[2020-05-09 04:22] luigi311 commented on #999
This should not be specific to fedora, this should be an issue that is tied to GCC-10. Installing GCC-10 on any OS will trigger this error it just so happens that fedora rawhide was the one i tested that was erroring out on this due to it coming with GCC-10

[2020-05-09 04:39] tianjunwork commented on #999
Thanks all reporting and analyzing issue with GCC 10. Welcome contributions. We will also look into.

[2020-05-09 22:42] JouMxyzptlk opened #1293 "Quality of SVT-AV1: Too much filtering compared to x264"
Any codec must compare, quality-wise, against x264 --preset veryslow --crf 20, Used via ffmpeg  -vcodec libx264 -preset:v veryslow -crf 20 (-tune Anime/Film if needed).

Most of the time SVT-AV1 0.8.3 with --rc 0 --qp 35 --lp 24 --preset 1 is en par with those x264 settings. But there are some cases where you need to go up to --qp 24 to match with x264, resulting in a file size about the same as x

[2020-05-10 02:22] hassount commented on #1293
@JouMxyzptlk
thank you for the report, in general newer coding standards tend to have smoother textures than AVC due to the use of larger block sizes and the newer filters that tend to smooth the pictures for a better prediction and larger objective video compression gains rather than the subjective visual gain (that's a long story by itself). AV1 / VP9 add another layer to this with the Altref fe

[2020-05-10 06:43] JouMxyzptlk commented on #1293
Perfect answer!
--enable-altrefs 0 is the x265 --no-strong-intra-smoothing, which kills way too many details too. And we have more control on the level of smoothing now.
The other difference: With SVT-AV1 the file size increases by only 2 to 3 percent, whereas x265 files get so big that it makes x265 useless (average about 10% better than x264, some cases bigger than x264).
Maybe adding an extra h

[2020-05-10 06:43] #1293 closed

[2020-05-10 17:21] tianjunwork commented on #1293
Thanks for the suggestion on tuning guide.

[2020-05-10 21:15] JouMxyzptlk commented on #1293
For this Ojisan testsample: --altref-strength 0 --altref-nframes 10 beats using --enable-altrefs 0
For another part of the same episode  --enable-altrefs 0 beats --altref-strength 0 --altref-nframes 10
Overall:  --altref-strength 0 --altref-nframes 10 wins.
It is funny that  --altref-strength 0 --altref-nframes 0 is not actually the same as  --enable-altrefs 0, though human logic says "should be t

[2020-05-10 22:46] tianjunwork commented on #1293
With `--enable-altrefs 0`, no filtering is applied.
`--altref-strength 0 --altref-nframes 0` doesn't mean no filtering to all frame type in all conditions.

[2020-05-11 05:31] JouMxyzptlk commented on #1293
And the conclusion ? Reads like "they are the same, the code says so" or the other way around?
The tests of `--enable-altrefs 0` vs. `--altref-strength [0-6] --altref-nframes [0-10]` shows visible difference, even for 0/0.
3 MB, 81 files, all values, source video and x264 result, https://joumxyzptlk.de/tmp/svt-av1/svt-test2-0.8.3-encode-test-all-altrefs.7z

[2020-05-11 22:50] joelsole commented on #1127
@lijing0010  Still hanging for me *after* the PR got merged (but not when I was testing the PR). Please, could you double-check that at your end?

We should test with more complex reference frame structures. To that end, I have pushed this config: https://github.com/OpenVisualCloud/SVT-AV1/blob/31b_hang/Config/PredStruct_level5_full.cfg
Could you also double-check with this config file? For me, th

[2020-05-12 00:57] lijing0010 commented on #1127
@joelsole , did a quick check.
The macro "MRP_31B_SUPPORT" is removed in EbDefinition.h, and forgot to remove it in EbEncHandle.c, so it will hang with default reference frame structures.

And I'll check for the ref frame structures for cfg files

[2020-05-12 02:31] yangluchina commented on #1289
libdav1d works now. thanks.

[2020-05-12 03:26] lijing0010 commented on #1127
@joelsole for the cfg, I don't think the current implementation of "manual pred struct" can handle arbitrary reference frame structures.
@elintencent any comments?

[2020-05-12 04:54] tianjunwork commented on #1289
Glad to see decoder works. Please close the issue if no more help is needed.

[2020-05-12 04:58] tianjunwork commented on #1293
The other way around. They are not the same.
`--enable-altrefs 0` != `--enable-altrefs 1 --altref-strength 0 --altref-nframes 0` with which filtering is still executed in some conditions.

[2020-05-12 05:10] joelsole commented on #1127
It does work for 4 levels. For 5 levels and the provided config, it works for presets down to 3. It starts failing at preset 2 with the following stack trace:

 frame #3: 0x000000010013e73c libSvtAv1Enc.0.dylib`eb_block_on_semaphore(semaphore_handle=0x000000010d6c3b20) at EbThreads.c:227:9
    frame #4: 0x000000010013db20 libSvtAv1Enc.0.dylib`eb_get_empty_object(empty_fifo_ptr=0x000000010d6c3ae0,

[2020-05-12 06:39] lijing0010 commented on #1127
For level5 cfg you attached, some frame will have more than 4 forward refs.
And  layer1 will have positive values in ref1, which will probably have problems.

And it end up in function av1_generate_minigop_rps_info_from_user_config() (it will return EB_Corrupt_Frame)

[2020-05-12 08:57] yangluchina commented on #1289
ok, let me close this issue now.
And hope the issue  #567 can be fixed asap.

[2020-05-12 08:58] #1289 closed

[2020-05-12 10:22] JouMxyzptlk commented on #1293
Thank you for confirming!

[2020-05-12 19:19] joelsole commented on #1127
I have modified the cfg as per your suggestion (though, note that the current PredStruct_level4.cfg has positive values in ref1). It still hangs.

[2020-05-12 19:34] ePirat commented on #1248
Good idea, but I don't know how to check the version of nasm in CMake, maybe someone else has an idea how to do this?

[2020-05-12 19:36] 1480c1 commented on #1248
Maybe check `CMAKE_ASM_NASM_COMPILER_VERSION` and do something like
[code]

[2020-05-13 00:45] lijing0010 commented on #1127
I'm not sure if I remember it correctly, the positive value in ref1 only applies to layer0, there's some parameter ref_frame_sign_bias which will affect that.
I'm not very clear about the logic in av1_generate_minigop_rps_info_from_user_config(), need some time to look into it

[2020-05-13 01:24] quietvoid opened #1297 "Blocking in keyframes with motion"
Hello, I've encountered a bug where the keyframe quality is heavily affected.

The SVT-AV1 version I'm using is `SVT-AV1 Encoder Lib v0.8.3-22-ga0524a94-dirty`
The source sample and encoded files are available here: https://mega.nz/folder/ZQF3SQrS#gphO2sbPN5W0jWJaWZJffw

The SVT-AV1 0.8.3 and 0.8.2 tag releases are also affected.
The blocking is identical to `0.8.3-22-ga0524a94-dirty`.

SVT-AV1 0.

[2020-05-13 05:02] tianjunwork commented on #1297
Hi @quietvoid , thanks for the detailed description.
As a quick experiment, adding `--enable-altrefs 0` to your `--keyint 1` command line mitigates the blocking artifacts.
Hi @mafonsoN, the problem here is, for **key** frame, using `--keyint 1 --enable-altrefs 1`, the moving area is divided into more small blocks(compared with altref disabled) which makes the blocking artifacts very obvious. Could

[2020-05-13 05:12] mafonsoN commented on #1297
@tianjunwork I'll have a look.

[2020-05-13 11:59] quietvoid commented on #1297
Furthermore, using tiles (in this case `--tile-rows 3 --tile-columns 3`) makes the blocking more visible.

[2020-05-13 17:05] tianjunwork commented on #1297
Hi @quietvoid, I tried disabling tile also yesterday, but there was no difference.

[2020-05-13 17:07] quietvoid commented on #1297
Hmm, maybe I'm remembering wrong. Sorry.

[2020-05-13 17:14] tianjunwork commented on #1297
It's totally fine. Could you confirm on your side again?
Using `--keyint 1`:
1. Disabling tile ==> no difference?
2. Disabling altref ==> mitigating blocking artifacts.

[2020-05-13 18:37] quietvoid commented on #1297
That's mostly correct.
There is however a difference with disabling tiles, the blocking is still the same however the block edges are smoother and less visible in the darker areas of the frame.

Disabling altrefs with `--enable-altrefs 0`, the output encode has no visible block edges for me and the image looks fine.

See here for the tiles vs. no tiles images:

![01a](https://user-images.githubuse

[2020-05-13 19:39] tianjunwork commented on #1297
Thanks for confirming with more testing.
Maybe you could circle out the different area in above two pictures? I can barely see any difference:)
I think we both agree that `--enable-altrefs` makes the most difference. Let's focus on tuning that one first.

[2020-05-13 19:55] #999 closed

[2020-05-13 19:58] quietvoid commented on #1297
Agreed.

I made this, hopefully it's easier to see.
<img width="900" alt="zoomed-comp" src="https://user-images.githubusercontent.com/39477805/81858962-8fb30900-9532-11ea-8ab0-1028ab386fe9.png">

[2020-05-13 20:55] quietvoid commented on #1225
Hi @hassount.
I'm not sure if this issue is only related to the SVT-AV1 decoder.

I'm seeing artifacts (mostly chroma related) at the bottom of non multiple of 8 resolution videos.
These kind of artifacts have been around for a while, back to at least v0.7.0.

This issue possibly targets the same bug I'm encountering so I'm not sure if a new issue should be created.
Basically, 10 bit sources with

[2020-05-13 21:43] tianjunwork commented on #1225
Hi @quietvoid , I wonder if you attached the correct out.ivf file? Since I didn't see any artifacts at the bottom.
Are you using master tip? I will try it out too.

[2020-05-14 00:45] quietvoid commented on #1225
The sample uploaded is correct and I do see artifacts in there.

This is how the bottom left of frame 3 looks like zoomed in:
<img width="848" alt="frame3" src="https://user-images.githubusercontent.com/39477805/81879776-aa4ca880-9559-11ea-8950-7ee34a090994.png">

There is a green line in the image. It seems to only be present in the U and V planes, the Y plane seems to be fine.

I have updated my

[2020-05-14 03:16] tianjunwork commented on #1225
With `./SvtAv1EncApp -i source-non-mod8.y4m --input-depth 10 --rc 0 --qp 5 --preset 4 -b out.ivf`, I only got 7 output frames. Not sure about your out.ivf with 11 frames.
Any way, I tried to decode your attached out.ivf.
1. `./SvtAv1DecApp -i out.ivf -o out.yuv`, didn't observe both artifacts.
2. Also tried with libdav1d eaedb95, didn't observe both artifacts either.
[code]
Could you also double c

[2020-05-14 04:06] quietvoid commented on #1225
Hello. I am not sure why we are seeing different results.

Decoded `v0.8.3-26-g7bdab42e-dirty.ivf` with the different decoders:

.\dav1d.exe -i .\v0.8.3-26-g7bdab42e-dirty.ivf -o dav1d_0.6.0-95-geaedb95.yuv
.\SvtAv1DecApp.exe -i .\v0.8.3-26-g7bdab42e-dirty.ivf -o out.yuv

I have done sha256sum on the decoded files (trimmed to look nice):

9ad77c718ecea8717b6246283 dav1d_0.6.0-95-geaedb95.yuv
9ad77

[2020-05-14 05:52] tianjunwork commented on #1225
Using your command and input file, I did only generate 7 output frames with total 1758580 bytes.
[code]
![image](https://user-images.githubusercontent.com/4551215/81897613-d40ecb00-956b-11ea-8d87-633171379785.png)

[2020-05-14 06:20] tianjunwork commented on #1225
Really sorry about all the confusion. I guess when I was copying the source yuv, vpn lost connection, only partial are copied to remote server.
Now I can reproduce both artifacts. Curious how you found them? It is hard by bare eye. And psnr may not drop that much with that small artifacts?
This should count as a separate issue.

[2020-05-14 06:48] oviano opened #1301 "Request for static Windows release libs similarly to SVT-HEVC"
I recently integrated SVT-HEVC into my project, which links against the FFmpeg libraries. I build FFmpeg using ShiftMediaProject which makes it possible to build natively using Visual Studio.

It was very useful to be able to download the header files and static libs for SVT-HEVC without needing to build SVT at all.

It seems that the same is not available here - could it be added?

[2020-05-14 13:09] quietvoid commented on #1225
I only look at the output encoded images, not metrics.
Been playing with all the AV1 encoders for almost 2 years now and this is one of the long standing issues I keep seeing with SVT-AV1.

I will make a proper issue for this. Thank you.

[2020-05-14 13:35] quietvoid opened #1302 "Artifacts when encoding non multiple of 8 resolution, 10 bit videos"
Hi.

I'm seeing artifacts (mostly chroma related) at the bottom of non multiple of 8 resolution videos.
These kind of artifacts have been around for a while, back to at least v0.7.0.

Basically, 10 bit source videos with non mod 8 resolutions like 1920x804 are being encoded like this by SVT-AV1:
`SVT [config]: SourceWidth / SourceHeight                                        : 1920 / 808`

I've te

[2020-05-14 15:21] tianjunwork commented on #1301
Hi @oviano , thanks providing feedback. Sure, we will look into it.

[2020-05-14 15:48] 1480c1 commented on #1301
@oviano it would be better if you commented on https://github.com/OpenVisualCloud/SVT-AV1/pull/1300 since that is where things are currently being decided on for releases

[2020-05-14 16:42] oviano commented on #1301
Done, thanks https://github.com/OpenVisualCloud/SVT-AV1/pull/1300#issuecomment-628754031.

[2020-05-14 16:42] #1301 closed

[2020-05-15 08:23] MindyYoung opened #1305 "A question about deblocking filter level"
Hi,
 I notice that the loop filter (deblocking filter ) level is set as a function of AC quantization step size. The parameters of the function seem to be carefully designed,  but I cannot find any articles or annotations (in svt-AV1) describing the details of the design. Are these parameters obtained through assessment experiments？ Is there any mathematical derivation？At your convenience, would y

[2020-05-16 01:08] tianjunwork commented on #1305
Hi @chkngit @hguermaz could you help to comment on this question? Thank you.

[2020-05-18 20:59] tianjunwork commented on #1301
Hi @oviano, assets are updated in https://github.com/OpenVisualCloud/SVT-AV1/releases/tag/v0.8.3 as discussed in #1300.

[2020-05-19 17:18] tianjunwork opened #1308 "Sanitizer(Thread) test fails"
Hi,
I analyzed few warnings from Sanitizer(Thread). Fixing all warnings is to complicated to be done in few days. I did not see any warning which can affect output.
Sanitizer thread pointed out interesting places in the code. Some members in SequenceControlSet set from static_config should be configured during encoder initialization, not repeatable updated in the thread. To fix this it need deeper

[2020-05-20 00:28] 1480c1 commented on #1271
@Selur are you sure you spelled those tokens correctly? Looking at Source/AppEncAppEbAppConfig.c, some of the ones that you mentioned don't exist, but there are ones that are one letter off.

`--enable-intra-edge-sk` vs
`--enable-intra-edge-skp`

[2020-05-20 00:28] 1480c1 commented on #1271
Also, @adaria are you currently working on this? If not I can start working on it

[2020-05-20 00:43] adaria commented on #1271
Hi @1480c1, I haven't got round to starting on this yet. If you have cycles available, please go ahead. Thank you!

[2020-05-20 02:19] tianjunwork commented on #1233
Hi @Cidana-Developers, Could you take a look?

[2020-05-20 06:07] Cidana-Developers commented on #1233
This issue was fixed in PR #1243, which was merged by you just the day you pinged me ;-)
Might be busy forgetting close this issue.

[2020-05-20 10:26] tkwf opened #1309 "Encoder crashes with enc_mode = 0 and rate_control_mode = 1"
Command line:
-i input.yuv420 -w 1280 -h 720 -fps 30 -rc 1 -enc-mode 0 -n 10 -b output.ivf

[2020-05-20 16:12] tianjunwork commented on #1233
@Cidana-Developers Sorry:) Thank you. I will close it.

[2020-05-20 16:12] #1233 closed

[2020-05-21 12:52] spawlows opened #1312 "Encoding R2R issue for 10bit"
Command line:
`-w 1920 -h 1080 -i Test_10bit_1920x1080_50Hz_P420.yuv  -b out.ivf -bit-depth 10 -n 100 -enc-mode 8`

I reverted 120 commits and issue still exist.
For param: -lp less or equal 3 issue does not exist.

[2020-05-21 21:41] #1309 closed

[2020-05-21 22:32] EricLamVCD commented on #1302
For git tag v0.8.3, I tested presets 0 to 8. I was able to reproduce the issue for presets 0 to 7.
Also, I tested using master 34dbc84 for presets 0 to 8. I did not see the issue.

@quietvoid Could you test the latest master to see if you see the issue again?

[2020-05-21 23:06] quietvoid commented on #1302
Hi @EricLamVCD. I have built master and encoded the sample file and the issue is not present wit preset 4.

Log:

SVT [build]  :	GCC 10.1.0	 64 bit

So it does seem that the artifacts have been corrected. Thank you.

[2020-05-21 23:36] #1302 closed

[2020-05-22 19:17] OmranAbdelkafi commented on #1312
Hi @spawlows Could you please share the yuv used ? Thanks

[2020-05-24 12:51] NilsThie opened #1314 "FFMPEG version 4.2.3 segmentation fault (core dumped)"
When I run the encoder in the latest version of FFMPEG, I get the following errors:

`segmentation fault (core dumped)`
`memory access error (memory dumped)`

I'm using Ubuntu 18.04.
SVT-AV1 standalone and in older FFMPEG versions, it works fine.

[2020-05-24 16:02] NilsThie commented on #1314
I disabled libaom, now it works. Maybe a problem with new libaom 2.0.

[2020-05-24 16:21] 1480c1 commented on #1314
SVT-AV1 and libaom have symbol conflicts for now

[2020-05-24 17:06] 1480c1 commented on #1314
Related issue: https://github.com/OpenVisualCloud/SVT-AV1/issues/567

[2020-05-25 09:16] xudongxu135 commented on #1268
Is there any progress on this issue?
looking forward to your reply, thanks!

[2020-05-25 11:09] spawlows commented on #1312
I use ParkJoy_1920x1080_10bit_unpacked_50Hz_P420.yuv to reproduce issue.

[2020-05-25 17:14] hassount opened #1315 "[SVT_AV1] Open Dev Meeting June 3-2020 [SVT-AV1 Re-licensing NOTICE ]"
Hello All

I hope this message finds all of you, family and loved ones safe and healthy.

The sixth Open Dev Team is scheduled for June 3rd 2020, @ 8:30 - 9:30 am PDT

Created a new issue to track the discussion items for this meeting, please let us know your thoughts / suggestions for topics on the Agenda.

Using the same dialup info from last time:
Join Hangouts Meet
meet.google.com/rty-mkxi-wvi

[2020-05-25 17:19] hassount commented on #1199
#1315

[2020-05-25 17:22] #1199 closed

[2020-05-25 19:48] quietvoid commented on #1315
Hi. In #932 it was mentioned that the `--film-grain` switch would be looked at.

It could be an interesting topic to revisit, as I don't think it works in current master.
Also an extension to the topic, whether there are plans to allow users to pass a film grain model file (like aomenc does). Since the current implementation is the same.

Thank you. :smile:

[2020-05-26 21:28] 1480c1 commented on #1160
@ePirat do you also want to add the sanitizers for windows? It seems that the ones used in msvc are just based on clang, so I'm not sure how useful those would be outside of certain windows specific code

[2020-05-26 21:30] ePirat commented on #1160
I am unfamiliar with how to enable sanitizers on Windows, so would feel more comfortable with someone familiar with the Platform to do that.
If it's just using the clang static analyzers, I am not sure either if it will be very useful, although having the Windows specific codepaths tested is probably a good thing even though there are not that many.

[2020-05-26 21:31] 1480c1 commented on #18
Is the current .clang-format aligned properly with the current style @hassount @chouquette? Can this issue be closed now?

[2020-05-26 22:23] chkngit commented on #1160
most of the SVT R&D development is done on Viusal studio, so we would love to have this option supported at the code dev time

[2020-05-27 01:15] hassount commented on #18
I believe the file has now been added, we might need to run a cleanup later, but I believe this issue has been resolved as to the existence of the clang-format file

[2020-05-27 16:37] 1480c1 commented on #1314
@NilsThie if there's nothing else, can you close the issue?

[2020-05-27 19:50] 1480c1 commented on #1160
It seems that sanitizer support within visual studio is based on clang-cl being used and using their sanitizer instead, and I'm not sure if that's available in github actions, since I'm not sure how to install visual studio modules without a gui

[2020-05-28 01:28] EricLamVCD commented on #1312
I tried to reproduce the R2R issue with the ParkJoy_1920x1080_10bit_unpacked_50Hz_P420.yuv clip with commit #326f320 but no r2r was found.

[2020-05-28 01:31] silverbacknet commented on #1312
@spawlows What CPU are you using? Or perhaps, what is the overall system config?

[2020-05-28 13:20] spawlows commented on #1312
Hi,

I tried to reproduce this on few platforms. On my laptop i can reproduce this every time, but on server i can not reproduce this too.

I found that this command reproduce issue on my laptop and server with windows:
```SvtAv1EncApp.exe -w 1920 -h 1080 -i ParkJoy_1920x1080_10bit_unpacked_50Hz_P420.yuv  -b PJ7.av1 -bit-depth 10 -n 100 -enc-mode 8 -lp 8```

[2020-05-28 16:10] spawlows commented on #1312
Hi,
I realized that ParkJoy_1920x1080_10bit_unpacked_50Hz_P420.yuv have unsupported 10bit format and this will reproduce issue on garbage video.
For correct video which reproduce issue I am using Cactus_10bit_1920x1080_50Hz_P420.yuv

[2020-05-28 16:39] #1314 closed

[2020-05-28 17:41] intelmark opened #1318 "Random/non-standard sized videos show corruption after encoding"
Generated several non-standard sized test videos using GStreamer. After encoding the streams show corruption.

(Similar issue found in SVT-HEVC and found to be reproducible with v1.2.0 tag (10/2018)
[https://github.com/OpenVisualCloud/SVT-HEVC/issues/533](url)

![image](https://user-images.githubusercontent.com/50715202/83174467-4c7a9d80-a0cf-11ea-81f0-ff77a959eb84.png)

gst-launch-1.0 videotestsr

[2020-05-28 18:15] OmranAbdelkafi commented on #1312
Hi @spawlows for the case of ParkJoy_1920x1080_10bit_unpacked_50Hz_P420.yuv how many runs you will need to see the issue ?I still cannot see it? even if it s not a supported format , garbage video won't essentially cause a R2R.
Also what is your laptop CPU and specifications ? We are trying to reproduce the same environment.

[2020-05-28 21:42] tianjunwork commented on #1318
Video files generated by gst with those resolution looks corrupted.

[2020-05-28 21:42] #1318 closed

[2020-05-28 23:22] th0ma7 opened #1319 "release source filename missing app info"
The filename for all releases doesn't include the package name but rather only the version:
[code]
This will eventually cause issues for packagers.
At the very least `svt-av1_v0.8.3.tar.gz` or similar would be meaningful

[2020-05-28 23:23] 1480c1 commented on #1319
Pretty sure that's github's fault

[2020-05-28 23:28] 1480c1 commented on #1319
When I download using curl or wget, it will resolve to the basename of the link, but when you download through the browser, the file name will be generated as `SVT-AV1-0.8.3.tar.gz`

[2020-05-28 23:29] 1480c1 commented on #1319
I guess we can try using https://git-scm.com/docs/git-archive, but idk if it's really worth setting up

[2020-05-28 23:55] th0ma7 commented on #1319
btw, mouse-over or right clicking provides a URL with only a version number.  Same issue with hevc-av1 and pretty much the first time I notice this on github project.

[2020-05-29 00:02] ccccheung commented on #1285
Tested against master revision `326f320`
Error still occurs when n is greater than the number of frames.

[2020-05-29 12:46] spawlows commented on #1312
Hi,

I do tests on this commit: 326f320

My laptop is Intel(R) Core(TM) i5-8350U, 4 cores 8 threads. I agree that garbage video won't essentially cause a R2R. Usually it is  enough to run 2 or 3 times to see differences in bitstreams.
With parameter '-lp 8' (on my laptop it is default value because i have 8 threads in CPU) that same issue i can reproduce on 2 CPU platform: Intel(R) Xeon(R) Gold 62

[2020-05-29 18:29] ccccheung commented on #736
Can still reproduce this bug on Linux and windows  with the command line suggested in the original issue as well as the one that was suggested in the comments in https://github.com/OpenVisualCloud/SVT-AV1/commit/326f320be02ef0d78f6520fa2835b29624b28955

[2020-05-31 23:28] th0ma7 commented on #1319
After further investigating this is a false positive: it's the default expected behaviour.  closing.

[2020-05-31 23:28] #1319 closed

[2020-06-02 09:29] EwoutH commented on #1315
Would be interested in updates about preset tuning and rate control. Also maybe a roadmap to a 1.0 release, if this is in sight yet, and an update on future ABI stability.

I see a huge amount of work is done on the [svt-01](https://github.com/OpenVisualCloud/SVT-AV1/tree/svt-01) branch. I would be interested in the scope of this branch and the potential size of the PR (it shouldn't be too large i

[2020-06-02 21:01] hassount commented on #1315
One more topic to be added to tomorrow's meeting:
We're planning to re-license the SVT-AV1 project using the [AOM license](https://github.com/OpenVisualCloud/SVT-AV1/blob/master/LICENSE_AOM.md) as a large portion of the code is coming from libaom and carrying that license and to avoid any confusions on dual licensing.
Reaching out to the following contributors to make sure there are no objections

[2020-06-02 22:45] 1480c1 commented on #1315
@hassount you might have better luck doing what vmaf did and trying to email the authors from the commits and trying asking them though emailing them rather than pinging them

`git shortlog --summary --numbered --email`
https://github.com/Netflix/vmaf/commit/dedaa94dc73a0b8f3cbc5df4dd2b24d1375e037f

[2020-06-03 08:52] markshuttle commented on #1315
No objections here, of course :)

[2020-06-03 09:46] RidgeSTD commented on #1315
No objections from here.

Mit freundlichen Grüßen!
Wenlan
在 2020年6月2日 +0200 23:02，Hassene Tmar <notifications@github.com>，写道：

[2020-06-03 10:45] klillevo commented on #1315
No objections.

[2020-06-03 10:57] Kagami commented on #1315
No objections.

[2020-06-03 11:33] gnafuthegreat commented on #1315
I don't think I've contributed any code, but I saw I was pinged :-).  I don't have any objections; seems like a reasonable move.

[2020-06-03 11:57] vibhoothiiaanand commented on #1315
I have not contributed to Codebase as a whole, as I have been tagged, I have no objections for this, this looks like an important change which is required for wider adoption of AV1 in general since Licensing is important :)

[2020-06-03 13:34] tmatth commented on #1315
No objections.

[2020-06-03 13:59] jstebbins commented on #1315
On Tue, 2020-06-02 at 14:02 -0700, Hassene Tmar wrote:

I have no objection to the relicensing.

[2020-06-03 14:44] novedevo commented on #1315
No objections from me.

On Tue., Jun. 2, 2020, 14:02 Hassene Tmar, <notifications@github.com> wrote:

[2020-06-03 14:54] DesWurstes commented on #1315
No objections,

[2020-06-03 15:42] hassount commented on #1315
@andrey-norkin could  you please look into that @quietvoid could you please start an issue on this with whatever you see dis-functional

[2020-06-03 16:03] hassount commented on #1308
[code]

[2020-06-03 16:09] hassount opened #1321 "SVT_ERROR and FATAL to use asserts in debug time and run time switch"
- if debug use asserts / otherwise printf
- add run time capabilities by creating a function pointer to whether we should mute or enable to logging levels

[2020-06-03 17:53] quietvoid commented on #1315
No problem, I'll run some tests and open an issue.

[2020-06-03 18:34] quietvoid opened #1322 "The --film-grain switch has no effect"
Hi.

I'm opening this issue because the `--film-grain` switch does not seem to work.
Also related: https://github.com/OpenVisualCloud/SVT-AV1/issues/1315#issuecomment-638280908
There is no denoising nor film-grain parameters added in the bitstream.

I have built the binary on Linux from master.

SVT [build]  :	GCC 10.1.0	64 bit
LIB Build date: Jun  3 2020 13:53:26

I am running these CLIs to encod

[2020-06-03 20:36] 1480c1 commented on #1285
@xuguangxin, do you have any idea what might be causing this issue?

I haven't had enough time to be able to try to debug this yet

[2020-06-03 20:50] 1480c1 commented on #1315
no objections.

[2020-06-04 00:06] luigi311 commented on #1315
No objections

[2020-06-04 02:20] xuguangxin commented on #1285
y4m has a file signature and global params. When you loop the file, you need to skip them and fetch the first frame only.
see
https://wiki.multimedia.cx/index.php/YUV4MPEG2 for details

[2020-06-04 06:01] #441 closed

[2020-06-04 06:01] #1271 closed

[2020-06-04 21:04] #18 closed

[2020-06-04 21:20] hassount commented on #1315
Thank you for the answers on the re licencing, a second note pinging:
@EwoutH @jbeich @tux3 @sandersaares @Spacefish @murillo128 @ferdnyc @eclipseo @dprestegard @brion

[2020-06-04 21:38] jbeich commented on #1315
No objections.

[2020-06-04 22:41] tux3 commented on #1315
No objections as well.

[2020-06-05 07:01] EwoutH commented on #1315
No objections, I like the idea of a single license!

[2020-06-05 11:03] grill05 commented on #798
@hassount I've been out of touch with SVT's progress for a while. Any movement on this lately ? thanks

[2020-06-05 11:04] grill05 commented on #798
@hassount @tianjunwork  I've been out of touch with SVT-AV1's development for a while. Any movement on this issue lately? Thanks

[2020-06-05 16:44] 1480c1 commented on #1315
@hassount you might want to create a new issue tracking license change stuff

[2020-06-05 22:12] hassount commented on #798
@grill05 unfortunately not much yet, still focused on Quality / Speed optimizations for VOD applications, but we are putting this project in the pipeline so hopefully before the EOY.

[2020-06-05 22:45] #131 closed

[2020-06-05 23:14] 1480c1 commented on #1160
@chkngit can you try running
[code]

[2020-06-05 23:15] 1480c1 commented on #1160
You might need to add the clang-cl option in the visual studio installer

[2020-06-06 16:44] FreddyX078 opened #1327 "Build error ffmpeg plugin"
Today, I'm trying to build SVT-AV1 and the plugin for FFMPEG but it fails with the following error:

`
libavcodec/libsvt_av1.c:416:5: error: implicit declaration of function 'ff_side_data_set_encoder_stats' is invalid in C99 [-Werror,-Wimplicit-function-declaration]
    ff_side_data_set_encoder_stats(pkt, headerPtr->qp * FF_QP2LAMBDA, NULL, 0, pict_type);
    ^
1 warning and 1 error generated.
mak

[2020-06-06 16:49] 1480c1 commented on #1327
are you building on the master branch of FFmpeg?

related pr https://github.com/OpenVisualCloud/SVT-AV1/pull/1326

[2020-06-06 18:45] FreddyX078 commented on #1327
Yes, I'm building on ffmpeg master branch.

[2020-06-06 19:57] 1480c1 commented on #1327
If you want to compile SVT-AV1 with FFmpeg's master branch, you will either need to use the patches linked in #1326 or you can use these https://gist.github.com/1480c1/ecc1dd3a15093398492c86f2314f4a67

Else, to use the ones currently in the master branch, you will need to use n4.2.3

[2020-06-07 11:11] FreddyX078 commented on #1327
Thank you, that did the trick!

[2020-06-07 11:11] #1327 closed

[2020-06-08 02:14] Cidana-Developers opened #1328 "Crash when use-default-me-hme is set as 0 without presetting search area height"
The CLI I used is:
-i ../../test/vectors/niklas_640_480_30.yuv -w 640 -h 480 -b output.ivf -o recon.yuv -stat-report 1 -q 15 --use-default-me-hme 0

I run the program in Visual Studio 2019, in Release mode

The program crashed as soon as i run it, the crash was a "Access violation reading"
![img1](https://user-images.githubusercontent.com/59598349/82621965-23f62d80-9c0f-11ea-8a11-31aab3bf20ca.png)

[2020-06-08 04:36] xuguangxin commented on #567
@moisespr123 could you try https://github.com/OpenVisualCloud/SVT-AV1/pull/1329?

thanks

[2020-06-08 17:45] lu-zero opened #1330 "nasm should not be required on non-x86"
cmake complains about not having nasm even if the host platform is non-x86.

[2020-06-09 13:15] tszumski commented on #1276
Hi, I tried to reproduce this issue with 9efce7ab812f3dfae662eb261e98495745a5b0f6 as a HEAD, both on visual studio 2019 and gcc 7.3.1 Debug/Release build and I cannot get "crash", I tried to modify tile-rows/tile-columns/lp/n parameters but still without crash.
Current HEAD 33f6a51f93d9d71e5422a6a98d98a2013c74081f also doesn't crash.

[2020-06-10 06:49] sandersaares commented on #1315
No objections from me.

[2020-06-10 20:09] zyue128 opened #1333 "How to disable restoration filter"
Hi, I am trying to run some performance comparison with restoration filter ON/OFF.
But by toggling  --enable-restoration-filtering between 1/0 does not show any difference. I am wondering if I am missing anything that block the enabling/disabling.
here is the commend line I used:
./SvtAv1EncApp -i input.yuv -w 352 -h 288  -b out.ivf --fps-num 30 --fps-denom 1 -n 10 --scm 0 --latency-mode 0 --prese

[2020-06-11 17:01] hassount commented on #1315
By the time I thought about this, it seems like we're almost done :)

[2020-06-11 17:06] hassount commented on #1315
so we have the following contributors left: @Spacefish @murillo128 @ferdnyc @eclipseo @dprestegard @brion

[2020-06-11 18:47] ferdnyc commented on #1315
Oh, sorry, didn't realize you needed an explicit answer. I didn't have any objections to raise, so I didn't! 😉

Anyway: No objections here.

[2020-06-11 18:51] dprestegard commented on #1315
Thumbs up from me

[2020-06-11 19:47] #1136 closed

[2020-06-11 19:47] #1174 closed

[2020-06-12 18:45] hassount commented on #1333
@zyue128
interesting, I believe this is due to restoration being off already in --preset 8 but ON should be able to force it on. @adaria would you be able to help with this ?

[2020-06-12 18:52] adaria commented on #1333
Sure thing. I'll have a look

[2020-06-12 21:48] adaria commented on #1333
Hi @zyue128,
The restoration filter is indeed off for presets >=8 and `--enable-restoration-filtering 1` forces it on. I ran a quick test with your command line parameters on multiple 8- and 10-bit sources and I do see a BD rate difference from restoration filtering, see results below. Could you elaborate on not seeing a difference in your experiments? Thanks!

**BD rates for restoration-filtering

[2020-06-12 22:01] zyue128 commented on #1333
Thank you for your help. Seems like it's indeed working. It might be because the resolution of the test suites I am running is very low, thus the benefit of LRF is not very obvious.
I will try to lower the presets to play around the params.
Imma close the issue now. Thank you so much!

[2020-06-12 22:02] #1333 closed

[2020-06-12 23:13] 1480c1 commented on #1221
@ePirat does this issue need to still be open now that we've added artifacts to github actions?

[2020-06-12 23:26] ePirat commented on #1221
Probably not

[2020-06-12 23:26] #1221 closed

[2020-06-14 01:38] #1248 closed

[2020-06-14 01:38] #1330 closed

[2020-06-15 21:06] ttrigui opened #1337 "Decoder issue"
- Not able to decode streams generated with svt-av1. Tested [https://github.com/OpenVisualCloud/SVT-AV1/commit/04cd37441883e87c8757f963a62e5fe157a71386](url) Error message is as follows:
obudec: OBU size is too small.
obudec: Failure reading first OBU.
Unsupported input file format.
Error in configuration.

- Warning when decoding the 10bit set from https://code.videolan.org/videolan/dav1d-test-da

[2020-06-15 21:08] ttrigui commented on #1337
@joelsole Are you aware of any decoder issue?

[2020-06-15 23:04] joelsole commented on #1337
No - the tracker checks for mismatches in the decoded and reconstructed
videos and it currently seems happy:

https://videocodectracker.dev/raw_data_files/all_seqs_libaom_20200612_bbc7d9c_enc-mode0.json

On Mon, Jun 15, 2020 at 2:08 PM ttrigui <notifications@github.com> wrote:

[2020-06-15 23:11] joelsole commented on #1337
This one corresponds to the latest svt-av1 run:

https://videocodectracker.dev/raw_data_files/all_seqs_svtav1_20200614_04cd374_enc-mode0.json

On Mon, Jun 15, 2020 at 4:04 PM Joel <notifications@github.com> wrote:

[2020-06-15 23:40] ttrigui commented on #1337
Thank you @joelsole . this is encode and decode using latest svt-av1, correct? is there any specific settings for decode? I only used two parameter -i and -o.

[2020-06-16 08:10] EwoutH commented on #1315
@hassount Would it be possible to rebase the _svt-01_ branch on master this week, to allow testing and comparisons?

[2020-06-17 07:25] hassount commented on #1315
@EwoutH the team is still trying to stabilize the branch and cleanup the extra experimental code . The plan is then to organize the branch in a way that could be broken down into small PRs that make sense then it would be rebased. Then PRs would start populating. The branch would probably be good to be tested towards the beginning of July, then PRs would take place during July.

[2020-06-17 11:53] praneet195 opened #1341 "Can we specify the number of b-frames?"
Hi,
So Is there anyway I can encode using both p and b frames. I tried using this command but the prediction structure does not change even though I specified it in the command:

`~/ffmpeg_sources/ffmpeg/ffmpeg -y -r 25 -i V000.seq -an -f rawvideo -pix_fmt yuv420p - | ~/SVT-AV1/Bin/Release/SvtAv1EncApp -i stdin -rc 0 --fps 25 -q 18 --min-qp 18 --max-qp 18 -intra-period 24 --pred-struct 1  -w 640 -

[2020-06-17 23:11] hassount commented on #1341
I believe you're looking for the --hierarchical-levels switch, try --hierarchical-levels 3, that would cut the amount of B frames per gop by 2

[2020-06-18 00:55] zyue128 commented on #179
Hey, I am wondering if this (using .txt) is still the only way to fix the frame level QP values? Thank you.

[2020-06-18 01:28] hassount commented on #179
Yes

[2020-06-18 01:30] zyue128 commented on #179
Thank you so much.

[2020-06-18 02:03] silverbacknet commented on #1341
I remember that more flexible structure is on the roadmap for later this year, specifically for scenechange, but I can't dig up the actual comment. It would certainly be nice to have x264-style flexible use of frametypes rather than strictly hierarchical.

[2020-06-18 02:18] xuguangxin commented on #567
@moisespr123 any luck to try https://github.com/OpenVisualCloud/SVT-AV1/pull/1329?
thanks

[2020-06-18 18:25] hassount commented on #202
@agouaillard-cosmo sorry for the late reply on this, the comment date and the lack of a tag, makes it quite weird.
the direction is still that VOD applications will be the focus this year.

[2020-06-18 18:27] hassount commented on #29
can we close this discussion as we've been tagging on a 6-8 week cadence?

[2020-06-18 18:29] hassount commented on #93
I believe this is done, thank you @EwoutH

[2020-06-18 18:29] #93 closed

[2020-06-18 18:29] #207 closed

[2020-06-18 18:33] hassount commented on #239
i believe that this has been addressed, can we double check ? @GuCaixuan @OmranAbdelkafi

[2020-06-18 18:38] hassount commented on #258
would this be finally addressed ? @OmranAbdelkafi @GuCaixuan ?

[2020-06-18 18:40] hassount commented on #259
@jbkempf tagging for future tracking

[2020-06-18 18:41] #274 closed

[2020-06-18 18:43] hassount commented on #691
I believe this should be addressed by now, please re-open if otherwise

[2020-06-18 18:43] #691 closed

[2020-06-18 18:46] hassount commented on #692
@LifeIsStrange
thank you for bringing this up. as this is an implementation for an existing standard, it's a little late in the process to make this kind of change. This would potentially be applicable for future codec standardization efforts and suggested to the standard body.

[2020-06-18 18:46] #692 closed

[2020-06-18 18:46] hassount commented on #683
@joelsole is this still accurate ?

[2020-06-18 18:46] #659 closed

[2020-06-18 18:47] hassount commented on #521
@tianjunwork has this been addressed ?

[2020-06-18 18:50] #689 closed

[2020-06-18 18:51] tianjunwork commented on #521
Oops, forgot this request. Will do.

[2020-06-18 18:53] hassount commented on #693
@LifeIsStrange thank you for sharing.

[2020-06-18 18:53] #693 closed

[2020-06-18 19:00] hassount commented on #779
closing this after merging the PRs above, @luigi311 please open a new issue with any further discussion about this if need be. A reminder that contributions are quite welcome on this as the team is focused on the trade-off optimization of the library rather than the CLI which we believe is quite usable at this point.

[2020-06-18 19:00] #779 closed

[2020-06-18 19:01] hassount commented on #839
Closing this as it should be fixed by now, please re-open if the issue persists.

[2020-06-18 19:01] #839 closed

[2020-06-18 19:04] hassount commented on #943
Closing this as there seems to be consensus.

[2020-06-18 19:04] #943 closed

[2020-06-18 19:35] LifeIsStrange commented on #693
@hassount so I guess the upper management have much more intelligent spending of money to do like buying [ Nervada ]( https://en.m.wikipedia.org/wiki/Nervana_Systems ) at an estimated $408 million only for deprecating their framework... https://github.com/NervanaSystems/neon

With great powers come great responsibilities and the upper management at Intel is committing crime by mediocrity.

@hassou

[2020-06-18 19:38] LifeIsStrange commented on #692
@hassount yes I suggested it to opus and they think it is an interesting proposal for an eventual Opus v2.0. But nobody's working on Opus 2.0 ^^
I might suggest it to the MPEG consortium though

[2020-06-18 21:07] #683 closed

[2020-06-18 22:27] EwoutH commented on #29
@hassount Yes, I will close it

[2020-06-18 22:27] #29 closed

[2020-06-19 00:47] hassount commented on #1127
assuming this is resolved, please reopen if we feel the need for further discussion on this

[2020-06-19 00:47] #1127 closed

[2020-06-19 00:48] hassount commented on #1164
@chkngit does this make sense to you to be cleaned ?

[2020-06-19 00:50] hassount commented on #1170
@ePirat sorry for the late response on this. can we add an assert to make sure it's captures if we deref a null ptr ? tagging @1480c1 to see if this is covered in the static analysis work

[2020-06-19 00:51] hassount commented on #1172
still happening ?

[2020-06-19 00:52] hassount commented on #1213
has this been addressed ? @ePirat @tianjunwork

[2020-06-19 00:53] hassount commented on #1225
closing this as #1302 has been addressed

[2020-06-19 00:53] #1225 closed

[2020-06-19 01:00] 1480c1 commented on #1170
these realloc checks/lack of checks on realloc are included in cppcheck and I am planning on going through them, one of them is in then lp_group setting as well.

[2020-06-19 01:01] chkngit commented on #1164
all of that function is deleted in svt-01

[2020-06-19 01:13] tianjunwork commented on #1213
Hi @ePirat , did you have a chance to work on simplify the versioning like SVT-HEVC?

[2020-06-19 01:19] hassount commented on #73
this should be addressed by now with the patches above

[2020-06-19 01:19] #73 closed

[2020-06-19 01:35] GuCaixuan commented on #239
Hi, @hassount ,
     I double checked this issue on CommitID: ba72bc8, the issue is still **reproduces**.
     Command Line is:
./SvtAv1EncApp -i Netflix_Crosswalk_3840x2160_10bit_60Hz_P420.yuv -w 4096 -h 2160 **--fps 60-bit-depth 10-rc 0-enc-mode 7--keyint 55** -n 100 -b output.av1
<img width="675" alt="av1_239bug" src="https://user-images.githubusercontent.com/45022980/85087318-c6560080-b20f-11e

[2020-06-19 08:31] ePirat commented on #1170
@hassount If this piece of code is used in the library, it probably should be handled properly like the library handles other allocation failures properly already. Although if its not doable in this case and its very unlikely to fail, maybe abort() in this case (to make sure it does not only happen in debug enabled builds)

[2020-06-19 15:17] EsmeraldaQuintero opened #1343 "[MinGW][Windows] Error compiling"
I'm compiling SVT-AV1 for Windows under linux, using a cross compiler (see ffmpeg-windows-build-helpers repository).

Basically the compiling is performed as follows:
[code]

The last commit that I checked was `3a0d50babd220d6f991c649824c115dc2e6ae5c3 6/4/2020`, but with the new one is not working `ba72bc8511ed6a31544152590740e85f99a41300 6/16/2020`. I don't known exactly in what commit the issue

[2020-06-19 15:23] 1480c1 commented on #1343
Please supply the whole compilation log. just this much is too little information.

[2020-06-19 16:33] EsmeraldaQuintero commented on #1343
I had some difficulties getting the log but here  is what I get:
[code]

[2020-06-19 20:17] ttrigui commented on #1312
issue is reproducible with latest master [https://github.com/OpenVisualCloud/SVT-AV1/commit/ba72bc8511ed6a31544152590740e85f99a41300](url)
However issue is NOT reproducible in svt-01[https://github.com/OpenVisualCloud/SVT-AV1/commit/3fdc26495cf88b2a17dcb5251a28bb2282c240d7](url)
The issue starts in frame 80 at the boundary CU (Cb recon different from r2r due to difference in residual)
After adopti

[2020-06-21 19:58] jamescheaton opened #1344 "Broken Pipe using ffmpeg: av_interleaved_write_frame() and Error writing trailer of pipe"
I am using ffmpeg & AV1 to encode a short mp4 video, however upon completion of the encoding I get the error messages above. The Encoder seems to be working fine, and there is no other information along with these error messages from where I can go forward - has anyone encountered this issue before? I saw an issue with a similar error message however this was due to the size of the video, which I

[2020-06-21 20:19] 1480c1 commented on #1344
Please at least put in the command line you ran, there's no information on how to reproduce or anything at all essentially.

[2020-06-21 20:22] jamescheaton commented on #1344
Apologies, missed that. I was just using the sample command:
ffmpeg -i [input.mp4] -nostdin -f rawvideo -pix_fmt yuv420p - | SvtAv1EncApp.exe -i stdin -n 60 -w 1280 -h 720

[2020-06-21 20:25] 1480c1 commented on #1344
This seems like to me that because you limited the input frame count of SvtAv1EncApp, it closed the pipe after reading 60 frames. FFmpeg has no way to reliably detect such a closure and has no way to push to a closed pipe, so it will report `Broken pipe`

[2020-06-21 20:26] 1480c1 commented on #1344
You might instead want to move the frame counting to ffmpeg's side by using
[code]

[2020-06-21 20:27] jamescheaton commented on #1344
Ok thanks, was just about to ask about this frame count. Cheers for your help!

[2020-06-21 20:27] #1344 closed

[2020-06-21 20:30] 1480c1 opened #1345 "[Documentation]: Add an issue templates"
It would be nice to have a standardized template for issues, that way we would have a standardized way for the issue filer to be able to say their system info, compiler, how to reproduce, etc

https://help.github.com/en/github/building-a-strong-community/configuring-issue-templates-for-your-repository

[2020-06-21 20:30] stax76 opened #1346 "Release files should be packed"
Hello,
I think release files should be packed as zip or 7z to preserve timestamps and avoid issues with browsers and anti malware software.

[2020-06-21 20:33] 1480c1 commented on #1346
Which exact ones? We currently provide

- static SvtAv1DecApp.exe and SvtAv1EncApp.exe
- static SvtAv1Enc.lib
- shared SvtAv1Enc-shared.7z (contains shared app and libs)
- GitHub autogenerated source code archives

[2020-06-21 22:43] stax76 commented on #1346
I use only SvtAv1EncApp.exe in staxrip.

[2020-06-21 22:56] stax76 opened #1347 "better version info"
Currently, version info can only be seen while encoding, I suggest:

1. Print version on top of console help output.

2. Have a --version option.

3. Have file version resource info embedded.

[2020-06-21 23:15] 1480c1 commented on #1347
Duplicate of #1213

[2020-06-21 23:16] stax76 opened #1348 "problem with progress output"
The progress is written without line breaks, this is very unfortunate for programmers that don't have much experience, I needed a full day to replace a complex component:

Before:

https://referencesource.microsoft.com/#System/services/monitoring/system/diagnosticts/AsyncStreamReader.cs

After:

https://github.com/staxrip/staxrip/blob/master/General/AsyncStreamReader.vb

staxrip supports 200 tools

[2020-06-21 23:20] 1480c1 commented on #1348
The main reason why is because we use backspace, often resulting in broken output, rather than carriage returns or newlines or both

[code]

[2020-06-21 23:33] stax76 commented on #1348
This line has only ASCII characters, I don't see why a GCC build outputs something different from a MSVC build.

There is something different with flush occurrence/timing.

[2020-06-21 23:36] 1480c1 commented on #1348
Perhaps because of the `fflush(stdout);` right after?

Just making sure, when you say `GCC`, do you mean mingw-w64 gcc for windows, or gcc for *nix?

[2020-06-21 23:46] stax76 commented on #1348
Patman builds many tools for staxrip, I think he uses something like media autobuild suite, so yes I think Mingw-w64.

[2020-06-22 04:22] Patman86 commented on #1348
I confirm, that happens when I'm using gcc in msys2 (mingw-w64).

[2020-06-23 22:01] 1480c1 opened #1351 "[Suggestion]: Add -Wshadow to the CI"
A lot of the cppcheck issues deal with shadowed variables, which could easily be caught by having shadow warnings on in CI.

There are probably other flags that could help catch a lot of cppcheck issues as well.

[2020-06-25 14:32] 1480c1 commented on #1160
@chkngit ping?

[2020-06-25 16:01] 1480c1 commented on #1312
I'm currently seeing some r2r issues with some clips in objective-2-slow test set in 2d71125c966b6f16d3a675e3b7b15ee695a4cdb5 (master). I have not tested svt-01 yet

I am not sure if these are all of the problematic combinations.

version: `v0.8.3-65-g2d71125`

clips (preset qp, file):

- 8 43 objective-2-slow/Netflix_Boat_1920x1080_60fps_8bit_420_60f.y4m
- 8 20 objective-2-slow/street_hdr_amazon_

[2020-06-25 16:11] chkngit commented on #1312
we have just fixed few R2R issues in svt-01, can you give it a shot?

[2020-06-25 16:12] 1480c1 commented on #1312
Sure, I can run the tests there

[2020-06-25 16:14] chkngit commented on #1312
help @hassount

[2020-06-25 16:14] chkngit commented on #1160
@hassount

[2020-06-25 17:13] hassount commented on #239
@xuguangxin thank you for the test

[2020-06-25 19:52] 1480c1 commented on #1312
No issues on svt-01

[2020-06-26 01:48] #228 closed

[2020-06-26 01:48] #257 closed

[2020-06-26 19:57] tianjunwork commented on #521
Hi @ocrete , I didn't find the documented requirement of using GST_ELEMENT_ERROR for GST_FLOW_ERROR. Could you kindly point it to me? Also seems that plugins in gst-plugins-good are not following that requirement. Thank you.

[2020-06-26 20:15] ocrete commented on #521
@tianjunwork The documentation is indeed lacking about this. It's somewhat documented with in the GST_FLOW_ERROR entry at  https://gstreamer.freedesktop.org/documentation/gstreamer/gstpad.html?gi-language=c#GstFlowReturn
And even less at https://gstreamer.freedesktop.org/documentation/gstreamer/gstelement.html?gi-language=c#GST_ELEMENT_ERROR
This is definitely an area of our documentation that we

[2020-06-27 05:57] tianjunwork commented on #521
@ocrete thank you for the quick reply.
`GST_FLOW_ERROR (-5) – Some (fatal) error occurred. Element generating this error should post an error message with more details.`
Just to make sure, your suggestion is to use `GST_ELEMENT_ERROR()` instead of simply using `GST_ERROR_OBJECT` to print error message.

[2020-06-27 17:15] ocrete commented on #521
Yes, GST_ELEMENT_ERROR() is the right way to do this.

[2020-06-28 03:01] xuguangxin commented on #239
@hassount , @GuCaixuan is the right person :)

[2020-06-28 04:45] tianjunwork commented on #521
@ocrete Thank you. I will make a PR to address it.

[2020-06-28 05:44] xuguangxin commented on #675
Hi @bitbytebit-cr
Got time to check this?
thanks

[2020-06-28 07:58] xuguangxin commented on #482
@brion , rc issue addressed by https://github.com/OpenVisualCloud/SVT-AV1/pull/1352
tile support added by https://github.com/OpenVisualCloud/SVT-AV1/pull/1356
Any more params we need to expose?

thanks

[2020-06-28 19:57] #482 closed

[2020-06-29 02:21] xuguangxin commented on #482
@brion, please create another issue if something still missed.
thanks

[2020-07-01 15:11] 1480c1 commented on #1348
@stax76, do you know if your executable update detection handling supports detection on carriage returns (`\r`)?

I see https://github.com/staxrip/staxrip/blob/master/General/AsyncStreamReader.vb#L91 and https://referencesource.microsoft.com/#System/services/monitoring/system/diagnosticts/AsyncStreamReader.cs,230 but I do not know enough about C# to be able to read it competently.

I currently am

[2020-07-01 15:37] stax76 commented on #1348
The original from Microsoft generates an event for \r and \n and my enhancement additionally for \b.

I assume that if you use \r or \n then this will automatically trigger flush and the GCC problem is solved, I will have to do some adjustment but it's very unlikely that it will be difficult.

Thanks for working on it.

[2020-07-01 15:39] 1480c1 commented on #1348
Okay, I will try to open a PR about it then, thanks

[2020-07-03 06:30] wswartzendruber commented on #1322
I have encountered this with the 0.8.4 tag.

[2020-07-03 07:16] tkwf opened #1363 "Decoder multi-instance support"
Does the decoder has multi-instance support?

[2020-07-04 10:03] jbkempf commented on #259
@hassount https://ffmpeg.org/pipermail/ffmpeg-devel/2020-June/265327.html

[2020-07-04 16:15] Patman86 commented on #1348
I compiled SVT-AV1 again with gcc and the problem still persists.

[2020-07-04 17:07] 1480c1 commented on #1348
The pr hasn't been merged

[2020-07-07 19:23] #1346 closed

[2020-07-08 04:27] xuguangxin opened #1369 "SvtAv1EncApp: Do not use a static variable to count encode frame number."
https://github.com/OpenVisualCloud/SVT-AV1/blob/d9522f82f4510b3d886b7b3c41d441a974d50f4b/Source/App/EncApp/EbAppProcessCmd.c#L1140

it may introduce double frame count issue for 2 passes encode.
see
https://github.com/OpenVisualCloud/SVT-AV1/pull/1365#issuecomment-655253829
for details

[2020-07-08 04:49] tianjunwork commented on #1369
I guess it is fine to be static. Only need to set it to 0 again in init function.

[2020-07-08 05:18] hassount commented on #1369
It’s meant to be static to measure all frames processed when multi- instance encoding is used

[2020-07-09 04:28] xuguangxin commented on #1369
thanks for information.
static variable or global variable is a flavor of bad code. Let me check we can do something or not.
thanks

[2020-07-13 17:20] tianjunwork opened #1372 "Developer survey"
We'd like to hear your thoughts on open source projects in [OpenVisualCloud](https://github.com/OpenVisualCloud).
Help us to continue to shape the future of video processing on cloud.

Take our quick survey in https://intel.az1.qualtrics.com/jfe/form/SV_3OFSYX1RYKrEphP?Source=GitHub. Survey can be found also in [01.org OVC page](https://01.org/openvisualcloud). You may be a lucky winner of a $25 g

[2020-07-13 18:04] #1276 closed

[2020-07-13 18:15] #521 closed

[2020-07-15 06:32] duanxuechuang opened #1379 "the rate control will be out of control when set a parameter "--rc" to 1 or 2 and --keyint to -1"
if set --keyint to -1  and set --rc tp 1or  2 in cmd line, the rate control will be out of control.  for example:
    the cmd line :
    ./SvtAv1EncApp -i D:\testvideo\Cpartyscene_832x480_8_50_500.yuv -w 832 -h 480 -pred-struct-file D:\av1\SVT-AV1\Config\PredStruct_level4.cfg   --keyint -1 --max-qp 63 --min-qp 0 --fps 24 --rc 2  --tbr 1000 --preset 7   -b D:\testvideo\Cpartyscene_832x480_8_50_500_

[2020-07-16 09:53] tszumski commented on #1312
I tried debug (with #1370) command line: ```SvtAv1EncApp.exe -w 1920 -h 1080 -i Cactus_10bit_1920x1080_50Hz_P420.yuv -b out.av1 -bit-depth 10 -n 100 -enc-mode 8 -lp 8```

I disabled all filtering and reduced number of frames to 82 (R2R still persist)
[code]
The first diffrence is visible is frame 65, SB 501, at block position (1360,1072) of size 8x8 for chroma

[2020-07-16 15:43] sandersaares commented on #1372
FYI "Which of these industry events do you typically attend? Select all that apply." refuses to accept 0 selections.

[2020-07-16 16:28] kedartatwawadi opened #1381 "SVT_AV1 encoding without any B-frames"
I wanted to know if it is possible to encode a video without any B-frames (only I and P frames).
I tried the options ` --hierarchical-levels 3 --pred-struct 0`, but that seems to be producing blocks with LAST_FRAME and BWDREF_FRAME as the reference, implying that there is some referencing with a future frame.

Also, more clarity on what a BWDREF_FRAME is would be great!

<img width="1361" alt="Scr

[2020-07-16 16:41] kedartatwawadi commented on #1381
This might a duplicated/related to the issue [1341](https://github.com/OpenVisualCloud/SVT-AV1/issues/1341)

[2020-07-16 16:42] kedartatwawadi commented on #1341
I am a bit confused about the `--pred-struct` and `--hierarchical-levels` options you elaborate on how they impact the I,P,B frame distribution?

[2020-07-16 17:28] 1480c1 commented on #1312
@tszumski, when you ran the r2r tests on objective-2-slow, did you also run `street_hdr_amazon_2160p.y4m`?
On version v0.8.4-14-g73793b0 (73793b0), it seems to fail when I try to run
[code]

[2020-07-16 17:34] nasirhemed opened #1382 "wedge_mode = 2,3 raises segmentation fault"
I was reading about wedge_mode in the appendix for compound prediction. I wanted to try using estimate_wedge_sign mode. When I try to change `pcs_ptr->wedge_mode = 2;` in [EbPictureDecisionProcess.c](https://github.com/OpenVisualCloud/SVT-AV1/blob/master/Source/Lib/Encoder/Codec/EbPictureDecisionProcess.c#L1100) and build again, I am getting segmentation fault

Commit message used:
ba72bc8511ed6a3

[2020-07-16 18:27] hassount commented on #1363
not to my knowledge / @joelsole  ?

[2020-07-17 00:10] hassount commented on #1315
Hi all,

the re licensing PR #1362 is almost merged last FYI for the few contributors if there are any objections to this:
 @Spacefish @murillo128 @eclipseo  @brion

[2020-07-17 08:42] ePirat commented on #1172
Can't reproduce on macOS anymore, probably due to change to dispatch semaphores.
On linux this will likely be fixed by #1358

[2020-07-17 10:52] tszumski commented on #965
@ttrigui
Test was removed in PR #1080, I think that this issue can be closed

[2020-07-17 15:45] 1480c1 commented on #1312
Thanks, it seems that maybe `--enable-hdr 1` doesn't actually work, so it would probably be a separate issue

[2020-07-17 15:59] eclipseo commented on #1315
No objections.

Whatever I contributed must have been minimal.

Good luck.

[2020-07-17 16:01] hassount commented on #1315
@eclipseo thank you, agreed, we wanted to check with everyone as much as possible out of respect to the contributors.

[2020-07-17 16:30] ttrigui commented on #965
was the test removed because it was failing? We have to put it back, test it and if it fails we need to fix it.

[2020-07-17 18:27] hassount opened #1385 "[SVT_AV1] Open Dev Meeting July 22-2020 [SVT-AV1 Re-licensing NOTICE ]"
Hello All

I hope this message finds all of you, family and loved ones safe and healthy.

The sixth Open Dev Team is scheduled for July 22nd 2020, @ 8:30 - 9:30 am PDT

Created a new issue to track the discussion items for this meeting, please let us know your thoughts / suggestions for topics on the Agenda.

Using the same dialup info from last time:
Join Hangouts Meet
meet.google.com/rty-mkxi-wv

[2020-07-17 18:28] hassount commented on #1315
Close for #1385

[2020-07-17 18:28] #1315 closed

[2020-07-19 09:42] hassount commented on #1385
Linking #1372

[2020-07-19 09:43] hassount commented on #1385
Topic to be discussed, svt-01 branch rebasing and merging, being done in the m-synch branch.

[2020-07-20 04:57] tszumski commented on #965
Kernel ```av1_nn_predict_c``` and its simd version ```av1_nn_predict_sse3``` were unused in code, neither tests or implementation exist any more

[2020-07-20 07:37] palexander-14 opened #1387 "Question about the out of memory message"
Hello,

I've seen in https://github.com/OpenVisualCloud/SVT-AV1/blob/73793b03cd9d5948b5a317e68a55879eba500044/Source/Lib/Common/Codec/EbMalloc.h#L35
an unconditional output of the error message to the stderr.
Was that done on purpose or just wasn't wrapped into the SVT_ERROR or SVT_FATAL or whatever macro?

[2020-07-20 08:02] ttrigui commented on #965
I see thanks for the clarification. @hassount I think we can close this issue then?

[2020-07-20 15:07] hassount commented on #1387
@xuguangxin

[2020-07-20 15:11] hassount commented on #965
@Cidana-Developers do you agree that this issue should be closed ?

[2020-07-20 15:24] nasirhemed commented on #1382
It seems like this is due to the fact that wedge_index was defined to be -1 [here](https://github.com/OpenVisualCloud/SVT-AV1/blob/master/Source/Lib/Encoder/Codec/EbEncInterPrediction.c#L657) but `interinter_comp->wedge_index` is an unsigned int, so it gets set to 255. With there being at most 32 wedge indices, it makes sense that we get a seg fault

What should the wedge index be when we estimate

[2020-07-20 15:26] hassount opened #1389 "master / svt-01 branches synch"
As work in the svt-01 branch has diverged quite a bit from master due to the need of doing some research work / restructuring into MD, the svt-01 branch is being manually rebased on top of master in order for it to be merged. This issue is to track progress and synchronize PRs as merging the branch is a major change.

FYI, this would probably need a small freeze to master

[2020-07-20 15:28] hassount commented on #1382
@chkngit could you please take a quick look at this ?

[2020-07-20 17:57] ttrigui commented on #1328
@Cidana-Developers Thank you for the detailed explanation.
@Tomasz, I confirmed the issue I used master with the following command line -i F:\stream\kirland_640_480_30.yuv -w 640 -h 480 -b output.ivf -o recon.yuv -stat-report 1 -q 15 --use-default-me-hme 0
The issue is fixed when I set the search are height to a minimum value (4).
else if (context_ptr->reduce_me_sr_flag[list_index][ref_pic_index])

[2020-07-20 21:19] ccccheung commented on #1389
We have run some stability tests over this branch and ran guitar_hdr_amazon1080p due to known R2R issues with that clip. However, the encoding did not run because of the following Error: "Error instance 1: Invalid HBD mode decision flag [-1 - 2], your input: 255".

This is likely due to a new default of -1 being set for the parameter enable_hbd_mode_decision. However, the type of this is uint8_t a

[2020-07-21 03:52] xuguangxin commented on #1387
@palexander-14 , we may forgot to wrapper it with SVT_ERROR.
welcome for the patch, if you are interested .

[2020-07-21 03:54] Cidana-Developers commented on #965
Sure, I agree to close this issue since both the implementation and the tests have been removed.

[2020-07-21 04:00] 1480c1 commented on #1387
As far as I know, although the message itself is not wrapped in SVT_ERROR, almost all instances of `EB_NO_THROW_ADD_MEM` is followed by `EB_CHECK_MEM`, which has the main return

[2020-07-21 04:02] 1480c1 commented on #1387
Although @xuguangxin, do you remember if there was a reason why we have `EB_NO_THROW_MALLOC` instead of just having that expanded inside `EB_MALLOC`? It does not seem to be used anywhere outside of that macro

[2020-07-21 05:53] xuguangxin commented on #1387
EB_NO_THROW_MALLOC  will not return immediately, you can check the malloc result and release other resources.

follow example is for EB_NO_THROW_NEW, but the idea is the same.
https://github.com/OpenVisualCloud/SVT-AV1/blob/73793b03cd9d5948b5a317e68a55879eba500044/Source/Lib/Encoder/Globals/EbEncHandle.c#L3177

[2020-07-22 16:05] adaria commented on #1385
Please find attached the recording of the meeting. Thank you everyone!
[open-dev-meeting-July22-2020.zip](https://github.com/OpenVisualCloud/SVT-AV1/files/4961071/open-dev-meeting-July22-2020.zip)

[2020-07-23 15:28] nasirhemed commented on #1382
Found the issue and opened a pr #1392

[2020-07-26 23:07] it2350 commented on #1197
You'd have to change [this line](https://github.com/OpenVisualCloud/SVT-AV1/blob/73793b03cd9d5948b5a317e68a55879eba500044/Source/Lib/Common/Codec/common_dsp_rtcd.c#L143) for the purpose.
There is check_4thgen_intel_core_features() function, i've tried to make something like check_2ndgen_intel_core_features(), but the code is rather complex, so i've totally disabled check for 4th gen and AVX-512 an

[2020-07-27 06:29] Richard-li commented on #1385
The zip file just includes a empty folder?? (75 bytes), Would you please check it again? @adaria

[2020-07-27 20:24] #567 closed

[2020-07-27 20:56] adaria commented on #1385
There was a file access issue with the above, my bad. You can access the recording below.
Let me know if you still have trouble.
[open-dev-meeting-July22-2020](https://drive.google.com/file/d/1VqM7K-wumZ7sizwgi2wuLW7zLBXyDa7E/view?usp=sharing)

[2020-07-28 19:06] #1285 closed

[2020-07-29 09:39] spawlows commented on #1312
From my investigation R2R-10bit issue exists constantly from commit bc5a65894  PR #1040

@NaderMahdi can you helps us how to find reason of this issue in this changes? I know that some R2R issue for 8bit related with this commit was be fixed in the meantime.

Commit message:
commit bc5a658947a6abd9f8fa8240f80f5475fb91d87f
Author: NaderMahdi <43865616+NaderMahdi@users.noreply.github.com>
Date:   We

[2020-07-29 16:39] praneet195 commented on #1381
Hey,
This is going to be off topic.
If possible can you please provide the details to your AOMAnalyzer build? I'm unable to get it working in it's current state

[2020-07-29 22:54] kedartatwawadi commented on #1381
Here is the script i used to get AOMAnalyzer working:
https://gist.github.com/kedartatwawadi/4eaddeafccb83497260666ba071e3b3c

On Wed, Jul 29, 2020 at 9:39 AM Praneet Singh <notifications@github.com>
wrote:

[2020-08-05 10:56] Dillon14281118 opened #1398 "Why use q-index rather than QP directly?"
During the quantization process,why use q-index rather than QP directly?

[2020-08-06 05:43] hassount commented on #1398
Qindex is what the AV1specification uses and it gives more

[2020-08-06 05:45] hassount commented on #1398
Q index is what is specified in the AV1 spec. Also qindex gives more granularity, for every 1 qp level there are 4 q indices. All in all w index ranges from 0-255 while qp ranges from 0-63

[2020-08-06 16:34] #1382 closed

[2020-08-09 07:00] #1389 closed

[2020-08-10 21:55] chkngit opened #1405 "SVT-02-TEMP PR LIST"
# Description
List of svt-02 features to be PRed to Master

# List
- [ ] IMPROVED_MD_ADAPTIVE_CYCLES (Nader)
- [ ] ADAPTIVE_ME_SEARCH   : Hsan
- [ ] IMPROVE_GMV + ENABLE_GM_LIST1  : Hsan
- [x] REF_PRUNE_CAT_TUNE : Phoenix
- [ ] FIX_MV_BOUND : Chekib
- [x] INCREASE_WM_CANDS : Phoenix
- [ ] UPGRADE_SUBPEL : Hsan
- [ ] TX_EARLY_EXIT + FAST_M8_V1 + ADD_M9 +  SHUT_SIMILARITY_FEATURES  + MERGE_SQW_FEATU

[2020-08-11 05:32] palexander-14 commented on #1387
Here it is.

[0001-fprintf-was-replaced-with-SVT_FATAL-when-memory-allo.patch.zip](https://github.com/OpenVisualCloud/SVT-AV1/files/5054907/0001-fprintf-was-replaced-with-SVT_FATAL-when-memory-allo.patch.zip)

[2020-08-11 07:24] xuguangxin commented on #1387
could you send a pull request for this, so we can discuss it in  pr

[2020-08-11 09:57] xuguangxin commented on #1321
@hassount which run time feature you are expected.
currently we can use "SVT_LOG=5 SvtEncApp xxxx" to enable all outputs

[2020-08-14 07:31] grill05 commented on #798
@xuguangxin @hassount
Does https://github.com/OpenVisualCloud/SVT-AV1/commit/298dd88ca07fbc1217fa7aa63d75697d14c1fad6 close this issue ?

[2020-08-14 07:31] grill05 commented on #798
@xuguangxin @hassount
Does https://github.com/OpenVisualCloud/SVT-AV1/commit/298dd88ca07fbc1217fa7aa63d75697d14c1fad6 close this issue ?

[2020-08-14 07:31] grill05 commented on #798
@xuguangxin @hassount
Does https://github.com/OpenVisualCloud/SVT-AV1/commit/298dd88ca07fbc1217fa7aa63d75697d14c1fad6 close this issue ?

[2020-08-14 07:31] grill05 commented on #798
@xuguangxin @hassount
Does https://github.com/OpenVisualCloud/SVT-AV1/commit/298dd88ca07fbc1217fa7aa63d75697d14c1fad6 close this issue ?

[2020-08-14 07:31] grill05 commented on #798
@xuguangxin @hassount
Does https://github.com/OpenVisualCloud/SVT-AV1/commit/298dd88ca07fbc1217fa7aa63d75697d14c1fad6 close this issue ?

[2020-08-14 07:34] grill05 commented on #798
@xuguangxin @hassount
Does https://github.com/OpenVisualCloud/SVT-AV1/commit/298dd88ca07fbc1217fa7aa63d75697d14c1fad6
 close this issue ?
It seems like a pretty major change. Is there a corresponding PR for this ?

[2020-08-14 16:50] PhoenixWorthVCD opened #1411 "Candidate generation missing candidates"
Candidate generation at MD stage 0 is omitting certain allowed candidates (WM candidates) and reference frames (eliminating cheap reference frames using reference pruning), at no speed gain.

[2020-08-14 17:52] hguermaz opened #1414 "GMV/Subpel performance"
GMV/Subpel performance in terms of BDRate is better in context of libaom than in context of svt for particular clips (active clips).

[2020-08-14 19:09] hguermaz opened #1415 "Unnecessary tx_depth=2 evaluation"
Skip tx_depth=2 based on the variance of the block, and based on the tx_depth=0 and  tx_depth=1 cost(s).

[2020-08-14 19:14] hassount commented on #1312
the macro PR_1311 seems to have different names between master and svt-01 such might have caused this issue

[2020-08-14 21:23] silverbacknet opened #1417 "API/ABI Versioning"
#1408 will change the API, and it got me thinking about versioning. Many open source projects have some sort of ABI_VERSION separate from their actual version, that gets bumped up only when the API/ABI changes. If there's a mismatch, it'll either fall back or just error out. SVT-AVI has SVT_VERSION_* defines for its version number, but they aren't used anywhere yet, and the burden is on the user t

[2020-08-17 06:23] #1369 closed

[2020-08-17 19:46] #1415 closed

[2020-08-19 01:22] hassount opened #1422 "Replace INCREMENT_TOTAL_CAND_COUNT"
I see that the macro is used already, but it may be worth replacing it with INCREMENT in the future

_Originally posted by @andrey-norkin in https://github.com/OpenVisualCloud/SVT-AV1/pull/1412_

[2020-08-19 01:26] #1411 closed

[2020-08-19 20:08] EricLamVCD opened #1423 "Decoder Crash"
The decoder crashes when I gave it any bitstream. I git bisected the issue and found that bbdf3a3 was causing the issue.

Here is a sample command I ran:
`./SvtAv1DecApp -i svt_M0_niklas360p_60f_Q20.bin ;`

[2020-08-20 06:55] #1423 closed

[2020-08-20 16:31] hassount opened #1425 "[REPO Moving][Announcement] AOM adopts SVT-AV1"
As just [announced by AOMedia](https://www.businesswire.com/news/home/20200820005599/en/AOMedia-Software-Implementation-Working-Group-Bring-AV1), a new Software Implementation Working Group (SIWG) has been formed to create a production-ready AV1 encoder implementation that will enable ever-growing video delivery services and deliver excellent video compression versus computational complexity trade

[2020-08-20 17:49] gnafuthegreat commented on #1425
Has there been any talk of a name change as part of the move?  Nothing wrong with "SVT-AV1", but now would be the time to rename if there were any candidates.  Will this still be considered part of the SVT family, or is it expected to diverge over time?  If the latter, then a name change could be appropriate.  If it's just a chance of home, then keeping the name is of course understandable.

Relat

[2020-08-20 17:55] hassount commented on #1425
@gnafuthegreat
It has been decided that the name remains as is for continuity.
It may or may not diverge, I would expect the underlying architecture to remain similar
The repo will move with all history and issues / PR.

[2020-08-20 18:19] OmranAbdelkafi opened #1428 "c and avx2 mismatch"
## Description
Compared obj-1-fast (8bit and 10bit) using c vs default(AVX2) for M0 and M4

## Sample Command line
 ./SvtAv1EncApp -enc-mode 0 -w 1920 -h 1080 -bit-depth 8 -fps-num 30000 -fps-denom 1001  -n  60 -q 20  -intra-period  119  -asm c -enable-tpl-la 1  -lad 16 -lp 1  -i  aspen_1080p_60f.yuv  -b  aspen_1080p_60f_Q20.bin

## Branch used :
Head branch from PR #1418

## Results
Bitstreams mi

[2020-08-20 19:21] gnafuthegreat commented on #1425
Thanks for clarifying/confirming.  This is an exciting move!

[2020-08-20 20:29] EricLamVCD commented on #1428
Tested thaloundeskmtg 10bit 360p clip for M5:
  | Speed Deviation  | BD-Rate   Deviation | Memory   Deviation
-- | -- | -- | --
asm-sse4_1 vs asm-c - M5 - 10bit | 0.07% | 0.00% | 0.01%
asm-sse3 vs asm-c  - M5 - 10bit | 0.00% | 0.00% | 0.00%
asm-avx2 vs asm-c  - M5 - 10bit | 0.06% | 0.00% | 0.02%

[2020-08-20 20:29] #1414 closed

[2020-08-20 20:36] EricLamVCD commented on #1428
Tested thaloundeskmtg 10bit 360p clip:
  | Speed Deviation  | BD-Rate   Deviation | Memory   Deviation
-- | -- | -- | --
asm-sse4_1 vs asm-c - M5 - 10bit | 58.90% | 0.00% | 0.05%
asm-sse3 vs asm-c  - M5 - 10bit | 0.38% | 0.00% | 0.02%
asm-avx2 vs asm-c  - M5 - 10bit | 1577.44% | 0.01% | 0.24%

[2020-08-20 20:39] ttrigui commented on #1428
@spawlows can you please look into this. It seems that the mismatch is between AVX2 and C. SSE3 and SSE4 are fine.

[2020-08-21 01:03] 1480c1 commented on #1387
I think this issue can be closed now

[2020-08-21 01:52] 1480c1 commented on #1234
Maybe this should be moved to 0.8.5 or closed?

[2020-08-21 01:53] 1480c1 commented on #1185
I think this can be closed too

[2020-08-21 01:53] 1480c1 commented on #1170
Closed by cppcheck

[2020-08-21 01:53] #1170 closed

[2020-08-21 01:54] 1480c1 commented on #1160
I think the original issue has been addressed, although for now, it seems to be erroring out while not marking the job as failing

[2020-08-21 01:55] 1480c1 commented on #1164
I believe this has been addressed through the cppcheck prs

[2020-08-21 01:55] 1480c1 commented on #1165
I believe this has been addressed through the cppcheck prs

[2020-08-21 01:56] 1480c1 commented on #937
Any update on this?

[2020-08-21 02:02] 1480c1 commented on #259
Believe this has been done, so it can be closed

[2020-08-21 02:05] 1480c1 opened #1429 "Pre-move checklist"
List of tasks that probably should be done or at least addressed in some way before we move the repo to under the new location, contributors and others, feel free to either directly edit this issue or add a comment on what you might think should be added to the list.

- [ ] Make sure GitHub Actions works even with the new location URL (Make sure all references to OpenVisualCloud/SVT-AV1 either use

[2020-08-21 04:59] #1185 closed

[2020-08-21 05:17] #1234 closed

[2020-08-21 05:19] hassount commented on #1160
yes #1308 can track the failure

[2020-08-21 05:19] #1160 closed

[2020-08-21 05:21] #1164 closed

[2020-08-21 05:22] #1165 closed

[2020-08-21 05:22] #259 closed

[2020-08-21 05:24] hassount commented on #1272
this is not an issue anymore

[2020-08-21 05:24] #1272 closed

[2020-08-21 05:26] hassount opened #1430 "[SVT_AV1] Open Dev Meeting August 26-2020 [SVT-AV1 Repository Move to AOM ]"
Hello All

I hope this message finds all of you, family and loved ones safe and healthy.

The next Open Dev Team is scheduled for August 26th 2020, @ 8:30 - 9:30 am PDT

Created a new issue to track the discussion items for this meeting, please let us know your thoughts / suggestions for topics on the Agenda.

Using the same dialup info from last time:
Join Hangouts Meet
meet.google.com/rty-mkxi-w

[2020-08-21 05:26] hassount commented on #1385
Closed for 1430

[2020-08-21 05:26] #1385 closed

[2020-08-21 05:27] #179 closed

[2020-08-21 05:27] hassount commented on #179
the qp file should address this request

[2020-08-21 05:28] hassount commented on #258
Closing this, please re-open if you can still reproduce it

[2020-08-21 05:28] #258 closed

[2020-08-21 05:28] #265 closed

[2020-08-21 05:30] hassount commented on #378
this is now available by using the --unpin option

[2020-08-21 05:30] #378 closed

[2020-08-21 05:34] hassount commented on #675
please re-open if this persists

[2020-08-21 05:34] #675 closed

[2020-08-21 05:36] hassount commented on #724
this should be tracked on the rest of the SVT projects as this one is already merged to ffmpeg

[2020-08-21 05:36] #724 closed

[2020-08-21 05:37] hassount commented on #736
Let's re-check this soon after the 2-pass work gets merged

[2020-08-21 05:38] hassount commented on #798
@kelvinhu325 please link to this when ready

[2020-08-21 05:39] hassount commented on #775
done #1365

[2020-08-21 05:39] #775 closed

[2020-08-21 05:39] hassount commented on #898
still an issue ?

[2020-08-21 05:41] hassount commented on #937
Please reopen if you still see this. Master with ffmpeg is running just fine on macos:
 https://github.com/OpenVisualCloud/SVT-AV1/runs/1009581113

[2020-08-21 05:41] #937 closed

[2020-08-21 05:44] hassount commented on #1305
@MindyYoung
this seems to be coming from the libaom code / spec, it does not seem to be an SVT-AV1 implementation detail.

[2020-08-21 05:45] hassount commented on #1312
can we re-test thin in the latest master, it should be gone by now

[2020-08-21 05:45] hassount commented on #1328
@tszumski has this been addressed ?

[2020-08-21 05:46] hassount commented on #1337
can we check this again ?

[2020-08-21 05:46] #1347 closed

[2020-08-21 05:47] hassount commented on #1363
It does not seem to be supported.

[2020-08-21 05:50] hassount commented on #1268
I believe the issue has been found and is being resolved, it will take some time as the focus is still VOD and the speed would still be slightly lower than 0.8.0 even after #1420 but we should get there soon with much better quality.

[2020-08-21 05:52] hassount commented on #1012
will do this otherwise later.

[2020-08-21 05:52] #1012 closed

[2020-08-21 05:54] hassount commented on #1142
if you run with --enable-tpl-la 1 --scm 2 this issue will be resolved, please reopen if you believe otherwise

[2020-08-21 05:54] #1142 closed

[2020-08-21 05:56] hassount commented on #1256
request should go to AOM from now on as per #1425

[2020-08-21 05:56] #1256 closed

[2020-08-21 05:57] hassount commented on #1343
@EsmeraldaQuintero this should now be resolved as master is passing, please reopen if you believe otherwise: https://github.com/OpenVisualCloud/SVT-AV1/runs/1009581125

[2020-08-21 05:57] #1343 closed

[2020-08-21 05:59] hassount commented on #1197
@JouMxyzptlk please reopen if still needed

[2020-08-21 05:59] #1197 closed

[2020-08-21 06:00] #1172 closed

[2020-08-21 06:01] hassount commented on #1167
Already supported, please use -q <crf value> --enable-tpl-la 1

[2020-08-21 06:01] #1167 closed

[2020-08-21 06:01] #965 closed

[2020-08-21 07:07] xuguangxin commented on #898
@hassount , we can close it. I will reopen it if it still an issue.

[2020-08-21 07:07] #898 closed

[2020-08-21 08:13] tszumski commented on #1328
@hassount
I didn't address this issue(I think that Tahani assigned wrong person to this issue). I can look into this and prepare fix in next week

[2020-08-24 15:45] EsmeraldaQuintero commented on #1343
@1480c1
It seems like the variable was unset.
[code]

I manually set the variable in the CMakeLists.txt and it seems to compile ok.
[code]

[2020-08-24 15:56] 1480c1 commented on #1343
I see, maybe it might be better to try to set that variable based on the same conditions that we set it inside the source files

[2020-08-24 15:57] 1480c1 commented on #1343
Also, I think `set(CMAKE_SYSTEM_PROCESSOR AMD64)` is supposed to be set in your toolchain file when cross-compiling

[2020-08-25 09:25] tszumski commented on #1328
Hi @ttrigui
With current master(3df380d2802ae253272f19336b24d03d2417b4bf) I cannot reproduce this issue.
The cases for which your fix should be applied are under ```ME_HME_PRUNING_CLEANUP``` flag (which means unused in code)
[code]

Should I apply changes even though this part of code is unused ?

[2020-08-25 12:43] jonsneyers opened #1433 "Support for 4:4:4"
Currently, SVT-AV1 only supports 4:2:0 chroma subsampling. In particular for AVIF, it is desirable to also be able to encode 4:4:4, since on some images (e.g. containing colored text), chroma subsampling artifacts can be too strong to be acceptable.

Is it planned to add 4:4:4 support to SVT-AV1?

[2020-08-25 21:10] EsmeraldaQuintero opened #1434 "[Windows][Release][10bit] Crash when encoding 10 bitdepth content (app and ffmpeg))"
### Context
I'm compiling [FFmpeg commit ](https://git.ffmpeg.org/gitweb/ffmpeg.git/commit/1c7e55dd504245d71444fac1a73e5370cc76fede) with [SVT-AV1 commit](https://github.com/OpenVisualCloud/SVT-AV1/commit/3df380d2802ae253272f19336b24d03d2417b4bf). When I try to encode an IVF using yuv files of 10 bitdepth and 4k resolution as input I get some crashes.

### Description Input
I'm using a yuv file as

[2020-08-26 04:49] hassount commented on #1433
I don't see that we'll have the bandwidth to implement this this year but it could be scheduled for next year depending on the use cases supported.

[2020-08-26 04:52] hassount commented on #1434
@EsmeraldaQuintero thank you for the bug report. Is there a stack trace you could generate, such would point us quickly to the problem.

[2020-08-26 04:53] hassount commented on #736
@anaghdin is this addressed with #1431 ?

[2020-08-26 04:53] hassount commented on #1312
Closing as this should be addressed after #1413

[2020-08-26 04:54] hassount commented on #1328
@tszumski thank you, this code will then be removed when we perform the macros cleanup

[2020-08-26 04:54] #1328 closed

[2020-08-26 08:49] spawlows commented on #1428
I looking on this. On this moment I confirm issue, and this is not related with sad_loop

[2020-08-26 15:03] maddin200 opened #1435 "shadow variable"
Source/Lib/Common/ASM_AVX2/EbPictureOperators_Intrinsic_AVX2.c: line 1564 variable s shadows line 1433:
 __m128i        sum_l, sum_h, s;

[2020-08-26 15:17] EsmeraldaQuintero commented on #1434
I hope this could be helpful
[code]

Using some prints, I got the following:
[code]

[2020-08-26 15:22] 1480c1 commented on #1435
Interestingly, my local cppcheck catches this but not the one in github actions.

I will try adding `-Wshadow` to the CI

[2020-08-26 15:31] anaghdin commented on #736
yes it does

[2020-08-26 16:26] hassount commented on #736
Great, thank you

[2020-08-26 16:40] joelsole commented on #1337
Mismatches are showing up now in the tracker:

- This [log on 08/13](https://videocodectracker.dev/raw_data_files/all_seqs_svtav1_20200813_1b7548c_enc-mode0.json) was fine
- The next [log on 08/14](https://videocodectracker.dev/raw_data_files/all_seqs_svtav1_20200814_210ea32_enc-mode0.json) shows mismatches for all encodes

Corresponding commit hashes are in the logs.

[2020-08-26 16:43] hassount commented on #1337
thank you Joel,

can you check if they get addressed at this revision ? 230c4a7

[2020-08-26 16:44] joelsole commented on #1337
Still there in the latest run:
https://videocodectracker.dev/raw_data_files/all_seqs_svtav1_20200819_31b1e31_enc-mode0.json

On Wed, Aug 26, 2020 at 9:43 AM Hassene Tmar <notifications@github.com>
wrote:

[2020-08-26 16:51] hassount commented on #1337
thank you, @1480c1 can you please look into this, it seems to have started on the day we have merged #1409 and was not fully addressed by #1424

[2020-08-26 16:53] 1480c1 commented on #1337
Sure, I can check it, do we have full example command lines that can reproduce this?

[2020-08-26 16:55] joelsole commented on #1337
It seems it started when using the 1-pass command line:

https://videocodectracker.dev/command_lines/svtav1_cli_changelog.html

On Wed, Aug 26, 2020 at 9:53 AM Christopher Degawa <notifications@github.com>
wrote:

[2020-08-26 16:56] hassount commented on #1337
I suggest starting with this:
svtav1encapp -i in.y4m -b out.ivf -o out.yuv
then decode out.ivf with aomdec and svtav1decapp into a yuv and compare the two yuvs to out.yuv

[2020-08-26 17:14] hguermaz opened #1438 "Add a faster M7"
M7 is providing similar performance to M6. M7 should be at least 50% faster than M6.

[2020-08-26 17:49] #1312 closed

[2020-08-26 21:56] ccccheung opened #1442 "R2R introduced by cd898e8 (PR1416)"
I tested for r2r on commit 3df380d and found that there were r2r in some of the 10 bit and 8 bit clips I tested.
We have tracked the issue back to commit cd898e8 (PR1416) and found that reverting that PR fixes the PR.

The R2R showed up across every enc mode

The sample command line that I have tested is this:
```/usr/bin/time --verbose   ./SvtAv1EncApp -enc-mode 0 -w 1920 -h 1080 -bit-depth 10 -f

[2020-08-26 22:56] 1480c1 commented on #1337
I have tested #1440 with all of the dav1d test samples located at https://code.videolan.org/videolan/dav1d-test-data and so far they have all passed except 3 which did not pass even with the commit before the cppcheck changes https://github.com/OpenVisualCloud/SVT-AV1/commit/1b7548c326a6b296ab0c3293c613e5a2b0a1fada

the three samples are

- dav1d-test-data/8-bit/features/itut_t35.ivf
- dav1d-test-

[2020-08-26 23:46] OmranAbdelkafi opened #1444 "Film Grain memory and assert failures"
## Description :
We have fixed the library link for the film grain option in order to close issue #1322. We submitted PR #1426 for that but we have noticed some issues :
1- film grain unit test failure for the PR #1426  due to memory allocation.
2 - Some assert failure when performing some testings .
3 - Compared film grain performance within libaom vs svt : Almost same Visual Quality effect while

[2020-08-26 23:52] 1480c1 commented on #1337
I've checked all the way up to https://github.com/OpenVisualCloud/SVT-AV1/commit/469856ff3da381740ccde8a939ddcb462ab6aaba and they still error on those samples

[2020-08-27 00:01] 1480c1 commented on #1337
The script I used, assume you have cmake, ninja, git, aomdec, and GNU parallel in your path

[code]

[2020-08-27 17:04] OmranAbdelkafi commented on #1442
Boxing the issue further : Removing the variance check would make the r2r disappear. The variance calculation might be the problem.

[2020-08-27 17:08] ttrigui commented on #1328
Thank you @tszumski for looking into this. There is no need to add the fix as the code is not used anymore.

[2020-08-28 17:07] #736 closed

[2020-08-28 17:08] #1442 closed

[2020-08-28 17:08] #1337 closed

[2020-08-28 17:09] #1351 closed

[2020-08-28 17:09] #1435 closed

[2020-08-28 21:39] ccccheung commented on #1434
Using this command line
`SvtAv1EncApp.exe -i input_4k_420_10bit.yuv -b out_yuv_app.ivf -w 3840 -h 2160 -n 2 --fps 24 --keyint 23 --input-depth 10 --compressed-ten-bit-format 0 --rc 0 -q 27 --preset 0`

I managed to reproduce the segfault when cross compiling with ubuntu's x86_64-w64-mingw32-gcc and running it on Windows.
@1480c1  also reproduced this segfault when compiling with mingw64 on windows

[2020-08-28 23:38] EsmeraldaQuintero commented on #1434
Yes, that seems to fix the issue.

[2020-08-28 23:57] PhoenixWorthVCD opened #1449 "Align presets to svt-02-temp"
Current trade-offs compared to the svt-02-temp branch can be improved.  Should align lambda generation and preset features to improve trade-offs.

[2020-08-29 22:43] #1438 closed

[2020-08-29 22:45] #1348 closed

[2020-08-29 22:50] #1434 closed

[2020-08-30 06:05] grill05 opened #1450 "2-pass crf/vbr mode comparision (libsvt vs libaom) for videocodectracker.dev"
Once the 2-pass mode PR gets merged, it might be useful to add this mode to the standard run for videocodectracker.dev

I'm guessing that practically everyone will be using the 2-pass implementation rather than the current one , once the PR goes through, and seeing how it compares with libaom's 2-pass crf/vbr (over time) would be helpful

thanks

[2020-08-30 06:57] hassount commented on #1450
@grill05  as mentioned in the commit message, this is only a first version of the PR introducing the support and inly passing some initial tests. The work will be ongoing to finish the full implementation. This is a porting of the libaom 2pass engine so there hopefully won’t be too many differences.

[2020-08-30 07:40] Felixkruemel commented on #1450
How can you actually use crf in ffmpeg with libsvtav1?

-crf doesn't seem to work yet.

Before doing a comparison I would wait until the implementation is really finished.

[2020-08-30 21:07] luigi311 opened #1451 "[Bug] 2 pass with lp 1/2 failed"
Running two pass crf with a low lp of 1/2 will cause the encoder to get stuck on frame 29 and not progress from there. This can be reproduced by running the two commands below, the first will run pass 1 and generate the stats file while the second one will actually do the encoding and is what gets stuck on frame 29. Doing a single pass works and generating the stats on the 1st pass works so it app

[2020-08-30 21:20] 1480c1 commented on #1451
I am able to reproduce with a build on latest master on Linux, and the second command doesn't start for me on windows, but it could be it has a > 3 minute init time

[2020-08-30 21:51] luigi311 opened #1452 "[Bug] Broken/Deprecated? flags still in documentation for encoder"
The following flags exist in the encoder documentation but return

error messages
[code]
Were these flags deprecated and not removed from the documentation or is this accidental?
Here is a command that will reproduce the error message
[code]

[2020-08-30 22:05] luigi311 opened #1453 "[Bug] Freeze and error with enable-overlay 1"
Using --enable-overlay 1 along with --keyint (tested 55/56) will cause the encoder to freeze at frame 49, using it along with  --irefresh-type 2 will cause an error [error]:  PicMgr: Negative dep count

# Freeze
[code]
[code]

# Error
[code]
[code]

[2020-08-30 22:27] luigi311 opened #1454 "[Bug] Intrabc-mode 1-3 generates corrupted video"
Encoding with --intrabc-mode 1-3 returns corrupted video and causes issues with dav1d. Viewing the video in vlc shows a bunch of corrupted video blocks all over the place and using ffmpeg to convert the ivf to mkv reports errors

[code]

# Error
[code]

[intrabc-mode.zip](https://github.com/OpenVisualCloud/SVT-AV1/files/5147562/intrabc-mode.zip)

[2020-08-30 22:40] luigi311 commented on #1452
Looking at the --help of SvtAv1EncApp it appears that all those flags were removed but the encoder documentation does not reflect that. I will go ahead and create a PR with those flags removed

[2020-08-31 18:21] #1449 closed

[2020-09-01 05:22] #1387 closed

[2020-09-01 05:23] palexander-14 commented on #1387
https://github.com/OpenVisualCloud/SVT-AV1/pull/1407

[2020-09-01 18:00] hassount commented on #1451
Can we test this with --keyint 64 instead ?

[2020-09-01 18:05] luigi311 commented on #1451
Looks like 63+ lets it finish

[2020-09-01 18:10] hassount commented on #1451
ok so this issue is because the gop size having to be a multiple of lookahead.

[2020-09-01 18:12] hassount commented on #1453
@luigi311 can you check with --keyint 64 ? this might be the same problem as 1455 yet more verbose

[2020-09-01 18:13] luigi311 commented on #1451
does keyint automatically choose the correct value for different irefresh-type?

[2020-09-01 18:15] luigi311 commented on #1453
Yup looks like that fixed this issue as well

[2020-09-01 19:03] okhlif opened #1458 "2pass mode improvement"
- [x] Speed up pass1

- [ ] Improve 2pass CRF BDR/speed tradeoff

- [ ] Improve 2pass VBR BDR/speed tradeoff

[2020-09-01 19:12] hassount commented on #1451
it chooses 1 by default, if it's preferred the default could be changed to irefresh-type 2.

[2020-09-01 19:20] luigi311 commented on #1451
I am not sure about changing the default value of irefresh-type, looks like x265 defaults to open gops similar to how this is setup now but anything with adaptive bitrates should be using closed. I think it really depends on who is using it, people that are encoding videos themselves are only really going to keep a single encode so wont really be using ABR technology so they dont need closed gops

[2020-09-01 19:21] luigi311 commented on #1451
As far as my original question of keyint being set automatically you answered it here
https://github.com/OpenVisualCloud/SVT-AV1/pull/1455#discussion_r481336434
with yes you are under the assumption that keyint will be automatically adjusted when you are using open or closed.

[2020-09-01 19:22] luigi311 commented on #1451
I guess the next question is why does it only freeze with LP <= 2 while >= 3 finish the encoding without any issues.

[2020-09-01 19:50] hassount commented on #1451
It will freeze everywhere just getting lucky for the lp cases while it's not freezing, we need to fix the underlying problem

[2020-09-01 21:13] hassount opened #1460 "Enable tpl by default for the CRF mode to be on by default"
Need to enable tpl by default for the CRF mode to be on by default and reflect the results on the videotracker.dev / ffmpeg
Fix memory sanitizer issues and C only build segfault

[2020-09-02 04:28] #1460 closed

[2020-09-02 08:20] jonsneyers opened #1463 "Support for 4:0:0"
For grayscale video/images, but also for the alpha channel in AVIF, we need 4:0:0 (monochrome) support. How feasible is it to add support for this?

[2020-09-02 17:27] #1452 closed

[2020-09-02 18:51] #1451 closed

[2020-09-02 18:51] #1453 closed

[2020-09-03 20:41] hassount commented on #238
@EwoutH can we close this issue ?

[2020-09-03 20:43] hassount commented on #708
this is now done by #849

[2020-09-03 20:43] #708 closed

[2020-09-03 20:44] hassount commented on #798
Closing this, please track future work and any further feedback in #1458

[2020-09-03 20:44] #798 closed

[2020-09-03 20:45] hassount commented on #984
Closing this as it would need to be re-evaluated

[2020-09-03 20:45] #984 closed

[2020-09-03 20:48] hassount commented on #1000
This is now done, please reopen if it's still not the case. the current pass 1 should now be quite fast. the combined 2-pass is merged too.

[2020-09-03 20:48] #1000 closed

[2020-09-03 20:54] hassount commented on #1029
closing this, please reopen if the issue persists

[2020-09-03 20:54] #1029 closed

[2020-09-03 20:55] hassount commented on #1230
Closing this as it is out of scope

[2020-09-03 20:55] #1230 closed

[2020-09-03 20:55] hassount commented on #1231
Closing this as it is out of scope for now

[2020-09-03 20:55] #1231 closed

[2020-09-03 20:56] hassount commented on #1239
Please re-test with the new experimental 2-pass and add any feedback in #1458

[2020-09-03 20:56] #1239 closed

[2020-09-03 20:58] hassount commented on #1284
please use the qp file if you need a constant QP everywhere along with ```--lad 0``` which would remove the adaptive quantization per block. please re-open if you have more questions.

[2020-09-03 20:58] #1284 closed

[2020-09-03 20:59] hassount commented on #1297
Can you test this again with the current master.

[2020-09-03 21:01] #1305 closed

[2020-09-03 21:02] hassount commented on #1322
Please track in #1444

[2020-09-03 21:02] #1322 closed

[2020-09-03 21:07] hassount commented on #1341
seems that I missed this issue:

More flexible is towards being able to support 0B to 31B, but it will always be hierarchical. if really needed, you can customize your own reference structure by customizing per minigop the reference assignment using the pred structure config files

--pred-struct would specify whether it's random access or low delay pred structures (this is not working yet)
--hiera

[2020-09-03 21:08] #1363 closed

[2020-09-03 21:13] #1372 closed

[2020-09-03 21:15] #1398 closed

[2020-09-03 21:16] hassount commented on #1450
right now, if you link the latest master and set -rc 0 it will be running crf by default.

[2020-09-03 21:17] hassount commented on #1454
@ccccheung is this confirmed ?

[2020-09-03 21:29] ccccheung commented on #1454
@hassount  We saw the same dav1d error that is mentioned. The bitstreams we got appeared to be either black or corrupted when viewed with VLC

[2020-09-03 21:42] hassount commented on #1454
@ccccheung

Can we test the same with —scm 1 ?

[2020-09-03 21:44] DeeDeeG commented on #1029
For the record, I think the task of properly adding alt-text was too challenging for me, every time I looked back into this.

For someone with knowledge of how these formulas could be said out loud, providing alt text would be appreciated by any screen reader users. For an example, the proper alt text for a fraction 1/2 could be something like "one over two" or "one divided by two" or "fraction wi

[2020-09-03 22:12] quietvoid commented on #1297
Yes it still happens.

![a](https://user-images.githubusercontent.com/39477805/92178645-faa18c00-ee10-11ea-84ff-fab6c2f0b748.png)

I've added the new output bitstream to the same MEGA folder.

[2020-09-04 00:28] ccccheung commented on #1454
With the command line:
```./SvtAv1EncApp -i input.y4m --intrabc-mode [1-3] -q 40 -b output.ivf```
We see the corruption and ffmpeg cannot properly decode the ivfs

With the command line:
```./SvtAv1EncApp -i input.y4m --intrabc-mode [1-3] -q 40 -scm 1 -b output.ivf```
The output bitstream looks normal and ffmpeg can properly decode the ivf

[2020-09-04 12:48] EwoutH commented on #238
@hassount Yes, huge steps have been made (in my opinion) in open sourcing the development process. Great work by the whole team!

The only thing that maybe deserves a bit more attention is roadmapping and milestones, in my opinion.

[2020-09-04 12:48] #238 closed

[2020-09-04 17:55] ccccheung opened #1472 "Hang with enable-overlay 1"
Following up on #1453
While PR #1462 was supposed to have fixed this issue, it seems it has not fully fixed it.
It seems that with --enable-overlay 1, the encoder still hangs in some situations

For 8 bit clips, I observed hangs  on frame 49  on presets 6-8 and frame 47 for preset 5.
For 10 bit clips, I didn't observe any hang

[2020-09-04 18:30] Somdyuti2 opened #1474 "[Question] On the motion estimation module in SVT-AV1."
Hi, I am trying to understand the motion estimation module of SVT-AV1 by studying the code and the associated documentation provided. I have a few questions regarding some parts which were not immediately apparent to me as follows:

1. From the documentation, I understand that SVT-AV1 uses hierarchical motion estimation (HME) to compute an initial search center of  a superblock (SB) and then a ref

[2020-09-04 22:56] ccccheung opened #1477 "Crash in 2 pass with long non-multiple of 8 resolution clip"
I observed a crash in when using the following sample command line for revision d2fb559

[code]

The encoder exits with signal 6 (SIGABRT) due to
``` realloc(): invalid next size ```
on frame 101

The parameters of the y4m I used are the following:
240 Frames
854x478

[2020-09-05 00:33] ccccheung opened #1478 "R2R found for non multiple of 8 clip for non-lp"
I have found an R2R in revision 4e2e52b with a clip that has a non-multiple of 8 resolution in both dimensions.
The R2R is found for both 8 bit and 10 bit
for 8 bit the R2R was observed in M0-M3
for 10bit the R2R was observed in M1-M4

clip parameters:
240 frames
854x478

with lp-1,
[code]
There is no R2R

However, the same sample command without --lp 1
[code]
There is R2R.

Some experiments I tri

[2020-09-07 07:06] hassount commented on #1477
this should be fixed by #1479

[2020-09-07 07:06] #1477 closed

[2020-09-07 07:08] hassount commented on #1454
this is now addressed by #1476 the illegal combinations for intraBC are shut

[2020-09-07 07:08] #1454 closed

[2020-09-07 19:06] hassount commented on #1425
Closing as the move happened

[2020-09-07 19:06] #1425 closed

[2020-09-08 20:06] z83rulek opened #1483 "--passes 2 with --rc 2 won't work"
When using :
SvtAv1EncApp -i ADA.y4m -w 1920 -h 1080 --fps-num 24000 --fps-denom 1001 --rc 2 --tbr 4000 --preset 3 --keyint 23 --irefresh-type 2 --passes 2 -b output.ivf

It says :
Error Instance 1: The rate control mode 2/3 LAD must be equal to intra_period
![註解 2020-09-09 040606](https://user-images.githubusercontent.com/21211498/92522747-cfc09900-f251-11ea-8f70-ba9cad479f6f.png)

[2020-09-08 20:16] hassount commented on #1483
Yes, that combination is not allowed  at this point with 2-pass working only with --rc 0 / 1. we probably need to update the error message

[2020-09-10 15:49] hassount opened #1487 "Move EbAppString.x files to the third party folder"
Move EbAppString.x files to the third party folder as it's license is different

[2020-09-10 21:41] ttrigui commented on #1474
Hi @Somdyuti2 please fin below my answers. I hope that it helps.

- The array we use to store the MVs is p_sb_best_mv[MAX_NUM_OF_REF_PIC_LIST][MAX_REF_IDX][SQUARE_PU_COUNT]. The xMV and yMV can be extracted using _MVXT() and _MVYT() as follows: _MVXT(context_ptr->p_sb_best_mv[list_index][ref_pic_index][n_idx])

- 1101 is the maximum number of blocks per SB when SB size is 64x64 and 4421 is the max

[2020-09-11 10:30] palexander-14 opened #1488 "Question about realtime priority set in code"
Hi!

The problem is not common but met quite often on CentOS 7 with kernel 3.10.0-327.36.3.el7.x86_64.
The problem is as follows.
Sometimes it happens when one of the threads (th_x for example) waiting on a mutex or a semaphore other threads (one of which, let's say it's th_y, should release the mutex of the semaphore which is waited by th_x), but the scheduler doesn't provide time for the th_y.
A

[2020-09-12 01:36] ccccheung commented on #1478
This issue seems to be only reproducible when multiple encodings are run in parallel. In this case 25 encodings run with 12 jobs in parallel with no lp option reproduces the r2r

[2020-09-13 02:14] Somdyuti2 commented on #1474
Hi, thanks for the answers. They are definitely helpful and I could find the MVs in the way you suggested. I think I would like to get a few things clarified though.

1.  So, the default SB size for ME is 64x64 (according to a comment in _Source/API/EbSvtAv1Enc.h_ and hence the number of square PUs that each SB can have is 85 (`SQUARE_PU_COUNT`), and MVs are computed for each of these. However, th

[2020-09-13 12:02] EwoutH commented on #238
@hassount Is there a replacement for the [Trello board](https://trello.com/b/g0lD2blK/svt-av1)? It seems deleted or taken private.

[2020-09-14 04:12] veikk0 opened #1492 "Allow GOP sizes larger than 256"
Currently, the maximum keyint is 256. This is probably fine for footage that's 30 fps or below as it allows a keyframe interval of up to 10-ish seconds, but for 60 fps and up it starts to run a bit short.

Also, it's a bit counterintuitive that the GOP size is always one larger than the value input with `--keyint`. I.e. `--keyint 60` results in a GOP size of 61.

[2020-09-14 21:59] spawlows commented on #1478
I see few R2R when encoder is run non parallel , and sizes are not multiple by 8 cmd:

[code]

[2020-09-14 22:49] ttrigui commented on #1474
Please find below my reply.

- When a 128x128 block is processed we use the MV of the corresponding 64x64 upper left block. For nsq PUs we actually do full search in MD md_nsq_motion_search() based on sq MVs which are used as MV center.  single_motion_search() this motion search is only done for OBMC which also uses ME MVs to derive other MVs for OBMC.

- Correct. Please refer to EbMeTierZeroPu .

[2020-09-14 23:12] OmranAbdelkafi commented on #1478
Thanks @spawlows for the information. Is there a reason you are using -pred-struct 0 and did you try the same use cases without that option and see if the r2r still exist ?

[2020-09-15 03:15] xuguangxin commented on #1061
I think this fixed by https://github.com/AOMediaCodec/SVT-AV1/pull/1352/commits/5deb3a3110d4221e48add7b694e90713297b908a. @intelmark  could you help double confirm it?

thanks

[2020-09-15 14:11] spawlows commented on #1478
Hi @OmranAbdelkafi  I checked without `-pred-struct` and i shure that bellow cmds have R2R issue:

[code]

[2020-09-15 14:16] intelmark commented on #1061
@xuguangxin - I reviewed the changes and the values are correct now.

[2020-09-15 16:14] hassount commented on #1061
thank you guys

[2020-09-15 16:14] #1061 closed

[2020-09-15 17:23] hassount commented on #1492
Makes sense to me, @ccccheung can you take a look at this ? @OmranAbdelkafi FYI

[2020-09-15 17:28] hassount commented on #1488
@palexander-14 thank you for the detailed description, this mechanism is needed to allow the encoder to use multi-threading to it's fullest extent on some linux distribution such as Ubuntu. This lets the Kernel not retire threads if they are not active so that when they are they can take a high priority in the queue. We see a significant CPU Utilization improvement when using such option.

Now as

[2020-09-15 17:29] hassount commented on #1487
@1480c1 can you please look into this ?

[2020-09-15 17:34] hassount commented on #1483
@paulsgh can you please look into this: blocking 2-pass VBR when used with --rc 2 / 3 in EbEncHandle.c

[2020-09-15 17:34] 1480c1 commented on #1488
I personally am for removing the whole setting the thread to real-time for similar reasons as mentioned https://github.com/OpenVisualCloud/SVT-HEVC/pull/564#discussion_r463376204 since when actually running any kind of video encoding or transcoding pipeline, the encoder is not the only thing that is actively running on a system, nor is it usually the highest priority process that is running

[2020-09-15 17:38] hassount commented on #1488
Thank you for the comment, while I agree that it's not the case at all times, it is sometimes as it will allow high compute workloads such as 4k and 8k later on work smoothly while requiring access to the full machine resources. In order to support those workloads, I prefer if we maintain this option for now.

[2020-09-15 17:39] 1480c1 commented on #1487
Sure, would it be better to copy the original files from https://github.com/intel/safestringlib/blob/master/safeclib/strncpy_s.c https://github.com/intel/safestringlib/blob/master/safeclib/strcpy_s.c and https://github.com/intel/safestringlib/blob/master/safeclib/strnlen_s.c and prefix the ones in `EbString.c`, set up https://github.com/intel/safestringlib as a cmake submodule that only builds the

[2020-09-15 17:46] hassount commented on #1487
sure that works

[2020-09-16 09:21] palexander-14 commented on #1488
Well, for me it is not an actual problem, I can handle this by myself as a patch before building the lib on my side.
But if you interested in my opinion, i'd like to see the setting to boost the process priority.

Thanks for the answers.
The issue can be closed if the discussion will no be followed up.

[2020-09-16 10:53] silverbacknet commented on #1488
I can't imagine this is a Ubuntu vs CentOS problem, more a # of cores problem, since thread priority is all in the kernel anyway. I like the idea of a --realtime-priority option over --disable-realtime-priority, but that's also because I come at it from the perspective of only have 8 or occasionally 16 cores to use, rather than the massively-multithreaded systems often used for SVT.

I've had occa

[2020-09-16 11:24] palexander-14 commented on #1488
Well, from my side I can say that I never got hangs on Ubuntu 16.04 or 20.04 on the same hardware.

[2020-09-16 11:42] spawlows commented on #1428
Fixed #1485

[2020-09-16 18:39] OmranAbdelkafi commented on #1428
closed with PR#1485

[2020-09-16 18:39] #1428 closed

[2020-09-16 20:49] Somdyuti2 commented on #1474
@ttrigui  thank you for the clarifications. It is fine if one of you could look into my last question about the reference pictures whenever you can later on, and let me know.

[2020-09-18 10:11] palexander-14 opened #1499 "Hang-up with VBR and "infinite" GOP in v0.8.5 and master (stream and settings specific)"
There is a hang-up caused by infinte loop in rate control.
(not specific to OS or hardware, macOS 10.14, Windows 10 x64, CentOS 7, Ubuntu 20.04, 6- and 8-core processors were checked)

To be more specific, the encoder stucks in the loop at https://github.com/AOMediaCodec/SVT-AV1/blob/671ffdf865090da4c47ddc7d2ab103a72283c86a/Source/Lib/Encoder/Codec/EbRateControlProcess.c#L666

The issue is specifi

[2020-09-18 23:35] hassount commented on #1499
@OmranAbdelkafi can we take a look at this ?

[2020-09-18 23:38] #1487 closed

[2020-09-20 09:33] veikk0 opened #1502 "Multi-rate encoding"
Since SVT-AV1 seems to be aimed primarily at VOD use cases at the moment, and one of the bigger challenges for AV1 adoption is encoding speed, supporting multi-rate encoding (reuse of analysis information between multiple resolution and bitrate encodes of the same content) seems like something that could be very beneficial to many users.

According to [this Demuxed 2018 presentation](https://www.y

[2020-09-20 18:20] hassount commented on #1502
@veikk0 thank you for the details and the additional information. It's indeed a good opportunity to save on cycles and potentially other optimizations. While this is not a short term projects we could potentially be looking into this after the optimizations for speed and quality are done on the presets.

we'll use this issue to track

[2020-09-21 03:40] hassount commented on #238
not really, as we didn't get good feedback about it we have decided not to use it anymore. questions about upcoming features are usually answered / tracked on issues or during the open dev meeting.

[2020-09-22 00:47] hassount commented on #1492
looking at this further, this cap is also due to a limitation of VBR, being still a WIP. so this would need to be applied to CRF only for now

[2020-09-22 00:50] #1478 closed

[2020-09-22 14:07] jonsneyers opened #1505 "Color space signaling; full-range vs restricted range"
Currently, the encoder is always signaling that the YCbCr values are using restricted range (16..235) and not full range (0..255). Is there a specific reason for this? For 8-bit encoding, using full range helps a little bit to avoid color banding.

[2020-09-22 20:58] hassount commented on #1505
a great opportunity for contributions!

[2020-09-23 09:49] palexander-14 opened #1507 "Encoder crashes in master and v0.8.5 when look ahead distance is more than 60 frames and enable_tpl_la is on"
There is a crash on long look ahead (more than 60 frames) when option enable_tpl_la == 1.
The crash happens on all platforms. On Windows for example it is an excpetion 0xc0000409 (STATUS_STACK_BUFFER_OVERRUN).
Command line:

`SvtAv1EncApp.exe -i "in_file.yuv" -w 1280 -h 720 --output "out.ivf" --rc 1 --tbr 2500 --fps 60 --preset 8 --keyint 60 --frames 300 --pred-struct 2 --hierarchical-levels 4 --i

[2020-09-23 13:03] palexander-14 commented on #1507
But it turned out that after applying the patch mentioned above the encoder hangs sometimes with different parameters.
And these hangs are very similar to https://github.com/AOMediaCodec/SVT-AV1/issues/1499

[2020-09-23 19:45] hassount commented on #1507
@palexander-14
right now, the max lookahead that TPL allows is 16 so it is expected that the code would not work properly if that changes. usually, if the parameter is not controlled by a run-time flag and is set by a MACRO inside the code, it means that the value has to be the one specified for now. the ```MAX_LAD``` macro is also used for --rc 1/2 thus the reason of setting a different one for `

[2020-09-24 05:59] palexander-14 commented on #1507
Thanks for clarification, @hassount

But it seems to me that the settings "validator" should be updated somehow (as well as the function which automatically calculates default value for the look ahead distance).
Right now the following command line leads to the crash:
`SvtAv1EncApp.exe -i "in_file.yuv" -w 1280 -h 720 --output "out.ivf" --rc 1 --tbr 2500 --fps 90`
becasue the enable_tpl_la option i

[2020-09-25 19:55] #1492 closed

[2020-09-25 21:49] hassount commented on #1507
good points, definitely something to be looked into, enable_tpl_la should not be enabled for rc > 0 already that's an issue.

[2020-09-28 17:57] ccccheung opened #1510 "mismatch between bitstreams generated by ffmpeg and by SVT-AV1 encoder app"
I have tried encoding the same set of clips using libsvtav1 via ffmpeg and the SVT-AV1 encoder app and found that the bitstreams produced by the two do not match.

The clip set I tested was a subset of the obj-1 fast 8bit set with presets M0, M4, and M8.

Since the ffmpeg wrapper doesn't expose most of the command line options, I had to match up the parameters on the encoder app's side to the defa

[2020-09-28 18:05] hassount commented on #1510
@xuguangxin can you take a quick look at the ffmpeg mismatch causing an extra frame to be encoded ?
@1480c1 can we add a ci test to make sure that these would always match ? encode / decode compare yuvs.

[2020-09-28 18:56] 1480c1 commented on #1510
For the mismatch test, do you want the comparison to be while it's an ivf or after decoding to yuv or both?

[2020-09-28 18:59] hassount commented on #1510
well it seems that the IVF comparison would produce a mismatch due to the way the headers are handled. so yuvs for now ?>

[2020-09-28 23:25] ccccheung commented on #1510
Other clips in the obj-1 fast 8 bit set that shows the same kind of mismatch as gipsrestat:
DOTA_2
ducks_take_off
KristenAndSara
MINECRAFT
Netflix_Aerial
Netflix_Boat
Netflix_Crosswalk
Netflix_DrivingPOV
Netflix_FoodMarket
Netflix_PierSeaside
Netflix_RollerCoaster
Netflix_SquareAndTimelapse
Netflix_TunnelFlag
shields
STARCRAFT
vidyo1
vidyo4

[2020-09-29 03:38] palexander-14 commented on #1499
A little update.
I've checked the originally reported command line with option enable_tpl_la disabled. It hangs as well.

[2020-09-29 04:16] xuguangxin commented on #1510
@ccccheung which comandline you used. I encoded 60 frames, dav1d reported 60 frames.

$ ./ffmpeg -i 128x128_60f.y4m -c:v libsvtav1 test.ivf
ffmpeg version N-99257-g01506c290a Copyright (c) 2000-2020 the FFmpeg developers
  built with gcc 7 (Ubuntu 7.5.0-3ubuntu1~18.04)
  configuration: --enable-gpl --enable-shared --prefix=/myopt/codecs/vaapi --disable-stripping --disable-optimizations --enable-de

[2020-09-29 17:00] ccccheung commented on #1510
@xuguangxin I tried it with the y4m versions and they seem to encode 60 frames.

But using yuv and the following command line
```./ffmpeg -s:v 1920x1080 -pix_fmt yuv420p -r 60000/1000 -i Netflix_Aerial_1920x1080_60fps_8bit_420_60f.yuv -qp 63 -preset 8 -c:v libsvtav1 -y output.ivf```

I get the following as output
[code]
And the following output from libdav1d:
[code]

[2020-09-29 17:08] #1483 closed

[2020-09-29 17:27] nshtg opened #1512 "nxm_sad_kernel_helper_avx2: Assertion `0' failed"
SVT-AV1 build from commit 0dc2297715861b78577b3790e361af74b6c4bfef

With a certain source material I trigger the `assert(0)` here: https://github.com/AOMediaCodec/SVT-AV1/blob/c9e41d3ad85ced9ae14709149d5d1d9bb9dcc29c/Source/Lib/Encoder/ASM_AVX2/EbComputeSAD_Intrinsic_AVX2.c#L4638

[code]

My CPU is a Ryzen 9 3900X running an up-to-date arch@5.8.12-arch1-1.
I have encoded ~15h of movie material wit

[2020-09-29 17:32] nshtg commented on #1512
Affects the latest commit 3fbd1ee928b4100c211c0ee38e84614589c1a1da too.

[2020-10-02 16:49] Somdyuti2 commented on #1474
Hi, could I ask for a couple of further clarifications regarding the MVs that are computed by the ` motion_estimate_sb()` function?

- I extracted the MVs using `_MVXT()` and `_MVYT()` as you suggested for a few different test sequences and different `--preset` settings. However, in all cases, some MVs seem to be having a unusually large magnitudes, that are even larger than the frame dimensions f

[2020-10-02 21:30] lu-zero opened #1518 "Make --help go to stdout"
It makes piping it to a pager more straightforward.

[2020-10-03 06:22] silverbacknet commented on #1474
The full-pel estimation process will output 4x scaled up vectors because they have to be used with the quarter-pel interpolated image that they'll be refined in, or simply output as-is for the ; after refinement at higher levels, you should see final MVs that aren't a multiple of 4. Likewise, I believe if 8th-pel interpolation is used, full-pel will be in multiples of 8, though I'm not familiar wi