[2019-08-09 19:39] #532 closed

[2019-08-12 06:23] hassount opened #533 "Adding Alt-ref for Key frames"
Working Branch: https://github.com/OpenVisualCloud/SVT-AV1/tree/tf-key

[2019-08-12 06:31] hassount opened #534 "Mode decision staging and classes"
## Description:
Breaking the fast loop and full loop in the mode decision into multiple stages using adding the tools precision as stages get closer to the encode pass. Introducing prediction classes to allow particular modes to get through all stages into the encode pass.

## Working branch:
https://github.com/OpenVisualCloud/SVT-AV1/tree/m0-test

[2019-08-12 06:33] hassount opened #535 "2-pass encoding"
## Description:
Adding support for 2-pass encoding to improve quality. The wip features are:
- [x] adaptive qp modulation

## Working branch:
https://github.com/OpenVisualCloud/SVT-AV1/tree/rtime-m0-test

[2019-08-12 18:46] JacksonDagger commented on #244
Was this in VS 2015 or 2017? What commit was this?

[2019-08-13 10:15] Cidana-Developers opened #538 "Invalid bitstream generated when IntraPeriod is set"
commit id: d0f64ffa3230ace50c70b7b42c9b25642dd8a944
build type: release
platform: ubuntu 16.04
Steps:
1. encode the bitstream with SvtAv1EncApp:
[code]
2. try to decode with dav1d:
[code]

[2019-08-13 10:17] Cidana-Developers opened #539 "Encoder crashed when the SpeedControlFlag is set"
commit id: d0f64ff
build type: release
platform: ubuntu 16.04
Steps:
[code]

[2019-08-13 10:31] Cidana-Developers commented on #538
If the intra-period is set to 3, mismatch happened.
1. Encode the bitstream
[code]
Decode the bitstream:
[code]
Verify the recon and decoded yuv:
[code]

[2019-08-13 19:09] JacksonDagger commented on #368
This crash is still present in the master and only affects encoding modes 7 and 8

[2019-08-14 15:05] DesWurstes commented on #539
Even though I'm on macOS:

(Manual) Stack trace:

`eb_system_resource_ctor` calls `EB_NEW` many times, then `eb_system_resource_ctor`, `EbMuxingQueueCtor`, which calls `EbFifoCtor` multiplied by thread count, then `EB_CREATE_SEMAPHORE`, which creates ~250 semaphores before [this](https://github.com/OpenVisualCloud/SVT-AV1/blob/2f4852a031277cfb7cfd2f07c7a4f41c8591fcc7/Source/Lib/Common/Codec/EbThre

[2019-08-14 23:11] JacksonDagger commented on #240
I couldn't recreate this. When I tried with the command line `SvtAv1EncApp -nch 2 -i ~/Desktop/stream/speed_4096x2160_60fps_10bit_420_840f.yuv ~/Desktop/stream/speed_1080p.yuv -b 2160p.bin 1080p.bin -w 4096 1920 -h 2160 1080 -enc-mode 4 4 -compressed-ten-bit-format 0 0 -q 31 31 -rc 0 0 -fps 50 60` the encoding remained at 1335 frames indefinitely. When this happened, SvtAv1EncApp dropped from usin

[2019-08-14 23:32] JacksonDagger commented on #240
When I append `-n 200 200` bef6750 and d0f64ff encodes to 400 frames successfully.

[2019-08-15 05:14] kylophone commented on #466
This has been addressed. soname mismatch was causing the problem.

[2019-08-15 05:14] #466 closed

[2019-08-15 08:27] GuCaixuan opened #542 "Unit Test Build Fails on Ubuntu 16.04/18.04"
[Test environment]
OS： Ubuntu 18.04.2 LTS / Ubuntu 16.04.5 LTS
SVT CommitID: d0f64ff
cmake version 3.10.2
yasm 1.3.0
gcc (Ubuntu 7.3.0-27ubuntu1~18.04) 7.3.0 / gcc (Ubuntu 7.3.0-21ubuntu1~16.04) 7.3.0

[Issue Description]
**It will be built failed with running cmd ‘./build.sh release test’ or ‘./build.sh debug test’ on 18.04.2 and Ubuntu 16.04.5 platform, the error message as follow:**
[code]
**Re

[2019-08-16 07:45] Cidana-Developers opened #545 "Mismatch issue in quantize unit test"
Step to reproduce:
`./SvtAv1UnitTests --gtest_filter="*Quantize*"`

Console output:
[code]

Target functions:
[code]
It happens when the coefficient are big and the difference is always 1.

[2019-08-16 07:46] Cidana-Developers opened #546 "Mismatch issue in dual loop filter unit test"
Step to reproduce:
`./SvtAv1UnitTests --gtest_filter="*LoopFilter*"`

Console output (Only the failed cases):
[code]
Target functions:
[code]

[2019-08-16 07:47] Cidana-Developers opened #547 "Mismatch issue in wiener convolve unit test"
Step to reproduce:
`./SvtAv1UnitTests --gtest_filter="*WienerConvolve*"`

console output:
[code]
target function:
`eb_av1_wiener_convolve_add_src_avx2`

It's probably caused by the rounding or clamp.

[2019-08-16 09:22] DesWurstes commented on #542
Fixed by the first commit of https://github.com/OpenVisualCloud/SVT-AV1/pull/497

[2019-08-16 20:42] jefft0 opened #548 "Multiple tile groups per frame"
I am able the build and use SvtAv1EncApp with `-tile-rows` and `-tile-columns`. It looks like it puts all the tiles on one tile group, and each frame has only one tile group. Is it possible for SvtAv1EncApp to use multiple tile groups per frame? (Perhaps an option with each tile is in its own group.) I ask because a tile can depend on the data in other tiles in the tile group, but tiles in one til

[2019-08-16 20:52] lzhangnj commented on #332
Wrong issue. The mismatch is caused by unit test code and fixed by PR #543.

[2019-08-16 20:52] #332 closed

[2019-08-19 13:08] spawlows commented on #545
QuantizeBTest.input_dcac_minmax_q_n*
QuantizeBTest.input_random_all_q_all*

Above tests fail only for 8 bits.

There is no implementation of eb_aom_quantize_b_*_c_II in AVX2.
there is only implementation for 10bits eb_aom_highbd_quantize_b_*_avx2 .

Reference code in C for 8bit, and 10bit have different algorithm.

In code there are also incorrect assign kernel from 10bits to 8 bits:
eb_aom_quanti

[2019-08-19 22:57] hguermaz opened #557 "Predictive ME"
Ability to perform an ME Search around the best MVP @ MD.

[2019-08-20 16:25] KyleSiefring opened #559 "Segfault with screen content test clip"
Download https://people.xiph.org/~tdaede/sets/objective-1-fast/wikipedia_420.y4m
[code]
Succeeds on enc-mode 6.

[2019-08-20 23:04] JacksonDagger commented on #559
I got the same error in Windows on VS17 with the following error message and call stack:

'Exception thrown at 0x00007FF8A6D8197C (ucrtbased.dll) in SvtAv1EncApp.exe: 0xC0000005: Access violation reading location 0xFFFFFFFFFFFFFFFF.'

'''
	SvtAv1Enc.dll!eb_aom_free(void * memblk) Line 86	C
 	SvtAv1Enc.dll!hash_table_clear_all(HashTable * p_hash_table) Line 31	C
 	SvtAv1Enc.dll!av1_hash_table_destr

[2019-08-21 13:10] moisesmcardona opened #562 "SVT-AV1 not working with FFmpeg"
SVT-AV1 fails to encode a video, and generates a 0-byte file.

Input args:
`ffmpeg -i C:\Users\cardo\Videos\Data\test.y4m -c:v libsvt_av1 "C:\Users\cardo\Videos\Data\ffmpeg-test-av1.ivf"`

Output:
[code]

That's all I see. The result is a 0-byte file and ffmpeg exists.

This is using the latest ffmpeg source code, and the svt-av1 patch applied.

[2019-08-22 14:25] luigi311 commented on #517
@AurelC2G I implemented a fix in HEVC and will try and get it implemented here.

[2019-08-22 17:39] #481 closed

[2019-08-22 17:48] #557 closed

[2019-08-23 12:41] f11894 commented on #562
The binaries I built work fine.
私がビルドしたバイナリでは正常に動作しています。
https://ci.appveyor.com/project/f11894/svt-av1/builds/26908904/artifacts

[2019-08-23 15:21] luigi311 commented on #517
@AurelC2G Can you give my pull request a try #565

[2019-08-23 17:43] moisesmcardona commented on #562
When built with MinGW, it doesn't work. Above are linked the merges into the Media Autobuild suite project.

[2019-08-23 18:33] 1480c1 commented on #562
Looking at the appveyor build, it seems it's built using the mingw-w64 toolchain from msys2(looking at the gcc version with 9.1.0, I think it is msys2's). So at least it's similar to mabs, although it is only building SVT-AV1 with ffmpeg rather than the whole list of external libs including SVT-HEVC

[2019-08-23 18:34] 1480c1 commented on #562
@moisesmcardona, try recompiling ffmpeg without svthevc

[2019-08-23 18:44] moisesmcardona commented on #562
Compiling it! I'll report back when it finishes and if it works.

[2019-08-23 19:32] moisesmcardona commented on #562
No luck... Still exits with the exact output as above.

[2019-08-23 19:33] 1480c1 commented on #562
Can you reclone media-autobuild_suite and disable everything except ffmpeg and SVT-AV1?

Lets make sure it isn't media-autobuild_suite only problem

[2019-08-23 19:39] moisesmcardona commented on #562
Yes. I'll do it later today.

On Fri, Aug 23, 2019, 3:33 PM Christopher Degawa <notifications@github.com>
wrote:

[2019-08-23 22:09] moisesmcardona commented on #562
@1480c1, weird... It's working when built alone in the suite... Maybe I should try to rebuild the suite cleanly?

[2019-08-23 23:46] moisesmcardona commented on #562
We can close this issue here and continue in the media autobuild suite repo.

[2019-08-23 23:46] #562 closed

[2019-08-25 00:29] moisespr123 opened #567 "libsvtav1 conflicts with other libraries in ffmpeg. Does not run unless they are disabled."
Hi,

I've been trying to get `libsvtav1` to run on ffmpeg built using the `media-autobuild-suite` build script.

While it does compiles, it turns out that `libsvtav1` conflicts with `libopencore-amrwb`, `libsvthevc` and `libaom`. Disabling these libraries makes `libsvtav1` encode a video successfully.

## Conflict with `libopencore-amrwb`:
[code]

## Conflict with `libsvthevc`:
[code]

## Conflict

[2019-08-26 17:54] kylophone opened #572 "Reduce, clean-up globals"
Inspired by #567, I wanted to take a look at what global variables SVT-AV1 was exporting. I'm not sure many have tested encoding with multiple encoder contexts, but I wouldn't be surprised if this global state causes some wonkiness and/or crashes. Ideally we would clean this up in a few ways:

1. Don't declare/export unnecessary global variables.
2. For those that we must (LUTs, function pointers,

[2019-08-28 10:02] chenjin3 commented on #178
It works.

[2019-08-28 21:15] hguermaz opened #577 "Shut HME for 360p"
(HME OFF + bigger ME Search Area) provides better BD-Rate/Speed trade-offs than current settings for 360p.

[2019-08-28 23:39] hguermaz opened #578 "MFMV not supported"
Add the support for MFMV

[2019-08-29 16:48] hguermaz opened #579 "MD Exit @ Inter Depth Decision"
Lossless optimizations could tale place @ inter depth decision; exit if current child cost is higher than parent cost (i.e. no need to execute all child)

[2019-08-29 23:37] #534 closed

[2019-08-30 06:23] xuguangxin commented on #572
hmm, some global variables like max_sb is really harmful, it will changed by this line
https://github.com/OpenVisualCloud/SVT-AV1/blob/9e67b31961c59166cbeca85b9838061607c9ad09/Source/Lib/Common/Codec/EbUtility.c#L1289
So if you set use_128x128 to true for first instance, and set use_128x128 to false for second instace.
it may crash the first instance...

[2019-08-30 06:27] xuguangxin commented on #567
the libaom issue is a newly introduced issue. I have fixed this before through https://github.com/OpenVisualCloud/SVT-AV1/commit/6dc355b218d3040177833ab73a347792dfb39dc5
After we fixed this issue again, is it possible to add this library to ci? It will avoid future build fail.
@hassount @kylophone

[2019-08-30 16:39] hguermaz opened #584 "Disable dual interpolation filter"
Dual interpolation filter OFF provides better BD-Rate/Speed than disable dual interpolation filter ON

[2019-08-30 17:42] hguermaz opened #587 "Enhance SC Settings"
Provide better BD-Rate/Speed trade-offs for SC contents

[2019-08-30 20:44] #587 closed

[2019-08-31 00:31] #577 closed

[2019-09-01 07:02] #584 closed

[2019-09-03 17:04] kylophone commented on #523
Half-way fixed. #581 could be merged as soon as Windows support is added.

[2019-09-04 17:31] hguermaz opened #593 "m0-test faster than master"
Not all speed optimization(s) ported from m0-test to master

[2019-09-04 18:12] #578 closed

[2019-09-04 21:50] #579 closed

[2019-09-05 16:00] EwoutH commented on #29
@hassount Could we do another minor pre-release sometime soon? Maybe create a [milestone](https://github.com/OpenVisualCloud/SVT-AV1/milestones) for 0.7 and assign issues that should be fixed before the next release to it.

[2019-09-05 21:44] hassount commented on #29
@EwoutH
working hard on getting the major features synced to master to get a 0.7.0

[2019-09-09 06:02] xuguangxin commented on #538
I have this issue too.
If i use following command
`ffmpeg -i test.mp4 -c:v libsvt_av1 -qp 10 -g 30  -vframes 100 test_30.mp4`
I will see error reported by ffmpeg
[code]

the output will corrupt at frame 44/31(44 for encoder order, 31 for display order)

[2019-09-09 09:27] Cidana-Developers opened #598 "Mismatch issue found in avc style mcp unit test"
The interpolation result from avc_style_luma_interpolation_filter_vertical_ssse3_intrin is different with the one from avc_style_luma_interpolation_filter_vertical, which makes functions (i.e. avc_style_luma_interpolation_filter_pos{e, f, g, i, j, k, p, q, r}_ssse3) return wrong result.

[2019-09-09 20:23] mafonsoN opened #600 "Leaked memory"
Running the debug build in the current master (commit b7b71ce) shows several memory leaks. Some seem to have been introduced by the MFMV PR #582, but others were already there before. @hguermaz, @chkngit, @anaghdin, @hassount can anyone have a look at these?

Example command line:

[code]

Output:
[code]

[2019-09-09 20:29] #593 closed

[2019-09-10 20:11] agouaillard-cosmo commented on #202
Hi hassount, any update on this? What is the status of the real-time mode?

[2019-09-11 22:48] andrey-norkin opened #603 "Add a restriction for memory used by SVT-AV1"
Currently, SVT-AV1 either uses the -lp parameter or checks for number of cores on the system to decide how many memory to allocate. When running in a container, it is possible that the amount of allocated memory is limited for the container rather than the number of cores. It is desirable to have a mode that allows the SVT-AV1 encoder to allocate the memory according to a specified limit on the me

[2019-09-12 05:54] xuguangxin opened #605 "SvtAv1EncApp crashed for "-scm 1 -enc-mode 5""
commandline： SvtAv1EncApp -i xxx.y4m -scm 1 -enc-mode 5 -b test.bin -n 1
stack:
[code]

[2019-09-12 06:00] xuguangxin commented on #605
this issue found by https://github.com/OpenVisualCloud/SVT-AV1/pull/314#issuecomment-530612742

[2019-09-13 16:41] #329 closed

[2019-09-16 11:08] EwoutH commented on #29
@hassount Let's try to get back to a monthly pre-release schedule. Would tagging 0.7 this week be realistic?

[2019-09-16 14:40] EwoutH commented on #4
@1480c1 What do you think of the new [GitHub Actions](https://github.com/features/actions)? Especially in comparison with Travis.

[2019-09-16 14:59] 1480c1 commented on #4
I have yet to test them since I only recently got access, but it does seem interesting since it's direct integration with GitHub plus I think it was 6 hours of build time allowed per build. I'm concerned about how to manage dependencies, but I will try it out soon

[2019-09-16 22:52] EwoutH commented on #4
I just dived in a little deeper, build environments, dependencies and references are still in heavy development not documented that well. I hope this improves with the general release (13 november), for now Travis seems like the better option.

The tight integration with GitHub could be an advantage in the long term (and also a risk).

[2019-09-17 04:18] xuguangxin commented on #605
@n808 sorry for missing this.
I can't reproduce the issue. My command line is
`../Bin/Debug/SvtAv1EncApp -i xxxx.y4m -rc 3 -stat-report 1 -scd 1 -stat-file av1_encode_stats.log -enc-mode 6  -b test.bin -n 1000 -tbr 900000 -nb -1`

could you get the latest code and try your test again?
thanks

[2019-09-17 07:07] xuguangxin commented on #559
from the stack, it may be same thing as https://github.com/OpenVisualCloud/SVT-AV1/issues/605

please double check it fixed by https://github.com/OpenVisualCloud/SVT-AV1/pull/606 or not

[2019-09-17 07:28] n808 commented on #605
No problem, I have verified that the crash problem has been fixed.

[2019-09-17 13:01] Ilya87 opened #616 "Banding artifacts"
I encoded this (https://yadi.sk/i/qBkjd3TzJ_yBQQ) video with the latest git version (on Arch Linux x86_64).
`SvtAv1EncApp -i stdin -w 1920 -h 1080 -fps-num 24000 -fps-denom 1001 -enc-mode 4 -rc 0 -q 15 -intra-period 23 -lad 23 -n 749 -b eva_svt-av1_q15.bin` - for 8 bit encoding
And
`SvtAv1EncApp -i stdin -w 1920 -h 1080 -fps-num 24000 -fps-denom 1001 -enc-mode 4 -rc 0 -q 15/14 -intra-period 23 -la

[2019-09-17 18:08] JackZhouVCD commented on #600
If I recall correctly, b7b71ce still has an assertion failed runtime error in debug mode for M0 (I'm running on Windows). Did you encounter that as well? I used the same commandline but I don't have `BQSquare_416x240_60fps_8bit_420.yuv` so I used the `176x144` version

[code]

[2019-09-17 23:25] EwoutH commented on #238
@hassount @kylophone @andrey-norkin @joelsole

First of all, congratulations on the [live streaming demo](https://twitter.com/videolan/status/1172811555387432960) with Mozilla on IBC. Unfortunatly I couldn't attent, but great achievement!

That being said, this is a problem: https://github.com/HandBrake/HandBrake/issues/2313#issuecomment-531261296. PRs from outside contributors are made for good r

[2019-09-18 00:04] JackZhouVCD commented on #539
issue fixed by #544

[2019-09-18 00:04] #539 closed

[2019-09-18 00:14] JackZhouVCD commented on #368
@Cidana-Developers can you guys check if the crash is still present? I think it has been addressed by #544 and but I don't have access to a macos machine so I can't confirm.

[2019-09-18 00:30] KyleSiefring commented on #559
Seems to be resolve to me.

[2019-09-18 00:30] #559 closed

[2019-09-18 09:02] EwoutH commented on #4
@hassount @tianjunwork Could one of you sign up for GitHub Actions Beta? Then we could slowly start with some testing of a GitHub Actions based CI. https://github.com/features/actions/signup/?account=OpenVisualCloud

[2019-09-18 23:11] ttrigui commented on #546
None of these kernels are being used in the current master. In the process of code cleanup this code will probably be removed.

[2019-09-19 16:12] ttrigui commented on #547
I believe this issue was fixed. I was not able to reproduce it in the latest master.
@Cidana-Developers can you please double check it?

[2019-09-19 17:55] hassount commented on #324
@anaghdin
can we take another look at this ?

[2019-09-19 19:39] #517 closed

[2019-09-19 20:02] ttrigui commented on #598
I tested this within your branch add_Mcp_test as the PR for MCP test is not in yet.
This was the output  error: Expected equality of these values:
  0
  fail_pixel_Count
    Which is: 4096
Mcp test failed,  failed count: 4096 at func: [pose]

I'm not sure that I understand the error message. What was the expected output value? Maybe you can add a little more information to help narrowing down the

[2019-09-19 20:08] ttrigui commented on #545
As @spawlows stated the c version for 8bit and 10bit are slightly different( we have an extra clamp to clip the coefficient values in the 8bit case) However we are using the same avx2 version for both 8bit and 10bit. In most cases this will work fine but it is safer to align the 8bit avx2 version to its c code to guarantee exactness for the output values.

[2019-09-19 23:39] #401 closed

[2019-09-20 00:17] joelsole opened #622 "Improve 10-bit support"
Performance vs libaom for 10-bit seems to be lagging behind that of 8-bit. Some tools are being integrated for 8-bit, while not for 10-bit. To be added in the 10-bit (and higher) path:

- [x] Alt-ref
- [x] Intra-inter compound mode
- [x] Inter-inter compound mode
- [x] RDOQ (bug in intrinsics #510)
- [x] Filter intra
- [x] Interpolation filter search
- [x] ATB inter
- [x] MD
- Predict NSQ Shape (s

[2019-09-20 01:29] Cidana-Developers commented on #598
The mismatch issues is caused by the c implementation, the if_offset in avc_style_luma_interpolation_filter_vertical should be int16_t type instead of uint32_t.

I fixed it in #568 , please kindly review it.

[2019-09-20 01:32] Cidana-Developers commented on #547
Seems like it still exists in commit 8e4cf49fa913bc0b7d0f92bd1342f589e281c639

[2019-09-20 01:39] Cidana-Developers commented on #368
Just double checked, no crash raised any more. @JackZhouVCD

[2019-09-20 01:40] Cidana-Developers commented on #546
Ok, please also remove the unit tests as the functions are removed.

[2019-09-20 02:40] #368 closed

[2019-09-20 16:14] EwoutH commented on #4
@1480c1 We should add a 10-bit test case and a test case with resolution not dividable by 8 at some point.

[2019-09-22 22:07] #600 closed

[2019-09-23 09:48] jsunintel commented on #482
-threads is not supposed to get supported, for that parameter defined in FFmpeg is with the max of 16. And SVT-HEVC usually works with hundreds of threads. We added a new parameter "-thread-count" and please have a try: https://github.com/OpenVisualCloud/SVT-HEVC/pull/330/.

-rc issue is already fixed.

I will be checking the tile parameters.

FFmpeg communication is mainly through emails. Nowhere

[2019-09-23 17:29] SmilingWolf opened #632 "Divide by zero in initial_rate_control_kernel"
In the file under Source/Lib/Common/Codec/EbInitialRateControlProcess.c:

- at line 1273 picture_control_set_ptr->processed_leaf_count[cu_depth] is initialized with 0

- is it then immediately used in a division at line 1285, resulting in a division by 0

The code responsible of updating this variable has been removed by commit 4f180cce01c74a91e2f5c9f95a31eac5a315c0f2

The bugged code is reached w

[2019-09-23 18:37] JackZhouVCD commented on #632
Thanks for reporting the issue, the sharpness feature is not supported in SVT-AV1 and we will eventually be removing it.

[2019-09-23 20:12] SmilingWolf opened #633 "Corrupted bitstream with -enc-mode 3"
SVT-AV1 commit: 0343007

System:
CPU: i7-4770 (with AVX2)
OS: Win7 64bit

Clip (compressed with FFV1): https://mega.nz/#!FpAjkSTT!7VDpPDSdYh6QPy2NlexwrKNJAzZNfXmiqvpjGJOHwR0
Encoded file: [svtav1.cq16sp3.bugRepro.zip](https://github.com/OpenVisualCloud/SVT-AV1/files/3643945/svtav1.cq16sp3.bugRepro.zip)

Cmdlines used:
[code]

dav1d can decode the clip, but there are noticeable artifacts:
![032](ht

[2019-09-23 22:10] ttrigui commented on #547
Correct. Looking into it.

[2019-09-23 23:41] JackZhouVCD commented on #633
possible duplicate of #538 , I will take a look into this, thanks for reporting this issue!

[2019-09-24 00:32] JackZhouVCD opened #636 "Type C4244 Build warnings on MSVC compiler"
When building the code from master (at the time of writing commit 0343007), build warnings are encountered regarding truncating values from uint16_t to uint8_t:

For example:
[code]

[2019-09-24 05:46] SmilingWolf commented on #633
Tested without setting `-intra-period 23`, the error is still present.
Encoded file: [svtav1.cq16sp3.bugRepro.zip](https://github.com/OpenVisualCloud/SVT-AV1/files/3645386/svtav1.cq16sp3.bugRepro.zip)

I have noticed, however, that this problem only appears when using `-enc-mode 3`, whereas `-enc-mode 2` and `-enc-mode 4` work. Encoded files at modes 2 and 4: [enc-mode2and4.zip](https://github.com

[2019-09-24 19:07] JackZhouVCD commented on #633
Thanks for the issue report! I ran a bisect and found that this is caused by PR #588. We will look into this and get it fixed as soon as possible.

[2019-09-24 23:15] #632 closed

[2019-09-24 23:27] #636 closed

[2019-09-25 21:55] hguermaz opened #642 "ATB for INTER"
ATB for INTER not supported

[2019-09-25 21:56] hguermaz opened #643 "rtime-m0-test faster than master"
master does not have all rtime-m0-test speed optimizations

[2019-09-26 05:44] liweki opened #645 "[SVT-AV1]SvtAv1EncApp fail to encode the YUV file of non-multiple of 8 resolutions"
Try to encode one YUV file with resolution 852x480 using the latest SVT-AV1 code ab84224, the encode is failed with error "Error Instance 1: Only multiple of 8 resolutions are supported". Seems the code doesn't do align with non-multiple of 8 resolutions while encoding.

**See below as the detail test command and log:**
./SvtAv1EncApp -i video_852x480.yuv -b video_852x480.av1 -w 852 -h 480 -bit-de

[2019-09-26 09:24] EwoutH opened #647 "Fix GCC 8 compile warning"
I noticed a build warning when compiling with GCC 8. Here's a [Travis log](https://travis-ci.com/OpenVisualCloud/SVT-AV1/jobs/239323880#L680).
[code]
Blocks #646.

[2019-09-26 12:14] vladimir2k commented on #382
 ЗАМЕЧАТЕЛЬНАЯ КОМАНДА ФОТОКТО  НЕ МОЖЕТ СОВЛАДАТЬ С ВОССТАНОВЛЕНИЕМ ПАРОЛЯ !  ПРИСЫЛАЕТ  СНОСКИ ДЛЯ ВОССТАНОВЛЕНИЯ ПАРОЛЯ К  delete id 31343 - НЕ СУЩЕСТВУЮЩИМ СТРАНИЦАМ В ФОТОКТО.  НА  СКРИНШОТЫ , РЕАЛЬНЫЙ ID - АДРЕС НЕ РЕАГИРУЕТ.  НА РЕАЛЬНЫЙ ЛОГИН -  НЕ РЕАГИРУЕТ ! ЧТО ВООБЩЕ СНИМИ ТАКОЕ?   26.09.2019, 14:20, "fotokto.ru" <support@fotokto.ru>:Здравствуйте, delete (id31343) !Вы запросили восстан

[2019-09-27 00:30] ultrawide commented on #645
I built #620 and ran the following:
./SvtAv1EncApp.exe -i test.yuv -b test.av1 -w 852 -h 480 -bit-depth 8 -fps 60 -intra-period 55 -n 20 -compressed-ten-bit-format 0 -q 27 -enc-mode 8 -rc 0

Issue is no longer found.

[2019-09-27 05:29] kalgi13 opened #651 "Error writing trailer of pipe:: Broken pipe"
Hi,
I am having this error while processing video with ffmpeg
![Screenshot from 2019-09-27 10-59-18](https://user-images.githubusercontent.com/51786470/65744405-e095fe80-e115-11e9-9632-a5585bb8c291.png)

[2019-09-27 05:31] kalgi13 opened #652 "nm, read the error closer and figured out height of the input video wasn't a multiple of 8"
nm, read the error closer and figured out height of the input video wasn't a multiple of 8
It is still not working, Any other solution ?

_Originally posted by @singhkays in https://github.com/OpenVisualCloud/SVT-AV1/issues/17#issuecomment-460462627_

[2019-09-27 08:22] EwoutH commented on #259
I think we should reconsider sending the patch in with the 0.7.0 release. A big advantage from being integrated in mainline FFmpeg is the wider user base, which will be able to find bugs more quickly.

[2019-09-27 09:26] xuguangxin commented on #259
totally agree with this.
@hassount & @jsunintel , what do you think?

[2019-09-27 14:07] n808 opened #656 "allocate memory failed"
This error message appears every time, yet encoding continues:
allocate memory failed, at path/git/SVT-AV1/Source/Lib/Common/Codec/RateControlModel.c, L86
Example cmd line to repro: "ffmpeg -loglevel verbose -y  -i "Sintel_1080p.mp4" -r 2402400/100000 -threads 10 -t 10.000000  -map v:0   -pix_fmt yuv420p  -f yuv4mpegpipe - 2> "ffmpeg.log" | SvtAv1EncApp -i stdin -bit-depth 8 -scd 1 -nb -1 -enc-mod

[2019-09-27 14:16] n808 commented on #656
I realize now that this problem occurs because argument -n <number of frames> is missing. If I add this number, calculated to match the number of frames corresponding to -t <time> argument to ffmpeg, everything works. I will adjust my workflow correspondingly.

Feel free to close this issue as needed.

[2019-09-27 16:59] Fuchs4 commented on #656
I disagree. I encountered this issue as well, and it definitively didn't exist a few weeks ago. In my opinion the encoder shouldn't require the -n argument. Gathering the number of frames for an arbitrary video can be very time consuming, and is impossible when streaming.

I compiled it with makepkg in manjaro linux and makepkg gave me the following warning:
`WARNUNG: Paket enthält einen Verweis a

[2019-09-27 19:41] JackZhouVCD commented on #652
possible duplicate of #645

[2019-09-27 22:27] hassount commented on #259
I agree that this will provide more exposure to testing in the wider community. however, we plan to perform a lot of API changes over the next couple of months after which we could do the upstream so 0.8.0 / 0.8.5 would be a good time

[2019-09-28 17:23] baxxtor opened #658 "SVT-AV1 v.7 Error - ASM 0 not supported when trying to use the encoder with SVT-AV1 FFMPEG plugin"
With SVT-AV1 v.7 I receive the following error whenever I try to use the encoder through FFMPEG with SVT-AV1 plugin.  Unfortunately, there is no way to set the ASM type through the ffmpeg plugin so the encoder is unusable.

Error Instance 1: Asm 0 is not supported in this build .
[libsvt_av1 @ 000001E3FE1A9900] Error setting encoder parameters

FFMPEG plugin worked with v.6 without issue.  SVT-AV1

[2019-09-28 21:48] amigainc commented on #35
The same on Ubuntu 18.04, using this method:
[https://github.com/OpenVisualCloud/SVT-VP9/issues/24](https://github.com/OpenVisualCloud/SVT-VP9/issues/24)

[2019-09-29 02:41] lizhong1008 commented on #259
@hassount , agree that would be good to upstream if the API is statable. Another input from is compatibility:  the plugin in ffmpg mainline should be compatible with diffrent SVT API and libary version, so if you have any update about the API/libary, would be good to bump a new API/libary version then can be checked in FFmpeg to make sure wouldn't break with legacy versions.

[2019-09-29 10:27] laxusvip opened #659 "Variable names and functions in the program without any explanation and comments"
Variable names and functions in the program without any explanation and comments?It's hard to change the code...Please guide me, is there  other reference ?

[2019-10-01 17:03] DesWurstes commented on #647
One way to fix this is to change

[code]

to

[code]

[here](https://github.com/OpenVisualCloud/SVT-AV1/blob/master/Source/Lib/Common/Codec/EbAdaptiveMotionVectorPrediction.c#L1118), but this could be a sign of a hiding bug.

[2019-10-02 06:47] #548 closed

[2019-10-02 17:38] kylophone opened #663 "Turn off Github Merge Commits"
I will turn off the Github merge commits unless there are objections.

[2019-10-02 22:34] joelsole opened #664 "Segmentation fault in master reading the input file"
When an input file is provided in the config file (via InputFile) and also provided in the command line, like this:

./SvtAv1EncApp -i Niklas_17fr_480x264_30fps_8bits_420.yuv -w 480 -h 264 -q 50 -fps-num 30 -fps-denom 1 -b Niklas_17fr_480x264_30fps_8bits_420_eo1_emode8_qp50.ivf -intra-period 31 -bit-depth 8 -c ../../Config/Sample.cfg -lad 17 -o recon_Niklas_17fr_480x264_30fps_8bits_420_eo1_emode8_

[2019-10-03 01:45] #664 closed

[2019-10-03 03:05] kylophone commented on #645
Fixed by #620

[2019-10-03 03:05] #645 closed

[2019-10-03 03:06] kylophone commented on #652
fixed by #620

[2019-10-03 03:06] #652 closed

[2019-10-03 21:02] JackZhouVCD commented on #290
fixed by #620

[2019-10-03 21:02] #290 closed

[2019-10-03 21:12] JackZhouVCD commented on #321
Thanks for the suggestion, we now have teams for SVT-AV1 organized as seen [here](https://github.com/orgs/OpenVisualCloud/teams?query=av1)

[2019-10-03 21:12] #321 closed

[2019-10-03 21:14] 1480c1 commented on #321
@JackZhouVCD, I think the teams are private so we are unable to see them

[2019-10-03 21:43] JackZhouVCD commented on #446
closed by #595

[2019-10-03 21:43] #446 closed

[2019-10-03 21:58] joelsole commented on #296
@hassount can we close this?

[2019-10-03 21:59] JackZhouVCD commented on #373
fixed by #371

[2019-10-03 21:59] #373 closed

[2019-10-03 22:01] JackZhouVCD commented on #659
duplicate of #369

[2019-10-03 22:09] JackZhouVCD commented on #651
Thanks for the report! Can you provide us with more information on how you got this error?

[2019-10-03 22:17] JackZhouVCD commented on #275
All of the features and changes on `hguermaz/SVT-AV1/lm-opt` has been ported to Master already. As such, it is not longer an active branch.

[2019-10-03 22:17] #275 closed

[2019-10-03 23:18] hassount commented on #296
we can close it when #649 is merged

[2019-10-04 00:15] AlexBoswellVCD commented on #441
Could you please provide more detail on what you mean it not encoding normally?

I tried encoding using your command at that commit, and then when I tried to decode using the aom decoder I get the following:
Warning: Failed to decode frame 22: Corrupt frame detected
Warning: Additional information: Failed to decode tile data

[2019-10-04 02:38] hassount opened #668 "Code Cleanup"
Now that the feature implementations are almost complete, Let's use this issue to set the items to be cleaned up. If you see something, please put it here:

**Phase 1:**
- [x] remove rate control mode 1
- [x] remove use_ssd as input to md_stage_0.
- [x] remove decoupled_fast_loop_search_method and decouple_intra_inter_fast_loop
- [x] remove lcu from naming (e.g. mode_decision_configure_lcu to mode

[2019-10-04 02:43] #643 closed

[2019-10-04 10:16] EwoutH commented on #321
Can confirm, unable to see them.

[2019-10-04 16:41] anaghdin commented on #150
@hassount do we still have the problem?

[2019-10-04 17:06] #545 closed

[2019-10-04 17:30] JackZhouVCD commented on #598
closed by #568

[2019-10-04 17:30] #598 closed

[2019-10-04 17:38] JackZhouVCD commented on #547
to be fixed by #661

[2019-10-04 17:41] AlexBoswellVCD commented on #323
I ran this test case 15 times and didn't see a r2r issue.

@JackZhouVCD  also crawled through the entire objective-1-fast test set with all encode modes and only saw the r2r issue in M1 and M3.

[2019-10-04 18:54] anaghdin commented on #324
@hassount @mafonsoN I was not able to reproduce the problem. Can we get a member of testing team try to reproduce it?

[2019-10-07 20:17] #642 closed

[2019-10-07 22:04] EwoutH commented on #647
@hassount Could you assign someone to review DesWurstes suggestion, and to asses if there might be an hiding bug?

[2019-10-07 22:31] EwoutH commented on #4
@1480c1 You want to give it a go? https://twitter.com/travisci/status/1181257292018311176

[2019-10-07 22:44] 1480c1 commented on #4
That's actually very interesting, however, SVT encoders only support x86_64 afaik

[2019-10-07 22:46] 1480c1 commented on #4
I might try it would with some other projects to see what's possible

[2019-10-07 22:51] EwoutH commented on #4
@1480c1 If you disable the x86 specific assembly (AVX2 etc.) it should compile fine on Arm I think. Will take a look tomorrow.

[2019-10-07 22:56] 1480c1 commented on #4
I'll also see if that's possible, although I'm currently trying to write some cmakelists for vmaf as a side project

[2019-10-07 22:58] 1480c1 commented on #4
It may be possible to disable the simds using cmake on architectures other than x86

https://stackoverflow.com/questions/11944060/how-to-detect-target-architecture-using-cmake

[2019-10-08 00:24] #296 closed

[2019-10-08 02:20] hguermaz opened #673 "RDOQ for CHROMA"
RDOQ for CHROMA not supported

[2019-10-08 03:09] #547 closed

[2019-10-08 05:11] bitbytebit-cr opened #675 "FFmpeg output in mp4 has VFR, with WebM has frame shift making VMAF low"
I am using the newest git master with the FFmpeg patch. I get VFR with varying 2-29.976+ FPS using MP4, with Webm it does an odd shift (think with both actually) seen below in the 3rd frame. Suddenly it isn't the same as the reference and VMAF and PSNR are lower after that (around half values). This seems to possibly todo with the muxing to the formats I suspect. When I remux webm output to mp4 or

[2019-10-08 05:17] hassount commented on #675
@bitbytebit-cr thnx for the report, could you add a command line and the encoder output log so that we could repro ?

[2019-10-08 11:20] f11894 opened #676 "Encoding using pipe input stops in the middle"
Windows10

command line
[code]

Success. f1be002
Failed. 63771e5 or later

[2019-10-08 11:28] 1480c1 commented on #676
Mingw build or msvc?

[2019-10-08 11:32] f11894 commented on #676
Both

[2019-10-08 12:49] j-mas commented on #676
The same problem here!!! Please solve it! Thank you!!!

[2019-10-08 13:19] bitbytebit-cr commented on #675
Here is a full ffmpeg -report output of it having the issue. It seems to not be for all content, yet happens with ProRes for certain. I suspect it has todo with the timestamps from the original or something, in the code I see the pts/dts stuff and it feels like something is off but haven't found it in my fiddling around with setting it up.

Thank You!
Christopher Kennedy
[ffmpeg_output.txt](https:

[2019-10-08 20:02] hassount commented on #647
@chkngit
you have a comment on this section saying:
//CHKN I dont think we need the third

Does the above change fixing a warning look right to you ?

[2019-10-08 20:05] hassount commented on #178
@mafonsoN @kylophone
Is this still an issue or has it been addressed ?

[2019-10-08 20:09] #673 closed

[2019-10-08 20:23] chkngit commented on #647
checked aom code and they seemed to have changed this to:
      // Build up the compound mv predictor
      int_mv comp_list[MAX_MV_REF_CANDIDATES][2];

      for (int idx = 0; idx < 2; ++idx) {
        int comp_idx = 0;
        for (int list_idx = 0;
             list_idx < ref_id_count[idx] && comp_idx < MAX_MV_REF_CANDIDATES;
             ++list_idx, ++comp_idx)
          comp_list[comp_idx][id

[2019-10-08 20:47] okhlif opened #677 "OBMC motion mode"
trello reference:   https://trello.com/c/XFV6W81A/22-obmc
Working branch: https://github.com/OpenVisualCloud/SVT-AV1/tree/OBMC

[2019-10-08 22:23] EwoutH commented on #4
@1480c1 Does the current build script ([Build/linux/build.sh](https://github.com/OpenVisualCloud/SVT-AV1/blob/master/Build/linux/build.sh)) allow for builds without assembly code? If so, which parameters do I have to pass?

[2019-10-08 22:24] 1480c1 commented on #4
No since that would require work on the cmakelists side, it's possible to make an option to exclude assembly code, but I also fear that would make a lot of undefined errors when trying to link

[2019-10-08 22:35] EwoutH commented on #4
@1480c1 Currently a build on Arm looks like this: https://gist.github.com/EwoutH/e1e5df8e148f3d0a76d80fcb48bda61e

Could you give that a try? I think it would increase general stability and compatibility greatly if SVT-AV1 also can be build and tested on plain C without assembly.

Ideally, at some point it would be possible to set different platforms (x86, ARMv8, POWER9) and then the CMake list de

[2019-10-08 22:58] 1480c1 commented on #4
I could try after I finish my homework, it would be an interesting undertaking to say the least

[2019-10-09 16:32] joelsole commented on #485
All tools have been added to the decoder. I didn't observe any crash in some quick tests.

Closing this issue shortly. If another such crash/mismatch occurs, please, open a new issue with the specific details.

[2019-10-09 18:30] #485 closed

[2019-10-09 21:29] joelsole opened #683 "Encoder/decoder harmonization"
There is some misalignment and code duplication between encoder and decoder. Functions, structures, and macros need harmonization.

A non-comprehensive list of duplications:

- find_warp_samples, has_overlappable_cand, is_motion_mode_allowed, is_comp_ref_allowed, av1_is_interp_needed, filter_intra_allowed_bsize, is_directional_mode, use_angle_delta, get_lower_levels_ctx_eob, ...
- AV1_DEBLOCKING_P

[2019-10-09 23:51] joelsole opened #687 "Expose features/tools at the encoder configuration"
Encoder features/tools to be controlled via configuration flags: enable turning on/off AV1 coding tools for finer control of complexity/efficiency tradeoffs and for easier testing & development.

List of tools to include:

- [X] RDOQ `-rdoq`
- [x] allow_intrabc
- [X] allow_warped_motion `-local-warp`
- [x] atb_mode `-atb`
- [ ] cdf_mode `-cdf`
- [X] combine_class12 `-class-12`
- [X] edge_based_ski

[2019-10-10 00:35] PhoenixWorthVCD opened #688 "rtime-m0-test has more accurate cost calc than master"
rtime-m0-test has improved CDEF decision by using a more accurate cost calc than master

[2019-10-10 12:49] sturmen opened #689 "[ffmpeg-plugin] SVT-AV1 plugin produces null output"
Finally got around to filing an issue for this.

# Issue
Whenever I try to encode video using ffmpeg (built with SVT-AV1), it produces an empty 0 byte output file.

# Repro
- build ffmpeg on Windows using [Media Autobuild Suite](https://github.com/m-ab-s/media-autobuild_suite). Here is [my config](https://github.com/OpenVisualCloud/SVT-AV1/files/3712575/media-autobuild_suite.txt). (renamed from .i

[2019-10-10 13:30] 1480c1 commented on #689
Can you try the SvtAv1EncApp directly? Make sure to convert the mp4 to a y4m or yuv beforehand

[2019-10-10 16:18] sturmen commented on #689
The SvtAv1EncApp downloaded from the releases page works perfectly well on the same configuration, which I realized I didn't describe in my original post. Later tonight I'll also verify that the version built by Media Autobuild Suite also works.
- Windows 10 1903
- Intel i9-9900K (stock settings)
- NVIDIA RTX 2080 (stock settings)

[2019-10-10 23:44] sturmen commented on #689
I have verified that the SvcAv1EncApp.exe file generated by MABS encodes files successfullly.

[2019-10-11 20:50] bitbytebit-cr opened #690 "memory allocation message for RC"
I am getting this message on encoding with the SvtEncApp...

commit: 91fc5b17978d23a593cc48d04488573ae64dfb51

Encoding          allocate memory failed, at /mob/www/perceptual_hash_encoder/SVT-AV1/Source/Lib/Common/Codec/RateControlModel.c, L86

Using these options:

SvtAv1EncApp -enc-mode 8 -rc 2 -tbr 7000000 -intra-period 48

SVT-AV1 Encoder
SVT [version]:  SVT-AV1 Encoder Lib v0.7.0
SVT [build]

[2019-10-12 01:07] hassount commented on #688
Can we add the expected gain for this feature?

[2019-10-12 05:23] jbeich opened #691 "Shared library has incomplete dependencies (aka underlinking)"
Consumers may fail to build if `--as-needed` is buggy (see ffmpeg example below) or `pkg-config` is not used. `pkg-config SvtAv1Enc --libs` output is also incorrect: `-lpthread` and `-lm` are not part of API, so should be in `Libs.private`, not `Libs`.

https://github.com/OpenVisualCloud/SVT-AV1/blob/91fc5b17978d23a593cc48d04488573ae64dfb51/Source/Lib/Encoder/CMakeLists.txt#L39-L47

[code]

[code]

[2019-10-12 08:53] LifeIsStrange opened #692 "Experiment using Fast inverse chip z-transform"
I'm not an expert, but this seems like a major discovery in signal processing!

From the comments I read:
*Sounds like a pretty awesome milestone to me. So, perhaps in the near future, new compression schemes might allow for reduced mp3 and mp4 file sizes, which means that for the same bandwidth we could see increased resolution/ higher frame rates*

And

*It should be a O(n log n) rather than O(n

[2019-10-12 10:12] LifeIsStrange opened #693 "Improving the state of the art of lossless and lossy image compression"
I thought this would be a topic that might interest Intel and Netflix, for economic, altruistic and ecological reasons.

Sorry this issue is not related to SVT-AV1, and if accepted, would lead to the creation of a new SVT decoder.

The codec world is stagnating for many reasons,
Let's imagine an inventor named Bob which after years of hard work, has found and benchmarked his new codec (image, audi

[2019-10-14 09:04] laxusvip opened #695 "newest vesion debug error"
run SvtAV1EncApp

in EcTempoalFiltering.c  L2198
assert(height_y * picture_control_set_ptr_central->enhanced_picture_ptr->stride_y == picture_control_set_ptr_central->enhanced_picture_ptr->luma_size);

[2019-10-14 09:17] EwoutH commented on #647
@chkngit Can you open a pull request?

[2019-10-14 18:02] LifeIsStrange commented on #693
Well after some researchs, I come a little late to the party, and I have very good news!

The flif developper has made a successor of flif named FUIF:
https://github.com/cloudinary/fuif
At the same time, Google has been working on a successor to webp:
https://github.com/google/pik

It happen that since 2016, the JPEG foundation has made a call for making a new standard, the successor of JPEG.
Both

[2019-10-15 12:50] grill05 opened #698 "Is a crf-based rc mode planned?"
I noticed that there is an open issue (enhancement) about support 2-pass mode (bit-rate), and work is ongoing in a separate branch.
While 2-pass vbr would be an improvement (quality-wise) over the current encoder, a crf based rc-mode is useful if the optimal bitrate is not known. x265/x264 do this in 1-pass while libaom does with with 2 passes.
Svt is already a lot faster than libaom for comparabl

[2019-10-15 17:51] JackZhouVCD commented on #695
Thanks for report this error! Can you share with us:

- the command you used
- your system environment
- (if possible) the clip that was used

so we can look into this issue?

[2019-10-15 18:37] hguermaz opened #699 "rtime-m0-test and master streams not matching"

[2019-10-15 18:51] bitbytebit-cr commented on #690
This seems to be a duplicate of #656 so can close.

[2019-10-15 18:51] #690 closed

[2019-10-15 19:06] grill05 opened #701 "Support output to stdout for improved pipe support {feature request}"
Currently, when using ffmpeg with SvtAv1EncApp with pipes, one does

`ffmpeg -i input.mkv -an -s 424x240 -f yuv4mpegpipe -pix_fmt yuv420p  - | SvtAv1EncApp -i stdin -n 10 -w 424 -h 240  -fps 24 -rc 3 -tbr 75000 -enc-mode 5  test.webm`

for producing output to a file test.webm
The problem here is that one cannot encode audio simultaneously. If Svt could output to stdout, one could do

`ffmpeg -i in

[2019-10-15 19:35] SmilingWolf commented on #633
I can still reproduce the issue with a build from commit 91fc5b17, is there any news on this?

I'm attaching the generated IVFs, both with -intra-period set to 23 and without. Both are defective.

[bugRepro.91fc5b17.zip](https://github.com/OpenVisualCloud/SVT-AV1/files/3731122/bugRepro.91fc5b17.zip)

[2019-10-15 19:55] JackZhouVCD commented on #633
Thanks for the reminder. We have yet to come up with a fix, but I have found two ways to work around this issue:
- turn on screen content mode with `-scm 1` in the command that you are using to encode the clip
- if you don't want to turn on screen content mode, then you will have to use 64x64 superblocks instead of 128x128. This is not yet implemented as a functioning commandline argument, but it

[2019-10-15 21:53] ksuhiyp commented on #567
I can confirm that libsvtav1 conflicts with libaom in ffmpeg, when trying to work with libav1st ffmpeg segfaults form the 1 frame

[2019-10-15 22:00] ksuhiyp commented on #170
@hassount I am using the plugin, how can i set intra-refresh-type 2 in ffmpeg?

[2019-10-16 02:18] laxusvip commented on #695
-i *.yuv -w 1920 -h 1080-lp 2 -n 1 -b *.ivf -stat-report 1 -enc-mode 0
window10 X64

[2019-10-16 02:57] jbeich commented on #170
`SvtAv1EncApp ... -irefresh-type 2` is probably `ffmpeg ... -c:v libsvt_av1 -forced-idr true`.
https://github.com/OpenVisualCloud/SVT-AV1/blob/eb2b6551d6559c039b8e1036167f51351e9870ab/ffmpeg_plugin/0001-Add-ability-for-ffmpeg-to-run-svt-av1.patch#L303
[code]

[2019-10-16 18:14] chkngit commented on #647
@okhlif  can you please have this PRed?

[2019-10-16 20:54] 1480c1 commented on #663
Has this been done already?

[2019-10-16 20:58] 1480c1 commented on #668
Although this probably should belong in another issue, would it be possible to reduce the amount of public headers (`EbSvtAv1.h EbSvtAv1Dec.h EbSvtAv1Enc.h EbSvtAv1ErrorCodes.h EbSvtAv1ExtFrameBuf.h EbSvtAv1Formats.h`) by combining them or something similar before the next public release and before the api is stable?

[2019-10-16 20:58] 1480c1 commented on #668
Particularly across all of the SVT encoders

[2019-10-16 21:04] hassount commented on #668
@andrey-norkin any thoughts ?

[2019-10-17 02:03] #699 closed

[2019-10-17 04:46] hassount commented on #663
Done

[2019-10-17 05:02] 1480c1 commented on #701
Related to https://github.com/OpenVisualCloud/SVT-AV1/issues/302

Duplicate of https://github.com/OpenVisualCloud/SVT-AV1/issues/231

[2019-10-17 09:50] n808 opened #708 "VBV Max Bitrate and Buffer size {enhancement}"
Max Bitrate is defined in the specification's Levels table. However, if I wanted to change this to a lower number, I have so far been unable to find where to modify the source code to influence max bitrate. Any suggestions?

With regards to the VBV max buffer size, it appears possible to modify the code as suggested below to achieve this.

[code]

[2019-10-17 11:52] EwoutH commented on #701
@hassount Could we get this in for the [0.7.5 release](https://github.com/OpenVisualCloud/SVT-AV1/milestone/1)? Would be a great addition to enlarge the user base (and thus testing and bug reports).

Also a useful step for #259.

[2019-10-17 16:13] hassount commented on #701
@EwoutH getting it in 0.7.5 is probably not going to be possible as we won't have resources to support this feature. Though, this is high level enough to be open for contributions.

[2019-10-17 16:34] j-mas commented on #701
@hassount@EwoutH
I think this is the most important feature for us users in the nearest future!

[2019-10-17 16:47] grill05 commented on #701
From a user perspective, I'd say 2-pass vbr mode is absolutely essential, while crf-mode and output to stdout would be very nice to have.
That is because the encoder output looks very bad (visually) for high motion scenes right now (at low-ish bit rates). Whenever there is high motion/scene-change the encoder produces very visible pixellation (at low bit rates). Hopefully 2-pass vbr should help wi

[2019-10-17 18:22] bitbytebit-cr opened #710 "Using enc mode 5 or lower + -intra-period 31 or greater (24 fps source) results in stall at empty buffer allocate semaphore"
When encoding with mode 5 or below + an intra period of 31 frames or more (24 fps video) the SvtAv1EncApp sits without any CPU usage indefinitely stalled on the first/second frame (Processes 1 frame) here as captured with GDB...

[code]

[2019-10-17 19:00] kylophone commented on #663
Thanks, closed.

[2019-10-17 19:00] #663 closed

[2019-10-17 19:00] kylophone commented on #523
Closing. Fixed (?) by #581.

[2019-10-17 19:00] #523 closed

[2019-10-17 22:50] #677 closed

[2019-10-17 23:37] #647 closed

[2019-10-18 00:10] bitbytebit-cr commented on #710
Note my intention is to have a 2 second GOP. Hence my use of 48 frames for 24 fps video. Also I am wanting a non-open-gop, I believe, unless there is a good reason for the default value being an open gop at 1 second intervals? I may be missing something from past discussions or code, so any information or documentation updates would be great + hopefully provides helpful context into what I am tryi

[2019-10-18 14:19] okhlif opened #713 "Filter intra prediction"
trello reference: https://trello.com/c/ecmOP19C/62-filter-intra
Working branch: https://github.com/OpenVisualCloud/SVT-AV1/tree/filter_intra

[2019-10-18 16:59] kylophone commented on #676
@f11894, How many frames went in and how many frames came out?

[2019-10-18 17:02] kylophone commented on #676
@moisespr123, have you had issues with this too?

[2019-10-18 17:06] hassount commented on #710
@bitbytebit-cr
Thank you for reporting the issue. As the encoder is still a work in progress, we need to use the open gop setting to get the maximum compression performance as we are implementing the tools. Once the encoder stabilizes, we can set the closed gop by default. As for the gop size it should be based on the application we just chose a default setting of 1 sec as the rate control algorit

[2019-10-18 17:17] okhlif opened #715 "NEAR_NEW & NEW_NEAR mode support"
add support for NEAR_NEW & NEW_NEAR modes

[2019-10-18 17:55] kylophone commented on #701
Implemented as follows. There is a larger problem, however. There is all sorts of nonsense being logged to stdout in the library and exe via `printf()` which will result in mangled bitstreams. So before we can actually have this feature, that needs to be cleaned up. There are two ways that can be dealt with, as outlined below, my preference being for that latter. This should be a relatively simple

[2019-10-18 18:04] kylophone commented on #231
Duplicate of #701, I'll close this one for now and we'll track this issue there.

[2019-10-18 18:04] #231 closed

[2019-10-18 23:02] j-mas opened #718 "AppVeyor Build failes"
All AppVeyor Builds since Build 1.0.3178 fail! Please fix the problem!

[2019-10-19 00:15] #715 closed

[2019-10-19 00:17] f11894 commented on #676
After pipe all 60 frames of the source video, SVT-AV1 encodes only 1 frame.
https://i.imgur.com/3SMfWhL.gif

[2019-10-21 05:24] hassount commented on #718
should be fixed when #720 is merged

[2019-10-21 05:29] #718 closed

[2019-10-21 05:37] PhoenixWorthVCD opened #721 "rtime-m0-test branch has faster mode decision than master"
The rtime branch uses NSQ shape prediction in its mode decision, making it faster than master.

[2019-10-21 10:44] Fuchs4 commented on #150
I am still getting this error on some files. I tested different enc-modes (mostly 3,4 and 5) and have seen the error for all tested enc-modes, but always on different files.  When remuxing the muxed file again or calculating PSNR with ffmpeg, I'm getting the following error:
`[NULL @ 0x5580395a2680] zero_bit out of range: 1, but must be in [0,0].
[NULL @ 0x5580395a2680] Failed to read unit 0 (type

[2019-10-21 11:29] EwoutH opened #724 "Add FFmpeg patch to enable all SVT encoders"
There now are [FFmpeg plugins](https://github.com/OpenVisualCloud/SVT-AV1/tree/master/ffmpeg_plugin) to add SVT-AV1 to FFmpeg and to add both SVT-AV1 and SVT-HEVC to FFmpeg. It would be nice if there was one singluar plugin that enables all SVT encoders (AV1, HEVC and VP9) and potentially in the future, SVT-AVS3, for FFmpeg.

Maybe a separate repository for plugins (FFmpeg, Gstreamer and potential

[2019-10-21 12:47] grill05 commented on #724
has the problem of conflicting symbols with libaom (which causes segfault when svt tries to encode the first frame  via ffmpeg) been solved ? It would be nice to have --enable-libaom and --enable-libsvt(av1) simultaneously.

[2019-10-21 12:54] grill05 commented on #724
does the plugin still work with ffmpeg master?
I was getting a segfault a few days ago when svt tried to encode the first frame(through ffmpeg). There may be conflicting symbols with libaom. I was compiling  ffmpeg with --enable-libaom --enable-libdav1d --enable-libsvtav1

[2019-10-21 22:15] j-mas opened #727 "-nostdin / stdin"
Until the AppVeyor build 1.0.2930, the following command line works fine:

ffmpeg.exe -loglevel fatal -hide_banner -i C: \ Movie \ 1.mkv -nostdin -f rawvideo -pix_fmt yuv420p - | SVT-AV1 \ SvtAv1EncApp.exe -i stdin -w 1920 -h 1080 -n 800 -rc 2 -tbr 2000000 -enc-mode 6 -b C: \ Movie \ test_out.mkv
From the AppVeyor build 1.0.2931 it does not work anymore! Why?

Please check and restore this feature

[2019-10-21 22:31] 1480c1 commented on #727
Could you at least describe what is outputted to console/why it doesn't work? Not all of the developers use/test windows plus not everyone has time to check each feature. If you can provide some information, it would make it easier to figure out what's wrong.

Also, when typing in code or commands, you can mark them off with `` ` `` (backticks, next to 1) so that they do not get formatted ( `ffmpe

[2019-10-21 22:40] hassount commented on #727
@j-mas 2931 seems quite old, can you try the latest ?

[2019-10-21 23:01] j-mas commented on #727
@hassount @1480c1
AppVeyor Build 1.0.2930 is about 11 days old. I tried the newest one Build 1.0.3247 but the result is the same. Build 1.0.2930 is the last one which works correctly with the mentioned command.

The encoding works but since Build 1.0.2931 the resulting video is completely color-shifted and doubled and has an additional big margin on the right side. Unfortunately, I can not describ

[2019-10-21 23:17] okhlif opened #728 "hbd-md 1 debug crash"
hbd-md 1 mode debug crash and run to run

[2019-10-21 23:20] ttrigui commented on #710
@bitbytebit-cr I was not able to reproduce the deadlock. I used the same command you have used and tried running on both windows and Linux. The code was built with  GCC 8.2.1 20180905 (Red Hat 8.2.1-3) on Linux and I still cannot reproduce the issue.

[2019-10-21 23:31] j-mas commented on #727
@hassount @1480c1
![2019-10-22](https://user-images.githubusercontent.com/43079436/67250419-9c272580-f46b-11e9-853d-359ddf851427.png)

[2019-10-21 23:34] #713 closed

[2019-10-22 00:17] f11894 commented on #727
Probably also related to #676

@j-mas Isn't the issue occurring from 1.0.2888?
https://ci.appveyor.com/project/OpenVisualCloud/svt-av1/builds/27829803

[2019-10-22 06:33] grill05 opened #730 "very prominent "blocking" artifacts(pixellation) during motion (2-pass VBR mode)"
I've encoded a 2-minute clip using both libaom (2-pass with crf=45, cpu-used=4) and svt (2-pass, rc=3, enc-mode=5). Both encodes have essentially the same bitrate. The source video was 720p. I've downscaled to 360p while testing (mainly because of encoding speed reasons)

The libaom encode looks very good visually. The Svt encode looks as good (to the naked eye) during periods of low motion. But w

[2019-10-22 13:55] j-mas commented on #727
@f11894
You are right. But I tested all AppVeyor Builds and the last one who works with this command line is the Build 1.0.2930.

It is interesting that this applies only to the release SVT-AV1 v.0.7.0. The last AppVeyor build 1.0.3261 of the release SVT-AV1 v.0.5.0 works.

[2019-10-22 15:49] Fuchs4 commented on #730
SVT AV1 is much faster, but speed always comes at a cost. SVT AV1 enc-mode 5 can not compete with libaom if it comes to quality/file size ratio. Try a lower enc-mode and you will see better results, at the cost of a much slower encode.

[2019-10-22 17:08] grill05 commented on #730
That is reasonable. The reason for posting this comparison was, that on my testbed, libaom -cpu-used=4 runs roughly as fast (slow) as svt -enc-mode 4. OTOH svt enc-mode=5 runs about 70% faster.The artifacts are still present with enc-modes 4 and 3.
The point was that this is a more or less "fair" comparison, in the sense that I'm comparing two equally fast (slow) modes, and both libaom and svt are

[2019-10-22 17:32] grill05 commented on #730
Those artifacts can still be seen (during high motion periods) at enc-modes 4 and 3. For low-motion scenes, the svt output looks pretty good. And using -q makes them go away. So there might be something more involved here than a speed/quality trade-off.
On my testbed, enc-mode 4 and cpu-used=4 are roughly equally fast. So to get a speedup (vs liaaom) I have to use at least enc-mode 5 .

[2019-10-22 18:56] hassount commented on #730
@grill05
Thank you for your feedback.
The 2-pass implementation that is currently in the master is a milestone that is meant to add support of a second pass block level qp modulation / qp scaling / temporal filtering settings. The rate control implementation did not change and this work is planned for future future releases.
Apart from that and keeping the 2-pass away, you are comparing a vbr mode

[2019-10-22 19:04] grill05 commented on #730
@hassount thanks for the follow-up.
The command line I used for svt was
`ffmpeg  -i input.mkv  -s 640x360   -an  -f yuv4mpegpipe -sn - | SvtAv1EncApp -i stdin -w 640 -h 360 -fps 24.0  -n 2877 -rc 3 -tbr 200000  -output-stat-file out.stat  -irefresh-type 2  -enc-mode 7 -enc-mode-2p 5 -b out.svt.mkv
ffmpeg  -i input.mkv  -s 640x360   -an  -f yuv4mpegpipe -sn - | SvtAv1EncApp -i stdin -w 640 -h 360 -

[2019-10-22 19:15] grill05 commented on #698
See @hassount reply for https://github.com/OpenVisualCloud/SVT-AV1/issues/730

[2019-10-22 19:15] #698 closed

[2019-10-22 21:36] AlexBoswellVCD opened #732 "Assertion Failed: sign <= 2"
I ran SvtAv1EncApp.exe in debug mode with the following command

[code]

It yields the following error

[code]

[2019-10-22 22:13] ttrigui commented on #727
@j-mas Can you check if [https://github.com/OpenVisualCloud/SVT-AV1/tree/Bug_Fix_Reading_Unnamed_Pipe](url) fixes the issue?

[2019-10-22 22:16] ttrigui commented on #676
@f11894 Can you check if 7981c7d fixes the issue?

[2019-10-22 22:40] j-mas commented on #727
@ttrigui
AppVeyor Build 1.0.3284 fixed the issue and works!!!!!
but in AppVeyor Build 1.0.3285 it doesn work again!

[2019-10-22 22:50] moisespr123 commented on #676
@kylophone sorry, haven't tested SVt-AV1 lately.

[2019-10-22 23:02] ttrigui commented on #727
Can you please point me to your exes? You can probably share links.
I'm trying to find the builds but I do not seem to find the AppVeyor build versions you are using.

[2019-10-22 23:04] f11894 commented on #676
@ttrigui Thank you so much.
Verified that the issue has been resolved.

[2019-10-22 23:04] #676 closed

[2019-10-22 23:11] j-mas commented on #727
@ttrigui
I use the builds from the following page:

https://ci.appveyor.com/project/OpenVisualCloud/svt-av1/history

Build 1.03284 works
Build 1.03285 has the same problems as before. I think that 7981c7d fixes the issue!

[2019-10-22 23:16] j-mas commented on #727
@ttrigui

https://ci.appveyor.com/project/OpenVisualCloud/svt-av1/builds/28304322/artifacts
works
https://ci.appveyor.com/project/OpenVisualCloud/svt-av1/builds/28304516/artifacts
do not

[2019-10-22 23:22] ttrigui commented on #727
Ok thank you. Yes it makes sense that 1.03284 works and 1.03285 does not.
1.03285 does not have the fix. I only committed the fix to Bug_Fix_Reading_Unnamed_Pipe which correspond to AppVeyor build  1.0.3284

[2019-10-22 23:26] ttrigui opened #733 "Valgrind Errors"
[code]
Valgrind error caused by uninitialized value of is_interintra_used in update_mi_map
Line    miPtr[miX + miY * mi_stride].mbmi.ref_frame[1] = cu_ptr->is_interintra_used ? INTRA_FRAME : rf[1];

I believe that there are two issues:
- [x] 	The value is not being set in inject_intra_candidates and inject_intra_candidates_ois. I added setting the value to 0 to avoid testing on uninitialized value

[2019-10-22 23:35] j-mas commented on #727
OK.
Thank you very much for the fix.
It would be very nice if you could merge him to master for future builds!

[2019-10-23 00:03] #695 closed

[2019-10-23 02:55] audelaney commented on #710
I have also noticed this issue.

userbeef@serverbeef:~/videos$ gdb
GNU gdb (Ubuntu 8.1-0ubuntu3.1) 8.1.0.20180409-git
Copyright (C) 2018 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "show copying"
and "show wa

[2019-10-23 02:59] audelaney commented on #710
I have also noticed this issue. Ubuntu server 18.04.3 with GCC 7.4.0.

[code]

[2019-10-23 10:39] EwoutH opened #734 "EncMode 3 and 4 BDrate regression"
Between 1f82662 and 0175b58 I noticed a BDrate regressiom in EncMode 4 and 3. EncMode 5 to 8 weren't impacted as far as I can see, I didn't test mode 2 to 0 (due to compute time limitations) so they could also be impacted.

See these runs on AWCY: [EncMode 3](https://beta.arewecompressedyet.com/?job=SVT-AV1-enc-mode-3%402019-10-06&job=SVT-AV1-enc-mode-3%402019-10-22) and [EncMode 4](https://beta.a

[2019-10-23 16:22] 1480c1 commented on #668
Before 0.7.0, can https://github.com/OpenVisualCloud/SVT-AV1/issues/567 be addressed? Especially the conflicts with libaom since that's the most common lib people would probably link with ffmpeg

[2019-10-23 19:25] JacksonDagger commented on #240
I can no longer recreate the deadlock mentioned above

[2019-10-23 19:34] 1480c1 opened #735 "[Documentation]: Add Codeowners file?"
"GitHub CODEOWNERS file is a simple way to automate away some of the pain associated with the review system on github, by automatically assigning reviewers to a pull request based on which files were modified."

Having a codeowners file can help delegate pr reviewers based on file or folder automatically and can help mark who is more familiar with certain files.

Something like
[code]

It seems it

[2019-10-23 20:12] AlexBoswellVCD opened #736 "2pass Error : Error in freed returnVal 0"
**Error Description**
The encoder in Linux for the **second** pass will print "Error in freed  returnVal 0" and appear to finish encoding anyways
[code]

**Reproducing the error**

I ran the following command on Linux for the first pass encode

[code]

and then this following command to the second pass encode

[code]

I confirmed the bug exists in the current master as well as 628437e

[2019-10-24 13:11] ksuhiyp opened #738 "Backward timestamp values"
FFmpeg version **master**
SVTAV1 version **master**

Using FFmpeg plugin with the following args:

`ffmpeg -y -i raw.mp4 -c:v libsvt_av1 -c:a libopus -g 50 -f webm raw.webm`

I am getting

`Non-monotonous DTS in output stream 0:0; previous: 1720, current: 1440; changing to 1720. This may result in incorrect timestamps in the output file.`[log.txt](https://github.com/OpenVisualCloud/SVT-AV1/files/3

[2019-10-24 15:53] luigi311 commented on #738
Try doing the same conversion but with another video codec and see if it is actually being caused by this specific video codec or if its an issue with libopus.

[2019-10-24 15:56] luigi311 commented on #736
Looks like you have output and input stat file on both passes. Based on the user guide i think you are only supposed to include the output-stat-file on the first pass and then the input-stat-file on the 2nd pass.

[2019-10-24 15:57] luigi311 commented on #736
Try
`SvtAv1EncApp -enc-mode 5 -w 640 -h 360 -n 3 -i blue_sky_360p_60f.yuv -q 20 -fps-num 25000 -fps-denom 1000 -intra-period 119 -output-stat-file Release_628437e_blue_sky_360p_60f_m50pass_Q20.stat -bit-depth 8 -lad 119 -hdr 0 -enc-mode-2p 0`
and
`SvtAv1EncApp -enc-mode 0 -w 640 -h 360 -n 3 -i blue_sky_360p_60f.yuv -q 20 -fps-num 25000 -fps-denom 1000 -b Release_628437e_M0_blue_sky_360p_60f__m50pa

[2019-10-24 22:53] ksuhiyp commented on #738
it turned out the the group of picture option was causing that error. i've removed it  but my actual issue is with my malformed produced content, all produced samples shows a negative start value

`Duration: 00:00:15.02, start: -0.007000, bitrate: 323 kb/s`

[2019-10-24 23:06] ksuhiyp commented on #738
Interestingly changing the audio codec to aac shows a good start values,

`  Duration: 00:00:15.04, start: 0.000000, bitrate: 1603 kb/s`

[2019-10-24 23:35] #169 closed

[2019-10-24 23:36] hassount commented on #178
Closing this

[2019-10-24 23:36] #178 closed

[2019-10-24 23:37] hassount commented on #240
closing this

[2019-10-24 23:37] #240 closed

[2019-10-24 23:38] hassount commented on #735
cool, let's look into adding this

[2019-10-24 23:51] hassount commented on #241
Can't reproduce this anymore, please re-open if need be

[2019-10-24 23:51] #241 closed

[2019-10-24 23:53] hassount commented on #249
Can not reproduce this issue, please re-open if it's still the case.

[2019-10-24 23:53] #249 closed

[2019-10-24 23:59] hassount commented on #324
can not reproduce either, closing the issue, @mafonsoN please reopen if you see this on your end

[2019-10-24 23:59] #324 closed

[2019-10-25 01:06] joelsole commented on #728
For my local tests, I observe the crash for the debug mode. The issue seems independent of hbd-md (0 or 1) or single pass/two pass. It seems specifically related to encoding 10-bit content with enc-mode 0. Do you see the same?

[2019-10-25 01:10] #721 closed

[2019-10-25 05:12] hassount commented on #385
closing this for now, @rbultje please feel free to re-open if you continue to see this behavior

[2019-10-25 05:12] #385 closed

[2019-10-25 05:14] hassount commented on #538
Dup of #386

[2019-10-25 05:16] hassount commented on #633
The depth setting is inappropriate, this will be fixed when the presets get updated

[2019-10-25 05:21] hassount commented on #736
@anaghdin
interesting, should we shut the combination of the input / output file at the same time ?

[2019-10-25 05:27] hassount commented on #513
Closing this, seems to work on all gcc versions now through travis

[2019-10-25 05:27] #513 closed

[2019-10-25 05:30] hassount commented on #236
closing this as it seems to be addressed

[2019-10-25 05:30] #236 closed

[2019-10-25 05:31] hassount commented on #151
is this still valid ? Travis seems to be passing with clang

[2019-10-25 05:34] anaghdin commented on #736
Good idea. We also need to add some error checks on availability of the file.

[2019-10-25 05:41] hassount commented on #732
Seems to be related to #733

[2019-10-25 14:28] luigi311 commented on #738
@ksuhiyp
Is the negative start for the audio only? Apperently opus has delay issues so ffmpeg is cutting that out by pushing the start further back.

[2019-10-25 14:33] luigi311 commented on #151
@hassount
I believe this is ready to be closed since he said

[2019-10-25 17:05] easyfab commented on #736
This 2pass commands aren't really user-friendly.
Why not do like almost others encoders and using -pass option

-pass1 for first pass and -pass2 for the second,
automatically generate and use a stat file (e.g av1_2pass.stat ) unless user define one  ( e.g -2pass_stat_file )

[2019-10-25 17:11] luigi311 commented on #736
@easyfab
That is still to come. It looks like they want to implement a --passes N flag on your command and it will auto run through the N commands it needs to do to go through the multiple different passes. There is no estimate on when it will be implemented as of yet though just that it is a good idea so it is more user friendly.

https://github.com/OpenVisualCloud/SVT-AV1/pull/707#issuecomment-5

[2019-10-25 17:21] easyfab commented on #736
@luigi311
a -passes N flag could indeed be a good option but a simple -pass1/-pass2 flag also when needed ( e.g. using pipe input )

[2019-10-25 18:11] luigi311 commented on #736
@easyfab Yup they said they were going to go with both options just in case.

[2019-10-25 19:19] #728 closed

[2019-10-25 22:30] ksuhiyp commented on #738
Yes that is correct, the issue is caused by libopus, as I've posted this somewhere else shifting start time in negative is fine and should not be considered as a malform, to be specific shaka packager is throwing an error complaining about the media content I input to it as malformed according to shaka collaborators

error is
[1026/002802:ERROR:webm_cluster_parser.cc(329)] Got a block with a timec

[2019-10-26 11:41] ksuhiyp commented on #738
here are the timestamps for the generated sample with libopus and SVT
[timestamp.log](https://github.com/OpenVisualCloud/SVT-AV1/files/3774771/timestamp.log)

[2019-10-26 22:14] ksuhiyp commented on #738
and here timestamps also with libvpx and libopus which shows correct
[timestamp.log](https://github.com/OpenVisualCloud/SVT-AV1/files/3775309/timestamp.log)
 values

[2019-10-27 12:20] EwoutH commented on #734
Another serious regression in EncMode3 between 0175b58 and 7844f0b: https://beta.arewecompressedyet.com/?job=SVT-AV1-enc-mode-3%402019-10-22&job=SVT-AV1-enc-mode-3%402019-10-25

[2019-10-27 22:33] jbeich commented on #151
I can't reproduce. When the issue was filed the fix was **known** but **merge time** wasn't.

[2019-10-27 22:33] #151 closed

[2019-10-27 23:09] jbeich commented on #150
M7 (aka `-enc-mode 7`) works fine after #235. M0-8 (all modes) still work fine on `master` branch.

@Fuchs4, better open a separate bug with steps to reproduce.

[2019-10-27 23:09] #150 closed

[2019-10-28 03:07] jbeich commented on #72
I can't reproduce after #286.

[2019-10-28 03:07] #72 closed

[2019-10-28 03:44] jbeich commented on #171
I can't reproduce after #314 (memory) + #469 (frames).

[2019-10-28 03:44] #171 closed

[2019-10-28 08:26] grill05 opened #749 "Add option to build only the encoder in CMake"
Currently the build script (build.sh on linux) makes building tests optional. This is sensible since tests wont be useful for ordinary users. Similarly, the decoder(SvtAv1DecApp/libSvtAv1Dec.so) is not very useful, since dav1d already fulfils that requirement pretty well.

If there was an option to only enable the encoder (and not the decoder), then that would make the build faster. This is useful

[2019-10-28 11:44] 1480c1 commented on #749
Yes, something like that

[2019-10-28 19:02] j-mas commented on #727
@ttrigui
May I ask why you do not merge the fix to master?

[2019-10-28 20:46] ttrigui commented on #727
The code needs to be reviewed. a PR will be created and will be merged as soon as approved. In the meantime you can copy the fix in your copy.

[2019-10-28 23:16] #749 closed

[2019-10-28 23:43] j-mas commented on #727
@ttrigui
Thank you for the response. Since I do not know how to copy the fix into my copy I will wait.

[2019-10-29 21:51] EsmeraldaQuintero commented on #689
When I tried the next command:
`ffmpeg.exe -f image2 -framerate 24 -i image%03d.tiff -c:v libsvt_av1 out_svtav1_win64.webm`
The plugin produced a null video

But when I tried the next command:
`ffmpeg.exe -f rawvideo -pix_fmt yuv420p -s:v 1920x1080 -r 25 -i testYuv.yuv -c:v libsvt_av1 output_ffmpeg.webm`
The plugin produced a good video with the next:
[code]

[2019-10-30 03:09] 1480c1 commented on #4
@EwoutH `We’re excited to announce that GitHub Actions and GitHub Package Registry will be moving to general availability on November 13.`

Maybe we can try the windows builds on github actions for multiple jobs instead of appveyor. My only problem with it is no between actions caching like ccache integrated and usable from github, it would require using a third-party storage. Supposedly might com

[2019-10-30 12:36] EwoutH commented on #4
@1480c1 Preferably use both for some redundancy in the beginning. I'm going to wait a few weeks on the official release and for the codebase to stabilize a bit more before diving in.

BTW: If you want to experiment with compiling SVT-AV1 on Arm64 or other architectures, I have setup a branch with Travis CI customized for Arm64 here: https://github.com/EwoutH/SVT-AV1/tree/arm64-ci

[2019-10-30 20:44] hassount opened #754 "TBR from bps to kbps"
I do personally prefer Kbps, it improves readability and is what x264 and x265 CLIs do :)

_Originally posted by @dprestegard in https://github.com/OpenVisualCloud/SVT-AV1/pull/753#issuecomment-548103259_

[2019-10-30 23:37] j-mas commented on #727
Thank you for merging it to the master! It works very good!

[2019-10-30 23:37] #727 closed

[2019-10-31 02:01] 1480c1 commented on #4
It seems that it might be better to wait until @spawlows finishes his set of [patches](https://github.com/OpenVisualCloud/SVT-AV1/pull/755) to see how SVT-AV1 will be moving forward for asm stuff, it may become easier to try to compile without x86 simds and use C only, or not

[2019-10-31 02:05] 1480c1 commented on #727
@ttrigui make sure to add `Fixes #727` to your [PR](https://github.com/OpenVisualCloud/SVT-AV1/pull/752) next time, that way the PR can be linked to this issue and it will be easy to know what changes that were merged that fixed the issue in case we need to make similar changes or others, else we just have the issue closed without any mention of how/what fixed it.

[2019-10-31 15:00] grill05 opened #760 "Segmentation fault in SvtAv1EncApp (on linux) when piping 10-bit output via ffmpeg"
I'm not sure whether I'm using the wrong ffmpeg command-line or if this is a bug. But when I try to pipe 10-bit output via ffmpeg, I get a segmentation fault in SvtAv1EncApp (on linux). I get the same segfault if the input is from a 10-bit .yuv file (encoded via ffmpeg)

The command line I tried to use was:

[code]
Which gives the errors:
[code]

[2019-11-01 22:39] PhoenixWorthVCD opened #766 "Crash on release27_10_2019 branch when using "-scm 0" command line option"
## Issue Description

On the release27_10_2019 branch the encoder crashes when the command line option "-scm 0" was used.  The crash occurs before encoding begins, with the following modes/parameters:

- all encode modes: {0-8}
-  resolutions: 360p, 720p, 1080p
- QPs: 20, 32, 43, 55
- Release and Debug mode

 When this option was omitted completely, no crash occurs.

## Sample command line

[code]

[2019-11-01 22:42] hassount commented on #766
Tracked to Palette #744

[2019-11-02 01:55] mtangtencent opened #767 "Encoder gets stuck when VBR"
I was running the encoder (master branch d3880e0c2af53) with the following command line
./SvtAv1EncApp.exe -i BasketballDrill_832x480_50.yuv -w 832 -h 480 -b test.ivf -enc-mode 8 -n 300 -rc 2 -tbr 1000000 -intra-period -1
The encoder got stuck with the log ending at
`Encoding      `
There is no number printed after "Encoding", which is the position where the number of frames that have been encoded

[2019-11-05 13:22] grill05 commented on #767
I have observed the same issue on a xeon testbed, for enc-modes 3 and below. When the encoder is stuck, the cpu-usage goes to 0%, but SvtAv1EncApp doesn't crash

[2019-11-06 02:26] Cidana-Developers opened #771 "Mismatch issue in SAD loop unit test"
Step to reproduce:
[code]

Console output (part of failed cases and final results):
[code]

target functions:
[code]

[2019-11-06 06:37] lijing0010 commented on #710
@bitbytebit-cr , could you try this patch, may be addressing the same problem. https://github.com/OpenVisualCloud/SVT-AV1/pull/747

[2019-11-06 06:41] lijing0010 commented on #633
@SmilingWolf , you can try the below PR(could be a temporal work around)
https://github.com/OpenVisualCloud/SVT-AV1/pull/768

[2019-11-06 18:04] SmilingWolf commented on #633
Using #768 the problem seems to be fixed.

[2019-11-07 00:41] 1480c1 commented on #4
It seems github actions added caching https://github.com/actions/cache

[2019-11-07 11:21] EwoutH opened #775 "Add single command for two-pass mode"
A simple `-two-pass` switch that runs SVT-AV1 in 2-pass mode with a single command would be a useful addition.

[2019-11-07 11:22] EwoutH commented on #734
@hassount Could you give a status update on this issue?

[2019-11-07 16:31] chkngit commented on #386
@hassount @lijing0010  is this issue related to this PR: Fix non-8 aligned gop size #747 ?
they both fix RPS I guess

[2019-11-07 17:24] ultrawide commented on #775
Hi @EwoutH, thanks for the suggestion. This is addressed in #746 and is being evaluated. The flag '-passes 2' will do the trick.

[2019-11-07 19:32] ttrigui opened #777 "Unit Test Failure"
- [x] **NoiseExtractTest**
[code]
- [x] **AVCStyleMcpTest**
[code]
- [x] **DeblockTest**
[code]
- [x] **HbdVarianceTest**
[code]
- [x] **ResidualTest**
[code]

[2019-11-08 02:30] wallerjiaotencent commented on #777
I am working on ResidualTest issues.

[2019-11-08 13:37] spawlows commented on #777
I am working on AVCStyleMcpTest issues.

[2019-11-08 14:27] stax76 opened #779 "poor command line interface"
There are certain CLI traditions and similarities between x264, x265 and nvencc, following traditions and similarities makes the lives of CLI users and GUI authors easier, knowledge and code could be shared.

1. Executable name should be reasonable short, easy to remember and type, example: git, cmd or wt (new windows terminal)

2. it's a tradition that short switches start with a single dash - an

[2019-11-08 14:31] 1480c1 commented on #779
y4m is already supported

[2019-11-08 14:34] 1480c1 commented on #779
Afaik, the executable is supposed to be more of an example implementation and this was designed to have the end users use the library directly or through ffmpeg/other wrappers, so probably the design quality of the application was not as high of a priority as much as the quality of the internal encoder itself.

[2019-11-08 22:21] JacksonDagger commented on #386
@hassount looks like PR #747 fixes it

[2019-11-09 00:01] chkngit commented on #386
confirmed that this is the same case as the one fixed by #747

[2019-11-10 18:41] moisespr123 commented on #779
I honestly don't mind about the command line. I also wrote a GUI for SVT-AV1, and it just work fine the way it is.

[2019-11-11 06:25] elintencent commented on #777
I am working on HbdVarianceTest issues.

[2019-11-11 07:26] grill05 commented on #238
@EwoutH The #svt channel on freenode should ideally be logged somewhere like https://freenode.logbot.info

[2019-11-11 14:01] EwoutH commented on #29
It has been almost 2 months since the last pre-release, can we tag a new pre-release this week?

Since API changes are introduced I would suggest moving to 0.8.0

[2019-11-12 20:41] EwoutH commented on #734
@hguermaz @lijing0010 Could you detail in what portion #768 fixes this regression?

[2019-11-12 23:53] JacksonDagger commented on #766
No longer present on the current HEAD of release27_10_2019

[2019-11-13 00:56] JacksonDagger commented on #732
When I attempted this on the current master I got`Now I got Assertion failed: context_ptr->md_stage_0_count[CAND_CLASS_0] > 0, file \\SVT-AV1\Source\Lib\Common\Codec\EbProductCodingLoop.c`

[2019-11-13 01:13] AlexBoswellVCD commented on #616
When I run `SvtAv1EncApp -i Evangelion1.11_test_.mkv -w 1920 -h 1080 -fps-num 24000 -                                                                                                                 fps-denom 1001 -enc-mode 8 -rc 0 -q 15 -intra-period 23 -lad 23 -bit-depth 10 -n 749 -b eva_svt-av1_q15_m8.bin`

I get the following error

[code]

[2019-11-13 10:45] grill05 commented on #760
Could someone please add a sample command to for 10-bit encoding (via pipes) to svt-av1_encoder_user_guide.md ?

[2019-11-13 15:16] spawlows commented on #777
Fix AVCStyleMcpTest* tests in PR #786

[2019-11-14 01:01] luigi311 commented on #779
I agree with pretty much everything that was stated, a lot of those standards are utilized everywhere (hence standard) and makes it a lot more intuitive to use the application. I would say that these changes need to be applied prior to the application being permanently integrated to other applications such as ffmpeg. That way if/when the changes are made we will not break support in all those 3rd

[2019-11-14 01:50] wallerjiaotencent commented on #777
Fix ResidualTest tests in PR #781

[2019-11-14 06:58] tszumski commented on #777
I am working on NoiseExtractTest

[2019-11-14 14:56] moisespr123 opened #787 "SVT-AV1 gets stuck when using pipe on Windows"
Encoding is working fine if I feed a raw y4m file. However, when using pipe, it will encode the video but get stuck in the last frame.

I'm not sure if this is relevant, but I'm using a named pipe.

[2019-11-14 17:17] spawlows commented on #777
I am working on DeblockTest issues.

[2019-11-14 17:23] #766 closed

[2019-11-14 21:53] chkngit commented on #473
issue has been addressed in Branch R2R_Debug  via #define  TILE_ATB_FIX   1

[2019-11-14 22:12] PhoenixWorthVCD opened #789 "master does not have mdc refinement"
Mdc refinement is the ability to fine tune the partitioning depths considered in the closed loop mode decision, based on open-loop partitioning data.  The feature is implemented in the release27_10_2019 branch, but not the  master.

[2019-11-14 23:03] mtangtencent opened #790 "r2r mismatch"
It is found that the SVT-AV1 encoder (c177dedf) has r2r mismatch issue when using the following command line
`./SvtAv1EncApp.exe -i FourPeople_1280x720_60.yuv -w 1280 -h 720 -b test.ivf -enc-mode 8 -n 200 -rc 0 -q 40 -intra-period 31`
Even the debug build is not able to produce deterministic outputs.

[2019-11-14 23:31] mtangtencent commented on #790
I tested this issue using the latest commit (d647dc4fa5). The issue is still there.

[2019-11-14 23:47] mtangtencent opened #791 "Fail to compile on old linux releases"
The latest version of SVT-AV1 can be compiled on my Ubuntu 18.04 server, but fails on old linux releases. I was using Centos 7.2 and gcc 4.8.5, which reports a few `unknown type name '__m256i'`

[2019-11-15 00:48] hassount commented on #767
-intra-period -1 would probably be the issue. can you set it to a value for now to make sure it works ?

[2019-11-15 00:51] hassount commented on #787
@moisespr123 Has this ever worked ? thought it was fine

[2019-11-15 00:53] hassount commented on #790
This is a WIP a duplicate issue to #258

[2019-11-15 00:55] hassount commented on #791
Min requirements as stated in the readme:
https://github.com/OpenVisualCloud/SVT-AV1#linux-operating-systems-64-bit

[2019-11-15 01:14] hassount commented on #779
@stax76 @luigi311
Thank you for the feedback and resources.

**To summarize:**
- need a short names exe -- > please feel free to suggest one keeping in mind that we have svt-hevc / svt-av1 (encoder and decoder) / svt-vp9
- need better documentation for cli params matching cfg files -- > Agreed <WIP>
- long version and short version cli -- > Agreed
- y4m -- > supported

We have just finished implem

[2019-11-15 04:50] grill05 commented on #791
@mtangtencent @hassount I compile on debian jessie. It works fine. jessie is quite old

[2019-11-15 07:48] tszumski commented on #777
Fix NoiseExtractTest test in PR #793

[2019-11-15 13:08] spawlows commented on #777
Fix DeblockTest tests in PR #796

[2019-11-15 20:48] hassount opened #798 "2-pass VBR"
Also, this is completely unrelated , but as an ordinary user, its a little frustrating to see SVT-AV1 keep churning out speedups and BD-rate improvements while still being forced to use libaom for real-life encodes. Without at least a 2-pass VBR mode, its not really practical (in terms of quality/bit efficiency) to use SVT-AV1 in constant-q mode. However fast constant-quantizer mode may become , b

[2019-11-15 20:50] hassount commented on #798
@grill05
Thank you for the feedback, as much as I agree with the needs that you have requested above, we are just finishing up the implementation of features, need to stabilize the encoder fixing bugs and optimize for better speed-quality trade-offs. A 2-pass VBR would not yield much value on top of a core that is not optimized nor stable. the 2-pass implementation that svt-av1 currently has does

[2019-11-15 21:06] JackZhouVCD opened #799 "Encoder searches all depths"
The current encoder searches all depths in terms of blocksize. We could use a mechanism that intelligently finds the max search depth needed in order to save some cycles.

[2019-11-15 21:07] bzhutencent commented on #790
#258 is for encmode[0-2], here encmode is set to 8,  are we sure this is a duplicate?

[2019-11-16 02:59] grill05 commented on #622
@joelsole This is not really directly related, but could you please give a sample command you are using for testing BD-rate change/speed change for 10-bit(in PR's referenced by this one)? And are the tests with a 10-bit yuv or via pipes?
I ask becau I keep getting crashes when I try to verify the numbers you posted :)

[2019-11-16 06:05] grill05 commented on #798
That seems sensible

Regarding speed alone, I think you guys have already done a pretty great job.
Roughly speaking, on a a single-core Xeon testbed, I find that SVT's `-enc-mode 5` was about 3 times faster than the fastest libaom speed setting (using libaom's `--good` deadline ofcourse). And `-enc-mode 5` was only about 20% slower than x265's 'slow' preset.
Given that x265 is more than twice as s

[2019-11-16 14:39] moisespr123 commented on #787
@hassount it used to work, but now it gets stuck at the last frame. SVT-AV1 seems to use just one thread. Also, the video comes out glitchy. Not sure what changed here.

[2019-11-16 22:44] Ilya87 commented on #616
You MUST convert it to yuv format first. https://github.com/OpenVisualCloud/SVT-AV1/blob/master/Docs/svt-av1_encoder_user_guide.md#input-video-format

[2019-11-18 01:19] hassount commented on #787
@moisespr123
thnx, do you know when was it working ? was v0.7.0 working ?

[2019-11-18 07:40] elintencent commented on #777
Fix HbdVarianceTest tests in PR #801

[2019-11-18 18:23] ttrigui commented on #771
@spawlows Can you please look into this issue?

[2019-11-18 22:16] joelsole commented on #622
I am following the command lines and yuvs in the videocodectracker.dev
<https://videocodectracker.dev/raw_data_files/all_seqs_svtav1_20191116_6f5338a.json>

cl: https://videocodectracker.dev/command_lines/svtav1_cli_changelog.html
sequences:
https://videocodectracker.dev/raw_data_files/all_seqs_svtav1_20191116_6f5338a.json

On Fri, Nov 15, 2019 at 6:59 PM grill05 <notifications@github.com> wrote:

[2019-11-19 01:24] #789 closed

[2019-11-19 06:44] xuguangxin commented on #567
@ksuhiyp @moisespr123 , I tried the latest build, it seems we do not have this problem anymore.
could you double-check it?
If you still can reproduce this, could you share some steps?

thanks

[2019-11-19 13:56] spawlows commented on #771
Fixed PR #806

[2019-11-19 16:22] #386 closed

[2019-11-19 16:23] hassount commented on #732
can we re-check this ?

[2019-11-19 16:23] #633 closed

[2019-11-19 16:25] hassount commented on #736
@JackZhouVCD Can we re-verify this ?

[2019-11-19 16:28] hassount commented on #733
@ttrigui @chkngit
how many of these issues did we address ?

[2019-11-19 16:28] hassount commented on #790
let's re-test after #804

[2019-11-19 17:42] chkngit commented on #733
I did not look at those, Tahani might, also I know that tencent team are taking some of them. I would re-run Valgrind on the latest fixed code. the list might go down

[2019-11-19 18:20] JacksonDagger commented on #732
Now I get `Assertion failed: sign <= 2, file C:\Users\jdagger\Documents\work\19-11-18\SVT-AV1\Source\Lib\Common\Codec\EbEntropyCoding.c, line 409` similar to Alex

[2019-11-19 18:28] ttrigui commented on #733
We do not know yet. We have to test after all the bug fixes. I'll run Valgrind for R2R_Debug to have a better idea about what we have left.

[2019-11-19 18:30] ttrigui commented on #732
@JacksonDagger  Can you please test the same thing for https://github.com/OpenVisualCloud/SVT-AV1/tree/R2R_Debug and see if you still get the assertion fail?

[2019-11-19 18:33] JackZhouVCD commented on #736
Yes this is still seen in 3ea18c2

[2019-11-19 18:45] JacksonDagger commented on #732
On R2R_Debug I get`Assertion failed: context_ptr->md_stage_0_count[CAND_CLASS_0] > 0, file C:\Users\jdagger\Documents\work\19-11-18\SVT-AV1\Source\Lib\Common\Codec\EbProductCodingLoop.c, line 7919`

[2019-11-19 22:47] JackZhouVCD commented on #733
I ran valgrind on the R2R_Debug branch with the same command that was reported and I'm seeing the same valgrind errors

<details><summary>click here to see the log</summary>
<p>
==13345== Conditional jump or move depends on uninitialised value(s)
==13345==    at 0x4F403D5: update_mi_map (EbAdaptiveMotionVectorPrediction.c:1475)
==13345==    by 0x5067EF3: md_update_all_neighbour_arrays (EbProductCo

[2019-11-19 22:50] JackZhouVCD commented on #651
@kalgi13 HI, can you please provide more information about how you got this error?

[2019-11-19 22:53] JacksonDagger commented on #441
I ran this. The issue is that inter frames after the scene change seem to reference frames before the scene change. This results in artifacts in the scene that are clearly from the previous scene

[2019-11-19 23:01] JackZhouVCD commented on #658
Hi @baxxtor , I tried to replicate this issue on the latest master using the sample ffmpeg command from [here](https://github.com/OpenVisualCloud/SVT-AV1/blob/master/ffmpeg_plugin/README.md). I was not able to get this error, encoding on ffmpeg using libsvt_av1 went fine for me. Can you share with me how you got this error?

[2019-11-19 23:49] ttrigui commented on #518
@spawlows can you please look into this?

[2019-11-20 05:21] xuguangxin commented on #701
Hi all
#302 addressed by https://github.com/OpenVisualCloud/SVT-AV1/pull/809.

@kylophone ,
I used the following command to check "ffmpeg + libsvtav1 to stdout". It works very well.

After #809 merged, could you help rebase your patch on top of it?

thanks

[2019-11-20 13:06] EwoutH commented on #734
Since 2019-10-06 EncMode 3 [regressed](https://beta.arewecompressedyet.com/?job=SVT-AV1-enc-mode-3%402019-10-06&job=SVT-AV1-enc-mode-3%402019-11-19) only more. The [largest regression](https://beta.arewecompressedyet.com/?job=SVT-AV1-enc-mode-3%402019-10-22&job=SVT-AV1-enc-mode-3%402019-10-25) seems between 0175b58 and 7844f0b, with BDR increases between 15% and 20%. Between d8e468f and 3ea18c2 En

[2019-11-20 16:04] spawlows commented on #518
I will check this.

[2019-11-20 17:43] grill05 commented on #701
@xuguangxin would this sort of pipe work with SvtAv1EncApp too ?

[2019-11-20 23:47] dsummer commented on #724
These are patches, not plugins, and it's logical to have one patch per encoder. Otherwise the number of combined patches to maintain would be multiplied, because some might like to use 2 of the 3 SVT encoders. Goal should be (and probably is) to get the SVT encoders to the point that their hooks be provided by the mainline FFMPEG.

[2019-11-20 23:51] 1480c1 commented on #724
afaik, there hasn't been any new messages on the most recent attempt at mainlining SVT-HEVC (https://patchwork.ffmpeg.org/patch/15757/)

[2019-11-21 04:00] xuguangxin commented on #701
Not yet, it needs this patch from @kylophone .
Could you share with us why you can't compile ffmpeg + libsvtav1?
any building issue?
thanks

[2019-11-21 09:02] grill05 commented on #701
@xuguangxin thanks for this feature. Last time I checked, enabling both libaom and libsvt-av1 produced segmentation faults in ffmpeg (this issue https://github.com/OpenVisualCloud/SVT-AV1/issues/567)
So right now, if I want to build ffmpeg with libaom support, then the only way to use SVT-AV1 is to pipe y4m to SvtAv1WEncApp

[2019-11-21 09:18] xuguangxin commented on #701
could you double-check the #567 ? I can't reproduce it anymore https://github.com/OpenVisualCloud/SVT-AV1/issues/567#issuecomment-555358889

thanks

[2019-11-21 12:12] 1480c1 commented on #567
Make sure you are using static libraries and not shared libraries

[2019-11-21 15:54] grill05 commented on #701
@xuguangxin nope. I still get a segfault. Test details under your comment in that particular issue

[2019-11-21 15:57] grill05 commented on #567
@xuguangxin @1480c1 I just tested with git master svt/libaom/ffmpeg and the problem is still there. libaom was compiled with `cmake ../aom -DBUILD_SHARED_LIBS=1`
SVT-AV1 was built with all defaults (just `bash build.sh`)
`--enable-libaom` and `--enable-libsvtav1` were given as options for ffmpeg `configure`
To test, I run
`ffmpeg -i test.mkv -c:v libsvt_av1 out.svt.mkv`
and this gives
[code]

[2019-11-21 18:02] hassount opened #811 "[SVT_AV1] Open Dev Meeting"
Organizing an open meeting where all developers and contributors to svt-av1 can join. This is an opportunity for everyone to ask any questions about the roadmap and or make / agree on any suggestions to improve the development and contribution process.

When: Suggesting Wednesday Nov27th @ 8:30 - 9:30 am PST
Where: [conference link](meet.google.com/rty-mkxi-wvi) [more info](https://github.com/Open

[2019-11-21 18:23] 1480c1 commented on #567
I mean static libaom and static libSvtAv1Enc

[2019-11-21 18:27] 1480c1 commented on #811
Couple of things I think would be good to discuss

- Sample app design (https://github.com/OpenVisualCloud/SVT-AV1/issues/779)
  - Maybe consider using a C++ sample app and C library since we already require a C++ compiler (Although it's only used for Unit Tests atm) and it may be more convenient to write an application in C++ than pure C.
- Clean up globals and exports (https://github.com/OpenVis

[2019-11-21 19:40] kylophone opened #812 "MacOS clang build is broken on Travis"
I suspect the environment Travis is running in has changed.

Example: https://travis-ci.com/OpenVisualCloud/SVT-AV1/jobs/258874055

[code]

[2019-11-21 19:40] kylophone commented on #812
@1480c1, perhaps you have some insight?

[2019-11-21 19:44] kylophone commented on #791
Closing for now. Added a SIMD label if we need to refer to this later.

[2019-11-21 19:44] #791 closed

[2019-11-21 19:46] 1480c1 commented on #812
It seems like travis removed python2 from their macOS build sometime between the beginning of this week to now. I am currently working on an updated travis-ci config to use python3

[2019-11-21 19:49] kylophone commented on #812
Thank you!

[2019-11-21 19:52] 1480c1 commented on #812
One thing I am interested in is why the valgrind builds have been failing (Exits here due to no output for 10 minutes [here](https://travis-ci.com/OpenVisualCloud/SVT-AV1/jobs/249660216) and after adding travis_wait, it exits with 137 [here](https://travis-ci.com/1480c1/SVT-AV1/jobs/259060187))

[2019-11-21 19:52] kylophone commented on #811
+1

[2019-11-21 19:52] 1480c1 commented on #812
I am able to run valgrind locally so I wonder why it's not finishing

[2019-11-21 19:53] kylophone commented on #811
If you prefer to ask questions via IRC at this time, that should be fine too.

[2019-11-21 19:56] 1480c1 commented on #812
Seems like travis is sending a `kill -9` signal to it (https://github.com/travis-ci/travis-ci/issues/4192) so maybe I need to give it more time

[2019-11-22 04:57] grill05 commented on #811
In general, I agree that the command-line app can have a better interface. That being said, since there is development time, it might be worth considering as to whether lots of users will actually use the command-line app once the ffmpeg interface becomes stable.

For example, people rarely use x264/x265 these days via the command-line program, since its so much easier to use the libs via ffmpeg.

[2019-11-22 06:17] adaria commented on #812
I did see `SIGILL        4       Core    Illegal Instruction` on some of the failed macOS builds, e.g.

https://travis-ci.com/OpenVisualCloud/SVT-AV1/jobs/258841457

[2019-11-22 16:47] #473 closed

[2019-11-22 18:50] EssenWorkbench opened #815 "HDR 8K Resolution Support"
Is there any chance to support HDR(10bit) 8K resolution ?

[2019-11-22 19:11] ttrigui commented on #710
Commend use d to reproduce the issue is -i F:\stream\ParkScene_1920x1080_24_60f.yuv  -fps-num 24000 -fps-denom 1001 -lp 8 -w 1920 -h 1080 -n 50 -intra-period 48 -b out_encmode0.ivf -enc-mode 4

[2019-11-22 20:12] moisespr123 commented on #567
Still not working.

Multiple definitions messages:

[code]

[2019-11-22 20:27] JackZhouVCD commented on #129
Hi @jbeich , can you see if you can still reproduce this with the latest code in master?

Also ffmpeg started officially supporting libdav1d in release 4.2 but you're using 4.1 here, how did you configure ffmpeg to use dav1d?

[2019-11-22 21:27] jbeich commented on #129
I can still reproduce. Tested with SVT-AV1 v0.7.0-204-g66e8c9d8, ffmpeg n4.2.1, mpv v0.30.0.

By [backporting](https://github.com/freebsd/freebsd-ports/commit/9f871614e0b4) from master branch. I [did the same](https://github.com/freebsd/freebsd-ports/commit/6fa94b32ceba) with librav1e recently.

[2019-11-22 23:45] ttrigui opened #819 "Deadlock observed for -rc 2 and enc-mode 4"
A deadlock in release mode happens when encoding with -rc 2 for -enc-mode 4
-i F:\stream\ParkScene_1920x1080_24_60f.yuv  -rc 2  -intra-period 48 -fps-num 24000 -fps-denom 1001 -lp 8 -w 1920 -h 1080 -n 100 -b out1.ivf -enc-mode 4
The following tests did not fix the issue:
 -enable-altrefs 0
-fps 48
increasing the size of  pa_reference_picture_buffer_init_count
 -intra-period 47
 -intra-period 31

[2019-11-24 16:13] grill05 commented on #812
IIRC python2 is reaching end-of-life (no further support/updates) at the end of the year. So this might have something to do with that

[2019-11-25 15:11] FRNK-BK commented on #798
@hassount I totally understand, that you want to take one step after another. And that is why I don't understand, that the [EncoderUserGuide](https://github.com/OpenVisualCloud/SVT-AV1/blob/master/Docs/svt-av1_encoder_user_guide.md) here on github features a sample command line for: **2 pass VBR 5000 Kbps at slow speed from 24fps yuv 1920x1080 input**
You should at least at **there**, that the fun

[2019-11-25 17:15] hassount commented on #798
@FRNK-BK
Agreed, we'll make the change to state so.

[2019-11-25 20:58] JackZhouVCD commented on #819
I tracked the deadlock to be introduced by turning off the `NON_KF_INTRA_TF_FIX` macro (or this commit d061c4e). When the macro is turned on, a segmentation fault is seen with the following outputs:
[code]

[2019-11-25 21:39] moisespr123 commented on #787
v0.6.0 is the one I was using prior to the new releases, which are still getting stuck.

[2019-11-25 21:41] #771 closed

[2019-11-25 21:42] hassount commented on #244
reopen if it's still needed

[2019-11-25 21:42] #244 closed

[2019-11-25 21:43] moisespr123 commented on #787
v0.7.0 doesn't work.

[2019-11-25 21:57] hassount commented on #510
Is this now addressed bug merging #797 ? @mafonsoN can we validate such ?

[2019-11-25 21:59] hassount commented on #732
closing as we don't seem to be reproducing this in master, please reopen if it still exists

[2019-11-25 21:59] #732 closed

[2019-11-25 22:03] hassount commented on #258
@GuCaixuan
Can we check if this is still the case in the current master ?

[2019-11-25 22:33] mafonsoN commented on #510
@hassount No artifacts but still getting the same malloc message using the latest master:
`SvtAv1EncApp(6208,0x7fff8a43d380) malloc: *** error for object 0x7fea1fff7000: incorrect checksum for freed object - object was probably modified after being freed.
*** set a breakpoint in malloc_error_break to debug
Abort trap: 6`

[2019-11-26 00:02] #812 closed

[2019-11-26 08:34] GuCaixuan commented on #258
@hassount
I checked this issue on Commit ID fbad3ac and can reproduce it.
Reproduced command line:
SvtAv1EncApp -i Netflix_FoodMarket2_4096x2160_10bit_60Hz_P420.yuv  -b buffered_test_M0_Netflix_FoodMarket2_4096x2160_10bit_60Hz_P420_Q30_20.bin  -w 4096  -h 2160  -bit-depth 10  -fps 60  -intra-period 55  -n 20  -enc-mode 0  -compressed-ten-bit-format 0  -q 30  -rc 0  -nb 20
SvtAv1EncApp -i Netflix_F

[2019-11-26 08:59] xuguangxin commented on #567
@moisespr123 , I can't reproduce your issue on Linux.
maybe ti's related to mingw.

@1480c1 I can reproduce the issue if I set both libaom and libsvt as static.
But, even I removed libsvtav1, ffmpeg still can't link static libaom. it will report the following issue.
Do you know how to work around it firstly?

my build command is

[2019-11-26 11:48] EwoutH commented on #29
@hassount I would suggest a big bug bash session somewhere before the 0.8.0 tag. There are currently [25 open issues](https://github.com/OpenVisualCloud/SVT-AV1/issues?q=is%3Aissue+is%3Aopen+label%3Abug) on GitHub tagged as bug.

[2019-11-26 14:46] 1480c1 commented on #567
[code]

[code]
dockerfile for a reproducible build

If you want to test it on your local machine, run only the parts after `RUN`

[2019-11-26 14:50] 1480c1 commented on #567
Delete your libaom build folder and rebuild shared or don't build ffmpeg shared(`--disable-shared`)

You are trying to make a shared lib with `-fPIC` with object files (in the archive) that were not compiled with `-fPIC`

[2019-11-26 17:22] hassount commented on #767
this is related to #710

[2019-11-26 17:22] hassount commented on #819
this is related to #710

[2019-11-26 17:24] hassount commented on #29
@EwoutH
First off, I apologize but I seem to have missed your comment of 15days ago. we had to wait for a few bug fixes to come in to be able to make the code a little more stable. The previous changes did not add much when it comes to API as the params added would not break previous builds, thus the option of having the increment 0.7.5.

Thank you for the suggestions, we are actively working on b

[2019-11-26 19:17] JackZhouVCD opened #831 "Bug when encoding non-multiple of 8 resolution video"
<i>
"So I ran a test on my video whose width was 1460 and SVT-AV1 accepted the input, but it output some crazy video which I will link below and then also link what it looked like before encoding it to AV1. Other things to note is that the output width was 1464 so SVT-AV1 accepted my input, but stretched the output.

Here it is bugged out. https://gfycat.com/unawarefemininebluewhale

Here is the u

[2019-11-26 19:55] JackZhouVCD commented on #129
I see, thanks! I'm not too familiar with ffmpeg and found the steps to reproduce the problem on our end kind of difficult, so I'm going to outline it here for whoever will be trying to crack this issue. To begin, I found that this issue also exists in a gcc build, so it's not compiler dependent. Decoding standalone via dav1d does not any show any issues either, so I think it's more related to how

[2019-11-26 21:51] ultrawide opened #833 "Remove unused functions in EbCdef.c"
There are functions in EbCdef.c which are not called within the solution, namely `void eb_av1_cdef_search()` and `void av1_cdef_search16bit()`. It would be good to reduce dead code which may cause potential misunderstanding and administrative overhead.

[2019-11-26 22:11] hassount commented on #833
@ultrawide
thank you for reporting this, please addsuch to #668  and close this issue to avoid duplicates

[2019-11-26 23:07] andrey-norkin commented on #811
Please find the meeting info below:

Join Hangouts Meet
meet.google.com/rty-mkxi-wvi

Meeting ID
https://meet.google.com/rty-mkxi-wvi?hs=122

Phone Numbers
(‪US‬)  +1 929-269-1840‬
PIN: ‪542 747#‬

More phone numbers
https://meet.google.com/tel/rty-mkxi-wvi?pin=9055644317111&hs=1

[2019-11-27 00:57] kylophone commented on #811
I'll keep an eye on `#svt` on freenode as well.

[2019-11-27 01:00] 1480c1 commented on #811
@EwoutH, does `#svt` have a logbot of some kind?

[2019-11-27 01:02] kylophone commented on #811
No

Not that I'm aware of. I should have a local log that I can share for the time of the meeting.

[2019-11-27 01:06] 1480c1 commented on #811
That would be good, I'm not very well setup to interact with irc.

I should probably setup some kind of irc client on a server to ssh to instead of using the web client some time

[2019-11-27 01:54] PhoenixWorthVCD opened #835 "Global Motion Estimation is too slow"
In master, global motion estimation is performed on the original input picture.  The global_motion_opt branch performs ME on a down-sampled picture to improve speed.

[2019-11-27 03:22] grill05 commented on #831
I thought this was a design decision? This also happens when trying to encode in 850x480 for example

[2019-11-27 03:47] #538 closed

[2019-11-27 09:05] EwoutH commented on #811
@hassount Thanks for setting this up! A little busy, but I will try to make it.

@1480c1 @kylophone Good suggestion, `#svt` is now [logged](https://freenode.logbot.info/svt) with LogBot.

@1480c1 We should look into disabling CI if only the documentation is changed.

[2019-11-27 12:06] 1480c1 commented on #811
Afaik, Travis only has https://docs.travis-ci.com/user/customizing-the-build/#skipping-a-build

[2019-11-27 17:32] hassount commented on #811
Thank you all for dialing in today.

Next meeting tentative date: January 8th 2020, @ 8:30 - 9:30 am PST

[2019-11-27 21:10] kylophone commented on #811
Lost the Hangouts chat log when I exited the call :( but I'm working on trying to retrieve those. IRC logs are available here: https://freenode.logbot.info/svt/20191127. There is also an audio recording for a good portion of the call available. See: https://freenode.logbot.info/svt/20191127#c2909571-c2909573.

Topics covered were as follows (I still need to fill out the notes). If I missed somethi

[2019-11-27 21:46] EwoutH commented on #811
@kylophone #52 ;)

[2019-11-27 22:24] EsmeraldaQuintero opened #839 "[ffmpeg_plugin][Release] Ffmpeg app gets stuck when encoding 10 bitdepth videos on Windows"
### Context
I compile FFmpeg (latest) with svt-av1  (latest) and aom-av1 as shared libraries on windows and linux.
I need to generate some 10bit/8bit depth videos from images, videos and yuv files.

### Description
I'm using a yuv file with three 10bit frames as input.  When I encode a **8 bitdepth** video everything looks to be ok (using -pix_fmt yuv420p). But when I encode a **10 bitdepth** vide

[2019-11-27 22:53] kylophone commented on #811
Fixed. Thanks.

[2019-11-28 18:22] EwoutH commented on #815
To specify this issue a bit more, this is the current error in the CLI output:
[code]
The AV1 spec has [two limits](https://aomediacodec.github.io/av1-spec/#symbols-and-abbreviated-terms) for tile size:

| Symbol name    |    Value    | Description                                      |
|----------------|:-----------:|--------------------------------------------------|
| `MAX_TILE_WIDTH` |     409

[2019-11-28 20:32] JackZhouVCD commented on #839
seems to be related to #510

[2019-11-28 23:34] EsmeraldaQuintero commented on #839
Yes, it could be.

Reviewing the ffmpeg console output this configuration is used:
[code]

Imitating that configuration with `-enc-mode 0` in SvtAv1EncApp, the result is the same as the one I mentioned.
[code]

[2019-12-02 19:47] mafonsoN opened #850 "[Task] add 10 bit encoding test to Travis"
A trial encoding of a sample 10-bit sequence needs to be added to the Travis CI for the Linux/Mac/Windows builds and for the binary identical test.

Related to #622.

[2019-12-02 21:01] JackZhouVCD commented on #250
A few quick notes I have on this:

 - `-pred-struct` is actually [hardcoded](https://github.com/OpenVisualCloud/SVT-AV1/blob/ad4522fb9fa4498363a58af12edb432a5c0642e1/Source/Lib/Encoder/Codec/EbEncHandle.c#L2244) right now to be 2

 - As of d8c5bc2 giving an illegal value for `-fps` yields the correct error print and exits the encoder

 - The encoder continues to encode with an illegal qp value bec

[2019-12-02 21:13] 1480c1 commented on #850
Do you know of a freely available 10-bit file that is small enough to be able to be quickly downloaded? Or should we just get a few minutes worth of clips from [10-bit test videos](https://media.xiph.org/video/derf/) cut ourselves and uploaded to [SVT-AV1-Resources](https://github.com/OpenVisualCloud/SVT-AV1-Resources)?

[2019-12-02 21:49] mafonsoN commented on #850
Don't know of any low resolution open content readily available. I think we should do what you suggested: pick any of the 10-bit content from [https://media.xiph.org/video/derf/](url), resize to 640x360 or 480x270. I can do this today and add it to video.tar.gz. Can you please then upload it to [http://randomderp.com/](url) ?

[2019-12-02 21:56] 1480c1 commented on #850
Sure, will you just update the current one on SVT-AV1-Resources?

[2019-12-02 21:59] mafonsoN commented on #850
yes

[2019-12-03 01:14] EsmeraldaQuintero commented on #839
In the 8bd pipeline this point is reached:
* `packetization_kernel()` -> `eb_post_full_object()` -> `EbMuxingQueueObjectPushBack()` -> `EbMuxingQueueAssignation()` -> `eb_post_semaphore()`
During the execution of:
* `eb_receive_packet()` -> `eb_svt_get_packet()` -> `eb_get_full_object()` -> `eb_block_on_semaphore()`
But in 10bd pipeline the aplication dies in some place (I think in `eb_block_on_se

[2019-12-03 07:14] grill05 commented on #850
@mafonsoN

Not to nitpick, but randomderp.com redirects to this
![randomderp](https://user-images.githubusercontent.com/56592753/70028443-12728800-15d3-11ea-9a45-69fe3ab5c358.jpg)

[2019-12-03 07:23] wallerjiaotencent opened #852 "Set enable_adaptive_quantization = 1 would cause assert failed in the encoder with debugging build"
I tried to set enable_adaptive_quantization = 1; when debug build, the encoder throw out "debug assert failed" message; when release build, the encoder can run normally and output playable bitstream.
It looks like some variables have not been initialized. The debugging build is on windows platform.

[2019-12-03 07:40] wallerjiaotencent commented on #852
The debugging build is on windows platform.

[2019-12-03 10:38] xuguangxin commented on #760
This is a generic bug, none 16 aligned 10 bits input will have this problem.
@grill05 , you can set the width to 16 aligned or wait https://github.com/OpenVisualCloud/SVT-AV1/pull/853 merged.

[2019-12-03 12:04] 1480c1 commented on #850
Yep

[2019-12-03 12:35] 1480c1 commented on #850
Feel free to suggest any modifications. That was made in a really old adobe dreamweaver and then modified to match html5

[2019-12-03 14:06] grill05 commented on #567
I've created a script for linux/macos that will build a static ffmpeg with the latest libx265+libaom+libsvt-av1. T
The auto-build script is at https://gist.github.com/grill05/4dff067220f65eea93a83a20e0fe683d
It has a bunch of other encoders (you can see details in the script)
I adapted my script from here https://github.com/markus-perl/ffmpeg-build-script
Once this build issue is resolved, this sc

[2019-12-03 16:46] EwoutH commented on #734
Any news?

[2019-12-03 16:53] hassount opened #856 "[CLEANUP] Major code cleanup patches coming in during the holidays / first week of January"
Suggest a code freeze on December 16th.
Items to be addressed:
- #668
- clang format
- tabs / spaces
- snake_case
- dead code
- macro removal and cleanup
- squash commits to clean up commit history (for example #402 introduced 169 commits into master when it really should be 1, and often many PR's include commits for vanity checks and build issues)

[2019-12-03 17:14] joelsole commented on #734
WIP.
Also, starting in the next ruh, SSIM and MS-SSIM will be reported in the raw data.

[2019-12-03 21:10] chkngit opened #857 "Touching PCS data in Ressource Coordination after releasing results to PicAnalysis"
a code is exectuted in Ressource Coordination under
  if(sequence_control_set_ptr->static_config.unrestricted_motion_vector == 0)

is done even though the picture has been released.

This will cause a race condition or field corruption in PCS structure

[2019-12-03 22:02] JackZhouVCD commented on #852
Thanks for reporting this issue! Can you share with us the command and perhaps the patch (as plaintext) you used that generated the assertion fail?

[2019-12-04 02:16] wallerjiaotencent commented on #852
The following command line triggers this issue:
SvtAv1EncApp.exe -i FourPeople_1280x720_60.yuv -w 1280 -h 720 -b D:\testSequences\test.ivf -enc-mode 8 -n 200 -rc 0 -q 40 -intra-period 31 -adaptive-quantization 1

[2019-12-04 08:05] hguermaz opened #859 "Reduce the number of block(s) tested @ MD"
Design a fast/safe partitioning decision method towards a faster MD.

[2019-12-04 19:49] JackZhouVCD commented on #852
I see, thanks!

I tried to run with this command as well, same issue happens with `dark720p` clip. I found the following failed assert:

[code]

I did a bit to digging and found that `cu_ptr->segment_id` was uninitialized. Setting it to 0 resolved the issue but the resulting bitstream has VERY prominent blocking artifacts.

@anaghdin can you please look into this?

[2019-12-04 20:02] hassount commented on #856
Pre-requisites for a code freeze:

- [ ] #773
- [ ] #780
- [ ] #785
- [ ] #793
- [ ] #800
- [ ] #801
- [ ] #809
- [ ] #813
- [ ] #814
- [ ] #822
- [ ] #823
- [ ] #824
- [ ] #825
- [ ] #834
- [ ] #840
- [ ] #841
- [ ] #842
- [ ] #844
- [ ] #847
- [ ] #848
- [ ] #849
- [ ] #853
- [ ] #854
- [ ] #855
- [ ] #858

[2019-12-04 20:06] anaghdin commented on #852
@JackZhouVCD Thanks for checking it. I recall it was working. Could you do a regression test to figure out which commit broke it?

[2019-12-04 21:13] JackZhouVCD opened #860 "refactoring CopySequenceControlSet"
Currently the CopySequenceControlSet function is long and tedious to work with. We should look into refactoring the function, and perhaps in the likes of how it is done in [SVT-HEVC](https://github.com/OpenVisualCloud/SVT-HEVC/blob/251cb8b361b16d0880cc7119dc91eca5b3597294/Source/Lib/Codec/EbSequenceControlSet.c#L187)

From https://github.com/OpenVisualCloud/SVT-AV1/pull/780#discussion_r346023374

[2019-12-04 22:52] JackZhouVCD commented on #852
For sure, actually this issue happens even in the initial commit 47e6f527

[2019-12-04 22:59] anaghdin commented on #852
Thanks for checking. The support for segment was added by:
https://github.com/OpenVisualCloud/SVT-AV1/pull/337

Could you please check the master after it got merged?

[2019-12-05 00:35] JackZhouVCD commented on #852
Yes, the assert fails when this feature was introduced at be0ba80b

[2019-12-05 02:56] kelvinhu325 commented on #857
@chkngit do we have any tests to cover this issue? The "umv 0" processing is for current picture_control_set and it's after released prevPictureControlSetWrapperPtr, it looks ok, to be careful, do you mean moving "umv 0" processing before releasing prevPictureControlSetWrapperPtr?

[2019-12-05 06:02] xuguangxin commented on #224
I belive this fixed. @waterflag0614 , could you help double confirm it?
thanks

[2019-12-05 06:07] #754 closed

[2019-12-05 06:11] xuguangxin commented on #223
can't reproduce your issue anymore. could you help double confirm it with latest ffmpeg and svt library @waterflag0614
thanks

[2019-12-05 16:12] MaxValenzuela commented on #815
Any update to this? I'm interested in trying it out.

[2019-12-05 19:44] JackZhouVCD commented on #668
not sure if this would fit in the list of items to add in the post so I'll write a comment instead, I found that the instructions to build the unit tests on windows are outdated:

https://github.com/OpenVisualCloud/SVT-AV1/blob/master/test/Readme.md

We no longer use `generate_vs17.bat` to build the solution.

[2019-12-05 20:02] hassount commented on #815
Hello all,
This is not as simple as removing the restriction as currently making the max resolution go up to 8k would break the encoder. There needs to be work done to cleanup the buffers and address any of the crashes that would crash the encoder. we will look into this after the code cleanup effort that we're trying to work on right now as it would help point to the areas of issues.

[2019-12-05 20:31] chkngit commented on #857
I did not see that this is causing an issue, but as a good practice, we would like to have no code after releasing the results to the next process

[2019-12-05 21:04] hassount commented on #798
@FRNK-BK
The command line example for this was removed in this commit: 1e94523

[2019-12-06 15:22] kelvinhu325 commented on #857
@chkngit  created a PR https://github.com/OpenVisualCloud/SVT-AV1/pull/865 for this issue, pls review it, thanks!

[2019-12-06 18:57] anaghdin opened #867 "Rate estimation update"
Adding the rate estimation updates used in MD for missing syntax elements

Active branch:
https://github.com/OpenVisualCloud/SVT-AV1/compare/Rate_est_update

[2019-12-06 19:59] #833 closed

[2019-12-07 00:23] #835 closed

[2019-12-07 02:38] #799 closed

[2019-12-07 03:19] grill05 commented on #867
@anaghdin could you please elaborate a bit on whats happening in that branch ?

[2019-12-07 12:57] grill05 commented on #567
@xuguangxin I got exactly the same error as well. I was trying to build static-libaom+static-libsvt and link it to a static-ffmpeg binary.
To solve this aom error, I did
`cmake -DCONFIG_PIC=1`
when configuring libaom. And then the compile+linking worked okay.

This maybe related to `-fPIC` that 1480c1 mentioned

[2019-12-07 23:57] #859 closed

[2019-12-08 02:46] 1480c1 commented on #850
I've updated `video.tar.gz` at the mirror, @mafonsoN or @hassount, what enc-mode(s) do you think we should test in travis?

[2019-12-08 03:19] hassount commented on #850
@1480c1
I suggest -enc-mode 0,4,8 if we have enough compute?

[2019-12-08 06:26] mafonsoN commented on #850
Should we add enc-mode 4 as well for all tests? I've created this branch yesterday to add the 10-bit test to the travis build tests and to the binary identical: https://github.com/OpenVisualCloud/SVT-AV1/tree/travis-10bit-test

[2019-12-08 22:45] hassount commented on #734
@EwoutH

Thank you very much for this report and I apologize for the very late response on this. This issue is just not easy to solve:

We spent quite a bit of time looking into this issue and the major problem that we found is that most streams in the intervals you have pointed to along with the revisions after had corruptions and R2Rs, very few were actually decodable until #768 came in which do

[2019-12-09 07:28] hassount commented on #207
#814 should address this, can you please confirm?

[2019-12-09 07:31] hassount commented on #223
closing as this does not seem to be reproducible

[2019-12-09 07:31] #223 closed

[2019-12-09 07:32] hassount commented on #224
Closing, please open a new issue if need be

[2019-12-09 07:32] #224 closed

[2019-12-09 07:32] hassount commented on #228
this can now change, -rc 1 and rc 2

[2019-12-09 07:43] hassount commented on #262
@ttrigui @spawlows
are all of these items done ?

[2019-12-09 07:45] hassount commented on #272
@chkngit @hguermaz
any thoughts on this ?

[2019-12-09 07:49] #380 closed

[2019-12-09 07:51] hassount commented on #512
@ttrigui
can we check that all of these are addressed and close the issue if we can

[2019-12-09 07:55] hassount commented on #535
Closed by #707

[2019-12-09 07:55] #535 closed

[2019-12-09 07:56] #542 closed

[2019-12-09 07:57] hassount commented on #546
@ttrigui can we remove the test to close this?

[2019-12-09 07:59] #688 closed

[2019-12-09 08:02] hassount commented on #777
Can we close this ?

[2019-12-09 08:02] hassount commented on #850
#831

[2019-12-09 08:05] wallerjiaotencent commented on #777
I agree close this. All failures have been fixed and merged into master.

[2019-12-09 09:28] hguermaz commented on #272
This function is used to perform Cbf zero mode (check the cost assuming no coeff). Now this functionality is shut as the cost of assuming no coeff is set to max. This function should be renamed and cleaned-up; keep current cost and has coeff flag derivation only. av1_tu_calc_cost_luma(), but also av1_tu_calc_cost_luma().

[2019-12-09 09:42] elintencent commented on #777
I agree close this. All failures have been fixed and merged into master.

发件人: Hassene Tmar <notifications@github.com>
发送时间: 2019年12月9日 16:02
收件人: OpenVisualCloud/SVT-AV1 <SVT-AV1@noreply.github.com>
抄送: elinyhuang(黄莹) <elinyhuang@tencent.com>; Comment <comment@noreply.github.com>
主题: Re: [OpenVisualCloud/SVT-AV1] Unit Test Failure (#777)(Internet mail)

Can we close this ?

—
You are receiving th

[2019-12-09 14:24] spawlows commented on #512
All topics from this issue are done, and it can be closed.

[2019-12-09 14:52] spawlows commented on #518
@Jayashri @nijilk Do you think that this issue is done in #847 ?

[2019-12-09 17:17] anaghdin commented on #867
I am adding the modes and MVs CDF updates. The CDFs are used to generate the rate/cost tables, which are used in mode decision.

[2019-12-09 18:49] #165 closed

[2019-12-09 19:47] EwoutH opened #873 "CI: GitHub Actions tracking issue"
A tracking issue for the development of the GitHub Actions Workflows. Take on any issue from the to-do list you like!

**Done**
 - [x] Initial workflow [#871, @EwoutH]
 - [x] Move Style check from Travis to Actions [#897, @1480c1]
 - [x] Create jobs for different compilers (GCC 7, GCC 8, ~~GCC 9~~, Clang) [#914, @ePirat]
 - [x] Implement quick binary check (check for bitstream changes between PR a

[2019-12-09 19:51] 1480c1 commented on #873
https://github.com/OpenVisualCloud/SVT-AV1/pull/785

https://github.com/actions/cache

I particularly still can't figure out github cache yet

[2019-12-09 20:08] ttrigui commented on #777
Yes we can

[2019-12-09 20:10] ttrigui commented on #512
yes.

[2019-12-10 00:44] ultrawide commented on #873
Sorry, if this may be obvious. I'm new to CI and I'm reading through the docs at the moment, it looks like workflows are ran on GitHub-hosted runners or self-hosted runners. Not sure where to find the answer to this, but I'm curious where our workflows are ran on? For example, if we merge #871 `runs-on: ubuntu-latest`, where will the workflow be hosted? Thanks!

[2019-12-10 01:15] 1480c1 commented on #873
The workflows should be hosted on GitHub hosted runners, which are probably on Azure or AWS or GCP

[2019-12-10 01:16] 1480c1 commented on #873
https://help.github.com/en/actions/automating-your-workflow-with-github-actions/hosting-your-own-runners

https://help.github.com/en/actions/automating-your-workflow-with-github-actions/using-self-hosted-runners-in-a-workflow

Running on self-hosted machines require a special argument to the `runs-on:` tag

[2019-12-10 04:45] nijilk commented on #518
@spawlows Yes. We have fixed the issues. Please review once and close.

[2019-12-11 04:01] wallerjiaotencent commented on #852
fixed
commit bd05c08ddf3cb2e28ca27f21caad2092b94f8960

[2019-12-11 04:01] #852 closed

[2019-12-11 20:57] hguermaz opened #884 "MR-to-M0 BD-Rate deviation is still high"
The MR-to-M0 BD-Rate deviation on the jctvc 240p and 480p clips is higher than 0.3%.

[2019-12-11 23:17] EwoutH commented on #29
@kylophone @hassount Do you think it would be possible to tag another release before Christmas? I suspect a large portion of the AV1 community would like to experiment a bit around the holidays.

[2019-12-11 23:29] ttrigui opened #885 "Assert fail"
an assert fails : Assertion failed: sign <= 2, in EbEntropyCoding.c, line 418 in master 13993eb
command used: -i F:\stream\RAND_640x360p.yuv -w 640 -h 360 -enc-mode 0

[2019-12-11 23:45] ttrigui commented on #262
Yes only convolve_2d_for_intrabc still not using optimized code it is just a matter of replacing
eb_av1_convolve_2d_sr_c
eb_av1_convolve_x_sr_c
eb_av1_convolve_y_sr_c
by
eb_av1_convolve_2d_sr
eb_av1_convolve_x_sr
eb_av1_convolve_y_sr

The remaining are either done or intrinsics optimization is not feasible

[2019-12-11 23:45] #512 closed

[2019-12-12 05:31] grill05 opened #886 "videocodectracker.dev : regarding "Timing is not accurate""
Its great that two new graphs for encoding speeds have been added to https://videocodectracker.dev. Assuming that those data-points are generated on an AWS instance, normalizing with a reference (chosen to be 2019/12/03 ) seems correct.
But, post-normalization, the data (change in normalized encoding time) should be accurate. So why is it said in the header that " Timing is not accurate" ?

P.S. I

[2019-12-12 20:06] joelsole commented on #886
I agree that the note stating 'timing is not accurate' might need some further qualification.

Encoding time accurate enough to be a good indicator of the trend. So in that sense, the graphs are useful and that's why they have been added. However, the encoding time is not accurate enough to measure small changes introduced by some commits, as the variance of the measurement error might be larger t

[2019-12-13 00:55] grill05 commented on #886
That seems reasonable. I wonder if this effect can be shown more clearly (visually) by using error-bars (to show margin of error) ?

Also, are the vdeocodectracker.dev graphs planned to be updated on a per-commit  basis? That would seem to require a lot of cpu-cycles..

[2019-12-13 02:11] joelsole commented on #886
It would be nice to have finer granularity, but for now, we can only do regtests on a daily basis.

[2019-12-13 05:54] hassount opened #891 "[MAJOR PRESET CHANGES] Presets 4-7 temp removal"
While working on tuning the presets after completing the feature implementations along with the new structural mode decision changes, the old presets settings would need to be completely changed to accommodate for the new structure.

To build on a clean code base, a proposition would be as follows:
- presets 1-3 to be re-built on the new M0 structure [WIP]
- presets 4-7 to be cleaned and set to th

[2019-12-13 19:12] JackZhouVCD commented on #767
closing this issue as it is resolved by #854

[2019-12-13 19:12] #767 closed

[2019-12-13 19:38] #777 closed

[2019-12-13 19:59] JackZhouVCD commented on #91
@EwoutH so right now our encoder wraps around the input stream when the encoding is longer than the stream. How do you think adding a skip feature should play with that? Simply start at the frame to skip to then wrap over to start at the beginning of the video?

[2019-12-14 02:09] EwoutH commented on #91
@JackZhouVCD I think that would be ok, just skip n frames once and then continue to loop the whole video.

[2019-12-14 02:15] #250 closed

[2019-12-14 02:15] #203 closed

[2019-12-14 07:01] #850 closed

[2019-12-14 20:16] hassount commented on #29
@EwoutH
sure, let's plan one before the cleanup phase and as soon as we reach the code freeze point,, hopefully mid next week

[2019-12-16 04:25] xuguangxin opened #898 "reduce eb_init_encoder time."
According to https://github.com/OpenVisualCloud/SVT-AV1/pull/893#issue-352793715, eb_init_encoder need 5.6350s on a 112 logical core system for a 1080P. It's a big latency for a realtime board cast system.

Most time spent on object allocation and all objects allocated by https://github.com/OpenVisualCloud/SVT-AV1/blob/169c1a373f0114f3cd7123544170b995b202a310/Source/Lib/Common/Codec/EbSystemResour

[2019-12-16 19:14] AlexBoswellVCD commented on #790
I can reproduce this with the current master (4814268).

[2019-12-16 21:11] AlexBoswellVCD commented on #790
I ran a bisect and found this r2r is introduced in (a5dcbf2)

[2019-12-16 21:16] hassount commented on #790
Cool, can you test disabling that on the latest master?

[2019-12-16 22:05] AlexBoswellVCD commented on #790
Disabling it gets rid of the r2r macros. More specifically, turning off the following lines while leaving the commit enabled also removes the r2r.
https://github.com/OpenVisualCloud/SVT-AV1/commit/a5dcbf2ecdf6bda7db01aa359fc07e9ad1255871#diff-051be3f82f0c4e17fd579aa4eda9ba62R2295-R2297

[2019-12-16 23:29] #867 closed

[2019-12-16 23:30] hassount commented on #819
@JackZhouVCD can we try this again now that #870 is merged

[2019-12-17 03:36] PhoenixWorthVCD opened #902 "M1-M8 signal settings are outdated"
The ms-dec1 branch has updated M1 to M8 signal tuning, compared to master.  The settings should be ported so that master has the most up-to-date features for all modes.

[2019-12-17 10:56] spawlows commented on #733
eb_av1_selfguided_restoration_avx2
==34370== Use of uninitialised value of size 8
==34370== at 0x552C274: calc_ab_fast (selfguided_avx2.c:484)
==34370== by 0x552C274: eb_av1_selfguided_restoration_avx2 (selfguided_avx2.c:779)
==34370== by 0x50A5475: apply_sgr (EbRestorationPick.c:588)
==34370== by 0x50A569B: search_selfguided_restoration (EbRestorationPick.c:625)
==34370== by 0x50AA218: search_sgr

[2019-12-17 19:20] JackZhouVCD commented on #658
I think that since `-asm` is overhauled in #785, this is no longer a problem at the side of our encoder. Regardless of how it's configured with ffmpeg. @baxxtor would you be able to try again with the most recent revision of SVT-AV1?

[2019-12-17 19:39] JackZhouVCD commented on #819
I just tried and I was unable to reproduce a deadlock in the current master, but neither could I get a deadlock in the commit right before. Taking into consideration that rc2 has been shifted to rc 1.

[2019-12-17 19:55] baxxtor commented on #658
Yes, I will try this evening.  Thank you.

On Tue, Dec 17, 2019, 2:20 PM JackZhouVCD <notifications@github.com> wrote:

[2019-12-18 01:40] #902 closed

[2019-12-18 01:51] joelsole commented on #886
The note on timing has been refined according to the discussion above to:
"Relative encoding times vs reference on 2019/12/03 for enc-mode 0 (timing is accurate enough to assess the overall trend)"

Closing this.

[2019-12-18 01:51] #886 closed

[2019-12-18 16:55] tszumski commented on #733
I am working on:
 Conditional jump or move depends on uninitialised value(s)
    at 0x4F2AE52: update_av1_mi_map (EbAdaptiveMotionVectorPrediction.c:1504)
    by 0x4F4AEFE: av1_encode_pass (EbCodingLoop.c:3805)
    by 0x4F5F324: enc_dec_kernel (EbEncDecProcess.c:3189)
    by 0x1012DDD4: start_thread (in /usr/lib64/libpthread-2.17.so)
    by 0x10741EAC: clone (in /usr/lib64/libc-2.17.so)

 Conditio

[2019-12-18 22:49] OmranAbdelkafi commented on #668
Working on the following item :

remove the following kernels (unused code)

aom_lpf_vertical_4_dual_sse2

aom_lpf_vertical_8_dual_c

aom_lpf_vertical_14_dual_sse2/aom_lpf_vertical_14_dual_c

aom_lpf_horizontal_4_dual_sse2

aom_lpf_horizontal_14_dual_sse2

aom_lpf_horizontal_8_dual_sse2/aom_lpf_horizontal_8_dual_c

aom_highbd_lpf_vertical_14_dual_sse2/aom_highbd_lpf_vertical_14_dual_avx2

aom_high

[2019-12-18 23:01] hassount commented on #790
This should now be addressed in the master after f50049aad435b48f1fb7b11402ec44c68b26412f
@bzhutencent can you please confirm ?

[2019-12-18 23:05] hassount commented on #710
@bitbytebit-cr this should be addressed after a2ba299a6979bebbb5c292e47372bf702c99d207 and f50049aad435b48f1fb7b11402ec44c68b26412f
can you please confirm?

[2019-12-18 23:06] hassount commented on #819
this should be addressed after a2ba299 and f50049a
let's close for now, and reopen if we find out otherwise

[2019-12-18 23:06] #819 closed

[2019-12-19 01:22] mtangtencent commented on #790
The r2r is already addressed in the latest master. I encoded 480p and 720p videos with preset 4, 6 and 8 for several runs. No r2r mismatch was observed in my experiment.

[2019-12-19 01:27] hguermaz commented on #668
@OmranAbdelkafi  if not yet done then could you please keep ADD_SUPPORT_TO_SKIP_PART_N (present under PREDICT_NSQ_SHAPE ) or just assume ADD_SUPPORT_TO_SKIP_PART_N is always TRUE then remove the macro (should be lossless).

[2019-12-19 19:42] ttrigui commented on #546
issue resolved in commit 7513210

[2019-12-19 19:42] #546 closed

[2019-12-19 21:22] 1480c1 commented on #131
Do we want to do this now?

[2019-12-20 18:54] hassount commented on #710
Closing, please re-open if the issue persists.

[2019-12-20 18:54] #710 closed

[2019-12-20 18:55] hassount commented on #658
@baxxtor closing this, feel free to open another one if you still see the issue

[2019-12-20 18:55] #658 closed

[2019-12-21 21:51] ePirat commented on #873
Regarding running the tests, should those be run for each compiler in the matrix or should we create a separate action that just compiles once with a specific compiler (which?) and then do the tests?

[2019-12-21 22:38] 1480c1 commented on #873
Although in the end it will depend on what machines @hassount will add to GitHub actions, I think it maybe fine to keep the compile jobs separate and run the tests as a separate job, probably using gcc-9 or the latest available clang since there shouldn't be too much run time discrepancies between versions. Although ideally, we would test on the default common version and the latest version availa

[2019-12-21 22:42] ePirat commented on #873
Actually maybe the "full" test with all compilers could be run only each night or so? That way breakages would still be noticed without having it to run for each commit.

[2019-12-21 22:59] 1480c1 commented on #873
That would be good

[2019-12-21 23:26] hassount commented on #873
@ePirat @1480c1
Sounds good let’s do gcc 9 for all PRs and a nightly for all of them.

[2019-12-21 23:39] 1480c1 commented on #873
Okay, @ePirat or @ultrawide , do one of you guys want to try to it or should I?

[2019-12-21 23:40] ePirat commented on #873
@1480c1 I would like to work on this, yes.

[2019-12-24 20:19] #302 closed

[2019-12-25 02:22] xuguangxin commented on #701
@kylophone ,  https://github.com/OpenVisualCloud/SVT-AV1/pull/809 merged. could you help send pr for your stdout patch?
thanks

[2019-12-29 20:03] mtangtencent opened #927 "mem leak when -scm 1"
I was trying to use SVT-AV1 (v0.8.0) to encode some screen content with the following command line
`./SvtAv1EncApp -i <video.yuv> -w <w> -h <h> -b out.ivf -enc-mode 4 -n <n> -rc 0 -q 24 -scm 1`

An overwhelming mem leak was observed, and a memory overflow error was observed on my laptop (16GB RAM) after encoding fewer than 50 frames of 1080p content.

[2019-12-30 19:48] JackZhouVCD commented on #927
thanks for reporting this issue! which video clip did you use?

[2019-12-30 19:59] mtangtencent commented on #927
Hi Jack, when -scm 1 is used, the screen content coding tools are always enabled no matter whether the input video is screen content video or not. I tested the command line with non-SCC video BQTerrace, which also failed due to the mem leak.

[2019-12-30 20:05] #857 closed

[2019-12-30 20:05] #884 closed

[2019-12-30 20:52] mtangtencent opened #929 "r2r mismatch when overlay is enabled"
I was testing the option `enable-overlays` and found r2r mismatch (both release and debug have this issue) using the following command line.
./SvtAv1EncApp.exe -i BasketballDrill_832x480_50.yuv -w 832 -h 480 -b test.ivf -enc-mode 8 -n 200 -rc 0 -q 24 -intra-period 31 -fps-num 50 -fps-denom 1 -enable-overlays 1

The version of SVT-AV1 I used was v0.8.0 (af16f709)

[2019-12-30 21:26] hassount commented on #927
@mtangtencent
can you please test using -lp 1 and check if you still see the issue ?

[2019-12-30 22:57] mtangtencent commented on #927
@hassount lp 1 also has this issue.
And I found using screen content video and `-intra-period 0` can make this issue even worse

[2019-12-30 23:30] ttrigui commented on #885
assert fail happens when  using -i F:\stream\AOM_YUVs\wikipedia_420.yuv -w 1920 -h 1080  -enc-mode 4  in master fd18435

[2019-12-31 04:21] silverbacknet opened #930 "Noise estimation [enhacement]"
I see that aomenc's noise estimation is left out of SVT. Would it be acceptable to integrate aomenc's existing noise estimation (basically temporal_filter.c/h) for now, or is an alternative planned, or is this a feature that SVT does not wish to include?

[2019-12-31 08:59] hassount commented on #927
@mtangtencent
Thank you for the details. the issue on our side is that we're not able to reproduce the memory leak thus suspecting that not having enough memory would be triggering that.

in this case, we will need more details on your system to try to build a similar environment. a log capture of the output would also help

[2019-12-31 09:17] hassount commented on #930
@silverbacknet
my understanding is that it's already integrated in EbTemporalFiltering.c @mafonsoN could comment further on this

[2019-12-31 17:17] mafonsoN commented on #930
@silverbacknet Noise estimation used for the temporal filtering tool,`estimate_noise()`, is implemented in EbTemporalFiltering.c. Is this what you were referring to?

[2019-12-31 19:46] AlexBoswellVCD commented on #929
I was able to also reproduce this in ( 57bd982 )

[2019-12-31 20:45] silverbacknet commented on #930
Thank you, I hadn't noticed that, or the -film-grain parameter to use it from the command line. I'm still getting familiar with SVT's codebase. I guess I can start testing it now!

[2019-12-31 20:45] #930 closed

[2020-01-02 20:21] 1480c1 commented on #873
@ePirat and @ultrawide, I will work on moving some of the windows builds to github actions from appveyor

[2020-01-02 20:24] hassount commented on #873
Happy New Year everyone :)

Would github action have a mac platform ?

[2020-01-02 20:24] 1480c1 commented on #873
Also, @ultrawide, https://help.github.com/en/actions/automating-your-workflow-with-github-actions/virtual-environments-for-github-hosted-runners#cloud-hosts-for-github-hosted-runners

`GitHub hosts Linux and Windows runners on Standard_DS2_v2 virtual machines in Microsoft Azure with the GitHub Actions runner application installed. The GitHub-hosted runner is a fork of the Azure Pipelines Agent. Fo

[2020-01-02 20:49] ultrawide commented on #873
Thanks for the update @1480c1

I'll look into working on the below:

[2020-01-02 23:49] hassount opened #932 "[SVT_AV1] Open Dev Meeting Jan8-2020"
Happy New Year to all !

The second Open Dev Team is scheduled for January 8th 2020, @ 8:30 - 9:30 am PST

Created a new issue to track the discussion items for this meeting, please let us know your thoughts / suggestions for topics on the Agenda.

_Originally posted by @hassount in https://github.com/OpenVisualCloud/SVT-AV1/issues/811#issuecomment-559184213_

### Using the same dialup info from l

[2020-01-02 23:50] hassount commented on #811
New issue #932

[2020-01-02 23:50] #811 closed

[2020-01-03 06:56] grill05 opened #933 "Using SvtAv1EncApp in low memory environments"
I understand the minimum memory requirements mentioned in the README, and mostly they are fine. However, I was trying to test av1 encoding on a server which has a very low memory quota (512m), but lots of cpu-quota.

Is there some flag/parameter I can set in SvtAv1EncApp that will allow using SVT-AV1 in such a low memory environment? For example, I can get ffmpeg+libaom to run by specifying --thre

[2020-01-03 06:56] grill05 commented on #932
an update on rate-control would be great.

[2020-01-03 08:43] hassount commented on #933
Did you try running with -lp 1

[2020-01-03 17:16] grill05 commented on #933
Using -lp 1 works, and seems to use 100% cpu (similar to 1-thread libaom behaviour). Using -lp 2 also seems to use only 100% (not 150-200%) unlike the behaviour of --threads=2

[2020-01-03 20:58] hassount commented on #933
I see, it's mainly -lp 2 means that it will target the execution on 2 cores only but it's still limited resources. svt has a different architecture than most codecs (documentation soon coming to the repo hopefully will make things easier to understand). the minimum amount of threads that savt-av1 can start with is 16, but -lp 1 (or anything less than -lp 3) would usually use 1 pipeline of encoding

[2020-01-03 22:47] ultrawide commented on #873
@1480c1 Hi Christopher, I wanted to confirm with you if we want to use separate jobs for running a binary identical test as per:

It looks like I will need to upload the artifacts (encoder binary + library) built in the 'build' job and download the artifacts respectively since each job runs in a separate VM. For the video clips, are you aware of a good method to retrieve the clips or place them so

[2020-01-03 22:55] 1480c1 commented on #873
Yeah, that probably would be the best by using https://github.com/actions/upload-artifact and https://github.com/actions/download-artifact to upload and download the encoder binary and lib from the gcc-9 job into a separate r2r test job.

You could do something like tar-ing the two files since their action will zip it up for you. That would help with implementing future tests too, depending on @eP

[2020-01-04 15:40] EwoutH commented on #856
Can we do a 0.8.1 release when the cleanup window ends?

[2020-01-04 15:42] EwoutH commented on #131
Maybe do it now with an allowed failure?

[2020-01-04 19:05] FreddyX078 opened #937 "[MacOS] ffmpeg EXC_BAD_ACCESS (ffmpeg init_intra_predictors_internal at EbIntraPrediction.c)"
MacOS version is 10.15.2 - Git ffmpeg and svt-av1

Using SVT-AV1 today and standalone is working fast and fine.
Trying with ffmpeg (static) result in a crash:

[code]

[2020-01-06 22:22] luigi311 commented on #932
I was playing around with coz profiler and ran the following command 1000 times over night.
`./SvtAv1EncApp -i ../../../Chim*.y4m -enc-mode 4 -b ../../multisocket.mkv`

I told the coz profiler that a unit of work is complete when it gets to EbAppMain.c:L231 after it checks to see if all channels are inactive since what i assumed was that while loop keeps looping after a single frame has been encod

[2020-01-07 16:29] ePirat commented on #873
So I've been working on adding tests to the CI and noticed the Unit tests take forever to run, is that expected? (It now already runs for about an hour)

[2020-01-07 16:34] 1480c1 commented on #873
Yes, they do take a really long time sadly

[2020-01-07 16:36] ePirat commented on #873
@1480c1 Do we want to anyway run them for each push and PR? Likely that way it would quickly run into the limits of Github Actions free usage plan.

[2020-01-07 17:21] 1480c1 commented on #873
I would say we probably should only run them on each push to a branch and not for PRs. Although I'm not sure if we want to do push to branches on this repo since this repo has a lot of active branches

[2020-01-07 21:18] ePirat commented on #873
@1480c1 Quick update: The tests are now running for nearly 5 hours and still going, given the usage limit of Github actions machines is roughly 33h per month it means we probably can't even run the tests 5 times before hitting the limit, per month.

[2020-01-07 21:20] ePirat commented on #873
Is there a less expensive mode to run the unittest or some filter to only run a smaller subset of tests?
Why do the tests take so long? 6 hours seems really really long for just unit tests?

[2020-01-07 22:23] hassount commented on #873
adding @Cidana-Developers @andrey-norkin for the discussion to see how we can optimize the unit test runs.

[2020-01-07 22:43] luigi311 commented on #932
Nice to see a lot of pull requests being closed. Good job on getting people on those! Very encouraging putting in a pull requests and receiving feedback in a timely manner, keep it up :)

[2020-01-07 23:35] ePirat commented on #873
Another thing I noticed is that multiple tests seem to fail: https://github.com/ePirat/SVT-AV1/commit/7098a34da8ac167c261a744e10d109f2ec65bb11/checks?check_suite_id=388262067#step:5:81429

[2020-01-08 02:57] zpdongtencent opened #940 "segmentation fault when enc_mode 3 with vbr enabled"
my command line is as following:
./SvtAv1EncApp -i ~/videos/vidyo4_720p_60fps_60f.y4m -enc-mode 3 -rc 1 -b output.ivf

my svt version was v0.8.0 (af16f70)

[2020-01-08 03:36] phoenixstar7 opened #941 "Restoration Filter used twice in config file"
Hi,

I am using SVT-AV1 0.7 and I built release for v0.8 and I found in both the config files
 **Line number:157**
 _**RestorationFilter** | -restoration-filtering | [0/1, -1 for default] | DEFAULT | Enable restoration filtering , 0 = OFF, 1 = ON, -1 = DEFAULT|**_

 **Line number:174**
 _**RestorationFilter** | -restoration-filtering | [0/1, -1 for default] | DEFAULT | Enable restoration filtering

[2020-01-08 03:50] phoenixstar7 commented on #941
Never mind. The issue with the restoration filter is solved :) after rebuilding again SvtAv1-v0.8
It works

[2020-01-08 03:50] #941 closed

[2020-01-08 08:00] xuguangxin commented on #787
@moisespr123  could you try https://github.com/OpenVisualCloud/SVT-AV1/pull/942?
if it's not fixed your issue, could you provide some command line here?
so I can reproduce your issue.
thanks

[2020-01-08 13:38] ePirat commented on #932
As mentioned in #873 I've encountered some problems adding unit tests to CI, so it would be great if we could discuss this.

[2020-01-08 17:34] hassount commented on #932
Hello all,

Thank you for joining today, below are some minutes I have captured on what we have discussed. Please let me know if I have missed anything.

**Question1:**
- Look into -film-grain switch does not seem to be working [will check this] [AR]

**Question2:**
- CI takes too long: single threaded
group the tests that can be run in parallel together and create blocks
need to figure out why so

[2020-01-08 18:32] luigi311 commented on #932
Is there a recording of this months meeting similar to the one we had last time?

[2020-01-08 19:14] hassount commented on #932
unfortunately I could not record on my side. @mafonsoN did you get the chance to record the meeting ?

[2020-01-08 19:27] mafonsoN commented on #932
@luigi311 @hassount No, sorry, I would have to have to enabled it on my side. We will make sure to record and publish it next time! @hassount, do we want to publish some meeting notes instead from what we remember? I can't seem to get back the chat though.

[2020-01-08 21:47] 1480c1 commented on #932
@hassount would we be able to host the next dev meeting on another platform, preferably one that has a way to keep a record easily of both text and audio?

[2020-01-08 23:00] jryzkns commented on #937
seems like this may be an [ffmpeg issue](https://trac.ffmpeg.org/ticket/8073). Can you try to reconfigure ffmpeg with [`--extra-cflags="-fno-stack-check"`](https://trac.ffmpeg.org/ticket/8073#comment:12) and see if this fixes it?

[2020-01-08 23:16] hassount commented on #932
sure, any suggestions?

[2020-01-09 03:26] mtangtencent opened #943 "High overhead of multi-threading"
I did some profiling of SVT-AV1, which turns out to indicate that `WaitForSingleObjectEx` function consumes around 10% of the entire encoding time when preset 8 is used.

[2020-01-09 05:16] 1480c1 commented on #932
Currently researching some, but one that came to mind was a temporary discord server with a [bot](https://craig.chat/home/) to record the audio. I haven't tested the bot yet, but I will soon once I have the time

[2020-01-09 06:25] jryzkns commented on #932
+1 to discord server with bot add-on

[2020-01-09 19:44] AtakSnajpera opened #945 "Copy encoding progress style from x264/x265"
This issue is sort of appendix to this one https://github.com/OpenVisualCloud/SVT-AV1/issues/779
started by stax76

Hi! I'm the author of RipBot264 and I would like to suggest changes to how encoder informs user about his work.

Here is an example style used in x265.
y4m  [info]: 640x272 fps 24000/1001 i420p8 sar 1:1 unknown frame count
raw  [info]: output file: \\XEON-PC\RipBot264temp\job1\Chunks

[2020-01-09 20:13] hassount commented on #945
@kylophone

[2020-01-09 20:15] hassount commented on #943
@mtangtencent
can you give a little more details about the system / command line you're using ?

[2020-01-09 22:41] mtangtencent commented on #943
I was using Win10 with VS 2017, running with preset 8, cqp=36, first 150 frames of BQTerrace_1920x1080_60.yuv, with all other parameters left to default.

[2020-01-10 01:25] mtangtencent commented on #790
Hi @hassount , I observe that there is another r2r mismatch case when using SVT-AV1 0.8.0 (af16f709).
The command line I used is `./SvtAv1EncApp.exe -i ParkScene_1920x1080_24.yuv -w 1920 -h 1080 -b test.ivf -enc-mode 4 -n 200 -rc 0 -q 24 -intra-period 31 -fps-num 24 -fps-denom 1`

[2020-01-10 04:23] OmranAbdelkafi commented on #940
Fixed at Pull Request #948

[2020-01-10 04:23] #940 closed

[2020-01-10 05:23] 1480c1 commented on #873
@Cidana-Developers or @andrey-norkin, looking through libaom_dependency.cmake, is there any particular reason why we are building both MinSizeRel and Debug configs for what is assumed to be MSVC?

[2020-01-10 05:35] 1480c1 commented on #873
@ePirat, I believe the 33h per month limit only applies to private repos as https://help.github.com/en/github/setting-up-and-managing-billing-and-payments-on-github/about-billing-for-github-actions
[code]

and on both my personal account and github organization, under billing, it only shows the 2000 minutes for private repos

[2020-01-10 09:36] FreddyX078 commented on #937
Did it already, see above.

built with Apple clang version 11.0.0 (clang-1100.0.33.16)
  configuration: --cpu=native --prefix=/tmp/working --extra-cflags=-I/tmp/working/include --extra-cflags=-fno-stack-check

[2020-01-10 12:41] ePirat commented on #873
@1480c1 Indeed I believe you are right. But there is still a timeout after 6h which seems to always apply, so it needs to be made faster.

[2020-01-11 18:05] weter11 opened #950 "Limit block size"
Hi. Is it possible to manually limit block sizes from all variants of 128x128 to 16x16? I can't understand why codec don't produce at least the same quality as x264 at medium bpp (0.05), maybe it can't correct decide where on the picture to use less bitrate and smaller blocks, because sometimes it even blurry parts of background mostly static image for no reason, sometimes it blurry parts of cloth

[2020-01-12 04:07] luigi311 commented on #779
Man the way you guys handled parsing inputs is massive. If solution 1 is acceptable i can start to give it a go and try and match the short and long variables to other encoders such as x265. What can not be directly replaced we can start putting down some ideas on this page to see what are acceptable short and long variables. Long variables should be easy but short variables might be challenging.

[2020-01-13 01:49] zpdongtencent opened #952 "corrupt bitstream generated under mode 6 and several other parameters."
the output bitstream generated by following parameters can not be decoded normally by ffmpeg.

**SVT commands-->**
./SvtAv1EncApp -i BasketballDrive_1920x1080_50.yuv -w 1920 -h 1080 -fps 50 -enc-mode 6 -obmc -q 24 -n 30 -enable-altrefs 1 -b output.ivf

**note:** you should use the same yuv file as mentioned in my command line.

**_ffmpeg log-->_**
[NULL @ 0x750a240] zero_bit out of range: 1, but m

[2020-01-13 06:56] grill05 commented on #933
@hassount I think your comments sufficiently explain this for now, so I'm closing the issue. Please re-open in the future if there are any major changes

[2020-01-13 06:56] #933 closed

[2020-01-13 07:02] grill05 opened #953 "source code for videocodectracker.dev"
I've been a fan of videocodectracker.dev for sometime. A while ago, I requested the libaom people to make a similar tracker, and work on that is progressing nicely under [this issue](https://bugs.chromium.org/p/aomedia/issues/detail?id=2560)

However, I usually have a specific use-case in mind (for my personal use), and would prefer to test the encoder performance on that use-case only. If the cod

[2020-01-14 07:18] hassount commented on #734
@EwoutH
can we close this ?

[2020-01-14 07:20] #518 closed

[2020-01-16 12:40] ePirat opened #959 "Segfault on exit"
Terminating the encoder process with SIGINT causes a segmentation fault:

[code]

[2020-01-16 18:25] hassount commented on #873
@andrey-norkin @Cidana-Developers

[2020-01-17 08:55] Cidana-Developers opened #965 "Failure unit test case in NNPRED/NNPredTest"
Found new failure test case in NNPRED/NNPredTest
[code]

It is difficult to re-produce for its input data is random in time seed.

[2020-01-17 08:58] Cidana-Developers commented on #965
https://github.com/OpenVisualCloud/SVT-AV1/blob/ba3dd4480d44d4d772fd0ab942ccc58c56cd3023/test/EbNNPredictTests.cc#L69

This assertion might be changed to **ASSERT_FLOAT_EQ**

[2020-01-17 09:05] Cidana-Developers commented on #873
libaom is linked by SvtAv1E2eTest for a reference decoder. In MSVC, debug version should link to debug library of libaom, otherwise it reports link errors. That's why we setup for both debug and release version in CMake for MSVC.

[2020-01-17 09:35] Cidana-Developers commented on #873
We tested running unit tests in Travis CI with google test shard mode. By distributing unit tests in multiple shards they can walk-around the time limitation of Travis CI Job (50 mins).

Following are the results:
[Unit Tests Pass](https://travis-ci.com/Cidana-Developers/SVT-AV1/builds/144864615)
By disabled following failed test cases:
*AV1WienerConvolveHbdTest*, *HBDVarianceTest*, *AV1HbdJntConv

[2020-01-17 18:34] mazharaIntel commented on #959
Hi @ePirat . Could you provide more information like branch used (I tried master branch and could not reproduce it yet). and the shell command?

[2020-01-17 18:36] ePirat commented on #959
Used git master at that point, to be precise ba3dd4480d44d4d772fd0ab942ccc58c56cd3023

Command line used: `SvtAv1EncApp -asm 0 -i fireworks_3840x2160.yuv -n 450 -w 3840 -h 2160 -b ~/out.ivf`

[2020-01-17 18:56] mazharaIntel commented on #959
Thanks. Did you use Ctrl +C to invoke SIGINT? And in a Linux environment?

[2020-01-17 19:00] ePirat commented on #959
Both Ctrl-C and sending SIGINT using `kill` cause this. I can reproduce both on macOS and Linux.

[2020-01-17 19:03] ePirat commented on #959
If needed I can share the yuv file used.

[2020-01-17 19:06] mazharaIntel commented on #959
The yuv file would be helpful. Thanks

[2020-01-17 20:50] ePirat commented on #959
Can be found here http://streams.videolan.org/misc/fireworks_3840x2160.yuv

[2020-01-17 20:55] ttrigui commented on #885
This assert still fails in the master abda69b using -i F:\stream\AOM_YUVs\wikipedia_420.yuv -w 1920 -h 1080 -enc-mode 4

[2020-01-18 02:10] jryzkns commented on #965
Good catch!

Agreed, also it seems like ASSERT_NEAR might also be a good choice since there is more control over how close the values can be. In the grand scheme of things this UT fail shouldn't be an issue to the encoder since the outputs are fed to a softmax for classification.

For reference: https://github.com/google/googletest/blob/master/googletest/docs/advanced.md#floating-point-macros

[2020-01-20 02:50] xuguangxin commented on #965
maybe we can make the seed as a member variable of NNPredTest and print out the seed when we find a mismatch.
So we can reproduce the issue again use the seed.

possible code
[code]

[2020-01-20 08:55] xuguangxin commented on #129
@jbeich , this will fixed by https://github.com/OpenVisualCloud/SVT-AV1/pull/972
could you have a try?
thanks

[2020-01-20 10:42] jbeich commented on #129
@xuguangxin, 17cb28129c2f applied to abda69b42 snapshot doesn't help.

[2020-01-20 10:45] jbeich commented on #129
Tried 17cb28129c2f snapshot directly (to avoid patching) but still no joy.

[2020-01-20 12:26] elintencent opened #973 "Why hierarchical_levels 0/1/2 are not allowed to be used in verify_settings() with the internal code being ready?"
Why hierarchical_levels 0/1/2 are not allowed to be used in verify_settings() with the internal code being ready?
    if (config->hierarchical_levels != 3 && config->hierarchical_levels != 4) {
        SVT_LOG("Error instance %u: Hierarchical Levels supported [3-4]\n", channel_number + 1);
        return_error = EB_ErrorBadParameter;
    }

[2020-01-21 06:33] hassount commented on #973
This is a WIP

[2020-01-21 06:37] hassount commented on #950
@adaria this can be added as part of the config flags work, would you like to take a shot at it ?

[2020-01-21 06:41] hassount commented on #738
@ksuhiyp can you check that #972  addressed this issue?

[2020-01-21 08:42] weter11 commented on #950
Sure, what to do?

[2020-01-21 09:27] elintencent commented on #973
What encoder's features are not ready for hierarchical_levels 0/1/2? When the parameter checking in verify_settings() is removed, it seems that hierarchical_levels 0/1/2 can run.

[2020-01-21 11:26] magwyz commented on #733
Besides the errors fixed in #966, I also get these two errors:

Conditional jump or move depends on uninitialised value(s)
   at 0x4A9ED40: merge_1d_inter_block (Source/Lib/Encoder/Codec/EbFullLoop.c:3247)
   by 0x4A9EEEE: d1_non_square_block_decision (Source/Lib/Encoder/Codec/EbFullLoop.c:3278)
   by 0x4B82167: mode_decision_sb (Source/Lib/Encoder/Codec/EbProductCodingLoop.c:6795)
   by 0x4A6D779

[2020-01-21 16:02] adaria commented on #950
Sure, looking into it.

[2020-01-21 20:11] #885 closed

[2020-01-22 10:28] xuguangxin commented on #129
@jbeich , it only fails for null output.
 "ffmpeg -hide_banner -c:v libdav1d -i ed.ivf test.yuv" does not have the issue.

Wired, let me spend more time on this.

thanks

[2020-01-22 11:36] jbeich commented on #129
*.yuv is an uncompressed stream (without header unlike *.y4m). Try using *.mkv or *.mp4 with `-c:v copy` or just play the file with `mpv`.

[2020-01-23 15:55] spawlows commented on #873
I propose to separate the job "Unit Tests" on travis-ci for 3 separate jobs.
[code]

Run separate:
 -SvtAv1UnitTests
 -SvtAv1ApiTests
 -SvtAv1E2ETests

Because when SvtAv1UnitTests not failing fast, then SvtAv1ApiTests
SvtAv1E2ETests will be omitted by limiting the duration of the job on travis.

[2020-01-24 11:38] rubenmt94 commented on #656
When I try to encode 4k videos (3840x2160) something similar happens, I get the following error: allocate memory failed, at C: \ Users \ user \ Documents \ SVT-AV1-master \ Source \ Lib \ Encoder \ Codec \ EbPictureControlSet.c, L400
Could not allocate enough memory for channel 1
Encoder finished

However, when I encode videos of HD quality or lower, no problem occurs and the encoding is successfu

[2020-01-25 01:07] moisespr123 commented on #787
It's fixed! Thanks!

[2020-01-25 01:07] #787 closed

[2020-01-26 05:33] grill05 commented on #798
@hassount @NaderMahdi @anaghdin  Hi, is there any update on how work on this is progressing. Thanks.

[2020-01-26 19:10] hassount commented on #798
@grill05
not yet there as we're still currently working on the core optimization.

[2020-01-27 02:10] luigi311 commented on #873
Is caching still something we want to implement? Looks like it really only takes about 1 minutes to install all dependencies so we wont really be saving much time. The only thing that takes a really long time is the windows build and its really only 2 minutes to get the environment all setup and the rest is it building.

[2020-01-27 02:30] luigi311 commented on #873
I can go ahead and work on implementing the ffmpeg and gstreamer action if no one else is working on it. I can get started on it as soon as #980 gets merged so i have a good base script.

[2020-01-27 02:39] 1480c1 commented on #873
I'm not sure if it's necessary anymore since it seems that github action's startup time is relatively low compared to travis-ci so there's not much time to be saved with caching

[2020-01-27 02:42] 1480c1 commented on #873
That would be good if we can move that off travis-ci. One of my concern would be ffmpeg build times, but at the same time, I'm not very convinced by github action's caching (Would work with static files that are never modified, deb files maybe)

[2020-01-27 02:50] luigi311 commented on #873
Yeah that might be a good candidate for caching. We can cache the full build and just tell it to recompile since make is so smart it will only rebuild the files it needs and reduce the amount of time it takes to rebuild on each following build. I will first build it normally and see how it goes, if it does take a long time I'm going to need to read into how to use githubs caching.

[2020-01-27 07:27] hassount commented on #973
the encoder runs but there's a largely unexpected BDR loss, therefore it's considered broken for now.

[2020-01-27 23:06] hassount opened #984 "Objects here are also mentioned in the High-level Data Structures apart from the results. Maybe it would be best to combine them."
Objects here are also mentioned in the High-level Data Structures apart from the results. Maybe it would be best to combine them.

_Originally posted by @mafonsoN in https://github.com/OpenVisualCloud/SVT-AV1/timeline_

[2020-01-28 05:27] hassount commented on #891
As the -enc-mode 4-7 presets have brought good tradeoffs, I am closing this issue and we 'll keep working on these.

[2020-01-28 05:27] #891 closed

[2020-01-28 05:28] hassount commented on #959
is this still happening ?

[2020-01-28 18:39] luigi311 commented on #873
@ultrawide
There seems to be issues with the binary comparison every once in a while.
Ive been making a lot of changes on my own fork to the svt-av1 github actions to add gstreamer and ffmpeg without modifying any source code or the binary-identical-test job and every once in a while it will fail the check. This seems to only happen once in a blue moon but still raises the question on why is it fa

[2020-01-28 18:45] mafonsoN commented on #953
Hi @grill05, sorry, I missed this issue! The encode jobs for the videocodectracker currently run on Netflix's internal infrastructure, so some of the code is specific to this environment, therefore, it wouldn't be useful to open source it.

If you want to run your own tests, you can find libaom and svt-av1's command lines in https://videocodectracker.dev/command_lines/svtav1_cli_changelog.html.

T

[2020-01-28 20:19] luigi311 commented on #873
In case anyone is wondering there will not be support for variable names in the uses clause. I was hoping this would get implemented so it would be easy to use the same version of a action throughout all the jobs and will only require us to change it at the very top but they said this will not be implemented.
https://github.community/t5/GitHub-Actions/Env-variables-in-uses/m-p/44441/highlight/fals

[2020-01-28 20:39] ttrigui opened #985 "R2R in M4"
#790
Sample command to trigger the R2R:
SvtAv1EncApp.exe -i F:\stream\ParkScene_1920x1080_24.yuv -w 1920 -h 1080 -b ParkScene_1920x1080_24_TRQ_Q43_M4_NOIntra_FIXOFF_120F_0.ivf -enc-mode 4 -rc 0 -q 43 -irefresh-type 2 -intra-period 250 -fps-num 24 -fps-denom 1 -n 120

R2R is observed in modes 0 to 5.
Disabling over_boundary_block_mode (enabled by default for modes 0 to 5) fixes the problem.
More sp

[2020-01-28 21:38] ultrawide commented on #873
Thanks for letting me know! I'll investigate it 👍

[2020-01-28 21:52] hassount opened #986 "Bitstream Corruption due to GM"
@magwyz
while following some R2R mismatches we found out that this PR (#596) has introduced a bitstream corruption.

-i d:\stream\blue_sky_360p_60f.yuv -w 640 -h 360 -enc-mode 0 -n 600 -b test.ivf

Please note that the corruption happens only at around frame 200-300. even if the clip has 60 frames, it will go around and re-encode the same clip 10 times so the -n 600 is intentional.
Setting the gm_

[2020-01-28 22:48] magwyz commented on #986
I can reproduce. I'll try to track the bug.
Thank you for reporting the issue.

[2020-01-29 00:09] ultrawide commented on #873
Hard to say at the moment. I rebuilt the binary based on master to check for bit stream changes on the failing clip (Chimera-Aerial_480x264_2997fps_10bit_420_150frames.y4m). It looks okay on my side from a Win10 machine. I'm not able to reproduce it. Open for suggestions if anyone has ideas on how to proceed.

Command issued:

[2020-01-29 00:13] luigi311 commented on #873
Yeah its weird since it has only appeared like maybe 3 times in the 80 different commits i have pushed. It might just be a github issue at this point.

[2020-01-29 00:21] luigi311 commented on #873
Heres another example of it failing when all that changed was compression of images in the doc folder
https://github.com/OpenVisualCloud/SVT-AV1/runs/414096956

[2020-01-29 01:54] luigi311 commented on #873
#983 Adds support for FFMPEG and Gstreamer along with ccache for caching the builds for the following steps:
build (all compilers)
gstreamer
ffmpeg
I tried not to touch the binary test since that one will randomly decided to not work lol

[2020-01-29 10:42] ePirat commented on #873
@luigi311 On mismatch we could upload both files as artifacts so those can be inspected manually to figure out whats wrong.

[2020-01-29 13:32] grill05 commented on #953
@mafonsoN thanks. that pretty much answers everything. I'm closing this issue now

[2020-01-29 13:32] #953 closed

[2020-01-29 14:30] ePirat commented on #959
Yes

[2020-01-29 16:21] magwyz commented on #986
This issue should be fixed by #993.
With this PR, I can no longer reproduce the bitstream corruption with the sample and the given command line.

[2020-01-29 16:25] hassount opened #994 "Cleanup to do list"
As a follow up to #668

**P0**
- [x] cleanup MbModeInfo
- [ ] unify and concentrate mi geometry (xd->mi_row, xd->mi_col...) into one location
- [ ] use one unified structure between candidate_ptr and blk_ptr that has mode_info refactor
- [ ] cleanup sb_size
- [ ] av1_inter_prediction (27 parameters passed 👎 )
- [ ] Remove useless NSQ signal(s): nsq_level, is_nsq_table_used.
- [ ] Clean-up pic_obmc

[2020-01-29 16:26] #668 closed

[2020-01-29 16:28] #856 closed

[2020-01-30 05:15] luigi311 commented on #932
Is there a date set for the next meeting? Did we finally decided on just using discord?

[2020-01-30 06:34] mafonsoN commented on #873
Hey @luigi311 @ultrawide it seems that Github Actions' binary identical test is failing due to a bug. I believe the libraries are not being correctly linked when running the branch and master executables.
Here is an example where the master is failing for a branch where new CL parameters were added: https://github.com/OpenVisualCloud/SVT-AV1/pull/963/checks?check_run_id=413615745
Could you please

[2020-01-30 07:32] hassount commented on #932
Let's do February 12th 2020, @ 8:30 - 9:30 am PST

[2020-01-30 22:31] luigi311 commented on #873
I think it might be extracting in place where master was built and replacing some files with the new files from the gcc-9 build and thus referencing something that doesnt exist and causing other issues. Thats the only reason i can think of that would cause the master build to reference a flag that does not exist that was added in current. Thoughts @ultrawide ? From some testing earlier each name i

[2020-01-30 22:57] ultrawide commented on #873
Thanks @luigi311. Yes, I've been investigating and I got the same conclusion as you. It looks the library is being overwritten and we see a linker error, but I need to confirm. I'm working on a solution right now on a local branch, and hope to update soon.

[2020-01-31 19:32] #272 closed

[2020-01-31 19:43] hassount commented on #369
This is now available:
https://github.com/OpenVisualCloud/SVT-AV1/blob/master/Docs/README.md
we can now open issues specific to pieces where help is needed

[2020-01-31 19:43] #369 closed

[2020-01-31 19:43] #379 closed

[2020-01-31 19:48] #622 closed

[2020-01-31 19:50] hassount commented on #651
Closing, please reopen if the issue exists in v0.8.1

[2020-01-31 19:50] #651 closed

[2020-01-31 19:51] hassount commented on #656
@rubenmt94
how much RAM do you have on your system ?

[2020-02-02 04:29] eclipseo opened #999 "GCC 10 compatibility issues"
Fedora Rawhide with GCC10:

[code]

This is related to this change in GCC 10:

https://gcc.gnu.org/gcc-10/changes.html

https://gcc.gnu.org/gcc-10/porting_to.html

[2020-02-02 21:44] eclipseo commented on #999
There's more:

[code]

[2020-02-03 05:10] grill05 opened #1000 "(very) fast first pass in 2-pass mode"
SVT-AV1 curently supports 2-pass mode with constant-qp, and a 2-pass vbr mode in planned for later. Right now, we can choose a higher enc-mode for the first pass and a lower one for the second-pass (specified with `enc-mode-2p` in the 1-pass command )

While this approach of using a higher speed preset speeds up the first-pass to some extent, it is still sub-optimal. That is because its still doin

[2020-02-03 18:06] PhoenixWorthVCD opened #1001 "quantize_fp is used for only INTRA blocks and Fast_RDOQ is not supported"
Use quantize_fp for both INTRA and INTER blocks and add Fast_RDOQ support.

[2020-02-03 20:56] ultrawide commented on #873
@luigi311, I've Re-ordered the steps when performing the binary identical test:
1. Install dependencies
2. Download clips
3. Setup and encode master
4. Setup and encode current
5. Binary compare
6. Upload master as an artifact if the above steps fail for debugging purposes

I'm running into a problem when running the SVT-AV1 artifact from the build job:

When printing out the dynamic dependencies,

[2020-02-03 21:00] 1480c1 commented on #873
Perhaps make it so that it only compiles as static all the way? (`-DBUILD_SHARED_LIBS=OFF`)

[2020-02-04 07:28] hassount commented on #1000
Why don't you use -enc-mode 8 which is > 100x faster than -enc-mode 0?
it's not a svt-design reason, it's focus on 2-pass, once it's time, this will ultimately be done.

[2020-02-04 14:26] grill05 commented on #1000
I think enc-mode 0 is not viable for people running SVT-AV1 on home machines :) . I think enc-mode 4 (or maybe 3) is more viable for bulk-encodes.

As mentioned, using enc-mode 8 in first pass will speed things up. But it might still be a sub-optimal solution, since the actual encode (even in M8) is not really needed for the first pass.

thats good to hear

[2020-02-04 18:44] #986 closed

[2020-02-04 18:51] #738 closed

[2020-02-04 20:20] kylophone commented on #873
@ePirat, another thing to consider is our coveralls job. Not sure if that's on your radar.

[2020-02-04 21:21] ePirat commented on #873
@kylophone Hi, it is not currently, what to consider about that?

[2020-02-04 22:27] mafonsoN opened #1007 "Seg fault for 10-bit 1080p sequence on mac OS"
Master running on mac OS is crashing for 10-bit content. It seems to be a problem for high resolutions only. If alt-refs are disabled (-enable-altrefs 0), no crash is detected.

Sample command-line:
`/Bin/Release/SvtAv1EncApp -i akiyo_1080p_10bit.y4m -o akiyo_1080p_10bit_qp43_encmode8.yuv -q 43 -n 20 -b akiyo_1080p_10bit_qp43_encmode8.ivf -intra-period 100 -bit-depth 10 -enc-mode 8`

akiyo_1080p_1

[2020-02-04 22:35] hassount commented on #1007
@OmranAbdelkafi can we try to reproduce this ?

[2020-02-04 22:39] hassount commented on #1007
#901
@PhoenixWorthVCD @hguermaz FYI until we can repro

[2020-02-05 02:08] hassount opened #1008 "Documentation requests"
The following items need to be documented further:

**Encoder Documentation**
- [x] Fix appendices links in the encoder design document
- [ ] Block scanning order in the Open and Closed loops
- [ ] Detailed process-by-process description on what changes within pcs and scs
- [ ] Document or remove Open Intra Search
- [ ] Add pictures / explanation of different gop structures
- [ ] Add best way to a

[2020-02-05 17:49] ultrawide commented on #873
Hi @EwoutH, I'm interested in working on the below if there's demand

It looks like we already have [https://videocodectracker.dev/]. Can you give me more details and requirements?

[2020-02-05 18:16] kylophone commented on #873
It should be possible to run all of the unit tests with `llvm-cov`/`gcov` and post the results to coveralls. This was being worked on a few weeks ago, but paused. See: https://github.com/OpenVisualCloud/SVT-AV1/pull/889 for more info. Since we will be sharding our unit tests, this might add a bit of extra complexity, but hopefully it's still possible.

[2020-02-05 18:36] EwoutH commented on #873
@ultrawide Thanks for the interest! I think it would be really useful to be able to quickly compare PRs against the master branch in terms of speed and quality.

In an ideal scenario, you could open a PR, request a comparison against the master branch (with a tag, keyword or label for example), and get a report back on the overall changes. https://beta.arewecompressedyet.com/ does that ([example](

[2020-02-05 18:40] hassount opened #1012 "Nightly Quality Tests"
Add 1-pass cqp to the nightly test for obj-1-fast

**svt 1-pass cqp command line:**
(time ./SvtAv1EncApp -enc-mode 0 -q 20  -n  60  -intra-period  63 -lad 0 -lp 1  -i  touchdown_pass_1080p_60f.y4m  -b  M0_touchdown_pass_1080p_60f_Q20.bin) > M0_touchdown_pass_1080p_60f_Q20.txt 2>&1

**libaom 1-pass cqp cli:**
./aomenc --codec=av1 --tune=psnr --verbose --passes=1 --threads=1 --i420 --profile=0 --fra

[2020-02-05 20:01] ultrawide commented on #873
@EwoutH No problem, thanks for the detailed response! It looks to me like the main idea is to be able to quickly compare PRs against master for quality and speed. I agree that it can get very complex quickly and also computationally expensive. How many clips to encode, which encode modes/QP to use, which metrics to employ would be something to consider as well.

Right now, I'm thinking about exten

[2020-02-05 20:28] EwoutH commented on #873
@ultrawide I think if you get this working @hassount and @kylophone going to throw all the compute power at you that you need, since this could hugely speed op development and especially tuning.

As of metrics, I think PSNR, MS SSIM and VMAF would be good for quality, Real time and CPU time for performance and maybe memory use.

Maybe we can start with just one or two videos, and once there is a p

[2020-02-05 23:03] intelmark opened #1013 "Memory Leaks reported with Windows debug and y4m encoding"
Using master branch and encoding a 1080p y4m file using VS 2017 on Windows - debug build

-i c:/testfiles/BQTerrace_1920x1080_60p_i420_8bit.y4m -n 50

Getting numerous "aligned memory leaked" messages after encoding

SVT-AV1 Encoder
SVT [version]: SVT-AV1 Encoder Lib v0.7.0
SVT [build] : Visual Studio 2017 64 bit
LIB Build date: Feb 5 2020 14:42:22
Number of logical cores available: 8
Number of PP

[2020-02-05 23:08] mafonsoN commented on #1007
I've done a lot of tests and PR #895 seems to be solving this issue. However, this PR was reverted a few days ago, due to a crash with this command line:

`-enc-mode 1 -w 1920 -h 1080 -bit-depth 8 -q 43 -fps-num 60000 -fps-denom 1000 -n 6 -intra-period 63 -lad 0 -i DOTA2_60f_420.yuv`

This should be debugged with high priority. @hassount @magwyz

This is blocking @andrey-norkin 's enc-dec-common s

[2020-02-06 00:25] #1001 closed

[2020-02-06 00:40] hassount commented on #873
Just need to make sure the the work @ePirat is doing does not conflict with this so that we don't have to do the work twice.

[2020-02-06 00:53] mafonsoN commented on #873
@ePirat @ultrawide we need to add more encodes to github actions CI. Not sure if this was already discussed before, but right now only the binary tests are running any encodes.

I've added two new sequences to video.tar.gz in SVT-AV1-resources repo which are 720p, 8-bit and 10-bit. This comes from the fact that we have found a few crashes that only happen for higher resolutions (>=720p).

The comm

[2020-02-06 02:05] #1007 closed

[2020-02-06 02:50] luigi311 commented on #873
@mafonsoN we can mark the binary check as continue on fail but it will mark it as a checkmark apperently. I haven't had a chance to test it. We can also move the binary check to the very end so everything else will run and complete.

[2020-02-06 06:43] grill05 commented on #1012
The libaom command-line seems to be targeting the highest possible quality/slowest speed  . So it might be worth considering if `tune=vmaf` should be used in place of `tune=psnr` . Libaom's [new vmaf tune](https://aomedia.googlesource.com/aom/+/615dc24579d531cb3a2c9627ab25a3026f9e2b47) mode gives very significant quality improvements (for a slower encoding speed)

[2020-02-06 21:51] hassount commented on #860
Merged at #1016

[2020-02-06 21:51] #860 closed

[2020-02-06 22:57] dbkynd opened #1021 "-fps integer vs float"
I'm just starting to get into AV1 so pardon my ignorance.
But with my NTSC videos, the fps reports as 20000/1001 rate which is 23.976
When I use that value to encode a file, when completed it reports as 23FPS.

And I'm not 100% but there seems to be some audio desync. Presumably from the framerate difference.

Does SVT-AV1 only support integer framerates or does it even matter?

Should I just set

[2020-02-06 22:59] hassount commented on #1021
fps takes only an int, you might want to use -fps-num and -fps-denom

[2020-02-07 07:18] jryzkns commented on #860
This was reverted in aa07c48, should this issue be reopened?

[2020-02-07 13:06] EwoutH commented on #932
@hassount Can you open a new issue, or change the title and first message of this issue, to make this stand out a bit more?

[2020-02-07 15:39] DeeDeeG opened #1029 "Images in docs aren't accessible (need better alt text)"
Hi,

I noticed some images in the docs are labeled simply "math", whereas if it is a PNG of the symbol "α" we can change the alt text to be "alpha" or "α" to make that image accessible to screen reader users. (Or in some cases, replace the image with text, e.g. the Unicode α, which is even more accessible, as well as copy-pasteable, IMO.)

(I can volunteer to contribute toward doing this as and wh

[2020-02-07 20:39] hassount opened #1030 "[SVT_AV1] Open Dev Meeting Feb12-2020"
Hello All

The third Open Dev Team is scheduled for February 12th 2020, @ 8:30 - 9:30 am PST

Created a new issue to track the discussion items for this meeting, please let us know your thoughts / suggestions for topics on the Agenda.

Using the same dialup info from last time:
Join Hangouts Meet
meet.google.com/rty-mkxi-wvi

Meeting ID
https://meet.google.com/rty-mkxi-wvi?hs=122

Phone Numbers
(‪

[2020-02-07 20:39] hassount commented on #932
#1030

[2020-02-07 20:39] #932 closed

[2020-02-07 20:42] 1480c1 commented on #1030
Will we have someone dedicated to recording audio and chat?

###### (Will that need all of our participants consent?)

[2020-02-07 21:17] luigi311 commented on #1030
According to this https://support.google.com/meet/answer/9308681?hl=en when you record in a google meeting it will notify everyone that it is recording so it should be fine

[2020-02-07 23:11] tianjunwork commented on #1013
@intelmark I didn't reproduce with v0.8.1.
[code]

[2020-02-08 03:07] luigi311 commented on #873
Looks like we can do a base_script without anchor support. It doesn't look as nice since we have to declare it at the top and call it with an eval "$base_script" setup. Is this something you guys want to do? Here what it looks like so far with it on the build and binary check steps
https://github.com/luigi311/SVT-AV1/blob/actions_base_script/.github/workflows/svt-av1.yml

[2020-02-08 03:11] 1480c1 commented on #873
Perhaps we can just make a .ci folder with a ci.sh and add the stuff there

[2020-02-08 05:37] 1480c1 commented on #98
Here's one done by someone else about the 0.8.1 release https://www.reddit.com/r/AV1/comments/f0m4tb/svtav1_081_vmaf_test/

![graph](https://preview.redd.it/fkubtpgngmf41.png?width=960&crop=smart&auto=webp&s=fec2c75615c301563eb5c3053b9e6fdf6f377542)

@hassount, there seems to be almost no difference between enc mode 0 and 1, 3 and 4, and barely any between 6 and 7 except for time

[2020-02-08 15:13] luigi311 commented on #873
So something similar to this https://github.com/luigi311/SVT-AV1/tree/actions_base_script/.github/workflows
but we can put it on the root folder under the .ci folder like you said. Only thing is we can not test this method on the binary check since that only checkouts master which this won't exist in.

[2020-02-08 17:31] ePirat commented on #1030
Wow I messed up the timezone conversion and missed the meeting… Sorry…

[2020-02-08 17:32] ePirat commented on #1030
Oh nevermind… somehow I had it in calendar for this day but it's only on the 12th? All good then! :D

[2020-02-08 17:36] 1480c1 commented on #1030
I was concerned for a moment that I missed it too.

[2020-02-08 19:00] dbkynd commented on #1021
Oh, I must have overlooked those. Thanks! That works wonderfully.

[2020-02-08 19:00] #1021 closed

[2020-02-10 13:27] intelmark commented on #1013
It seemed to have gone away for me as well.  Hassene suggested creating the issue just to keep record of it.  It should be OK to close

-mark

From: Jun <notifications@github.com>
Sent: Friday, February 7, 2020 4:12 PM
To: OpenVisualCloud/SVT-AV1 <SVT-AV1@noreply.github.com>
Cc: Feldman, Mark <mark.feldman@intel.com>; Mention <mention@noreply.github.com>
Subject: Re: [OpenVisualCloud/SVT-AV1] Memo

[2020-02-10 17:22] intelmark commented on #510
Unable to duplicate exact same artifact mentioned in the original command line, however upper left artifact is visible.

![campfire](https://user-images.githubusercontent.com/50715202/74173396-467bb200-4bef-11ea-85f9-beb1df4f8439.png)
SvtAv1EncApp -i C:/testfiles/Campfire_1280x720_30fps_8bit_bt709_420_videoRange_60f_10b.yuv -o c:/testfiles/Campfire_1280x720_30fps_10bit_1280x720_QP30_svtav1.yuv -w

[2020-02-10 22:26] tianjunwork opened #1034 "Fix y4m probing to support other corner cases of input type (fifo, socket etc.)"
For **non-stdin input(-i)**, only seekable stream is supported by sample app because of this line:
https://github.com/OpenVisualCloud/SVT-AV1/blob/5ceb3c858f6de10ae0fd64c7b4ec9abeb77e4f49/Source/App/EncApp/EbAppInputy4m.c#L261
fseek on fifo and socket input will fail, hence the first YUV4MPEG2_IND_SIZE is lost.
To support all the input types(seekable/non-seekable) with `-i`, a separate --y4m param

[2020-02-12 10:51] EwoutH commented on #1000
Agreed, especially with #775 this will be very useful!

How aomenc for example runs in two pass by default is awesome.

[2020-02-12 10:58] EwoutH commented on #1030
Aside from some CI things, I would like to discuss:
- Encoding interface (#945)
- Integrated two pass mode (#775) / fast first pass #1000
- AVX-512 for Ice Lake and newer
- Resolutions larger than 4096*2304 (#815)
- Rate control

@ultrawide Are you also joining?

[2020-02-12 15:52] ultrawide commented on #1030
@EwoutH No, I finished a surgery recently and can't speak well during the meantime. Let me know if something up!

[2020-02-12 16:11] EwoutH commented on #1030
Sorry to hear, did the surgery go well?

[2020-02-12 16:27] EwoutH commented on #1012
@hassount Do you want those in the CI or in https://videocodectracker.dev/ ?

[2020-02-12 16:38] EwoutH commented on #1030
@kylophone Are you joining today?

[2020-02-12 16:56] luigi311 commented on #1030
Looks like i wont be able to join today due to no recordings being allowed for conferences we are in at my work. I will definitely be interested in watching the recording though.

[2020-02-12 16:57] 1480c1 commented on #1030
Oof, my condolences

[2020-02-12 17:02] ultrawide commented on #1030
Yup, it went well; it's nothing serious. Thanks!

[2020-02-12 17:35] hassount commented on #1030
Thank you all for joining us today :)

Here are some notes from the meeting today:

Aside from some CI things, I would like to discuss:
- Encoding interface (#945)
Yes, a WIP but further work is needed here, we are open to follow the standard output format. Any help on this issue is appreciated.
- Integrated two pass mode (#775) / fast first pass #1000
Pr would need to keep the old options for now

[2020-02-12 17:38] hassount commented on #1012
We're following the Common Test Conditions for AV1 which has ``` tune=psnr```

[2020-02-12 17:38] hassount commented on #1012
Just on the video tracker, we just need a tracking for the code base selection

[2020-02-13 00:19] luigi311 commented on #1030
How do I view the recording?

[2020-02-13 01:06] 1480c1 commented on #1030
@mafonsoN, do you currently have the recording of the meeting?

[2020-02-13 16:29] ionenwks commented on #129
Any update on this?

Was just trying ffmpeg_plugin with current https://github.com/OpenVisualCloud/SVT-AV1/commit/15c76a50ba4819e9ec1365e2507c7992fe742ae2 snapshot, ffmpeg 4.2.2, dav1d 0.5.2, mpv 0.32 and getting the same invalid timestamp messages.

Does not happen if I encode with SvtAv1EncApp instead of ffmpeg for me as well.

[2020-02-14 01:43] xuguangxin commented on #129
Sorry, It's a long vacation on our site.
I just start work on this yesterday. It's related to the SVT's dts.
If we look at libaom encode output. the pts always equals dts.
But for SVT it's different. I need more time to adjust the dts.
thanks

[2020-02-14 23:18] hassount opened #1047 "Performance PRs to be ported to the master"
@hguermaz
- [x] Spatial Domain Distortion @ only the last stage (PD2/MD_STAGE_3) (#1057)
- [x] Remove layer check(s) @ PD1 settings derivation (#1057)
- [x] Tx Size Search Depth_2 INTRA/INTER 8BIT/10BIT (#1060)
- [x] TXS/RDOQ for block_copy (#1060)
- [x] Rate Estimation Bug Fixes (#1060)
- [x] Improve Nx4 & 4xN INTER candidates injection, and 1/8 Pel ME MVs refinement (#1063)
- [x] Signal(s) clean

[2020-02-14 23:31] hguermaz commented on #1047
- [HG] Tx Size Search Depth_2 INTRA/INTER 8BIT/10BIT.
- [HG] Spatial Domain Distortion @ only the last stage (PD2/MD_STAGE_3).
- [HG] Rate Estimation Bug Fixes.
- [HG] Improve Nx4 & 4xN INTER candidates injection, and 1/8 Pel ME MVs refinement.
- [HG] Remove useless NSQ signal(s): nsq_level, is_nsq_table_used.

- [OK] ME Search_Area = f(temporal_distance, frame_rate), HME for 360p.
- [OK] SB128x12

[2020-02-15 00:39] EricLamVCD opened #1048 "Crash caused by config file"
When running the encoder with the config file, the encoder will crash. If you have an empty config file the crash would not happen.

The issue was narrowed down and found that if the ErrorFile parameter is enabled within the config file, the Encoder will crash. The crash does not happen if ErrorFile is commented out.

The issue starts happening at this commit 15f9242720219f2594fc055665f0862aad98fc

[2020-02-15 00:48] hassount commented on #1048
@xuguangxin Would you be able to take a look at this ?

[2020-02-15 03:41] xuguangxin commented on #1048
sure. @EricLamVCD could you provide the comandline and test platform?

thanks

[2020-02-17 18:57] PDX-Runner commented on #1008
please add documentation similar as https://aomedia.googlesource.com/aom/+/master/README.md to explain the contribution process.

[2020-02-17 19:00] 1480c1 commented on #1030
@hassount @mafonsoN ping?

[2020-02-17 19:06] mafonsoN commented on #1030
@1480c1 really sorry for the delay! I didn't have access to share the recording. I'll paste it here as soon as I get a public link in a moment.

[2020-02-17 19:09] 1480c1 commented on #1030
I see, thank you.

As a side question, how does hangout's recording work? Does a link to a recording go to the owner of the group or is it emailed as an audio file?

[2020-02-17 19:11] mafonsoN commented on #1030
@1480c1 Yes, it gets mailed to the person that created the meeting invite in the first place.

[2020-02-17 19:13] mafonsoN commented on #1030
@1480c1 it's actually a video and it also emails you a transcript of the chat.

[2020-02-17 19:24] 1480c1 commented on #1030
Thanks, was curious on how hangouts decided to implement it

[2020-02-18 04:00] mafonsoN commented on #1030
Here is the recording of the dev meeting on Feb 12:
https://drive.google.com/drive/folders/1im-WhlKz47zru-DczoVl6v_8ThX2nN08?usp=sharing

^@1480c1

[2020-02-18 04:00] 1480c1 commented on #1030
Thanks!

[2020-02-18 09:24] xuguangxin commented on #129
@ionenwks & @jbeich ,
please try https://github.com/OpenVisualCloud/SVT-AV1/pull/1053
thanks

[2020-02-18 09:34] xuguangxin commented on #1048
@EricLamVCD any feedback for this?
thanks

[2020-02-18 12:10] ionenwks commented on #129
@xuguangxin With current svt-av1, the above PR, and ffmpeg 4.2.2 using latest patch, getting no mpv invalid timestamp messages nor ffmpeg errors on my end. Thanks for looking into this :+1:

[2020-02-18 17:32] EricLamVCD commented on #1048
@xuguangxin  It was on Windows. Here is an example command line that I ran:

[2020-02-18 17:41] luigi311 commented on #1048
@EricLamVCD looks like you used -end-mode 8 instead of -enc-mode 8

[2020-02-18 17:42] EricLamVCD commented on #1048
@luigi311  Sorry that was a typo. I meant to write :

[2020-02-18 17:50] luigi311 commented on #1048
Can you try reading in the sample.cfg prior to all your commands
SvtAv1EncApp.exe -c Sample.cfg -i CrowdRun\_1920x1080.yuv -w 1920 -h 1080 -n 100 -q 30 -intra-period 31 -b CrowdRun\_1920x1080\_qp30.bin

[2020-02-18 17:53] EricLamVCD commented on #1048
The encoder still crashes if I read the config prior to all the other commands.

[2020-02-19 02:44] xuguangxin commented on #129
Glad to hear that. It's a pleasure to help.

[2020-02-19 04:51] jbeich commented on #129
I confirm, #1053 fixes the issue.

[2020-02-19 14:45] xuguangxin commented on #1048
@EricLamVCD after https://github.com/OpenVisualCloud/SVT-AV1/pull/1056 applied,
we still need following patches to to make Sample.cfg usable.
could you help check it?

thanks

[code]

[2020-02-19 17:25] cwfitzgerald commented on #831
It would be really nice to have some sort of check in the CLI if an invalid size is given. It's very non-obvious what's going on.

[2020-02-20 03:39] kelvinhu325 commented on #929
The picture POC112 is set to is_alt_ref=1, and this picture happens r2r in generated bitstream, did not find root cause yet.

[2020-02-20 14:35] intelmark opened #1061 "Ffmpeg plugin corrections"
1) Both AV1 ffmpeg patch files need some updating:

  { "rc", "Bit rate control mode", OFFSET(rc_mode),
+      AV_OPT_TYPE_INT, { .i64 = 0 }, 0, 3, VE , "rc"},
+        { "cqp", NULL, 0, AV_OPT_TYPE_CONST, { .i64 = 0 },  INT_MIN, INT_MAX, VE, "rc" },
+        { "vbr", NULL, 0, AV_OPT_TYPE_CONST, { .i64 = 2 },  INT_MIN, INT_MAX, VE, "rc" },
+        { "cvbr", NULL, 0, AV_OPT_TYPE_CONST,{ .i64 = 3 }

[2020-02-20 15:24] ePirat commented on #959
I tried to reproduce again and can currently no longe reproduce the issue with master, neither with the old commit I used before. That's weird… So let's close this for now, I guess.

[2020-02-21 01:39] #1048 closed

[2020-02-21 02:43] xuguangxin commented on #1048
@EricLamVCD could you help fix the configuration file problem for EncoderColorFormat  and Trellis?

thanks

[2020-02-21 08:11] hassount commented on #24
Closing this as #1025 has been merged.

[2020-02-21 08:11] #24 closed

[2020-02-21 08:13] hassount commented on #180
this should be addressed now as #1025 is merged. please re-open if you see necessary

[2020-02-21 08:13] #180 closed

[2020-02-21 08:16] hassount commented on #572
@kylophone
can we pull another log of globals so that we can clean them?

[2020-02-21 12:53] xuguangxin commented on #268
@waterflag0614 @jsunintel , could you try https://github.com/OpenVisualCloud/SVT-AV1/pull/1053?
thanks

[2020-02-21 13:38] xuguangxin commented on #675
@bitbytebit-cr , please try https://github.com/OpenVisualCloud/SVT-AV1/pull/1053.
thanks

[2020-02-21 15:48] luigi311 commented on #873
@ultrawide
For the binary test it looks like you are pulling in master of the fork and not of the master of the official branch for the comparison.

[code]

[2020-02-21 16:06] ultrawide commented on #873
@luigi311
Based on my understanding, the current implementation will compare the master of a fork against a push/pull from the same fork; that is, if someone makes a pull request on the official repo, it will compare the official master against their pull request. That was my intention. Please correct me if I'm wrong.

Do we want to extend the behavior to compare the official master for forked bra

[2020-02-21 16:10] luigi311 commented on #873
@ultrawide
It looks like travis was configured to pull the official master instead of the master of the fork. I think the reasoning of this is the fact that forks can be old and master can be unmerged, I do all my development in another branch and merge that with the official master so in cases like this the forks master will never be updated and will remain out of date.
https://github.com/OpenVis

[2020-02-21 20:27] luigi311 commented on #999
I can confirm. I was getting this in my OpenSUSE build service script for fedora rawhide.

[2020-02-21 20:43] luigi311 commented on #999
Here is a build log of fedora rawhide trying to build svt-av1
[Fedora_Rawhid_GCC-10.txt](https://github.com/OpenVisualCloud/SVT-AV1/files/4237958/Fedora_Rawhid_GCC-10.txt)

[2020-02-21 23:36] kylophone commented on #572
[code]

[2020-02-23 18:34] luigi311 commented on #873
@EwoutH
Pinging you since you are the one that wrote the binary test for travis, do we want to do a binary check against the OpenVisualCloud master or the forks master? Right now we are doing a comparison against the fork master while travis is cloning the OpenVisualCloud master and comparing that to the PR build.

[2020-02-23 20:22] #760 closed

[2020-02-23 21:27] hassount commented on #873
@luigi311 Thank you very much for bringing this up. The point of the test is to check whether we have changed the stream as compared to the master that the PR is being pulled to, that is very useful to test optimizations that are not supposed to change the output so can we change it to test the openvisual cloud master. One more item on this, can we make this test allowed to fail, because changing

[2020-02-24 05:42] #33 closed

[2020-02-24 05:42] #129 closed

[2020-02-24 06:53] zpdongtencent opened #1077 "ffmpeg plugin output bitstream will generate duplicate yuv frames when decoded by libaom"
**bitstream generate:**
`ffmpeg -vsync 0 -r 60 -s 1280x720 -i Johnny_1280x720_60.yuv  -c:v libsvt_av1  -rc 0 -preset 8 -vframes 60 -y Johnny_1280x720_60.ivf`

**decode with ffmpeg(libaom)**
`ffmpeg -i Johnny_1280x720_60.ivf output.yuv`

you will found that some yuv frames are repeated, which is different yuv sequence as the original one.
but if you add "-vsync 0" to ffmpeg decoding command, the yu

[2020-02-24 07:02] silverbacknet commented on #1077
Probably the same as #129, which was fixed in a just-merged patch #1074.

[2020-02-24 08:22] zpdongtencent commented on #1077
thanks, confirm fixed.

[2020-02-24 08:22] #1077 closed

[2020-02-24 09:04] xuguangxin opened #1079 "r2r issue for enc-mode 4"
test command line:
../Bin/Release/SvtAv1EncApp -i 1920x1080.y4m -enc-mode 4 -b test.ivf && md5sum test.ivf

you will see md5 is diffrent for every run.

I have test enc-mode 8, it has no such issue.
 I did not test other enc-mode.

[2020-02-24 15:35] luigi311 commented on #873
@hassount
The problem with allow failure in github actions is that it will always end up with a green check mark and the only way to see if it has an error is to open up the test every single time. Can you explain what you want to see? For travis it works because on the PR you only see 1 test with all the "subtest"underneath it which you can control if you want all test to be required to pass for

[2020-02-24 17:27] hassount commented on #873
@luigi311
understood, having a green mark is definitely not ideal, that said having the build with an x shows that the build is broken, so in my opinion having it green, and having us double check when needed might work better.

[2020-02-24 17:34] luigi311 commented on #873
@hassount
Makes sense to me. I will go ahead and implement it.

[2020-02-24 20:54] luigi311 commented on #873
Looks like e2e will randomly fail.
It is running fine here
https://github.com/luigi311/SVT-AV1/runs/465148201?check_suite_focus=true
but for this commit it failed
https://github.com/luigi311/SVT-AV1/runs/465261530?check_suite_focus=true
even though the change was for binary-identical-test and no other files were changed.

[2020-02-24 21:07] luigi311 commented on #873
Here is another example where it is failing on a document change
Here it is running sucessfully
https://github.com/OpenVisualCloud/SVT-AV1/actions/runs/44477571
One commit later with a document change it is now failing
https://github.com/OpenVisualCloud/SVT-AV1/actions/runs/44477520

[2020-02-24 23:32] OmranAbdelkafi commented on #1079
Was not able to reproduce the issue ; I have 2 different 1080p clips and performed over 10 runs

[2020-02-25 01:14] xuguangxin commented on #268
@waterflag0614 , @waterflag0614 . #1053 has merged. Could you help try master?
We can close the issue if it's not reproduceable.
thanks

[2020-02-25 01:17] xuguangxin commented on #675
@bitbytebit-cr , the #1053  has merged. could you try master, and se we can reproduce the issue or not?
thanks

[2020-02-25 01:28] xuguangxin commented on #1079
@OmranAbdelkafi thanks for help on this.
I have sent the clip to you through mail.
thanks

[2020-02-25 06:41] xuguangxin commented on #1079
actually we have a similar issue at https://github.com/OpenVisualCloud/SVT-AV1/issues/985
Not sure it's the same problem or not.

[2020-02-25 23:39] tianjunwork opened #1088 "Does YUV buffer need to be CALLOC?"
With PR #314, y,u,v buffer is calloced, which bring some regression to init time.
Pictures show 4k input. With 8k input(tested with hevc), it is more obvious.
![av1-bottomup](https://user-images.githubusercontent.com/4551215/75297342-7bd5f180-57e4-11ea-83d6-01d23de65afb.JPG)

Before this PR:
![av1-old-bottomup](https://user-images.githubusercontent.com/4551215/75297343-7c6e8800-57e4-11ea-9c25-fda6

[2020-02-25 23:41] tianjunwork commented on #1088
I mean in EbPictureBufferDesc.c, eb_picture_buffer_desc_ctor, `EB_CALLOC_ALIGNED_ARRAY`.

[2020-02-26 19:19] tianjunwork commented on #1088
@xuguangxin sorry, guangxin, you are right, memset is there before #314. Anyway, I made a PR to address this.

[2020-02-26 21:16] luigi311 commented on #873
On my pull request for adding ffmpeg and gstreamer patches @ultrawide noticed that my binary check checkout was doing a merge from master into my fork while his CI on his own fork was not doing the merge and instead cloning master correctly. It looks the checkout action will function differently based on the type of even the shot it off. If the event that triggered the CI is the push event then it

[2020-02-27 17:39] adaria opened #1098 "CI checks against master even if PR is onto a different branch"
For example, https://github.com/OpenVisualCloud/SVT-AV1/pull/1097 is a pull request onto the cs2 branch and it is checked against master.

[2020-02-28 03:47] ultrawide commented on #1098
@luigi311
I was concerned about the behavior we wanted, but this is a good example when comparing against the official repo's master isn't always applicable. Based on my understanding, the latest changes we discussed on #983 will cause the CI to checkout the official repo's master. Feedback on this is appreciated!

To address the issue, it looks like we can set the `ref` attribute to `github.base_

[2020-02-28 07:46] luigi311 commented on #1098
@ultrawide
Your right I never really considered people would PR into a non master branch, it would be better to do a binary comparison from the fork/branch into the target branch of the PR. The only problem i could think of would be that that will only work on PR and not pushes which shouldnt really be an issue as long as you open a PR with the [WIP] tag or someway to specify that it is not ready