[2020-10-03 17:41] nshtg commented on #1512
Upon further investigation this seems to be reproduceable with any source material and caused by the resolution:

`"-vf crop=1906:798:6:140"` = assertion fails
`"-vf crop=1920:798:6:140"` = works

[2020-10-03 18:17] hassount commented on #1512
@nshtg thank you for the report and investigation.
@ttrigui  can you please check this, seems like an edge condition of the sad calculation with some unusual resolution.

[2020-10-05 02:31] Somdyuti2 commented on #1474
@silverbacknet thank you that makes sense.

[2020-10-05 13:06] silverbacknet commented on #1474
Those are the actual MVs that will be placed into the bitstream, and it's also far easier to reason about all output always coming out in the scale of the reference picture the decoder will need to use, not "well sometimes it's in fullpel, sometimes it's in qpel, depending on if we've run refinement yet..."

If you want to consider them in the context of the input picture, I do think you should im

[2020-10-05 13:16] silverbacknet commented on #1474
`--pred-me` is roughly similar in concept to `--subme` in x264, if that helps. To completely turn subpel refinement off, you just need `--pred-me 1`.

[2020-10-06 08:58] tszumski commented on #1512
Hi @nshtg

Could you check if #1520 fixes your issues?

[2020-10-06 16:24] ttrigui commented on #1474
Correct The MVs are scaled up. It depends on the precision. If allow_high_precision_mv you have to divide MVs by 8 otherwise you divide by 4.

[2020-10-06 16:27] Somdyuti2 commented on #1474
Thanks @silverbacknet  and @ttrigui  for taking the time to explain this.

[2020-10-06 16:57] hassount commented on #1474
Great, thank you all, @Somdyuti2 can we then close this issue ?

[2020-10-06 17:23] Somdyuti2 commented on #1474
@hassount I had a query about the correspondence between the computed MVs and their reference frames from earlier, which was not fully answered at that point, and @ttrigui suggested that it could be clarified later. That is why I had not closed the issue myself. Based on the information that I have gathered so far I am rephrasing the remaining question below:

Please let me know if the above could

[2020-10-06 17:42] hassount commented on #1474
@Somdyuti2 great, let me clarify these and close the issue.

Correct. but from an ME point of view but the Mode decision could still use those references though for Nearest Near generation etc.

An Altref is like any other reference and would be included in the reference array, the encoder would not know whether it's an ALTREF or a regular picture, it's just a reference.

[2020-10-06 17:42] #1474 closed

[2020-10-07 22:26] #1512 closed

[2020-10-07 23:40] paulsgh opened #1523 "SVT Crash in UGC Long Clip"
## Description:
We have found a crash in one of the UGC clips.
- **encoder:** svt
- **qp:** 55
  - of the 5 QPs we normally use for BD-Rate (20, 32, 43, 55, 63), only 55 had the crash
- **revision:** master@c9f697a
- **clip:** Vertical_MobileGaming_1080p.y4m
- **number of frames in clip:** 580

The crash happens after encoding approximately 200 frames.

## Sample Command Line:
`(/usr/bin/time --ve

[2020-10-08 02:13] #1518 closed

[2020-10-08 02:14] hassount commented on #1417
@ePirat would you be able to help with this ? I believe the API / ABI is now becoming stable enough for such versioning to be added.

[2020-10-09 10:10] xuguangxin commented on #1510
@ccccheung this is a ffmpeg issue. It will generate 61 frames even without the svt av1 encoder.

you can use -vsync 0 to get 60 frames.
exmaple comand line is:

[2020-10-11 16:37] xwu2git opened #1525 "Wrong case in the PC file"
[code]

[2020-10-11 19:18] 1480c1 commented on #1525
seems to come from https://github.com/AOMediaCodec/SVT-AV1/blob/master/Source/Lib/Decoder/pkg-config.pc.in#L8

[2020-10-12 09:28] EwoutH opened #1527 "Add/port Arm64 NEON assembly"
Both rav1e and libaom (and dav1d) use NEON assembly to speedup functions on 64-bit Arm (AArch64). It would be great if SVT-AV1 could also speedup the most CPU intensive functions with NEON assembly. Probably a lot can be ported.

Here's the NEON assembly in libaom, rav1e and dav1d:
- [libaom](https://aomedia.googlesource.com/aom/+/master/aom_dsp/arm)
- [rav1e](https://github.com/xiph/rav1e/tree/ma

[2020-10-12 12:16] tszumski commented on #1523
Hi,
I I checked your command line and for current master ab027d1ca74882e3e058b7e9b7ed1877e4b9ee4a I don't see any crash.
This issue is fixed by PR #1520

[2020-10-14 01:38] hassount opened #1531 "Convert SVT-AV1 CI to Gitlab CI SVT-AV1 mirror"
Tracking issue in the following location:
https://gitlab.com/AOMediaCodec/SVT-AV1/-/issues/1

[2020-10-15 04:06] hassount commented on #1523
@tszumski thank you, @paulsgh can you confirm ?

[2020-10-15 12:40] Felixkruemel opened #1536 "Add ability to use CRF / CQ on faster presets"
Currently I'm not able to use CRF with 2 pass on e.g. preset 6 in the second pass. Would be great to have that too!

[2020-10-15 17:25] paulsgh commented on #1523
Thanks @tszumski.
@hassount I ran the command line with current master 000b0fa, and can confirm it does not crash. I will follow up to confirm there is no crash using the command line with PR1520 MOD 00f2e74.

[2020-10-15 17:50] hassount commented on #1523
great thank you.

[2020-10-15 17:50] #1523 closed

[2020-10-15 17:56] hassount commented on #1536
You can still use CRF with lookahead in 1 pass mode. Is there a specific ask for 2-pass in this case ?

[2020-10-16 18:11] Felixkruemel commented on #1536
@hassount Could you give an command-line example for that?

I just want to not rely on a fixed QP, but on crf or cq (like in aomenc).

1pass would be totally fine as long as it works properly, I just didn't knew about this method before.

[2020-10-16 18:24] hassount commented on #1536
@Felixkruemel yes, I see that the description would now need to be updated in the users guide. But basically the commandline is the one used here:
https://github.com/AOMediaCodec/SVT-AV1/blob/master/Docs/svt-av1_encoder_user_guide.md#1-pass-fixed-qp-at-maximum-speed-from-24fps-yuv-1920x1080-input

SvtAv1EncApp -i input.y4m --rc 0 -q <initial qp level 0-63> --enable-tpl-la 1 --preset <preset> -b ou

[2020-10-16 19:05] Felixkruemel commented on #1536
Okay, thanks a lot @hassount

If you could update the docu it would be great! And examples are always appreciated :)

[2020-10-16 19:05] #1536 closed

[2020-10-16 19:10] hassount opened #1539 "Update user guide to include the CRF command line"
Need to update the users guide to explain how CRF can be used in 1-pass as the one below is not a fixed QP item command line anymore with --enable-tpl-la ON by default.

https://github.com/AOMediaCodec/SVT-AV1/blob/master/Docs/svt-av1_encoder_user_guide.md#1-pass-fixed-qp-at-maximum-speed-from-24fps-yuv-1920x1080-input

[2020-10-17 18:22] Felixkruemel commented on #1536
@hassount Is there also a way to use crf in ffmpeg through libsvtav1?

[2020-10-17 18:34] hassount commented on #1536
Yes the default command line with -rc 0 would yield in crf working

[2020-10-17 19:10] Felixkruemel commented on #1536
@hassount So specify the quality setting with -qp then? Seems to be somewhat misleading.

[2020-10-17 19:15] hassount commented on #1536
Yes qp is the initial qp level in this case. I agree that linking crf here would be much better

[2020-10-19 23:26] xav1vfw commented on #1510
EbEncHandle.c -> eb_svt_enc_init_parameter() is not complete yet, these settings are missing yet (they were set in the encoder app):
config_ptr->vbr_bias_pct = 50;
config_ptr->vbr_min_section_pct = 0;
config_ptr->vbr_max_section_pct = 2000;
config_ptr->under_shoot_pct = 25;
config_ptr->over_shoot_pct = 25;

[2020-10-20 02:23] xuguangxin commented on #1510
@xav1vfw , since https://github.com/AOMediaCodec/SVT-AV1/pull/1524 is merged.
we have the single point to init the configuration. could you help add these code to eb_svt_enc_init_parameter?
thanks

[2020-10-20 17:09] xav1vfw commented on #1510
It seems I have no rights/access to push/commit anything into svt-av1 git repo...

[2020-10-20 17:18] hassount commented on #1510
yes, that is expected, you'd need to create a pull request for your contribution to be evaluated by ci and reviewed before being merged

[2020-10-20 19:27] xav1vfw commented on #1510
Done in #1542

[2020-10-21 13:24] tszumski opened #1543 "Valgrind errors for --pass 1"
For command line:
[code]

Errors:
[code]

[2020-10-22 02:12] Somdyuti2 opened #1546 "[Question] On the inter prediction structure"
Hi, I would like to ask a few questions on the hierarchical prediction structure in order to better understand a few things that were not so clear to me from the documentation.

1. what is the difference between the reference pictures in list0 and list1? I saw that sometimes the encoder code was making a distinction between positive and negative reference pictures, so initially I was under the imp

[2020-10-24 12:22] Neltulz opened #1548 "Using "--irefresh-type 1" (open gop) results in video that has poor seeking performance in all web browsers and various media players"
**What steps will reproduce the problem?**
1. Download the included y4m file in 7z file (Extract it)  https://www.dropbox.com/s/m7vu0eycpjd47aq/Ted_2012_REMUX_SAMPLE.y4m_EXTRACT_ME.7z?dl=0
2. Using SvtAv1EncApp.exe (SVT [version]:  SVT-AV1 Encoder Lib v0.8.5-39-g3fbd1ee9) (SVT [build]  :  GCC 10.2.0       64 bit) (LIB Build date: Sep 30 2020 19:30:58)
3. encode using these settings:

``
SvtAv1EncA

[2020-10-24 12:35] Neltulz commented on #1548
It is my opinion that until this issue has been resolved, the encoder should default to ``--irefresh-type 2`` (closed gop) so that web browsers and various media players have adequate time to resolve this issue from the decoding side.

[2020-10-25 07:33] Felixkruemel opened #1549 "[ffmpeg] Memory issue"
When I use ffmpeg with -rc 0 -qp 23 -preset 6 it hugs the memory. After roughly an hour into encoding it uses around 20GB of RAM for me, once it reaches the system limit it just won't encode anylonger. Don't know what to do then splitting all video files into 20min chunks.

I've compiled ffmpeg yesterday and I'm running on Windows 10 2004.

[2020-10-26 03:30] hassount commented on #1548
@Neltulz thank you for the detailed report an the thorough explanation. using  ```--irefresh-type 1``` allows the encoder to insert a forward frame which does not reset the decoding order. Using ```--irefresh-type 2``` does reset the decoding order thus the ability to see faster throughout the clip. Using a more sophisticated app than the SVT sample application, the user can set Keyframes at a lar

[2020-10-26 03:33] hassount commented on #1549
What resolution are you using ? you could try using the --lp setting of the SvtAv1EncApp that allows you to reduce the memory being used towards targeting a lower amount of cores on the machine.

[2020-10-26 06:36] Felixkruemel commented on #1549
@hassount It's 1080p only.

The thing is that it worked like 2 weeks ago with an older build. Don't know what happend since then.
And I think 1080p encoding shouldn't use more than 20GB of memory.

If there's a way to provide logs I'm happy to do that.

[2020-10-26 07:05] hassount commented on #1549
This is weird then, and 20 GB for 1080p seems too large unless you’re using a large server. Would you be able to share some logs + the info of the system?

[2020-10-26 07:47] Felixkruemel commented on #1549
@hassount How can I get logs from ffmpeg?
It's running on an Ryzen 7 3700X, 32GB RAM

[2020-10-26 13:09] Neltulz commented on #1548
Okay, I'll be honest, I am not the most technically inclined person.  So, some of what you said didn't make perfect sense.  I'm here for the simple purpose of informing you that the default option of ``--irefresh-type 1`` results in videos with poor seeking, so that you will modify your encoder to have more appropriate default settings, so that people who use your sample encoder, produce videos th

[2020-10-26 14:04] silverbacknet commented on #1548
This is more of a decoder/parser bug than an encoder deficiency, and an fixed ffmpeg will probably make the problem go away, but it is still pretty universal in past encoders that closed gop is default and open gop optional.

[2020-10-26 15:12] Neltulz commented on #1548
Hi, thanks for adding a bit more info to this.

So, I think ffmpeg making the problem go away is still very much a band-aid.  That will reduce the amount of encodes with poor seekability quite a bit, since ffmpeg is very very popular.  However, there are still lots of applications out there that will not go through ffmpeg.  For instance, StaxRip does not appear to do that.

So, what I propose, wil

[2020-10-26 17:24] hassount commented on #1548
Alright so the request here is to have closed gop be set by default, I believe it's the case in ffmpeg already, but this can be propagated to the SVT sample application. @Neltulz would you like to create a PR to do such ? basically changing this line of code:

https://github.com/AOMediaCodec/SVT-AV1/blob/d5ad67725b0190615eef35897acfc0fa0c73a08f/Source/Lib/Encoder/Globals/EbEncHandle.c#L2916

and u

[2020-10-26 22:05] lextra2 commented on #1549
Use `-report`
Example:
`ffmpeg -report -i input.webm -c:v libx264 output.mkv`

[2020-10-27 16:39] cdgriffith opened #1553 "[Feature Request] FFmpeg passtrhough HDR10 static metadata"
It would be great to be able to set Mastering display metadata and Content light level metadata via FFmpeg similar to `x265-params` and their `master-display` and `max-cll`

Suggested method would be a `svtav1-params`  (as multiple libraries accept params this way, such as `x265-params` or `rav1e-params` )

Example:
[code]

Another method could be adding two separate new keys, `-master-display` an

[2020-10-27 16:50] #1548 closed

[2020-10-27 17:04] Felixkruemel commented on #1549
@lextra2 @hassount
Okay there you go:
![grafik](https://user-images.githubusercontent.com/12109804/97335888-a77f0f00-187e-11eb-8e8f-83312c24e547.png)

And the log:
https://gist.githubusercontent.com/Felixkruemel/f1bc037eee1212afb3879282d8697eef/raw/1ae01944e947865ea810f6bced6718af2c2f4a87/gistfile1.txt

Hopefully that helps.
I closed encoding in between as it would break due to memory usage so or

[2020-10-27 17:37] hassount commented on #1549
Thank you @Felixkruemel  I don't really see libsvtav1 being invoked in this case, am I missing something ?

[2020-10-27 18:53] Felixkruemel commented on #1549
@hassount
5th line in the log:
ffmpeg -i input.mkv -report **-vcodec libsvtav1** -rc 0 -qp 22 -preset 6 -acodec copy -scodec copy output.mkv

It works with other encoders, so needs to be some really specific problem here.

[2020-10-27 23:36] paulsgh commented on #1543
I tested your command line @tszumski using PR1550 MOD, and this is what I see:

[code]

[2020-10-28 17:24] 1480c1 opened #1555 "[Feature Request] Add a key=value API inside the library"
It would be nice to have something like a `key=value` API inside the library so it will be possible to set extra values and configuration parameters through said API instead of needing to expose and set individual switch and parameters through a struct on the application side.

This is based on some mention about how adding something similar to {x264,x265,rav1e}-params currently in ffmpeg for liba

[2020-10-28 18:54] quietvoid commented on #1553
Perhaps CLI arguments or an API to pass them would be better implemented first.
Currently there is --hdr but it does nothing as far as I know.

[2020-10-30 10:20] itaibenari opened #1556 "Inconsistent encoding results"
It looks like encoding a file several times might result in inconsistent results.
I've [attached](https://github.com/AOMediaCodec/SVT-AV1/files/5464358/test.zip) a program that reads a jpeg and encodes it several times until the size of the output differs from the initial encoding. I couldn't yet find an image for which it doesn't stop after ~20 iterations at the most. Usually sooner.
For this [im

[2020-10-30 18:02] hassount commented on #1556
@itaibenari can you please share the command line used to get the failure ?
and are you trying to pass a jpeg image or are you converting it to yuv ?

[2020-10-31 09:45] itaibenari commented on #1556
@hassount sure. on a linux machine first run `make`. then
[code]
the code loads the jpeg into YUV (YCbCr) once, and then feeds it in each iteration to the encoding process.

[2020-11-03 14:34] eblanca opened #1557 "Encoder used guide amibiguities"
Newly approaching this encoder, and I'm reading the guide before attempting any encodes, but:

1. Rate Control Options: AdaptiveQuantization is stated to have a default value 0 but the description says it is 2, so which one is the default?
2. Encoder Global Options: HierarchicalLevels expects a range [3, 4] but the description seems to talk about 0 (this is the most obscure description, anyway).

[2020-11-03 14:35] eblanca opened #1558 "Encoder guide unclear"
Newly approaching this encoder, and I'm reading the guide before attempting any encodes, but:

1. Rate Control Options: AdaptiveQuantization is stated to have a default value 0 but the description says it is 2, so which one is the default?
2. Encoder Global Options: HierarchicalLevels expects a range [3, 4] but the description seems to talk about 0 (this is the most obscure description, anyway).

[2020-11-03 14:35] #1557 closed

[2020-11-03 23:58] ttrigui commented on #1546
Hi @Somdyuti2 the code associated with list0 and list1 is actually inherited from SVT-HEVC. the concept of list0 has past pictures and list1 has future pictures is actually valid for HEVC but not for AV1. for AV1 we have more flexibility. So we basically can use any picture as reference as long as we respect the decode order (decode order of current picture is higher than decode order of reference

[2020-11-04 18:32] kedartatwawadi commented on #1341
Thansk @hassount .. I am able to encode using the following pred file. Can you let me know if this looks reasonable? (for no Bframes)

`#keyword           display_order decode_order temporal_layer num_ref_list0 num_ref_list1 diff_poc_ref_list0 diff_poc_ref_list1
PredStructEntry :  0             0            0              2             2             1 2                1 2
PredStructEntry :  1

[2020-11-04 23:40] Somdyuti2 commented on #1546
@ttrigui thanks, that mostly answers the first two parts of my question. So, I reckon in general, we cannot ensure the conformity to the hierarchical prediction structure or limit the number of references to be used in SVT-AV1 without having to change the code in `av1_generate_rps_info()`; is that right?

Also, could you let me know about the third question regarding the description of a few field

[2020-11-05 06:44] itaibenari commented on #1556
hey @hassount any news on that? more info which is needed?

[2020-11-05 18:22] hassount commented on #1556
@itaibenari thank you for the additional info, I see that you built your own application to drive the library, in order to box this further, were you able to see this issue using the SVT-AV1 sample app or ffmpeg ?

[2020-11-05 22:57] ccccheung opened #1564 "progress 1 no longer the default"
With the refactor brought in by #1524, progress no longer has a default value of 1 defined.

[2020-11-06 01:39] #1564 closed

[2020-11-06 08:58] tszumski commented on #1543
After PR #1566 is applied, list of errors is reduced to:
[code]

When **RelWithDebInfo** build is used list is empty, Above issues are visible only when **Debug** buid is used.

[2020-11-06 09:01] tszumski commented on #1444
After #1562 was merged only one issue left:
2 - Some assert failure when performing some testings . "Svt[error]: Solving latest noise equation system failed 0!"

[2020-11-08 07:54] itaibenari commented on #1556
@hassount My example code is targeted at producing AVIFs.
Using ffmpeg I didn't come across inconsistent results, but this was when using an invocation of ffmpeg per image.
The idea in my example code is that this issue replicates for repeated library use because of global state pollution that will be hard (impossible) to replicate with repeated process invocation.

[2020-11-09 19:45] kedartatwawadi opened #1567 "Custom prediction structure not working"
**Command:**  `SvtAv1EncApp -i input.y4m  --keyint 16 --hierarchical-levels 3  --pred-struct-file Config/PredStruct_level3.cfg  -b output.ivf`

**Error Message**: (Error: `Encoding          Error: can't find ref frame in dpb list0`)

**Log**:
[code]

The same command with July 1, 2020 build works:
[code]

[2020-11-10 20:56] ttrigui commented on #1546
If you just want to change the number of reference pictures you can do so by setting  ref_count_used in EbPredictionStructure.c .
If you actually want to change the reference pictures you need to change both  av1_generate_rps_info() and five_level_hierarchical_pred_struct table ( they need to be aligned), if you are using 5 layers hierarchy in EbPredictionStructure.c.

positive_ref_pics_total_coun

[2020-11-10 23:00] Somdyuti2 commented on #1546
Thanks a lot for clarifying, closing the issue.

[2020-11-10 23:00] #1546 closed

[2020-11-11 03:20] kedartatwawadi commented on #973
Has this been addressed now? I see that the WIP #1047 being closed now.
On trying on a few videos, it does seem like SVT-AV1 is already significantly better than H265, H264 with `hierarchical_levels=0` flag.

[2020-11-11 22:23] EwoutH opened #1569 "Support & test Arm64 builds on macOS and Windows"
Here's a tracking issue for Arm64 support on both macOS and Windows. The opening of this issue corresponds with the release of Xcode 12.2 and Visual Studio 16.8.

**macOS**
 - [x] Migrate to Xcode 12.2 (switched to by default with https://github.com/actions/virtual-environments/pull/2177)
 - [ ] Compile universal binaries supporting Apple Silicon (silly attempt #1617)
 - [ ] Add testing on Apple S

[2020-11-12 00:15] Somdyuti2 commented on #1567
I am encountering the same error with all prediction structures from levels 3 through 5.  There might have been some recent changes that broke the manual prediction structure.  Please let us know, thanks.

[2020-11-12 07:16] hassount commented on #1567
@paulsgh can we track this ?
@1480c1 we might need to add a ci to run a simple encode using all cfg files so that this does not break anymore.

[2020-11-12 07:33] kedartatwawadi commented on #1567
Happy to help out with fixing this! @hassount @paulsgh

[2020-11-12 07:44] hassount commented on #1567
Great, thank you, any help is much appreciated as we have a lot on our plate :)

[2020-11-12 18:47] 1480c1 commented on #1555
libaom's issue https://bugs.chromium.org/p/aomedia/issues/detail?id=2875

[2020-11-12 19:48] ttrigui opened #1573 "Cleanup RPS"
Unused code ( RPS parameters inherited from SVT-HEVC) detected after addressing #1546 .
A PR will be created to remove unused code.
to do:

- Rename list0/list1 to avoid confusion with HEVC concept

- Check if the following parameters can be removed
    int32_t * decode_order_table;
    uint32_t *display_order_table;
    EbBool *  timeline_map;

[2020-11-12 21:23] paulsgh opened #1574 "High Memory Usage and R2R in VBR Mode"
## Description:
There is high memory usage in VBR mode, seen when running either nightly stability or PR performance tests on PR #1559, causing the tests to become unstable. Several encoding logs show the commands were terminated by signal 9.

After implementing a quick-fix to stabilize the tests (see: Initial Debugging), R2R is found in 10bit VBR.

**Encoder:** svt
**Revision:** [s03_pr1@af0791d]

[2020-11-13 00:03] hassount commented on #973
@kedartatwawadi #1571 is doing this.

[2020-11-13 10:43] tszumski commented on #1444
Error "Solving latest noise equation system failed" happens only when "-film-grain" param is small, for example:
**SVT-AV1**
[code]
-film-grain >= 3 works fine
-film-grain < 3 (1 or 2) failed with "Solving latest noise equation system failed"

I also checked how AOM behave for similar command line:
**AOM**
[code]
--denoise-noise-level >= 3 works fine
--denoise-noise-level < 2 (1 or 2) failed with

[2020-11-13 10:56] EwoutH opened #1577 "CI: Fix macOS unit tests"
It seems that the [unit tests on macOS](https://github.com/AOMediaCodec/SVT-AV1/blob/master/.github/workflows/macos.yml#L135) are [broken on the master branch](https://github.com/AOMediaCodec/SVT-AV1/actions?query=workflow%3AmacOS+branch%3Amaster). The last working build was on [November 6th](https://github.com/AOMediaCodec/SVT-AV1/runs/1361594157), and the first failing run was on [November 11th]

[2020-11-13 11:18] EwoutH opened #1578 "CI: Stop uploading the same 120 MB sample videos after every run & reduce other wasteful practices"
_Edit: In this issue I didn't use my best tone and wording, and should have been more constructive. Please see [my comment below](https://github.com/AOMediaCodec/SVT-AV1/issues/1578#issuecomment-727179912)._

This is probably the most wasteful action I have seen in CI in a long time. We are hosting hundreds of gigabytes of identical videos because, meh, who cares, GitHub pays so it's free.

Curren

[2020-11-13 18:24] hassount commented on #1577
@EwoutH thank you for the issue, we are looking into this, and yes it seems that the machines are down and are working with the hosting team on getting them back up

[2020-11-13 18:46] hassount commented on #1578
@EwoutH
Thank you for raising the issue, we are in the process of moving all CI and the repo afterwards to Gitlab ci, where we are already working on reducing the amount of uploads and reducing the size of docker files to allow for re-use + many other optimizations as tracked in #1531. We appreciate the help we got from the community of getting the current CI up and running and while we don't have

[2020-11-13 19:19] hassount commented on #1574
@anaghdin @kelvinhu325

[2020-11-13 19:51] anaghdin commented on #1574
@paulsgh Thanks for testing and detailed description. To clarify, were both issues (memory and R2R in 10 bit) introduced in the PR?

[2020-11-13 20:01] paulsgh commented on #1574
@anaghdin No problem. Yes, both issues (memory and R2R in 10bit) were introduced in the PR.

[2020-11-13 21:05] BlueSwordM opened #1580 "Passing through color_range properly with ffmpeg from decoded frame to SVT-AV1 crashes the encoder"
**What steps will reproduce the problem?**
1. Compile ffmpeg git from October 29th onwards.
2. Encode video stream to y4m/pipe the stream from ffmpeg to SVT-AV1 with any encoding settings whatsoever.
3. Encode the video stream with SVT-AV1.

**What is the expected output?**
Encoder works fine.

What do you see instead?
Error parsing header; not a YUV2MPEG2 file?
Fatal: Unsupported Y4M stream.

**W

[2020-11-14 02:19] 1480c1 commented on #1578
Although I am not claiming the current situation is perfect, if I remember correctly, the main reason why we even have something like this is that I could not find a good way to share those files between all of those jobs as those jobs were split into different files and I could not find a way to set a dependency to another job inside a different file

[2020-11-14 02:35] 1480c1 commented on #1578
I could use your help and opinion on https://github.com/AOMediaCodec/SVT-AV1/pull/1544 and https://gitlab.com/AOMediaCodec/aom-testing as already mentioned that we are trying to see if we can move as much of our CI to gitlab CI

[2020-11-14 10:07] EwoutH commented on #1578
@hassount Thanks for the reply, the open attitude and good to see it's being worked on. I will try to deliver a contribution to the Gitlab CI myself sometime soon.

I also want to apologize for my harsh tone when opening this issue. While I was truly amazed about the situation, I myself didn't follow best practices and basic human decency by using the tone and the wording. It should have been cons

[2020-11-16 18:18] hassount commented on #1556
@itaibenari thank you for the additional details. I am going to open this up for help while we finish what we have at hand Someone from the community might be able to address this. As soon as we are at a context switch point, we'll make sure to look into this.

@1480c1 can you please queue this issue after we finish are done with #1531 ?

[2020-11-16 18:40] hassount commented on #1580
@BlueSwordM thank you for the detailed description. @1480c1 can you please queue this issue to look into and we can discuss how to best proceed

[2020-11-16 20:22] hassount opened #1581 "Remove the usage of terms such as [Master/Slave - Blacklist/Whilelist] from the code"
Terms could be replaced by the following:
- Primary / secondary as opposed to master / slave
- Blocklist / passlist as opposed to blacklist / whitelist

This would also needs to be added to the contribution guidelines.

[2020-11-18 02:22] lien006 opened #1583 "How to pass QP value when use ffmpeg command with libsvt_av1 ?"
when i use follow command:
ffmpeg -i test_video.ts -c:v libsvt_av1 -acodec copy  -q 30 -preset 8  -tile-columns 2 -tile-rows 2 -row-mt 1 -threads 8 -s 840x480 output_840x480_q30.mp4

the encoder output parameters are:
-------------------------------------------
SVT [version]:	SVT-AV1 Encoder Lib v0.8.4
SVT [build]  :	GCC 4.8.5 20150623 (Red Hat 4.8.5-39)	 64 bit
LIB Build date: Jul  1 2020 18:11:4

[2020-11-18 03:09] hassount commented on #1583
can you try -qp 30 instead of -q 30 ?

[2020-11-18 07:06] xudongxu135 opened #1584 "input 720P encoder hang up in version of 0.8.5"
This problem seems to be no the same with https://github.com/AOMediaCodec/SVT-AV1/issues/1499.
cmd below:
ffmpeg  -i test1.mp4  -vcodec libsvtav1  -vb 2000k test2.mp4
LOG below
########################################
SVT [version]:  SVT-AV1 Encoder Lib v0.8.5
Number of logical cores available: 48
Number of PPCS 94
[asm level on system : up to avx2]
[asm level selected : up to avx2]
--------------

[2020-11-19 01:10] xudongxu135 commented on #1584
update:when use version of 0.8.0, it works fine.

[2020-11-19 01:16] xudongxu135 commented on #1268
update：0.8.5 on my platform, for preset 8, just can only reach to 14fps, slower than 0.8.2 and 0.8.3. But  the quality is much better.

[2020-11-19 02:52] hassount commented on #1268
@xudongxu135

Can you check the latest master revision ?

[2020-11-19 06:53] xudongxu135 commented on #1584
I have checked this problem can be reproduced using the latest version of master.

[2020-11-19 07:00] xudongxu135 commented on #1268
@hassount  Thanks for reply. Using the version of the latest master, for preset 8, on my platform(same environment), it can reach to 28fps, quicker than 0.8,2 and 0.8.3(which are only 22fps), much quicker than 0.8.5(which is only 14fps), but still much slower than 0.8.0(44fps).

[2020-11-19 07:54] hassount commented on #1268
@xudongxu135 thank you for the update, adding —enable-tpl-la 0 should give you a little extra speed, and future PRs will probably close the gap. We’re trying to keep the quality as good as possible while gaining the speed back slowly without loosing much in quality.

[2020-11-21 22:53] startrekdude opened #1588 "get_cpu_flags broken on many CPU models"
Currently `get_cpu_flags` is implemented like:

[code]

This doesn't always give accurate results because it's possible (and not uncommon) for a CPU to have SSE2, etc, but not necessarily all the way up to AVX2. This causes a very significant performance reduction on certain CPUs.

[2020-11-22 00:23] silverbacknet commented on #1588
check_4thgen_intel_core_features() *only* checks for full AVX2 support; if that's present then all lower flags are enabled. If not, no flags are enabled at all.

[2020-11-22 03:14] 1480c1 commented on #1556
Currently trying to look into this and I notice a few issues, whenever I run it, it seems to print out
[code]
which I assume is because of the changes done recently

[2020-11-22 04:53] Somdyuti2 commented on #1567
Hi, any updates or an estimated time frame to fix this bug? @hassount , @paulsgh

[2020-11-22 20:14] hassount commented on #1567
@Somdyuti2 my understanding is that @kedartatwawadi was gonna take a stab at it.

[2020-11-22 20:34] hassount commented on #1588
Currently, all of our testing and validation resources are using AVX2 capable machines and such is currently stated in the readme file: https://github.com/AOMediaCodec/SVT-AV1#hardware

That said, this item is open to contributions and we can try to help as much as possible in validating and reviewing the fixes.

[2020-11-22 22:25] kedartatwawadi commented on #1567
@hassount Yes, I am taking a look at it. Apologies for the delay! I will get back with questions/updates in a day or two

[2020-11-23 03:38] mafonsoN opened #1592 "Error found when output reconstructed file is supplied as an input parameter"
I am seeing an error when the output reconstructed file is supplied. When I remove it, the encoder works as expected.
More info below.

Commit id: ea8732d40 (latest commit as of 11/22/20)
Happens for both release and debug builds.

Command line:
[code]
stdout:
[code]

[2020-11-23 07:31] ePirat commented on #1417
@hassount Sorry, I completely missed this somehow as I got no mail notifications for the mention here…

This shouldn't be hard to do.

[2020-11-23 07:38] ePirat commented on #1417
Currently the API/ABI version is effectively the project version:

[code]

Do we want to keep it that way or do we want to detach the project version from the API/ABI version?
Given that for some changes I guess the decoder API can be broken while the encoder API is not,
it might make sense to not have them share the same version.

[2020-11-23 17:26] #1525 closed

[2020-11-23 18:12] hassount commented on #873
Can we close this issue as we're moving to gitlab ?

[2020-11-23 18:12] #973 closed

[2020-11-23 18:14] ePirat commented on #873
I would be in favor of closing it, for the undergoing CI work we can use https://gitlab.com/AOMediaCodec/SVT-AV1/-/issues/1 to discuss that.

[2020-11-23 18:16] hassount commented on #1510
Closing this as I believe the rest is more an ffmpeg issue

[2020-11-23 18:16] #1510 closed

[2020-11-23 20:20] hassount commented on #1583
closing this, please re-open if the issue persists.

[2020-11-23 20:20] #1583 closed

[2020-11-23 20:26] EwoutH commented on #873
Yes, fine by me

[2020-11-23 20:46] hassount commented on #1592
@okhlif FYI,
@xuguangxin PR #1524 seems to be removing setting recon_enabled which is based on the recon file. can you please look into this asap as it is also blocking #1587 (for some reason it's only coming up now).

[2020-11-23 21:07] #873 closed

[2020-11-24 06:16] kelvinhu325 commented on #1499
Hi @xudongxu135 , I can not get hang on my linux machine with latest master code commit 9ca833328c76bafff20736054a45210b2d8ea0f5 , what's the "version of 0.8.5 #1584"?

[2020-11-24 07:52] xuguangxin commented on #1592
@hassount please try https://github.com/AOMediaCodec/SVT-AV1/pull/1598.
We'd better add some commandline test case for the -o option.

thanks

[2020-11-24 08:00] #1592 closed

[2020-11-24 08:28] xudongxu135 commented on #1584
Maybe it is depend on the special stream files and threads. My linux machine has 48 cores @kelvinhu325

[2020-11-24 14:24] kelvinhu325 commented on #1584
Thanks, my machine has 112 cores, I tried to run 3000 frames with -ss 0, it gets segment fault with error log on EbInitialRateControlProcess.c:1516 and queue_entry_index_temp=2048 makes array access over range, looks not the same issue as yours.

[2020-11-24 19:08] hassount commented on #1584
@anaghdin FYI

[2020-11-25 01:58] kelvinhu325 commented on #1584
Quick debugged it, and found the below change can fix this issue, it should use clamped index to avoid arry access over range.
@@ -1512,7 +1512,7 @@ void *initial_rate_control_kernel(void *input_ptr) {
                         PictureParentControlSet* pcs =
                             (PictureParentControlSet*)(encode_context_ptr
                                                            ->initi

[2020-11-25 16:32] hassount commented on #1577
This is now done, runner issue addressed and hidden failures addressed one by one: #1592 #1599 #1601 and #1587

[2020-11-25 16:32] #1577 closed

[2020-11-25 16:32] hassount commented on #1574
@paulsgh can we retest this to make sure it's good now ?

[2020-11-25 21:51] anaghdin commented on #1584
Thanks Kelvin, yes makes sense. queue_entry_index_temp2 should be used.

[2020-11-26 04:50] #1581 closed

[2020-11-26 22:03] #1580 closed

[2020-11-27 18:56] paulsgh commented on #1574
@hassount I have confirmed this issue has been fixed by running performance and stability VBR tests using the regular number of parallel jobs, on the latest master.

[2020-11-27 18:58] #1574 closed

[2020-11-27 20:15] hassount commented on #1584
@xudongxu135 can you please check if the latest master addressed your issue ?

[2020-11-27 20:16] hassount commented on #1499
@palexander-14 can you please check if the latest master addressed the issue ?

[2020-11-28 23:40] quietvoid commented on #1444
The assert failures seem to be source sample dependent.
I've had none for one using `--film-grain 7` while another did print the failure with `--film-grain 10`.

[2020-11-29 08:21] startrekdude commented on #1588
Fixed with #1600

[2020-11-29 08:21] #1588 closed

[2020-11-29 08:34] kedartatwawadi commented on #1567
@hassount I think I was able to fix the issue: https://github.com/AOMediaCodec/SVT-AV1/pull/1612
The issue seems to have crept in the commit id: a0f233f6ba5d173fc8e258ded045fb0d75074747 . Can't say I completely understand the code here, but this seemed to be the difference between the commit where the issue first surfaced.

I verified that the encoding is successful for `Config/PredStruct_level3.c

[2020-11-29 08:38] hassount commented on #1567
@kedartatwawadi thank you very much, I agree, a test would be good to have to make sure this does not break anymore.

[2020-11-29 23:23] jbeich opened #1613 "v0.8.6 fails to build on non-Windows/macOS/Linux"
Regressed by #1600. Fixing [upstream](https://github.com/pytorch/cpuinfo) is non-trivial due tons of platform-specific code.
[code]

[2020-11-29 23:48] jbeich commented on #1613
@yurivict, how did you work around https://github.com/pytorch/pytorch/issues/28772? If you gave up did encounter any other software depending on cpuinfo from pytorch?

[2020-11-30 00:02] yurivict commented on #1613
@jbeich I think that this library wasn't linked: https://github.com/pytorch/cpuinfo

[2020-11-30 00:15] jbeich commented on #1613
@yurivict, cpuinfo doesn't have code for FreeBSD:
[code]

[2020-11-30 00:16] jbeich commented on #1613
Did pytorch really work with cpuinfo that lacks `cpuinfo_isa`?

[2020-11-30 00:28] yurivict commented on #1613
@jbeich I had to patch its CMakeLists.txt, possibly to remove ```cpuinfo```, but I don't remember the specifics.
```cpuinfo``` only provides CPU stats and isn't critical for ```pytorch```.

[2020-11-30 05:48] palexander-14 commented on #1499
Checked with a5ec26c0f0bd6e872a0b2bb340b4a777f4847020
No hang-up with originally reported command line but there is new rare (1 time out of 10) with the following command line:
`SvtAv1EncApp.exe -i "Tears_Of_Steel_1280x720_24_I420_1440_frames.yuv" -w 1280 -h 720 --output out.ivf --rc 1 --tbr 2500 --fps 24 --preset 8 --keyint -1 --frames 1300 --lookahead 16 --hierarchical-levels 4 --progress 2`

Th

[2020-11-30 10:03] EwoutH opened #1614 "Warnings in Travis CI builds (treated as errors)"
In the Travis CI builds several warnings popped up, which were treated as errors (`-werror` is enabled). This is a regression somewere between 5aa8523, the last [passing build](https://travis-ci.com/github/AOMediaCodec/SVT-AV1/builds/203426607), and a5ec26c, the current build.

[Travis CI Arm64 GCC build](https://travis-ci.com/github/EwoutH/SVT-AV1/jobs/450706599#L527)
[code]
[Travis CI IBM Z GCC

[2020-12-01 00:36] paulsgh commented on #1499
Using 42c1213 on Linux, I tested:

- the original cmd line: `./SvtAv1EncApp -i "Tears_Of_Steel_1280x720_24_I420_1440_frames.yuv" -w 1280 -h 720 --output out.ivf --rc 1 --tbr 2500 --fps 24 --preset 8 --keyint -1 --frames 300 --lookahead 16 --hierarchical-levels 4`
- new cmd line (20 runs): `./SvtAv1EncApp -i "Tears_Of_Steel_1280x720_24_I420_1440_frames.yuv" -w 1280 -h 720 --output out.ivf --rc 1 --

[2020-12-01 00:43] paulsgh commented on #1567
Using PR #1612 (d63e804) on Linux, I tested `SvtAv1EncApp -i input.y4m --keyint 16 --hierarchical-levels 3 --pred-struct-file Config/PredStruct_level3.cfg -b output.ivf` using prediction structures levels 3 through 5, and was unable to reproduce the error.

[2020-12-01 02:40] brad0 commented on #1613
OpenBSD port maintainer here. Also ran into this.

[2020-12-01 03:02] kedartatwawadi commented on #1567
@paulsgh Sorry I didn't understand what you said. Is the error not present after https://github.com/AOMediaCodec/SVT-AV1/pull/1612 ?

[2020-12-01 03:06] paulsgh commented on #1567
@kedartatwawadi no problem.
Yes what you said is correct. The error was not present when I tested your command using #1612.

[2020-12-02 10:29] mesopodamia opened #1616 "there was an error with the encoding(Assertion failed: (dv_ref.as_mv.col & 7))"
my system : windows 10 64bit
version: 0.8.6
command:
```SvtAv1EncApp.exe -i d:\av1\radios\av1.yuv -w 1900  -h 1080 --fps 24 --rc 0 -q 30 --preset 8 -b d:\av1\radios\output.ivf```
error message:
[code]
and I don't know what went wrong？

[2020-12-02 23:20] EwoutH commented on #1614
Looks like this is at least partially caused by the cpuinfo library, which was added in #1600.

[2020-12-03 01:26] PDX-Runner opened #1619 "add the support to specify per layer qindex offset and chroma qindex offsets"
current AVT AV1 does not allow user to specify the qindex offsets and chroma qindex offset for different temporal layers.

[2020-12-03 05:26] #1567 closed

[2020-12-04 05:43] palexander-14 opened #1621 "master e502bf698640e33daff59a436d08b7433ca79907 crashes with Division By Zero exception on VBR when lad > intra period"
Crash happens most likely on all platforms (checked on windows and linux) with any source file and resolution. The condition for crash is lookahead distance is more than intra period (GOP) length.

Command line to reproduce:
`SvtAv1EncApp -i input.yuv -w 1280 -h 720 --output out.ivf --rc 1 --tbr 2500 --fps 24 --preset 8 --keyint 47 --lookahead 48`

Crash happens at https://github.com/AOMediaCodec/

[2020-12-04 05:44] palexander-14 opened #1622 "master crashes with Division By Zero exception on VBR when lad > intra period"
Crash happens most likely on all platforms (checked on windows and linux) with any source file and resolution. The condition for crash is lookahead distance is more than intra period (GOP) length.

Command line to reproduce:
`SvtAv1EncApp -i input.yuv -w 1280 -h 720 --output out.ivf --rc 1 --tbr 2500 --fps 24 --preset 8 --keyint 47 --lookahead 48`

Crash happens at https://github.com/AOMediaCodec/

[2020-12-04 19:45] hassount commented on #1621
closing this for #1622

[2020-12-04 19:45] #1621 closed

[2020-12-04 20:00] hassount opened #1624 "Add reference scaling support"
Reference scaling is not currently supported in SVT-AV1 encoder

[2020-12-04 20:02] hassount opened #1625 "Add S-frame support"
S-frame are not currently supported in SVT-AV1 encoder

[2020-12-04 20:05] hassount opened #1626 "Add support for encoding different resolutions within the library"
Add ability create multiple streams encodings of scaled resolutions within the same library.

[2020-12-04 20:10] hassount opened #1627 "Continuously improve quality speed tradeoffs in a VOD use set up"
This issue will link PRs specific to the following scenario
- --lp1 shot-based encoding

[2020-12-04 20:16] hassount opened #1628 "Continuously improve quality speed tradeoffs in a multi-threaded scenario"
This issue will link PRs specific to the scenario where one encoding is ran on the full machine achieving:
- highest possible cpu utilization (maximizing the cycle - quality tradeoff)
- best possible speed
- lowest possible memory utilization

[2020-12-07 16:56] PDX-Runner commented on #1619
supported by pull-request https://github.com/AOMediaCodec/SVT-AV1/pull/1618

[2020-12-07 21:03] #1499 closed

[2020-12-08 01:27] xudongxu135 commented on #1584
sorry for late reply. I will check asap

[2020-12-10 12:21] eclipseo opened #1636 "Lossless support?"
Is any lossless support planned in SVT-AV1? This would be nice to have to use with libavif.

Thanks.

[2020-12-10 13:51] palexander-14 commented on #1622
Some additional information.

Crash happens on the very first picture with command line like this:
`SvtAv1EncApp -i input.yuv -w 1280 -h 720 --output out.ivf --rc 1 --tbr 2500 --fps 24 --preset 8 --keyint 47 --lookahead 48`

You can see the crash on the following screenshot:
![Crash](https://user-images.githubusercontent.com/63088100/101731568-65d4bb80-3aee-11eb-983d-fa9e3a0cfde6.PNG)

Here you ca

[2020-12-10 23:53] paulsgh commented on #1622
I'm unable to reproduce the issue using PR #1632; tested on both Linux and Windows.

[2020-12-11 13:51] lextra2 commented on #1636
If you want lossless why not use libx264? Not even FFV1 can beat it in efficiency. And I highly doubt av1 would either.

[2020-12-11 21:58] paulsgh commented on #1619
Verified PR #1618 successfully supports this patch; tested on Linux.

[2020-12-14 03:31] changtj opened #1640 "is what prepare output buffer better?"
enc app:

 EbErrorType stream_status = svt_av1_enc_get_packet(
            component_handle, &header_ptr, 0);
// Release the output buffer
            svt_av1_enc_release_out_buffer(&header_ptr);

if we prepare output buffer, then it should reduce copy times.

[2020-12-15 07:19] hassount commented on #1640
can you please elaborate further on what is needed here ?

[2020-12-15 08:57] changtj commented on #1640
function use( ){  }

function copydo( buff ){

char * buffa = buff[nIndex++];
/**
before use ,must copy
**/
 memcpy(  buffa, buff );

new thread( [](){
  use();
})

}

EbErrorType stream_status = svt_av1_enc_get_packet(
component_handle, &header_ptr, 0);
// Release the output buffer
copydo( header_ptr )
svt_av1_enc_release_out_buffer(&header_ptr);

/////////////////////////////////////////////////

[2020-12-15 08:59] changtj commented on #1640
for example as follow.
////////////////////////////////////////////////////////
now case, must copy;

function use( ){ }

function copydo( buff ){

char * buffa = buff[nIndex++];
/**
before use ,must copy
**/
memcpy( buffa, buff );

new thread( {
use();
})

}

EbErrorType stream_status = svt_av1_enc_get_packet(
component_handle, &header_ptr, 0);
// Release the output buffer
copydo( header_ptr )
sv

[2020-12-16 22:28] bzhutencent opened #1644 "SVT crashes at 147 frames when using IP 150, preset 4"
SVT crashes at 147 frames while using the following command line

Command line:
SvtAv1EncApp -i PartyScene_832x480_50.yuv -b Bin_preset4enable-tpl-la1_T2RA_VVCC_C3_R1_qp20_s0_f300_t1.bin --width 832 --height 480 --rc 0  --qp 20 --min-qp 1 --max-qp 63  --frames 300 --keyint 150 --fps-num 50 --fps-denom 1  --input-depth 8 --irefresh-type 1  --lp 1 --preset 4 --enable-tpl-la 1

[2020-12-16 22:30] bzhutencent opened #1645 "Encoder crash on some 4K sequences"
Encoder crashes while encoding some 4k sequences

command line:
SvtAv1EncApp -i Tango2_3840x2160_60fps_10bit_420.yuv -b Bin_preset1enable-tpl-la1_T2RA_VVCA_A1_R2_qp32_s0_f300_t1.bin --width 3840 --height 2160 --rc 0  --qp 32 --min-qp 1 --max-qp 63  --frames 300 --keyint 31 --fps-num 60 --fps-denom 1  --input-depth 10 --irefresh-type 1  --lp 1 --preset 1 --enable-tpl-la 1

[2020-12-16 23:54] EsmeraldaQuintero opened #1646 "[MinGW][Cross-compiler][Windows] cpuinfo error compiling"
I'm compiling SVT-AV1 for Windows under linux, using a cross compiler (see [ffmpeg-windows-build-helpers](https://github.com/rdp/ffmpeg-windows-build-helpers))

Basically the compiling is performed as follows:
[code]

It seems to be a wrong processor or compiler detection in CMakeLists.txt but I don't know if is possible to skip that library
[code]
[code]

Here is the log:
https://github.com/Esmer

[2020-12-17 00:02] 1480c1 commented on #1646
you might need to specify additional variables like `CMAKE_SYSTEM_PROCESSOR`
https://aomedia.googlesource.com/aom/+/refs/heads/master/build/cmake/toolchains/x86_64-mingw-gcc.cmake

[2020-12-17 01:00] EsmeraldaQuintero commented on #1646
Yes, it seems to work when I set the variables manually in cpuinfo's CMakeLists
[code]

[2020-12-17 15:40] EsmeraldaQuintero commented on #1646
I just forgot to send `-DCMAKE_SYSTEM_PROCESSOR=AMD64` in my command. Thank you a lot.

[2020-12-17 15:40] #1646 closed

[2020-12-18 14:19] tongyuantongyu opened #1649 "Expose more info in decode API"
I'm implementing decode support with SVT-AV1 for libavif, but I need some info from sequence header and frame header which is not exposed in public API.(Or namely, info from `dec_handle_ptr->frame_header.frame_size` and `dec_handle_ptr->seq_header.color_config`)
And SVT-AV1's decode API requires user to allocate output picture buffer, so we also need to know these info before we are ready to recei

[2020-12-21 12:11] lextra2 commented on #1505
Maybe add internal dithering to 0-255 full range (for increased encoder accuracy) and finish to 16-235 limited if the input was limited to begin with.

[2020-12-22 13:44] itaibenari commented on #1556
@hassount can I help with this issue somehow?

[2020-12-22 19:06] 1480c1 commented on #1556
@itaibenari, can you try reproducing the issue again? I am trying to, but even after ~100 iterations, it is not erroring out

[2020-12-23 14:23] stax76 commented on #1348
Thanks for fixing it. [Same problem with aomenc now](https://bugs.chromium.org/p/aomedia/issues/detail?id=2909). 🤔

[2020-12-24 08:15] itaibenari commented on #1556
@1480c1 this does not reproduce in 0.8.6. I tested 0.8.5 (to make sure I was not misleading) and it did reproduce. you can close.

[2020-12-24 08:15] #1556 closed

[2020-12-30 05:41] Somdyuti2 opened #1656 "[Question] Regarding the subpel refinement code for motion estimation"
Hi, could you please point me to the section of the code that performs the open loop subpel refinement after the integer motion search as described in the appendix [SVT-AV1/Docs/Appendix-Subpel-Interpolation-Open-Loop-ME.md](https://github.com/AOMediaCodec/SVT-AV1/blob/master/Docs/Appendix-Subpel-Interpolation-Open-Loop-ME.md) as well as  to the data structure that holds the subpel precision MVs a

[2021-01-02 16:18] spawlows commented on #1569
Why are we removing Sanitizer from CI?

[2021-01-02 21:04] hassount commented on #1569
We’re not.

[2021-01-03 14:42] lu-zero opened #1657 "Please provide a -version functionality in the binaries"
Grepping stderr is less than practical.

[2021-01-03 16:40] 1480c1 commented on #1657
dup of https://github.com/AOMediaCodec/SVT-AV1/issues/1213

[2021-01-04 08:52] spawlows commented on #1308
Left warnings:

[code]

[2021-01-05 04:02] changtj opened #1658 "how output one frame after input one frame as encode mode?"
how  output one frame after input one frame as encode mode?

now, i test what   output the first encoded frame after input 37  frames .

[2021-01-05 10:23] changtj opened #1659 "what is the configuration in real-time use?"
what is the configuration in real-time use?

important, encoder as soon as encode out the frame when input one source frame data.

[2021-01-05 22:24] 1480c1 opened #1663 "cppcheck: unused functions"
List of functions (as of https://github.com/AOMediaCodec/SVT-AV1/commit/145cb990804ab929f3e4d7d6ea0415b8c289f75e) that are marked as unused by cppcheck that will be suppressed with https://github.com/AOMediaCodec/SVT-AV1/pull/1662

to generate locally:
[code]

[code]

[2021-01-06 00:35] hassount commented on #1640
@changtj
back to this issue, the output buffer would need to be recycled and such is why the copy is needed. It might be that I am missing your point here. Please feel free to submit a pull request with whatever changes you see fit and we can take it from there.

[2021-01-06 00:36] hassount commented on #1636
I don't see lossless support on the roadmap, that said, contributions are most welcome in this area.

[2021-01-06 02:19] changtj commented on #1659
thanks, i try aom av1,  the lag can be set to 0.

[2021-01-08 01:24] Zcooger commented on #1463
I totally support this feature, personally I'd need it too.

[2021-01-09 10:43] gcp opened #1667 "Produced files are incompatible with VLC fast seeking, even with IntraRefreshType = 2"
Videos encoded with SVT-AV1 0.8.6-29-gb6e11146, using Gop Size = 300 and IntraRefreshType = 2.

VLC is unable to seek in these files if fast seeking is enabled (which seems to be the default on Android). Because playback of a previously viewed file involves a seek, they effectively can't be played back more than once.

I've seen a lot of problem reports with seeking behavior, but they're all due t

[2021-01-09 10:45] gcp commented on #1667
Using current ffmpeg (ffmpeg version 2021-01-01-git-63505fc60a) with this command line:
ffmpeg -i blah.mkv -c:v libsvtav1 -preset 5 -qp 54 -g 300 -threads 12 -c:a libopus -b:a 80k "blah.webm"

[2021-01-11 19:34] 1480c1 commented on #1667
@gcp can you potentially share your exact build of ffmpeg and also information such as what OS you encoded on and what OS(es) you played the video on along with video size? Is it only on Android?

Have you tested the latest master branch? If you are on windows, a build can be found at https://github.com/AOMediaCodec/SVT-AV1/suites/1808568177/artifacts/34738218 or at https://gitlab.com/1480c1/SVT-A

[2021-01-11 19:49] gcp commented on #1667
IIRC it was a "full" build from here, date and git tag are above: https://www.gyan.dev/ffmpeg/builds/packages/

Playback was tested on Linux and Android, the behavior was similar. But at least the VLC 3.0.8 (a bit older) on my Linux system did not default to fast seeking, so the problem there wasn't visible until I explicitly enabled it. On Android it is defaulted on so it's there that I noticed i

[2021-01-11 20:06] hassount commented on #1667
@gcp
would you be able to  update a sample bitstream that shows the issue ?

[2021-01-11 20:08] gcp commented on #1667
I can try to find some non-copyrighted material and see if the issue doesn't depend on the source maybe.

[2021-01-11 21:05] gcp commented on #1667
The build you linked didn't produce the issue. Looking at the repo here, there don't seem to be relevant changes to the SVT-AV1 repo. Does this mean this potentially regressed in ffmpeg git?

[2021-01-11 21:12] 1480c1 commented on #1667
Although I doubt it since I don't remember any particular commit since January that might have affected svt-av1 specifically in FFmpeg, but I can't rule that out.

[2021-01-11 22:32] gcp commented on #1667
I tested with a free Blender clip, but that is seekable. I do notice it only seeks to scene changes (with fast seeking enabled).

So that's a peculiar thing about my source material: It has no scene changes in it in whatsoever.

The -g 300 is supposed to limit the max GOP to 300 frames right? Is it possible this is/was broken?

[2021-01-11 22:37] hassount commented on #1667
The notion of max and min keyframe is combined in SVT-AV1. So it means that -g 300, will force a key frame every 300 frames nothing in between. Which might be why you wouldn’t be able to seek frequently

[2021-01-11 22:43] gcp commented on #1667
Yes, this is my understanding. But the behavior I'm seeing from the broken combo seems to imply that despite the above output it's being ignored and only putting them at scene changes. I'll try encoding the Blender clip with a GOP=30 and then see if I can seek with second granularity. If I can't, that means I have a redistributable clip with the issue.

[2021-01-11 23:31] gcp commented on #1667
I think I have a repro that I can make public:
https://sjeng.org/ftp/work/TestSeek-Spring-G30.webm

This was encoded with the ffmpeg linked above, which is the Windows build the official site links to:
``ffmpeg -i spring-vp9-vorbis.webm -c:v libsvtav1 -preset 5 -qp 54 -g 25 -strict -2 -c:a opus -b:a 80k -threads 12 TestSeek-Spring-G30.webm``

If I try to seek in this with VLC on Android, I should

[2021-01-12 01:17] 1480c1 commented on #1667
Usually, when someone provides a repro, they provide a link or way to get the original sample rather than the output only, I am assuming the original is https://tools.woolyss.com/html5-audio-video-tester/?u=woolyss.com/f/spring-vp9-vorbis.webm

Playing back both your sample and encoding my own sample using the latest git ffmpeg from gyan and your command line, I am able to seek in 1 s intervals wi

[2021-01-12 01:53] telans opened #1668 "segmentation fault in signal_derivation_enc_dec_kernel_oq when compiled with -O3"
[code]

Command: `SvtAv1EncApp -i test.mp4 -w 1920 -h 1080`

Please let me know if there's any other information I can provide. Occurs with any input file. Tested 0.8.6 and master. Does not occur when compiled with `-O2` instead of `-O3`, but I have not narrowed it down.

[2021-01-12 02:43] 1480c1 commented on #1668
Can you provide some other info as well such as if you have any CFLAGS set?

[2021-01-12 03:03] telans commented on #1668
System is Gentoo ~amd64.
[code]

[2021-01-12 04:23] 1480c1 commented on #1668
Try adding `-mno-avx`, `-mavx` (implied by a lot of `-march=`s) also enables `-msse2avx` which `Specify that the assembler should encode SSE instructions with VEX prefix. ` and this can cause segfaults in programs that expect sse instructions to remain sse

[2021-01-12 04:24] 1480c1 commented on #1668
I currently have it so CMake will apply that flag if it detects `-march=native`, but maybe I should just try applying it regardless of what flags https://github.com/AOMediaCodec/SVT-AV1/commit/83afd59ce37e1e7490c1ae37ee56280bbee27431#diff-1e7de1ae2d059d21e1dd75d5812d5a34b0222cef273b7c3a2af62eb747f9d20a

[2021-01-12 04:28] telans commented on #1668
That fixes it, thank you for the suggestion.

I don't think that would hurt.

Would you like this issue to be left open or closed?

[2021-01-12 05:27] BlueSwordM commented on #1667
I have tried to reproduce this issue with libsvtav1 inside of ffmpeg and the standalone binary and I can't reproduce the issue of the OP on multiple devices (VLC latest nightly on Android, VLC 3.0.11, custom mpv built on January 5th with latest ffmpeg at the time)
The video encoded in question comes from the Xiph.org Derf collection, being the Witcher 3 video:
https://media.xiph.org/video/derf/

[2021-01-12 05:31] 1480c1 commented on #1668
Leave it open until i get around to getting a PR to add mno-avx generally

[2021-01-12 07:27] gcp commented on #1667
As already stated, it is copyrighted material that I have no license to redistribute for.

VLC for Android Revision 7ec77872d VLC: f83f3a317 (2021-01-11)

I'll switch this back to release (from beta) and see if that changes anything.

[2021-01-12 11:58] gcp commented on #1667
I have steps to reproduce!

https://sjeng.org/ftp/work/chess.mkv

Encoded with the above ffmpeg and ``ffmpeg -i chess.mkv -c:v libsvtav1 -r 24 -preset 5 -qp 54 -g 300 -threads 12 -b:a 80k "SVTAV1-G300-F24.webm" produces: https://sjeng.org/ftp/work/SVTAV1-G300-F24.mkv

Play this file with VLC for Android. This works. Now seek a few times back and forth. The video will freeze.

The original file tha

[2021-01-13 00:24] BlueSwordM commented on #1667
I do not think this issue is related to SVT-AV1 specifically, since I only encounter the issue in VLC for Android, and not mpv-android or AOS-AVP.

All other players seem to work fine with this video sample.

[2021-01-13 04:18] 1480c1 commented on #1667
For https://sjeng.org/ftp/work/SVTAV1-G300-F24.webm, I was able to reproduce vlc showing a black screen but audio being played on Linux, looking at the messages for errors, I see
[code]
same with windows, going to see if forcing aomdec works or not, and if not, going to try a beta version of vlc

[2021-01-13 04:21] 1480c1 commented on #1667
forcing libaom produces
[code]

[2021-01-13 04:23] 1480c1 commented on #1667
using debug shows
[code]

[2021-01-13 19:49] #1668 closed

[2021-01-14 08:03] SebastianGode commented on #1555
@1480c1 libaom has added that feature now.
Would be great to have that here too

[2021-01-14 08:22] Felixkruemel opened #1672 "[Feature Request] Add more configuration options to the ffmpeg build"
The current encoder has a really big set of options you can specify.
https://github.com/AOMediaCodec/SVT-AV1/blob/master/Docs/svt-av1_encoder_user_guide.md

If just using an ffmpeg build there's nearly no configuration. You are very limited in you can do, to be exact most you can do is specify -rc for VBR, CRF and so on and the preset.

libaomav1 on the other hand has most options already backed i

[2021-01-14 16:57] gcp commented on #1667
It looks like I found a (single) libaom-av1 encoded file that has the same problem. So this might be a bug in ffmpeg muxing or the decoders that's just easier to hit with how SVT-AV1 encodes.

[2021-01-15 15:13] tszumski commented on #1644
@ttrigui, @hassount

This crash is introduced in:
    Commit aa0f6823 In-loop ME and TPL (#1559)
    Feature #define **FEATURE_PA_ME**

[2021-01-16 17:11] th0ma7 opened #1674 "aarch64 cross-compile issue"
Hitting the following when cross-compiling against aarch64 arch.  Note that this is new since 0.8.6 (was working all-right with 0.8.4 and 0.8.5)
[code]

[2021-01-16 17:28] 1480c1 commented on #1674
You might need to cherry pick https://github.com/AOMediaCodec/SVT-AV1/commit/09c90e4cfb602b9a247a8a256923bdbddaf2ed9b

[2021-01-16 22:02] hassount commented on #1667
thank you guys, so in summary:
- this is reproducible with both libaom and svt-av1
- decoder issue shows up on both libaom and libdav1d
we're either looking at ffmpeg muxing or VLC ?

@jbkempf FYI

[2021-01-16 22:04] hassount commented on #1659
understood, it's a use case that encoders may / may not chose to implement depending on the target application.

[2021-01-16 22:07] hassount commented on #1656
@Somdyuti2 thank you for the question and I apologize for the late response, I do see that there's definitely a need to update the documentation, so we'll need to do a round on that soon. In the meantime, @fouedb can you please help answering this question ?

[2021-01-16 22:08] hassount commented on #1657
Closing this issue as it is captured in #1213

[2021-01-16 22:08] #1657 closed

[2021-01-16 22:08] hassount commented on #1658
Closing this issue as it is a dup of #1659

[2021-01-16 22:08] #1658 closed

[2021-01-16 22:09] hassount commented on #1672
@Felixkruemel agreed, this seems to be a duplicate of #1555 , closing this issue.

[2021-01-16 22:09] #1672 closed

[2021-01-16 22:10] hassount commented on #1549
@Felixkruemel refreshing this, is this still an issue after 0.8.6 ?

[2021-01-17 08:17] gcp commented on #1667
That seems most likely, unless SVT-AV1 and libaom have the exact same bug (not impossible either I guess...). The source clip I found that fails with libaom-av1 too, also fails with the git build of SVT-AV1 that you linked earlier. Unfortunately I don't have any free clip doing this.

I've looked at the fails-with-both-encoders clip, and I did find something interesting. ffprobe claims it is 30 fp

[2021-01-17 13:13] th0ma7 commented on #1674
Indeed it worked out.  Thnx for the answer!
I ended-up having to play a bit with the patch so it applies cleanly over 0.8.6 (see attached file).

[0001-Fix-C-only-build.patch.zip](https://github.com/AOMediaCodec/SVT-AV1/files/5826125/0001-Fix-C-only-build.patch.zip)

[2021-01-17 13:13] #1674 closed

[2021-01-17 13:48] gcp commented on #1667
Changing to ``-r 30`` didn't do anything. It also seems that the FPS indication in VLC doesn't mean much as it is inferred from the duration.

But the exact same encoder settings, using SVT-AV1, produce a (fast) seekable .MP4 file. Whereas the .MKV breaks the encoders. So that also points at a muxing/decoding issue.

[2021-01-18 11:36] Felixkruemel commented on #1549
@hassount I haven't experienced the issue in the last month. So I guess no, can be closed.

[2021-01-18 14:24] tszumski commented on #1644
For faster debugging CMD can be reduced to:
[code]

[2021-01-18 15:42] #1549 closed

[2021-01-19 13:23] veikk0 opened #1675 "Clarify run-time encoder configuration output regarding CQP/CRF"
If I understood #1539 correctly, CRF has replaced CQP as the default rate control mode for `--rc 0`. However, the encoder config output shown at runtime still shows CQP as the BRC mode:

Also, if CRF is now the default RC mode, there should probably be a --crf option. And it'd be nice if this was mapped to the -crf option in FFmpeg.

[2021-01-20 13:38] veikk0 commented on #815
To add to this, it's not just 8K that's affected by the current resolution limitation. Things like vertical 4K video and various non-standard resolutions are impacted too.

Just ran into this myself when attempting to encode a video of an unusual resolution (1500x2220).

[2021-01-21 17:42] jbkempf commented on #1667
So what's the conclusion here?

[2021-01-21 17:50] gcp commented on #1667
There's either a bug in how ffmpeg muxes AV1 into MKV/WebM, or with how VLC decodes/demuxes it (when using fast seeking). We don't know which.

[2021-01-21 17:53] 1480c1 commented on #1667
I am able to reproduce with vlc 3.0.12

[2021-01-21 17:54] jbkempf commented on #1667
Or both? :D

Does it happen with --demux=ffmpeg in VLC?

[2021-01-21 17:55] 1480c1 commented on #1667
Running `& 'C:\Program Files\VideoLAN\VLC\vlc.exe' --demux=ffmpeg .\SVTAV1-G300-F24.webm` and I cannot get the issue to reproduce

[2021-01-21 17:57] jbkempf commented on #1667
and --demux=matroska you can reproduce?

[2021-01-21 17:59] 1480c1 commented on #1667
running `& 'C:\Program Files\VideoLAN\VLC\vlc.exe' --demux=matroska .\SVTAV1-G300-F24.webm` I get
[code]
running `& 'C:\Program Files\VideoLAN\VLC\vlc.exe' --demux=mkv .\SVTAV1-G300-F24.webm` and I can reproduce it

[2021-01-21 18:07] jbkempf commented on #1667
OK, So either FFmpeg muxing or VLC matroska demuxer issue.

Bringing @robux4

[2021-01-22 08:00] robUx4 commented on #1667
I was able to reproduce the issue.  I opened an issue in VLC with a link to `SVTAV1-G300-F24.webm` and steps to reproduce.
I did not have the issue with the AVC file.
https://trac.videolan.org/vlc/ticket/25406

[2021-01-24 19:56] clavinet commented on #616
I just tested the latest git master and there's still banding in dark gradients, unless you throw ridiculous bitrate at it (cqp <=4)

[2021-01-25 00:33] fouedb commented on #1656
1.	Temporal filtering: Interpolation search up to eighth-pel accuracy is performed in the functions tf_32x32_sub_pel_search and tf_16x16_sub_pel_search using eight-tap regular filters.
2.	Open loop ME: No interpolation search.
3.	ME First Pass: No interpolation search.
4.	MD: Interpolation search is performed using the function md_subpel_search. The latter is called in two functions in MD:

[2021-01-27 06:41] tszumski commented on #1543
issue no longer exists,
We can close it

[2021-01-27 06:41] #1543 closed

[2021-01-27 16:05] Felixkruemel commented on #1675
That's confusing.

ffmpeg -qp -rc 0 is essentially -crf. So that really needs to be changed

[2021-01-28 07:00] Somdyuti2 commented on #1656
Thanks a lot for the clarifications.

[2021-01-28 07:00] #1656 closed

[2021-01-28 20:02] hassount opened #1679 "[Announcement] Repo moving to gitlab"
After completing #1531 , the project is now ready to move to gitlab.

- The plan is to move the repo by February 10th, 2021.
- The new destination will be https://gitlab.com/AOMediaCodec/SVT-AV1
- The existing svt-av1 mirror repo in the link above will deleted
- This repo will move with all issues / PRs in the new location.

[2021-01-29 22:25] EwoutH commented on #1679
I guess it’s time for me to finally learn GitLab CI. @1480c1, is there anything you currently need help with?

[2021-01-29 22:32] 1480c1 commented on #1679
Right now I'm trying to get a Windows runner setup using docker, me and @ePirat often talk about CI stuff in #svt on irc, right now finishing up https://gitlab.com/1480c1/SVT-AV1/-/pipelines/248874562, so we pretty much have everything done

[2021-01-30 10:58] jonsneyers commented on #1679
Can I ask why this repo move is done?

[2021-01-31 02:25] hassount commented on #1679
It's to combine projects and resources in one location.

[2021-02-02 18:08] hassount commented on #1613
Hi all, is this still an issue or did #1648 address it ?

[2021-02-04 14:35] waveletbeam opened #1683 "External video denoising for Film Grain Synthesis"
Video denoising can be very processing intensive and the different solutions are delivering different quality levels. It would be very helpful, if the SVT-AV1 internal video denoising step can be exchanged with an external one. My suggestion is to support four use cases.

**Use Case 1 application level:** The video denoising will be done outside the application and on command line the original and

[2021-02-08 14:13] MoonlightBoyk opened #1686 "SvtAv1EncApp stops for --lp 8 but succeeds with --lp 4 when encodecing with pipe"
I see similar isuues like #676.  They seem to be solved by version update.  I use the recent versions and get some issue.  If my question is the same one, just tell me.

Ryzen 3700x 16GB RAM

Win 10 cmd

`vspipe --y4m -p "test.vpy" - | SvtAv1EncApp.exe -i stdin -w 1920 -h 1080  --fps 24  --rc 1 --tbr 2500 --preset 8 --lp 8 --stat-file log.txt  --stat-report 1 -b output.ivf`

with output

[code]

T

[2021-02-09 21:11] hassount commented on #1683
@waveletbeam thank you for the detailed issue, this is definitely a great area for contributions.

[2021-02-10 14:11] MoonlightBoyk commented on #1686
The problem possibly arises from my computer hardware by friend's comments.  I open the window in winter to cool down the environment from 22C to 7C.  The program even works with --lp 16 now.

[2021-02-10 14:11] #1686 closed

[2021-12-21 03:27] #1683 closed

[2021-12-21 03:27] #1675 closed

[2021-12-21 03:27] #1667 closed

[2021-12-21 03:28] #1663 closed

[2021-12-21 03:29] #1659 closed

[2021-12-21 03:29] #1649 closed

[2021-12-21 03:29] #1645 closed

[2021-12-21 03:29] #1644 closed

[2021-12-21 03:29] #1640 closed

[2021-12-21 03:30] #1636 closed

[2021-12-21 03:30] #1628 closed

[2021-12-21 03:30] #1627 closed

[2021-12-21 03:30] #1626 closed

[2021-12-21 03:31] #1625 closed

[2021-12-21 03:31] #1624 closed

[2021-12-21 03:31] #1622 closed

[2021-12-21 03:32] #1619 closed

[2021-12-21 03:32] #1616 closed

[2021-12-21 03:32] #1614 closed

[2021-12-21 03:33] #1613 closed

[2021-12-21 03:33] #1584 closed

[2021-12-21 03:33] #1578 closed

[2021-12-21 03:33] #1573 closed

[2021-12-21 03:34] #1569 closed

[2021-12-21 03:34] #1558 closed

[2021-12-21 03:34] #1555 closed

[2021-12-21 03:35] #1553 closed

[2021-12-21 03:35] #1539 closed

[2021-12-21 03:35] #1531 closed

[2021-12-21 03:35] #1527 closed

[2021-12-21 03:36] #1507 closed

[2021-12-21 03:37] #1505 closed

[2021-12-21 03:38] #1502 closed

[2021-12-21 03:38] #1488 closed

[2021-12-21 03:39] #1472 closed

[2021-12-21 03:39] #1463 closed

[2021-12-21 03:39] #1458 closed

[2021-12-21 03:39] #1450 closed

[2021-12-21 03:39] #1444 closed

[2021-12-21 03:40] #1433 closed

[2021-12-21 03:42] #1430 closed

[2021-12-21 03:42] #1429 closed

[2021-12-21 03:43] #1422 closed

[2021-12-21 03:43] #1417 closed

[2021-12-21 03:43] #1381 closed

[2021-12-21 03:44] #1379 closed

[2021-12-21 03:44] #1345 closed

[2021-12-21 03:45] #1341 closed

[2021-12-21 03:45] #1321 closed

[2021-12-21 03:45] #1308 closed

[2021-12-21 03:46] #1297 closed

[2021-12-21 03:46] #1268 closed

[2021-12-21 03:46] #1213 closed

[2021-12-21 03:46] #1198 closed

[2021-12-21 03:46] #1137 closed

[2021-12-21 03:47] #1114 closed

[2021-12-21 03:47] #1008 closed

[2021-12-21 03:47] #994 closed

[2021-12-21 03:48] #950 closed

[2021-12-21 03:48] #945 closed

[2021-12-21 03:49] #815 closed

[2021-12-21 03:49] #735 closed

[2021-12-21 03:49] #730 closed

[2021-12-21 03:50] #687 closed

[2021-12-21 03:50] #616 closed

[2021-12-21 03:50] #603 closed

[2021-12-21 03:51] #572 closed

[2021-12-21 03:51] #365 closed

[2021-12-21 03:51] #343 closed

[2021-12-21 03:52] #326 closed

[2021-12-21 03:53] #239 closed

[2021-12-21 03:53] #202 closed

[2021-12-21 03:54] #98 closed

[2021-12-21 03:55] #91 closed

[2021-12-21 03:56] #87 closed

[2021-12-21 03:57] #52 closed

[2021-12-21 03:57] #12 closed

[2021-12-21 03:58] #7 closed

[2021-12-21 03:58] #1679 closed

[2021-12-21 03:59] hassount opened #1688 "This is a mirror repo"
Please do not create any issues here. Please go to: https://gitlab.com/AOMediaCodec/SVT-AV1

[2021-12-21 09:25] Vargol commented on #1527
Why has thius been  closed as the NEON code been added, I can't see it in the git repository.

[2021-12-21 15:58] hassount commented on #1527
This repo has moved to gitlab since Feb of last year. This repo is now just a mirror.
you can find this issue on gitlab:

https://gitlab.com/AOMediaCodec/SVT-AV1/-/issues/1527

[2022-02-18 09:32] scnulinux opened #1689 "some core and stack smeshing when encode many video stream."
I rewrite encApp demo  to support encode many video stream in differen thread.It come out core and stack smeshing.
I find blk_geom_mds in EbUtility.cpp is global variable cause this iusse.
Hopefully it can fix in fulture.

[2022-02-18 09:57] #1689 closed

[2022-03-13 19:20] Ballevill opened #1690 "Red pixels"
Hi, I have this error:

After conversion, red pixels are shown in the video file

Photo:
https://ibb.co/b58yf84

Link to the article
https://developers.google.com/media/vp9/settings/vod

Link to the source file
http://ftp.nluug.nl/pub/graphics/blender/demo/movies/ToS/tearsofsteel_4k.mov

I have cut the version to 800mb.

https://drive.google.com/file/d/1XRiBVh32Jz_NlbeLlXAd4qM9WWNj0sVz/view?usp=sh

[2022-03-13 21:26] hassount commented on #1690
@Ballevill thank you for the bug report. This repo is only a mirror repo can you please log your issue at https://gitlab.com/AOMediaCodec/SVT-AV1/-/issues

[2022-03-26 00:35] #1690 closed

[2022-05-24 10:56] DesertCookie commented on #730
Saw on #623 this functionality might be in 0.8. Haven't found any documentation stating it actually made it into the spec to this day. Any progress?

[2022-07-02 22:53] benpar2 opened #1691 "Question: Hardware encoding with AV1"
Hello.
Recently Intel released the new GPU series, Intel Arc, that supports  hardware encoding of AV1. They claim its speed 50 times faster than software encoding. I’d like to know what’s its codec name, is it SVT-AV1? If yes, how can we use it?
I would appreciate your answer.

[2022-07-04 05:31] 1480c1 commented on #1691
Hi @benpar2, this is the incorrect repo to report issues or ask questions at, the other [open issue](https://github.com/AOMediaCodec/SVT-AV1/issues/1688) and the front page mention that the canonical repo is at <https://gitlab.com/AOMediaCodec/SVT-AV1> now.

To answer your question, SVT-AV1 is a separate team and effort from the Intel Arc team and SVT-AV1 is fully software only and has no hardware

[2022-07-04 05:31] #1691 closed

[2022-07-26 19:45] danduabhishek opened #1692 "How to identify a inter frame is P or B frame"
As per my understanding, Av1 doesnt have the P or B frames. it has Inter frame as per the standard. How can i identify current frame is P or B frame from the Header information. which parameters in header section will help.

[2022-07-26 19:55] 1480c1 commented on #1692
1. This is the wrong repo to be opening issues in as mentioned in the README on the front page

and the sidebar

and in the only other issue open

2. You would be better off asking dav1d or aom as they can be considered canonical sources for decoding. You could try using ffprobe to get the frame type as one of the types specified in https://github.com/FFmpeg/FFmpeg/blob/6076dbcb55d0c9b6693d1acad12

[2022-07-26 19:55] #1692 closed

[2022-07-28 03:44] foroot opened #1693 "cbr implmentation request"
hi all, recently I tested svt-av1 v1.1.0-35 encode through ffmpeg-master cmd, found that cbr method seems not fully implemented, the full ffmpeg test cmd like this: "ffmpeg.exe -pix_fmt yuv420p -r 60 -s 1280x720 -i 720p.yuv -c:v libsvtav1 -svtav1-params "preset=5:rc=2:tbr=10m:max-qp=32:min-qp=3" -r 60 -g 30 -pix_fmt yuv420p -f mp4 -y 720p_cbr.mp4",
1. shows cbr rate control not supported for PRED_

[2022-07-28 03:45] 1480c1 commented on #1693
https://github.com/AOMediaCodec/SVT-AV1/issues/1688

Wrong place to open an issue

[2022-07-28 03:53] #1693 closed